<%= form_with(model: service, url: service.persisted? ? admin_service_path(service) : admin_services_path , local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "What is the name of this Service?" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Describe this Service (audience, reach, metrics)" %>
  </div>

  <% if current_user.admin? %>
  <div class="field">
    <%= form.label :organization %>
    <%= form.select :organization_id, options_for_select(Organization.all.map { |org| [org.name, org.id] }, selected: (service.organization ? service.organization.id : nil)), prompt: "Select an Organization" %>
  </div>
  <% else %>
  <%= form.hidden_field :organization_id, value: current_user.organization.id %>
  <% end %>

  <div class="field">
    <%= form.label :service_manager %>
    <%= form.text_field :service_manager, placeholder: "Who manages this Service?" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
