<%= form_with(model: service, url: service.persisted? ? admin_service_path(service) : admin_services_path , local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <% if current_user.admin? %>
  <div class="field">
    <%= form.label :organization_id %>
    <%= form.number_field :organization_id %>
  </div>
  <% else %>
  <%= form.hidden_field :organization_id, value: current_user.organization.id %>
  <% end %>

  <div class="field">
    <%= form.label :service_manager %>
    <%= form.text_field :service_manager %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
