<%= form_with(model: service, url: (service.persisted? ? admin_service_path(service) : admin_services_path), local: true, data: { turbo: false }) do |form| %>
<% if service.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
  <ul>
    <% service.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="grid-row">
  <div class="grid-col-12">
    <% if service_manager_permissions? %>
    <div class="field">
      <%= form.label :organization_id, "Agency", class: "usa-label" %>
      <%= form.select :organization_id, options_for_select(organization_dropdown_options, service.organization_id), { prompt: "Which Agency?" }, { class: "usa-select", required: true } %>
    </div>

    <div class="field">
      <%= form.label :bureau_id, "Subcomponent/Bureau", class: "usa-label" %>
      <%= form.select :bureau_id, options_for_select(organization_dropdown_options, service.bureau_id), { prompt: "Which Bureau?" }, { class: "usa-select" } %>
    </div>

    <div class="field">
      <%= form.label :office, "Office" , class: "usa-label" %>
      <%= form.text_field :office, class: "usa-input" %>
    </div>
    <% end %>

    <div class="field">
      <%= form.label :name, "What is the name of this service?", class: "usa-label" %>
      <span class="usa-hint font-sans-2xs">
        For example, “Applying for a replacement Social Security card”, “Visiting a National Wildlife Refuge”, or “Utilizing
        in-person primary care”
      </span>
      <%= form.text_field :name, class: "usa-input", required: true %>
    </div>

    <div class="field">
      <%= form.label :description, "Describe who this service is for and what the service entails", class: "usa-label" %>
      <%= form.text_area :description, class: "usa-textarea" %>
    </div>

    <fieldset class="usa-fieldset">
      <%= form.label :multi_agency_service, "Does the public have to perform steps or tasks with multiple agencies for this service?", class: "usa-label" %>
      <legend class="usa-legend sr-only">Does the public have to perform steps or tasks with multiple agencies for this service?</legend>
      <div class="usa-radio">
        <%= form.radio_button(:multi_agency_service, "Yes", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && service.multi_agency_service? }) %>
        <%= form.label(:multi_agency_service, class: "usa-radio__label", value: "Yes") %>
      </div>
      <div class="usa-radio">
        <%= form.radio_button(:multi_agency_service, "No", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && !service.multi_agency_service? }) %>
        <%= form.label(:multi_agency_service, class: "usa-radio__label", value: "No") %>
      </div>
    </fieldset>

    <div class="field hide margin-left-5" id="multi_agency_explanation_option">
      <%= form.label :multi_agency_explanation, "What other agencies? ", class: "usa-label" %>
      <span class="usa-hint font-sans-2xs">
        Because "Yes" was selected regarding multiple agencies, please list the other agency or agencies.
      </span>
      <%= form.text_area :multi_agency_explanation, class: "usa-textarea" %>
    </div>

    <fieldset class="usa-fieldset">
      <legend class="usa-legend sr-only">Service type</legend>
      <%= form.label :kind, "Service type", class: "usa-label" %>
      <div class="usa-hint font-sans-3xs margin-bottom-1">
        See
        <a href="https://www.performance.gov/cx/assets/files/2022-OMB-Circular-A11-Section-280.pdf" target="_blank"
          rel="noopener">OMB A-11 Section 280</a>,
        280.4
        for more information about Service Types.
      </div>

      <% Service.kinds.each_with_index do |option, i| %>
        <div class="margin-bottom-1">
          <%= form.check_box(:kind, {
            multiple: true,
            checked: form.object.kind&.include?(option),
            class: "usa-checkbox__input2 usa-checkbox__input--tile2"
          }, option, nil) %>
          &nbsp;
          &nbsp;
          <%= form.label(option, {}, class: "usa-checkbox__label2") %>
        </div>
      <% end %>
    </fieldset>

    <div id="kind_option" class="field margin-left-5 hide">
      <%= form.label :other_service_type, "Other service type", class: "usa-label" %>
      <span class="usa-hint font-sans-2xs">
        Because "Other" was selected for Service Type,
        please describe what type of service this is.
      </span>
      <%= form.text_field :other_service_type, class: "usa-input" %>
    </div>

    <% volume_options = [
      "Less than 1,000",
      "1,000 – 49,000",
      "50,000 – 999,999",
      "1,000,000 – 4,999,999",
      "5,000,000 – 9,999,999",
      "More than 10 million",
      "Unknown"
    ]
    %>
    <div class="field">
      <%= form.label :estimated_annual_volume_of_customers, "What is the estimated annual customer volume for this service?", class: "usa-label" %>
      <%= form.select :estimated_annual_volume_of_customers, options_for_select(volume_options, service.service_provider_id), { prompt: "Select Volume of Customers" }, { class: "usa-select" } %>
    </div>

    <div id="estimated_annual_volume_of_customers_option" class="field margin-left-5 hide">
      <%= form.label :customer_volume_explanation, "Unknown customer volume", class: "usa-label" %>
      <span class="usa-hint font-sans-2xs">
        Because "Unknown" was selected for Customer Volume,
        please explain why customer volume cannot currently be estimated.
      </span>
      <%= form.text_field :customer_volume_explanation, class: "usa-input" %>
    </div>

    <fieldset class="usa-fieldset">
      <%= form.label :hisp, "Is this service delivered by a High-Impact Service Provider as defined by Circular A-11 Section 280?" , class: "usa-label" %>
      <legend class="usa-legend sr-only">
        Is this service delivered by a High-Impact Service Provider as defined by Circular A-11 Section 280?
      </legend>
      <div class="usa-hint font-sans-2xs margin-bottom-1">
        See
        <a href="https://www.performance.gov/cx/assets/files/2022-OMB-Circular-A11-Section-280.pdf" target="_blank"
          rel="noopener">OMB A-11 Section 280</a>,
        280.13
        for more information.
      </div>
      <div class="usa-radio">
        <%= form.radio_button(:hisp, "Yes", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && service.hisp? }) %>
        <%= form.label(:hisp, class: "usa-radio__label" , value: "Yes" ) %>
      </div>
      <div class="usa-radio">
        <%= form.radio_button(:hisp, "No", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && !service.hisp }) %>
        <%= form.label(:hisp, class: "usa-radio__label" , value: "No" ) %>
      </div>
    </fieldset>

    <fieldset id="designated_for_improvement_a11_280_option" class="usa-fieldset margin-left-5 hide">
      <%= form.label :designated_for_improvement_a11_280, "Is this service designated for improvement as required by Circular A-11 Section 280?" ,
        class: "usa-label" %>
        <legend class="usa-legend sr-only">
          Is this service designated for improvement as required by Circular A-11 Section 280?
        </legend>
        <div class="usa-radio">
          <%= form.radio_button(:designated_for_improvement_a11_280, "Yes", class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && service.designated_for_improvement_a11_280 ) %>
          <%= form.label(:designated_for_improvement_a11_280, class: "usa-radio__label", value: "Yes" ) %>
        </div>
        <div class="usa-radio">
          <%= form.radio_button(:designated_for_improvement_a11_280, "No", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && !service.designated_for_improvement_a11_280 })
            %>
          <%= form.label(:designated_for_improvement_a11_280, class: "usa-radio__label", value: "No" ) %>
        </div>
    </fieldset>

    <div id="hisp-specific-options" class="well">
      <h4>
        HISP-specific attributes
      </h4>

      <div class="field">
        <%= form.label :service_provider_id, class: "usa-label" %>
        <small>
          <%= link_to "Service Providers", admin_service_providers_path, target: "_blank", rel: "noopener" %>
          are available based on the organization associated with the email domain for
          <%= current_user.email %>.
          Contact
          <a href="mailto:feedback-analytics@gsa.gov">support</a> for assistance.
        </small>
        <%= form.select :service_provider_id, options_for_select(@service_providers.map { |p| ["#{p.organization.abbreviation} - #{p.name}", p.id] }, service.service_provider_id), { prompt: "Which Service Provider?" }, { class: "usa-select" } %>
      </div>

       <fieldset class="usa-fieldset margin-bottom-3">
        <legend class="usa-sr-only">Transactional Service?</legend>
        <div class="usa-checkbox">
          <%= form.check_box :transactional, class: "usa-checkbox__input" %>
          <%= form.label :transactional, "Transactional Service?", class: "usa-checkbox__label" %>
        </div>
      </fieldset>

    <% if service_manager_permissions? && service.persisted? %>
      <div class="field well">
        <div class="service-managers-div">
          <%= render 'admin/services/service_managers', service: @service, service_owner_options: @service_owner_options %>
        </div>
      </div>
    <% end %>

      <div class="field">
        <%= form.label :justification_text, "Why did you select this service for priority designation?", class: "usa-label" %>
        <small>
          What is the scale of the service? (e.g., annual program cost or customer volume)?
          <br>
          What is the scale of the impact of the service (e.g., the importance of the service on individual lives)?
        </small>
        <%= form.text_area :justification_text, class: "usa-textarea" %>
      </div>

      <% if service.persisted? && admin_permissions? %>
      <div class="field">
        <%= form.label :department, class: "usa-label" %>
        <%= form.text_field :department, class: "usa-input", placeholder: "Department" %>
      </div>

      <div class="field">
        <%= form.label :bureau, class: "usa-label" %>
        <%= form.text_field :bureau, class: "usa-input", placeholder: "Bureau" %>
      </div>

      <div class="field">
        <%= form.label :service_abbreviation, class: "usa-label" %>
        <%= form.text_field :service_abbreviation, class: "usa-input", placeholder: "service_abbreviation" %>
      </div>

      <div class="field">
        <%= form.label :service_slug, class: "usa-label" %>
        <%= form.text_field :service_slug, class: "usa-input", placeholder: "service-slug" %>
      </div>
      <% end %>
    </div>

    <div>
      <%= form.label :digital_service, "Does this service have non-digital, paper-based, or in-person steps or tasks for the public that could be offered digitally?",
        class: "usa-label" %>
      <fieldset class="usa-fieldset">
        <legend class="usa-legend sr-only">
          Does this service have non-digital, paper-based, or in-person steps or tasks for the public that could be offered digitally?
        </legend>
        <div class="usa-radio">
          <%= form.radio_button(:digital_service, "Yes", { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && service.digital_service }) %>
          <%= form.label(:digital_service, class: "usa-radio__label", value: "Yes" ) %>
        </div>
        <div class="usa-radio">
          <%= form.radio_button(:digital_service, "No" , { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && !service.digital_service }) %>
          <%= form.label(:digital_service, class: "usa-radio__label", value: "No" ) %>
        </div>
      </fieldset>

      <div id="resources_needed_to_provide_digital_service_option" class="field">
        <%= form.label :resources_needed_to_provide_digital_service, "What resources would be needed to provide a digital option for these steps or tasks?" , class: "usa-label" %>
        <%= form.text_area :resources_needed_to_provide_digital_service, class: "usa-textarea" %>
      </div>


      <fieldset class="usa-fieldset margin-left-5">
        <%= form.label :fully_digital_service, "Does this service offer a fully digital option?", class: "usa-label" %>
        <legend class="usa-legend sr-only">
          Does this service offer a fully digital option?
        </legend>
        <div class="usa-radio">
          <%= form.radio_button(:fully_digital_service, "Yes" , class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && service.fully_digital_service ) %>
          <%= form.label(:fully_digital_service, class: "usa-radio__label" , value: "Yes" ) %>
        </div>
        <div class="usa-radio">
          <%= form.radio_button(:fully_digital_service, "No" , { class: "usa-radio__input usa-radio__input--tile", checked: service.persisted? && !service.fully_digital_service }) %>
          <%= form.label(:fully_digital_service, class: "usa-radio__label" , value: "No" ) %>
        </div>
      </fieldset>

      <div id="barriers_to_fully_digital_service_option" class="margin-left-5 hide">
        <div class="margin-left-5">
          <%= form.label :barriers_to_fully_digital_service,
              "What are the barriers to make this service fully digital? (e.g. existing technologies, procedural changes, regulatory changes, legislative changes)?",
              class: "usa-label" %>
          <%= form.text_area :barriers_to_fully_digital_service, class: "usa-textarea" %>
        </div>
      </div>

    <% if service_manager_permissions? && service.persisted? %>
      <div class="field">
        <div class="channels-div">
          <%= render 'admin/services/channels' , service: @service, channel_options: @channel_options %>
        </div>
      </div>
    <% end %>

      <div class="field" hidden>
        <%= form.label :where_customers_interact, "Service channels" , class: "usa-label" %>
        <small>
          What are the channels (“the places”) by which customers interact with this service? Are there digital
          channels?
          If yes, list them. If not, briefly describe why and what ideas or efforts are underway to utilize digital
          channels?
        </small>
        <%= form.text_area :where_customers_interact, class: "usa-textarea" %>
      </div>

      <div class="field" hidden>
        <%= form.label :non_digital_explanation, "Describe why this service is not offered digitally, and summarize any challenges or barriers", class: "usa-label" %>
        <span class="usa-hint font-sans-2xs">
          e.g., cost, existing technology, law or regulations
        </span>
        <%= form.text_area :non_digital_explanation, class: "usa-textarea", maxlength: 250 %>
      </div>

      <div class="field">
        <%= form.label :homepage_url, "URL where the public can learn about the service", class: "usa-label" %>
        <%= form.text_field :homepage_url, class: "usa-input" %>
      </div>

      <div class="field">
        <%= form.label :url, "URL where the public can complete steps or tasks", class: "usa-label" %>
        <%= form.text_field :url, class: "usa-input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :notes, "Additional information about this service", class: "usa-label" %>
      <%= form.text_area :notes, class: "usa-textarea" %>
    </div>
  </div>

  <div class="grid-col-6">

  </div>
</div>

<div class="actions margin-top-5 margin-bottom-5">
  <%= form.submit class: "usa-button width-full" %>
</div>
<% end %>

<script>
  $(function() {
    function showHispOptions() {
      $("#hisp-specific-options").show();
    }

    function hideHispOptions() {
      $("#hisp-specific-options").hide();
    }

    // show/hide hisp-specific options on page load
    if ($("#service_hisp").is(':checked')) {
      showHispOptions();
    } else {
      hideHispOptions();
    }

    // only allow Justification text for Services assigned to HISPs
    $("#service_service_provider_id").on("change", function(event) {
      if (event.target.value) {
        $("#service_justification_text").attr("disabled", false);
      } else {
        $("#service_justification_text").attr("disabled", true);
      }
    });

    $("label[for='service_hisp']").on("click", function() {
      if (!$("#service_hisp").is(':checked')) {
        showHispOptions();
      } else {
        hideHispOptions();
      }
    })


    // handle the conditions for form elements on change events
    // 2 ifs for each applicable form component
    $("#service_hisp_yes").on('click', function() {
      $("#service_designated_for_improvement_a11_280").attr('required', true);
      $("#designated_for_improvement_a11_280_option").show();
    })
    $("#service_hisp_no").on('click', function() {
      $("#service_designated_for_improvement_a11_280").attr('required', false);
      $("#designated_for_improvement_a11_280_option").hide();
    })

    $("#service_digital_service_yes").on('click', function() {
      $("#service_designated_for_improvement_a11_280").attr('required', true);
      $("#resources_needed_to_provide_digital_service_option").show();
    })
    $("#service_digital_service_no").on('click', function() {
      $("#service_designated_for_improvement_a11_280").attr('required', false);
      $("#resources_needed_to_provide_digital_service_option").hide();
    })

    $("#service_multi_agency_service_yes").on('click', function() {
      $("#service_multi_agency_explanation").attr('required', true);
      $("#multi_agency_explanation_option").show();
    })
    $("#service_multi_agency_service_no").on('click', function() {
      $("#service_multi_agency_explanation").attr('required', false);
      $("#multi_agency_explanation_option").hide();
    })

    $("#service_fully_digital_service_yes").on('click', function() {
      $("#barriers_to_fully_digital_service_option textarea").attr('required', true);
      $("#barriers_to_fully_digital_service_option").show();
    })
    $("#service_fully_digital_service_no").on('click', function() {
      $("#barriers_to_fully_digital_service_option textarea").attr('required', false);
      $("#barriers_to_fully_digital_service_option").hide();
    })

    // if "Unknown" is selected
    $("#service_estimated_annual_volume_of_customers").on('change', function(e) {
      if (e.target.value == 'Unknown') {
        $("#service_customer_volume_explanation").attr('required', true);
        $("#estimated_annual_volume_of_customers_option").show();
        $("#service_customer_volume_explanation").focus();
      } else {
        $("#service_customer_volume_explanation").attr('required', false);
        $("#estimated_annual_volume_of_customers_option").hide();
      }
    })

    $("#service_kind_other").on("click", function(event) {
      if (event.target.checked) {
        $("#kind_option").show();
        $("#kind_option input").attr("required", true)
      } else {
        $("#kind_option").hide();
        $("#kind_option input").attr("required", false)
      }
    })


    <%# Don't try to set existing values when creating a new record %>
    <% unless current_page?(new_admin_service_path) %>
    // handle selected items on page load
    // 1 if for each applicable form component
    if ($("#service_hisp_yes").prop('checked', true) ) {

      $("#service_designated_for_improvement_a11_280").attr('required', true);
      $("#designated_for_improvement_a11_280_option").show();
    }
    if ($("#service_digital_service_yes:checked") ) {
      $("#service_multi_agency_explanation").attr('required', true);
      $("#multi_agency_explanation_option").show();
    }
    if ($("#service_multi_agency_service_yes:checked")) {
      $("#service_multi_agency_explanation").attr('required', true);
      $("#multi_agency_explanation_option").show();
    }

    if ($("#service_fully_digital_service_yes:checked")) {
      $("#barriers_to_fully_digital_service_option").show();
      $("#barriers_to_fully_digital_service_option textarea").attr('required', true);
    }

    <% end %>

  })
</script>
