<%= form_with(model: service, url: service.persisted? ? admin_service_path(service) : admin_services_path, local: true) do |form| %>
<% if service.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
  <ul>
    <% service.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="grid-row">
  <div class="grid-col-12">
    <div class="field">
      <%= form.label :name, class: "usa-label" %>
      <small>
        Include a verb (an action the customer takes) in the context of the service offering (the thing the customer is trying to accomplish).
      </small>
      <%= form.text_field :name, class: "usa-input", placeholder: "What is the name of this Service?", required: true %>
    </div>

    <% if service_manager_permissions? %>
    <div class="field">
      <%= form.label :organization_id, class: "usa-label" %>
      <%= form.select :organization_id, options_for_select(organization_dropdown_options, service.organization_id), { prompt: "Which Organization?" }, { class: "usa-select" } %>
    </div>
    <% end %>

    <div class="field">
      <%= form.label :service_provider_id, class: "usa-label" %>
      <small>
        <%= link_to "Service Providers", admin_service_providers_path %>
        are available based on the organization associated with the email domain for
        <%= current_user.email %>.
        Contact
        <a href="mailto:feedback-analytics@gsa.gov">support</a> for assistance.
      </small>
      <%= form.select :service_provider_id, options_for_select(@service_providers.map { |p| ["#{p.organization.abbreviation} - #{p.name}", p.id] }, service.service_provider_id), { prompt: "Which Service Provider?" }, { class: "usa-select" } %>
    </div>

    <div class="field hisp-specific">
      <%= form.label :justification_text, "Why did you select this service for priority designation?", class: "usa-label" %>
      <small>
        What is the scale of the service? (e.g., annual program cost or customer volume)?
        <br>
        What is the scale of the impact of the service (e.g., the importance of the service on individual lives)?
      </small>
      <%= form.text_area :justification_text, class: "usa-textarea", disabled: true %>
    </div>

    <% if service_manager_permissions? && service.persisted? %>
      <div class="field">
        <div class="well">
          <div class="service-managers-div">
            <%= render 'admin/services/service_managers', service: @service, service_owner_options: @service_owner_options %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="well">
          <div class="channels-div">
            <%= render 'admin/services/channels', service: @service, channel_options: @channel_options %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :kind, "Service type", class: "usa-label" %>
      <%= form.select :kind, options_for_select(Service.kinds, service.kind), { prompt: "Which kind of Service?" }, { class: "usa-select" } %>
    </div>

    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Transactional Service?</legend>
      <div class="usa-checkbox">
        <%= form.check_box :transactional, class: "usa-checkbox__input" %>
        <%= form.label :transactional, "Transactional Service?", class: "usa-checkbox__label" %>
      </div>
    </fieldset>

    <div class="field">
      <%= form.label :description, class: "usa-label" %>
      <%= form.text_area :description, class: "usa-textarea", placeholder: "Describe who this service is for and what the service entails." %>
    </div>

    <div class="field">
      <%= form.label :where_customers_interact, "Service channels", class: "usa-label" %>
      <small>
        What are the channels (“the places”) by which customers interact with this service? Are there digital channels?
        If yes, please list them. If not, please briefly describe why and what ideas or efforts are underway to utilize digital channels?
      </small>
      <%= form.text_area :where_customers_interact, class: "usa-textarea" %>
    </div>

    <div class="field">
      <%= form.label :non_digital_explanation, "If this service is not available digitally, why?", class: "usa-label" %>
      <%= form.text_area :non_digital_explanation, class: "usa-textarea" %>
    </div>
    
    <div class="field">
      <%= form.label :potential_solutions_for_digitization, class: "usa-label" %>
      <%= form.text_area :potential_solutions_for_digitization, class: "usa-textarea" %>
    </div>

    <div class="field">
      <%= form.label :notes, class: "usa-label" %>
      <%= form.text_area :notes, class: "usa-textarea", placeholder: "Additional notes about the service" %>
    </div>
  </div>

  <% if service.persisted? && admin_permissions? %>
  <div class="grid-col-6">
    <div class="field">
      <%= form.label :department, class: "usa-label" %>
      <%= form.text_field :department, class: "usa-input", placeholder: "Department" %>
    </div>

    <div class="field">
      <%= form.label :bureau, class: "usa-label" %>
      <%= form.text_field :bureau, class: "usa-input", placeholder: "Bureau" %>
    </div>

    <div class="field">
      <%= form.label :service_abbreviation, class: "usa-label" %>
      <%= form.text_field :service_abbreviation, class: "usa-input", placeholder: "service_abbreviation" %>
    </div>

    <div class="field">
      <%= form.label :service_slug, class: "usa-label" %>
      <%= form.text_field :service_slug, class: "usa-input", placeholder: "service-slug" %>
    </div>

    <div class="field">
      <%= form.label :uii_code, class: "usa-label" %>
      <%= form.text_field :uii_code, class: "usa-input", placeholder: "" %>
    </div>

    <div class="field">
      <%= form.label :budget_code, class: "usa-label" %>
      <%= form.text_field :budget_code, class: "usa-input", placeholder: "" %>
    </div>

    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">HISP Service?</legend>
      <div class="usa-checkbox">
        <%= form.check_box :hisp, class: "usa-checkbox__input" %>
        <%= form.label :hisp, "HISP Service?", class: "usa-checkbox__label" %>
      </div>
    </fieldset>
  </div>
  <% end %>
  <div class="grid-col-6">
    <div class="field">
      <%= form.label :url, "Service URL", class: "usa-label" %>
      <%= form.text_field :url, class: "usa-input", placeholder: "https://example.gov/service-name" %>
    </div>
    <div class="field">
      <%= form.label :homepage_url, "Service homepage URL", class: "usa-label" %>
      <%= form.text_field :homepage_url, class: "usa-input", placeholder: "https://www.example.gov/" %>
    </div>
  </div>
</div>

<div class="actions margin-top-5 margin-bottom-5">
  <%= form.submit class: "usa-button width-full" %>
</div>
<% end %>

<script type="text/javascript">
  $(function() {
    // only allow Justification text for Services assigned to HISPs
    $("#service_service_provider_id").on("change", function(event) {
      if (event.target.value) {
        $("#service_justification_text").attr("disabled", false);
      } else {
        $("#service_justification_text").attr("disabled", true);
      }
    });
  })
</script>
