<div class="usa-step-indicator" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete <%= "usa-step-indicator__segment--current" if service.created? %>"">
      <span class="usa-step-indicator__segment-label">
        Drafted
        <% if service.created? %>
          <span class="usa-sr-only">completed</span>
        <% end %>
      </span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete <%= "usa-step-indicator__segment--current" if service.submitted? %>"">
      <span class="usa-step-indicator__segment-label">
        Submitted
        <% if service.submitted? %>
          <span class="usa-sr-only">completed</span>
        <% end %>
      </span>
    </li>
    <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--complete" if service.approved? || service.verified? || service.archived? %> <%= "usa-step-indicator__segment--current" if service.approved? %>">
      <span class="usa-step-indicator__segment-label">
        Approved
        <span class="usa-sr-only">completed</span>
      </span>
    </li>
    <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--complete" if service.verified? || service.archived? %> <%= "usa-step-indicator__segment--current" if service.verified? %>"  aria-current="true">
      <span class="usa-step-indicator__segment-label">Verified</span>
    </li>
    <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--complete" if service.archived? %> <%= "usa-step-indicator__segment--current" if service.archived? %>"  aria-current="true">
      <span class="usa-step-indicator__segment-label">Archived</span>
    </li>
  </ol>
</div>
