<% content_for :navigation_title do %>
  Editing Service: <%= @service.name %>
<% end %>

<p>
  <%= link_to admin_service_path(@service) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Service
  <% end %>
</p>

<%= render 'admin/services/nav', service: @service %>

<div class="grid-row margin-bottom-3">
  <div class="desktop:grid-col-6">
    <%= render 'form', service: @service %>

    <%= link_to admin_service_path(@service), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary float-right" do %>
    <i class="fa fa-trash"></i>
      Destroy
    <% end %>
  </div>
</div>
