<% content_for :navigation_title do %>
  Services
  <%= link_to new_admin_service_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Service
  <% end %>
<% end %>

<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Managing Services in Touchpoints
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Touchpoints is designed to support continuous improvement in how public services are designed, delivery, measured.
        Services are delivered internally within an agency, between agencies, and to the public.
        Services consist of people or systems performing work in a sequence of (sometimes conditional) steps
        to deliver value for other people.
        Services can be modeled, to gain more insight during design and measurement of a service.
        Consider using
         <%= link_to "human-centered design methods", "https://methods.18f.gov/", target: "_blank" %>
        to ensure products and services deliver value to users.
      </p>
      <ul class="usa-list">
        <li>
          The first Services tracked here a primarily services provided by
          high-impact <%= link_to "Service Providers", admin_service_providers_path %> (HISPs),
          and these services can access OMB Quarterly CX Data Reporting.
        </li>
        <li>
          But any Service can be created and tracked here to support a Service Inventory or Catalog.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <div class="field">
    <%= label_tag :search_text, "Search by organization or name" %>
    <%= text_field_tag :search_text, nil, class: "usa-input" %>
    <% if @tags.first %>
      <p>
        Search by tag
      </p>
      <p class="tag-list">
        <% @tags.order(:name).each do |tag| %>
          <%= link_to admin_services_path(tag: tag.name), class: "search-tag-link",  "data-name" => tag.name do %>
            <span class="usa-tag">
              <%= tag.name %> (<%= tag.taggings_count %>)
            </span>
          <% end %>
        <% end %>
      <p>
    <% end %>
  </div>
</div>
<div class="search-results">
  <%= render 'results' %>
</div>

<script>
  $(function() {
    $("#search_text").keyup(function() {
      $.ajax({
        url: '/admin/services/search',
        data: {
          search: $(this).val()
        }
      });
    });
    $(".search-tag-link").click(function() {
      $("#search_text").val("");
      $.ajax({
        url: '/admin/services/search',
        data: {
          tag: $(this).attr("data-name")
        }
      });
    });
  });
</script>
