<% content_for :navigation_title do %>
  Services
<% end %>

<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>

<table class="usa-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th># of Stages</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.organization.name %></td>
        <td><%= link_to service.name, admin_service_path(service) %></td>
        <td><%= link_to service.service_stages.count, admin_service_service_stages_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Service', new_admin_service_path, class: "usa-button" %>
</p>
