<h1>Services</h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin? %>
      <th>Organization</th>
      <% end %>
      <th>Name</th>
      <th>Description</th>
      <th>Service manager</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <% if current_user.admin? %>
        <td><%= link_to service.organization.name, admin_organization_path(service.organization) %></td>
        <% end %>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.service_manager %></td>
        <td><%= link_to 'Show', admin_service_path(service) %></td>
        <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Service', new_admin_service_path, class: "usa-button" %>
