<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>

<p id="notice"><%= notice %></p>


<h1>Services</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.organization.name %></td>
        <td><%= link_to service.name, admin_service_path(service) %></td>
        <td><%= service.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Service', new_admin_service_path, class: "usa-button" %>
</p>
<p>
  <h5>Service Data &amp; Configuration</h5>
  <%= link_to 'New Barrier', new_barrier_path, class: "usa-button" %>
</p>
