<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @service.organization ? link_to(@service.organization.name, admin_organization_path(@service.organization)) : nil %>
</p>

<p>
  <strong>Service manager:</strong>
  <%= @service.service_manager %>
</p>

<%= link_to 'Edit', edit_admin_service_path(@service) %> |
<%= link_to 'All Services', admin_services_path %>
