<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @service.organization ? link_to(@service.organization.name, admin_organization_path(@service.organization)) : nil %>
</p>
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>
<p>
  <strong>Service managers:</strong>
  <% if @service.users.present? %>
    <br>
    <% @service.users.each do |user| %>
      <%= user.email %><br>
    <% end %>
  <% else %>
  <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        No users at this time
      </p>
    </div>
  </div>
  <% end %>

  <div>
    <% available_members = (User.all - @service.users) %>
    <% if available_members.present? %>
    <%= select_tag :za, options_for_select(available_members.map { |user| [user.email, user.id] }), prompt: "Add a User?", id: "add-user-dropdown" %>
    <button type="button" name="button" id="add-user-button">Add User</button>
    <% else %>
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <p class="usa-alert-text">
            All Users have been added. No more Service Manager to add.
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <script type="text/javascript">
    $(function() {
      // Initially set to disabled
      $("#add-user-button").attr("disabled", true);

      $("#add-user-button").on("click", function(e) {
        var userId = $("#add-user-dropdown").val();

        var request = $.ajax({
          url: "/admin/services/<%= @service.id %>/add_user",
          dataType: "json",
          method: "POST",
          data: { user_id : userId }
        }).success(function(response) {
          location.reload();
        });
      })

      $("#add-user-dropdown").on("change", function(e) {
        var userId = e.target.value
        if (userId != "") {
          $("#add-user-button").attr("disabled", false);
        } else {
          $("#add-user-button").attr("disabled", true);
        }
      });
    });
  </script>
</p>

<%= link_to 'Edit', edit_admin_service_path(@service) %> |
<%= link_to 'All Services', admin_services_path %>
