<h1>
  Viewing Service
</h1>

<div class="usa-alert">
  <div class="usa-alert-body">
    <p class="usa-alert-text">
      A Service Manager manages one or more Services (in the Service Design sense of the word).
      A Service may have one or more Touchpoints.
      Touchpoints are delivered to a website via a Tag Container. Each
      Service is automatically created with a Tag Container.
    </p>
  </div>
</div>

<p>
  <strong>for Organization</strong>
  <%= @service.organization ? link_to(@service.organization.name, admin_organization_path(@service.organization)) : nil %>
</p>
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<div>
  <h2>
    Service managers
  </h2>

  <% if @service.users.present? %>
    <table>
      <thead>
      <tr>
        <th>
          Email
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @service.users.each do |user| %>
        <tr>
          <td>
            <%= user.email %>
          </td>
          <td>
            <a href="#" class="remove-user" data-id="<%= user.id %>">
              Remove
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        No users at this time
      </p>
    </div>
  </div>
  <% end %>

  <div>
    <% available_members = (User.all - @service.users - [current_user]) %>
    <% if available_members.present? %>
    <%= select_tag :za, options_for_select(available_members.map { |user| [user.email, user.id] }), prompt: "Add a User?", id: "add-user-dropdown", style: "display: inline-block; margin-right: 1em;" %>
    <!-- <span class="usa-buton" name="button" id="add-user-button">Add User</span> -->
    <button type="button" name="button" id="add-user-button">Add User</button>
    <% else %>
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <p class="usa-alert-text">
            All Users have been added. No more Service Manager to add.
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2>
  Container Information
</h2>
<% @container = @service.container %>
<%= render file: "/admin/containers/show" %>

<br>
<br>
<%= link_to 'Edit', edit_admin_service_path(@service), class: "usa-button" %>

<script type="text/javascript">
  $(function() {
    // Initially set to disabled
    $("#add-user-button").attr("disabled", true);

    $("#add-user-button").on("click", function(e) {
      var userId = $("#add-user-dropdown").val();

      var request = $.ajax({
        url: "/admin/services/<%= @service.id %>/add_user",
        dataType: "json",
        method: "POST",
        data: { user_id : userId }
      }).success(function(response) {
        location.reload();
      });
    });

    $("#add-user-dropdown").on("change", function(e) {
      var userId = e.target.value
      if (userId != "") {
        $("#add-user-button").attr("disabled", false);
      } else {
        $("#add-user-button").attr("disabled", true);
      }
    });

    // Remove a Service Manager User
    $(".remove-user").on("click", function(e) {
      var userId = $(this).attr("data-id");

      var request = $.ajax({
        url: "/admin/services/<%= @service.id %>/remove_user",
        dataType: "json",
        method: "POST",
        data: { user_id : userId }
      }).success(function(response) {
        location.reload();
      });
    });
  });
</script>
