<% content_for :navigation_title do %>
  <% if service_permissions?(service: @service) %>
  <div class="float-right">
    <%= link_to edit_admin_service_path(@service), class: "usa-button usa-button-inverted" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
    <% end %>
  </div>
  <% end %>

  Service: <%= @service.name %>
<% end %>

<p>
  <%= link_to admin_services_path do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to Services
  <% end %>
</p>

<%= render 'admin/services/step_indicator', service: @service %>

<% if service_manager_permissions? && !@service.created? && @service.submitted? && !@service.approved? %>
<p>
  <%= link_to "Approve this form", approve_admin_service_path(@service), class: "usa-button full-width", method: :post %>
</p>
<% end %>

<% if service_permissions?(service: @service) && !@service.created? && !@service.submitted? && @service.approved? %>
<p>
  <%= link_to "Verify this service can be published", verify_admin_service_path(@service), class: "usa-button full-width", method: :post %>
</p>
<% end %>

<% if service_permissions?(service: @service) && !@service.created? && !@service.submitted? && !@service.approved? && @service.verified? %>
<p>
  <%= link_to "Archive this form", archive_admin_service_path(@service), class: "usa-button full-width", method: :post %>
</p>
<% end %>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-6">
    <p>
      <strong>Organization</strong>
      <br>
      <%= link_to @service.organization.name, admin_organization_path(@service.organization) %>
    </p>
    <p>
      <strong>Service Provider</strong>
      <br>
      <%= @service.service_provider ? link_to_if(service_manager_permissions?, @service.service_provider.name, admin_service_provider_path(@service.service_provider), target: "_blank", rel: "noopener") : nil %>
    </p>
    <p>
      <strong>Name</strong>
      <br>
      <%= @service.name %>
    </p>
    <p>
      <strong>Service owner</strong>
      <br>
      <%= @service.service_owner.try(:email) %>
    </p>
    <p>
      <strong>Service managers</strong>
      <br>
      <% @service.service_managers.each do | manager | %>
        <%= manager.try(:email) %>&nbsp;&nbsp;
      <% end %>
    </p>
    <p>
      <strong>Service type</strong>
      <br>
      <%= @service.kind %>
    </p>
    <p>
      <strong>Why did you select this service for priority designation?</strong>
      <br>
      <%= to_markdown(@service.justification_text) %>
    </p>
    <p>
      <strong>Description</strong>
      <br>
      <%= to_markdown(@service.description) %>
    </p>
    <p>
      <strong>Where customers interact (Channels)</strong>
      <br>
      <%= to_markdown(@service.where_customers_interact) %>
    </p>
    <p>
      <strong>Notes</strong>
      <br>
      <%= @service.notes %>
    </p>
  </div>
  <div class="grid-col-6">
    <div class="well">
      <div class="font-sans-2xs">
        This information is for
        <a href="https://www.performance.gov/cx/" target="_blank" rel="noopener">performance.gov</a>
        reporting purposes.
      </div>
      <p>
        <strong>Department</strong>
        <br>
        <%= @service.department %>
      </p>
      <p>
        <strong>Bureau</strong>
        <br>
        <%= @service.bureau %>
      </p>
      <p>
        <strong>Bureau abbreviation</strong>
        <br>
        <%= @service.bureau_abbreviation %>
      </p>
      <p>
        <strong>Service abbreviation</strong>
        <br>
        <%= @service.service_abbreviation %>
      </p>
      <p>
        <strong>Service slug</strong>
        <br>
        <%= @service.service_slug %>
      </p>
      <p>
        <strong>Url</strong>
        <br>
        <%= link_to @service.url, @service.url %>
      </p>
    </div>
    <% if service_manager_permissions? %>
      <%= link_to "View update history", versions_admin_service_path(@service) %>
    <% end %>
  </div>
</div>

<% all_stages = @service.service_stages %>
<% first_stage = all_stages.first %>
<% last_stage = all_stages.last %>

<div class="" hidden>
  <h4>
    Uptake
  </h4>
  How many people made it to the final, successful end state of this service.
  <h2>
  <% if first_stage.present? %>
    <%= takeup_percentage = ((last_stage.total_eligible_population.to_f / first_stage.total_eligible_population.to_f) * 100).round(2) %>%
  <% end %>
  </h2>
</div>

<% if service_permissions?(service: @service) %>
<div class="well">
  <div class="tags-div">
    <%= render 'admin/services/tags', service: @service %>
  </div>
</div>
<% end %>

<div class="well">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-9">
      <h4>
        Service Stages
      </h4>
      <p class="usa-prose">
        Each Service is can be decomposed into multiple Stages.
        Delineating each step is useful for calculating
        <a href="https://pra.digital.gov/burden/" target="_blank" rel="noopener">Burden</a>.
        Learn more about how
        <a href="https://www.performance.gov/cx/blog/journey-mapping/" target="_blank" rel="noopener">
          service blueprints and journey maps
        </a>
        are used to design, manage, and improve services.
      </p>
    </div>
  </div>

  <% if @service.service_stages %>
  <div class="grid-row grid-gap-md">
  <% @service.service_stages.order(:position).each do |stage| %>
    <div class="grid-col-4">
      <div class="well light-bg form-templates add-box-shadow">
        <h4>
          <%= link_to stage.name, admin_service_service_stage_path(@service, stage) %>
        </h4>
        <p>
          <%= stage.description || "Description goes here" %>
          &nbsp;
        </p>
      </div>
    </div>
  <% end %>

  </div>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Service Stages defined yet.
        Service Owner can updated stages.
      </p>
    </div>
  </div>
  <% end %>

  <% if service_permissions?(service: @service) %>
    <br>
    <%= link_to new_admin_service_service_stage_path(@service), class: "usa-button usa-button--outline full-width" do %>
    <i class="fa fa-plus"></i>
    Add Stage
    <% end %>
  <% end %>
</div>

<div class="well">
  <h4>
    Data Collections
  </h4>
  <div>
    <% @collections = @service.collections.order(:year, :quarter) %>
    <% if @collections.present? %>
    <ul>
      <% @collections.each do |c| %>
      <li>
        <%= link_to admin_collection_path(c) do %>
          <%= c.year %>
          <%= c.quarter %>
          <%= c.name %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Data Collections exist for this Service.
            <%= link_to "Learn more", admin_collections_path %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if admin_permissions? %>
<div class="well">
  <h4>
    Supplemental service information
  </h4>
  <p>
    <%= link_to equity_assessment_admin_service_path(@service), class: "usa-button usa-button--outline" do %>
      <i class="fa fa-pencil-alt"></i>
      Equity Assessment
    <% end %>
    <%= link_to omb_cx_reporting_admin_service_path(@service), class: "usa-button usa-button--outline" do %>
      <i class="fa fa-pencil-alt"></i>
      OMB Quarterly Reporting
    <% end %>
  </p>
</div>
<% end %>

<% if @service.created? && !@service.submitted? && !@service.approved? %>
<p>
  <%= link_to "Submit this Service for OMB review", submit_admin_service_path(@service), class: "usa-button full-width", method: :post %>
</p>
<% end %>

<% if service_manager_permissions? %>
<p>
  <%= link_to "Reset this form", reset_admin_service_path(@service), class: "usa-button full-width", method: :post %>
</p>
<% end %>
