<%= form_with(model: service_provider, url: (service_provider.persisted? ? admin_service_provider_path(service_provider) : admin_service_providers_path)) do |form| %>
  <% if service_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_provider.errors.count, "error") %> prohibited this service_provider from being saved:</h2>

      <ul>
        <% service_provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-row grid-gap-lg">
    <div class="grid-col-6">
      <div class="field">
        <%= form.label :organization_id, class: "usa-label" %>
        <%= form.select :organization_id, options_for_select(organization_dropdown_options, service_provider.organization_id), { prompt: "Which Organization?" }, { class: "usa-select", required: true } %>
      </div>

      <div class="field">
        <%= form.label :name, class: "usa-label" %>
        <%= form.text_field :name, class: "usa-input", required: true %>
      </div>

      <div class="field">
        <%= form.label :description, class: "usa-label" %>
        <%= form.text_area :description, class: "usa-textarea" %>
      </div>
      <% if @service_provider.persisted? %>
        <div class="field">
          <div class="well">
            <div class="service-provider-managers-div">
              <%= render 'admin/service_providers/service_provider_managers', service: @service_provider, service_provider_manager_options: @service_provider_manager_options %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :notes, class: "usa-label" %>
        <%= form.text_area :notes, class: "usa-textarea" %>
      </div>

      <% if service_manager_permissions? %>
      <div class="well">
        <span class="font-sans-3xs">
          Notice: These are experimental fields, used to generate 
          <%= link_to "a 2x2 based on data", quadrants_admin_service_providers_path %>.
        </span>
        <div class="field">
          <%= form.label :impact_mapping_value, class: "usa-label" %>
          <%= form.number_field :impact_mapping_value, class: "usa-input", min: 1, max: 100, placeholder: "1-100" %>
        </div>
        <div class="field">
          <%= form.label :cx_maturity_mapping_value, class: "usa-label" %>
          <%= form.number_field :cx_maturity_mapping_value, class: "usa-input", min: 1, max: 10, placeholder: "1-10" %>
        </div>      
      </div>      
      <% end %>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= form.label :department, class: "usa-label" %>
        <%= form.text_field :department, class: "usa-input" %>
      </div>

      <div class="field">
        <%= form.label :department_abbreviation, class: "usa-label" %>
        <%= form.text_field :department_abbreviation, class: "usa-input" %>
      </div>

      <div class="field">
        <%= form.label :bureau, class: "usa-label" %>
        <%= form.text_field :bureau, class: "usa-input" %>
      </div>

      <div class="field">
        <%= form.label :bureau_abbreviation, class: "usa-label" %>
        <%= form.text_field :bureau_abbreviation, class: "usa-input" %>
      </div>

      <div class="field">
        <%= form.label :slug, class: "usa-label" %>
        <%= form.text_field :slug, class: "usa-input", required: true %>
      </div>

      <fieldset class="usa-fieldset">
        <legend class="usa-sr-only">New Service Provider?</legend>
        <div class="usa-checkbox">
          <%= form.check_box :new, class: "usa-checkbox__input" %>
          <%= form.label :new, "New Service Provider?", class: "usa-checkbox__label" %>
        </div>
      </fieldset>

      <fieldset class="usa-fieldset">
        <legend class="usa-sr-only">Inactive?</legend>
        <div class="usa-checkbox">
          <%= form.check_box :inactive, class: "usa-checkbox__input" %>
          <%= form.label :inactive, class: "usa-checkbox__label" %>
        </div>
      </fieldset>
    </div>
  </div>

  <p class="actions">
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
