<div id="service_provider_selector" data-url="<%= admin_service_provider_path(@service_provider) %>">
  <div class="grid-row">
    <div class="grid-col-12">
      <%= label_tag :portfolio_manager_email, "Service Provider Managers", class: "usa-label" %>
      <p class="service-manager-list">
        <ul class="usa-list usa-list--unstyled">
          <% @service_provider.service_provider_managers.each do |manager| %>
          <li>
            <span class="usa-tag">
              <%= manager.email %>
            </span>
            &nbsp;
            <%= render "components/remove_tag_link",
              klass: "remove-tag-link",
              value: manager.id %>
          </li>
          <% end %>
        </ul>
      </p>
      <%= select_tag :service_manager_id,
        options_for_select(@service_provider_manager_options.map { |u| [u.email, u.id] }),
        { prompt: "Select a Manager", class: "usa-select add-service-manager" } %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".add-service-manager").on("change", function(e) {
      event.preventDefault();
      var thisForm = $("#service_provider_selector");
      $(this).attr('disabled', true);

      $.ajax({
        url: thisForm.attr("data-url") + "/add_service_provider_manager",
        type: 'POST',
        datatype: "json",
        data: {
          user_id: $(this).val()
        }
      });
    });

    $(".remove-tag-link").on("click", function(e) {
      event.preventDefault();
      var thisForm = $("#service_provider_selector");
      $.ajax({
        url: thisForm.attr("data-url") + "/remove_service_provider_manager",
        type: 'delete',
        datatype: "json",
        data: {
          user_id: $(this).attr("data-value")
        }
      });
    });

  });
</script>
