<% content_for :navigation_title do %>
  <div class="float-right">
    <%= link_to edit_admin_service_provider_path(@service_provider), class: "usa-button usa-button-inverted" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
    <% end %>
  </div>
  Service Provider: <%= @service_provider.name %>
<% end %>

<p>
  <%= link_to admin_service_providers_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Service Providers
  <% end %>
</p>

<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-8">

    <%- if @service_provider.inactive? %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Inactive</h3>
        <p class="usa-alert__text">
          This Service Provider is no longer active.
        </p>
      </div>
    </div>
    <% end %>

    <%- if @service_provider.new? %>
    <p>
      <span class="usa-tag bg-primary-light">
        New Service Provider
      </span>
    </p>
    <% end %>

    <p>
      <strong>Organization:</strong>
      <%= link_to_if service_manager_permissions?, @service_provider.organization.name, admin_organization_path(@service_provider.organization) %>
    </p>

    <p>
      <strong>Name</strong>
      <br>
      <%= @service_provider.name %>
    </p>

    <p>
      <strong>Description</strong>
      <br>
      <%= to_markdown(@service_provider.description) %>
    </p>

     <p>
      <strong>Year designated</strong>
      <br>
      <%= @service_provider.year_designated %>
    </p>
    <p>
      <strong>Service provider managers</strong>
      <br>
      <%- if @service_provider.service_provider_managers.present? %>
        <ul class="usa-list">
        <% @service_provider.service_provider_managers.order(:email).each do | manager | %>
          <li>
            <%= link_to manager.try(:email), admin_user_path(manager) %>&nbsp;&nbsp;
          </li>
        <% end %>
        </ul>
      <% else %>
      <% end %>
    </p>
    <p>
      <strong>Notes:</strong>
      <%= @service_provider.notes %>
    </p>
  </div>
  <div class="tablet:grid-col-4">
    <div class="well">
      <p>
        <strong>Portfolio Manager Email:</strong>
        <%= @service_provider.portfolio_manager_email %>
      </p>

      <p>
        <strong>Slug:</strong>
        <%= @service_provider.slug %>
      </p>
    </div>
  </div>
</div>

<div class="services border-top border-base-lighter margin-top-3 padding-top-2">
  <h3>
    <%= pluralize(@service_provider.services.size, "Service") %>
  </h3>

  <%= render "admin/services/results", services: @service_provider.services %>
</div>

<div class="well">
  <div class="tags-div">
    <%= render 'admin/service_providers/tags', service_provider: @service_provider %>
  </div>
</div>

<div class="well">
  <h4>
    CX Data Collections
  </h4>
  <%- if @service_provider.cx_collections.present? %>
    <table class="usa-table width-full">
      <thead>
        <tr>
          <th>Fiscal year</th>
          <th>Quarter</th>
          <th>Collection name</th>
          <th>Service name</th>
        </tr>
      </thead>
      <tbody>
        <% @service_provider.cx_collection_details.each do |cx_collection_detail| %>
          <tr>
            <td>
              <%= cx_collection_detail.cx_collection.fiscal_year %>
            </td>
            <td>
              <%= cx_collection_detail.cx_collection.quarter %>
            </td>
            <td>
              <%= link_to cx_collection_detail.cx_collection.name,
                admin_cx_collection_path(cx_collection_detail.cx_collection) %>
            </td>
            <td>
              <%= link_to cx_collection_detail.service.name,
                admin_cx_collection_detail_path(cx_collection_detail) %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>

    <p>
      <%= link_to new_admin_cx_collection_path(organization_id: @service_provider.organization_id, service_provider_id:
        @service_provider.id), class: "usa-button usa-button--outline" do %>
        <i class="fa fa-plus"></i>
        New Data Collection
        <% end %>
    </p>
</div>
