<% content_for :navigation_title do %>
<div class="float-right">
  <%= link_to edit_admin_persona_path(@persona), class: "usa-button usa-button-inverted" do %>
  <i class="fa fa-pencil-alt"></i>
  Edit
  <% end %>
</div>

Viewing a Persona
<% end %>
<p>
  <%= link_to admin_personas_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Personas
  <% end %>
</p>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-8">
    <p>
      <strong>Name:</strong>
      <%= @persona.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @persona.description %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @persona.notes %>
    </p>


    <div class="websites well">
      <h3>
        <%= pluralize(@persona.websites.size, "Website") %>
      </h3>

      <small>
        Optionally, this Persona may be associated with one or more
        <%= link_to "Websites", admin_websites_path %>.
      </small>

      <ul class="usa-list">
      <% @persona.websites.order(:domain).each do |website| %>
        <li>
          <%= link_to website.domain, admin_website_path(website) %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="websites well">
      <h3>
        <%= pluralize(@persona.service_stages.size, "Service Stage") %>
      </h3>

      <small>
        Optionally, this Persona may be associated with one or more
        Service Stages of one or more <%= link_to "Services", admin_service_path %>.
      </small>

      <ul class="usa-list">
      <% @persona.service_stages.order(:position).each do |stage| %>
        <li>
          <%= link_to stage.name, admin_website_path(stage) %>,
          in the Service
          <%= link_to stage.service.name, admin_service_path(stage.service) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="grid-col-4">
    <div class="tags-div well">
      <%= render 'admin/personas/tags', persona: @persona %>
    </div>
  </div>
</div>
