<div style="text-align: center; background-color: lightyellow; padding: 1em;">
  <%= t 'header.disclaimer_1' %>
  <a href="https://18f.gsa.gov/dashboard/stages/#beta" target="_blank" rel="noopener"><%= t 'beta' %></a>.
  <%= t 'please' %> <a href="https://github.com/gsa/touchpoints/issues/new" target="_blank" rel="noopener"><%= t 'report_an_issue' %></a>
  <%= t 'or' %>
  <a href="https://feedback.usa.gov/contact" target="_blank" rel="noopener"><%= t 'contact' %></a> <%= t 'the_feedback_and_analytics_team' %>.
</div>
