<table class="usa-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Touchpoint</th>
      <th>Responses</th>
      <th>Activations</th>
      <th>Rate</th>
      <th>Satisfied</th>
      <th>Confidence</th>
      <th>Effective</th>
      <th>Easy</th>
      <th>Efficient</th>
      <th>Transparent</th>
      <th>Employee</th>
    </tr>
  </thead>
  <tbody>
    <% Form.where(kind: "a11").each do |form| %>
    <tr>
      <td><%= form.organization.name %></td>
      <td><%= form.name %></td>
      <td><%= form.submissions.size %></td>
      <td><%= form.survey_form_activations %></td>
      <td><%= form.completion_rate %></td>
      <td><%= form.average_answer(:answer_01)[:average] %></td>
      <td><%= form.average_answer(:answer_02)[:average] %></td>
      <td><%= form.average_answer(:answer_03)[:average] %></td>
      <td><%= form.average_answer(:answer_04)[:average] %></td>
      <td><%= form.average_answer(:answer_05)[:average] %></td>
      <td><%= form.average_answer(:answer_06)[:average] %></td>
      <td><%= form.average_answer(:answer_07)[:average] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
