<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<%= render 'components/usa-banner' unless request.path[0..5] == "/admin" %>
<%= render 'components/beta-banner' %>
<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="/" title="Home" aria-label="Home">
          Touchpoints
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <%= image_tag "close.svg", alt: "close" %>
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <% if current_user && current_user.admin? %>
          <li>
            <a class="usa-nav-link admin" href="/admin">
              <span>Admin</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link admin" href="/admin/organizations">
              <span>Organizations</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link admin" href="/admin/pra_contacts">
              <span>PRA Contacts</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link admin" href="/admin/users">
              <span>Users</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link admin" href="/admin/form_templates">
              <span>Form Templates</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="/admin/services">
              <span>Services</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="/admin/containers">
              <span>Containers</span>
            </a>
            <li>
              <%= link_to "Touchpoints", admin_touchpoints_path, class: "usa-nav-link" %>
            </li>
          </li>
          <li>
            <a class="usa-nav-link" href="/admin/forms">
              <span>Forms</span>
            </a>
          </li>
        <% end %>
        <% if current_user && !current_user.admin? %>
        <li>
          <a class="usa-nav-link" href="/admin/services">
            <span>Services</span>
          </a>
        </li>
        <li>
          <%= link_to "Touchpoints", admin_touchpoints_path, class: "usa-nav-link" %>
        </li>
        <li>
          <%= link_to "Form Templates", admin_form_templates_path, class: "usa-nav-link" %>
        </li>
        <% end %>
        <% if !current_user %>
        <li>
          <button class="usa-accordion-button usa-nav-link hide" aria-expanded="false" aria-controls="extended-nav-section-two">
            <span>Information</span>
          </button>
          <ul id="extended-nav-section-two" class="usa-nav-submenu">
            <li>
              <a href="https://github.com/GSA/touchpoints/blob/master/docs/PERSONAS.md" target="_blank">Who uses Touchpoints?</a>
            </li>
            <li>
              <a href="https://github.com/GSA/touchpoints/blob/master/docs/USE_CASES.md" target="_blank">What can users do?</a>
            </li>
            <li>
              <a href="https://github.com/gsa/touchpoints" target="_blank">Code</a>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
      <div class="usa-nav-secondary">
        <ul class="usa-unstyled-list usa-nav-secondary-links">
          <% unless current_user %>
          <li>
            <a href="/users/sign_up">
              Sign up
            </a>
          </li>
          <li>
            <a href="/users/sign_in">
              Sign in
            </a>
          </li>
          <% else %>
          <li>
            <a>
              <%= current_user.email %>
              at
              <%= current_user.organization_name %>
            </a>
          </li>
          <li>
            <a href="/users/sign_out">
              Logout
            </a>
          </li>
          <% end %>
          <li>
            <a href="https://feedback-staging.usa.gov" target="_blank">
              Support
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>
