<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <a href="/" title="Touchpoints" aria-label="Home">
        <%= image_tag "touchpoints-logo-@2x.png", class: "header-logo", alt: "Touchpoints logo" %>
      </a>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <%= image_tag "close.svg", alt: "close" %>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <% if current_user %>
        <li class="usa-nav__primary-item">
          <%= link_to "My Dashboard", admin_root_path, class: "usa-nav__link admin" %>
        </li>
        <% end %>
        <% if admin_permissions? %>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link admin" href="/admin/users">
            <span>Users</span>
          </a>
        </li>
        <% end %>
        <% if current_user %>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/admin/forms">
            <span>Forms</span>
          </a>
        </li>
        <% end %>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link">
            <span>&nbsp;</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
        <% unless current_user %>
          <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
          <li class="usa-nav__secondary-item">
            <%= link_to user_login_dot_gov_omniauth_authorize_path, class: "admin" do %>
              Sign in with Login.gov
            <% end %>
          </li>
          <% end %>
          <% if ENV['GITHUB_CLIENT_ID'].present? %>
          <li class="usa-nav__secondary-item">
            <%= link_to user_github_omniauth_authorize_path, class: "admin" do %>
              Sign in with Github
            <% end %>
          </li>
          <% end %>
        <% else %>
          <li class="usa-nav__secondary-item">
            <%= current_user.email %>
          </li>
          <li class="usa-nav__secondary-item">
            <%= link_to "Sign Out", destroy_user_session_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
