<div class="usa-alert usa-alert-info" >
  <div class="usa-alert-body">
    <p class="usa-alert-text">
      PRA Contacts for
      <%= organization.name %>
      <hr>
      <% if pra_contacts.present? %>
        <% pra_contacts.each do |contact| %>
          <%= contact.name %>
          &middot;
          <%= link_to contact.email, contact.email %>
          <br>
        <% end %>
      <% else %>
        There are no PRA Contacts on file for
        <%= organization.name %>.
        Please <%= link_to "contact", "mailto:feedback-analytics@gsa.gov" %>
        the Feedback Analytics Team
        if you have a PRA Contact to share.
      <% end %>
    </p>
  </div>
</div>
