<%- if defined?(form_builder) && form_builder %>
<div class="margin-top-2">
  <span class="usa-tag">
    <%= question.answer_field %>
  </span>
  <%- if question.is_required? %>
  <span class="usa-tag bg-secondary-vivid">
    Required
  </span>
  <% end %>
</div>
<% end -%>
<label
  class="usa-label"
  for="<%= question.ui_selector %>">
  <%= question.text %>
  <%- if question.is_required? %>
  <abbr title="required" class="usa-hint--required">*</abbr>
  <% end -%>
</label>
<%- if question.help_text? %>
  <div
    class="usa-hint help-text margin-top-1 font-sans-2xs"
    id="question-id-<%= question.id %>-help-text"
  >
    <%= question.help_text %>
  </div>
<% end -%>