<div
  class="usa-form-group">
  <label
    id="question-label-<%= question.id %>"
    class="usa-label"
    for="<%= question.ui_selector %>"
  >
    <%= question.text %>
  </label>
  <%- if question.is_required? %>
  <abbr title="required" class="usa-hint--required">*</abbr>
  <% end -%>
  <%= render("components/widget/help_text", question: question) if question.help_text? %>
  <%- if local_assigns[:form_builder] && form_builder %>
  <div class="margin-top-1">
    <span class="usa-tag">
      <%= question.answer_field %>
    </span>
  </div>
  <% end %>
</div>
