<label class="usa-label" for="<%= question.answer_field.to_sym %>">
  <%= question.text %>
  <% if question.help_text? %>
  <p id="question-id-<%= question.id %>-help-text">
    <small>
      <%= question.help_text %>
    </small>
  </p>
  <% end %>
  <% if local_assigns[:form_builder] && form_builder %>
  <span class="display-block">
    <span class="usa-tag">
      <%= question.answer_field %>
    </span>
    <% if question.is_required? %>
    <span class="usa-tag bg-secondary-vivid">
      Required
    </span>
    <% end %>
  </span>
  <% end %>
</label>
