<table class="usa-table">
  <tr>
    <td>
    </td>
    <td>
      Total
    </td>
    <td>
      Received
    </td>
    <td>
      Acknowledged
    </td>
    <td>
      Dispatched
    </td>
    <td>
      Responded
    </td>
    <td>
      Flagged
    </td>
  </tr>
  <tr>
    <td>
      Active
    </td>
    <td>
      <%= submissions.non_archived.size %>
    </td>
    <td>
      <%= submissions.non_archived.where(aasm_state: "received").size %>
    </td>
    <td>
      <%= submissions.non_archived.where(aasm_state: "acknowledged").size %>
    </td>
    <td>
      <%= submissions.non_archived.where(aasm_state: "dispatched").size %>
    </td>
    <td>
      <%= submissions.non_archived.where(aasm_state: "responded").size %>
    </td>
    <td>
      <%= submissions.non_archived.where(flagged: true).size %>
    </td>
  </tr>
  <tr>
    <td>
      Archived
    </td>
    <td>
      <%= submissions.archived.size %>
    </td>
    <td>
      <%= submissions.archived.where(aasm_state: "received").size %>
    </td>
    <td>
      <%= submissions.archived.where(aasm_state: "acknowledged").size %>
    </td>
    <td>
      <%= submissions.archived.where(aasm_state: "dispatched").size %>
    </td>
    <td>
      <%= submissions.archived.where(aasm_state: "responded").size %>
    </td>
    <td>
      <%= submissions.archived.where(flagged: true).size %>
    </td>
  </tr>
</table>
