<div class="text-uppercase font-body-3xs margin-top-2">
  Responses by status
</div>
<table class="usa-table width-full">
  <thead>
    <tr>
      <th>
        Received
      </th>
      <th>
        Acknowledged
      </th>
      <th>
        Dispatched
      </th>
      <th>
        Responded
      </th>
      <th>
        Flagged
      </th>
      <th>
        Marked as spam
      </th>
      <th>
        Archived
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= number_with_delimiter(responses_by_status["received"]) %>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["acknowledged"]) %>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["dispatched"]) %>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["responded"]) %>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["total"]) %>
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["flagged"]) %>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["marked"]) %>
      </td>
      <td>
        <%= number_with_delimiter(responses_by_status["archived"]) %>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
