<label class="usa-label text-uppercase font-body-3xs">
  Responses by status
</label>
<table class="usa-table">
  <thead>
    <tr>
      <th>
        Received
      </th>
      <th>
        Acknowledged
      </th>
      <th>
        Dispatched
      </th>
      <th>
        Responded
      </th>
      <th>
        Archived
      </th>
      <th>
        Flagged
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= submissions.select { |s| s.aasm_state == "received" }.size %>
      </td>
      <td>
        <%= submissions.select { |s| s.acknowledged? }.size %>
      </td>
      <td>
        <%= submissions.select { |s| s.dispatched? }.size %>
      </td>
      <td>
        <%= submissions.select { |s| s.responded? }.size %>
      </td>
      <td>
        <%= submissions.archived.size %>
      </td>
      <td>
        <%= submissions.where(flagged: true).size %>
      </td>
      <td>
        <%= submissions.size %>
      </td>
    </tr>
  </tbody>
</table>
