<div class="grid-row">
  <div class="grid-col-12">
    <div>
      <h2>
        Roles & Permissions
      </h2>
    </div>
  </div>
</div>
<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-8">
    <div class="roles-and-permissions">
      <p>
        Manage permissions for users in your organization.
      </p>
      <p>
        A <strong>
          Form Manager
        </strong>
        can create, edit, and activate a form + Response Viewer permissions.
      </p>
      <p>
        A <strong>
          Response Viewer
        </strong>
        can view and export responses.
      </p>
      <%- if flash && ["User successfully added", "User successfully removed"].include?(flash.notice) %>
      <%= render 'components/flash', flash: flash %>
      <% end %>

      <div>
        <%- if users.present? %>
        <table class="usa-table width-full">
          <thead>
            <tr>
              <th>
                Role
              </th>
              <th>
                Email
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <% users.each do |user| %>
            <tr data-user-id="<%= user.id %>">
              <td>
                <% friendly_roles = {
                  "response_viewer" => "Response Viewer",
                  "form_manager" => "Form Manager"
                } %>
                <%= friendly_roles[form.user_role?(user: user)] %>
              </td>
              <td>
                <%= link_to user.email, admin_user_path(user) %>
                <%- if user.inactive? %>
                  <span class="usa-tag float-right">
                    inactive
                  </span>
                <% end %>
              </td>
              <td>
                <%- if user != current_user && is_at_least_form_manager?(user: current_user, form: form) %>
                <a href="javascript:void(0)" class="remove-user usa-button usa-button--secondary float-right" data-id="<%= user.id %>">
                  <i class="fas fa-trash"></i>
                  Delete
                </a>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              No users at this time
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tablet:grid-col-4">
    <ul class="usa-card-group">
      <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
        <div class="usa-card__container bg-accent-cool-lighter">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Add new user</h2>
          </div>
          <div class="usa-card__body">
            <small>
              Users in the dropdown are limited to users with a
              @<%= form.organization.domain %> address. Contact
              <a href="mailto:feedback-analytics@gsa.gov">support</a>
              to add a user from another organization.
            </small>
          </div>
          <div class="usa-card__footer">
            <%- if available_members.present? %>
              <div>
                <strong>
                  User
                </strong>
                <br>
                <%= select_tag :add_user_id, options_for_select(available_members.map { |user| [user.email, user.id] }), prompt: "Select user by email", id: "add-user-id", style: "display: inline-block; margin-right: 1em;", class: "usa-select" %>
                <br>
                <br>
                <strong>
                  Role
                </strong>
                <br>
                <%= select_tag :role, options_for_select([ ["Form Manager", "form_manager"], ["Response Viewer", "response_viewer"] ]), prompt: "Select a Role", id: "add-user-role", style: "display: inline-block; margin-right: 1em;", class: "usa-select" %>
                <br>
                <br>
                <%= submit_tag 'Add User', id: "add-user-button", class: 'usa-button', "data-disable-with" => "Add User" %>
              </div>
              <% else %>
                <p class="usa-prose">
                  There are no additional members to add at this time.
                </p>
              <% end %>
          </div>
        </div>
      </li>
    </ul>

    <div class="well">
      <div class="grid-row grid-gap-md">
        <div class="tablet:grid-col-12 usa-prose">
          <p class="text-bold">
            Don't see a user in the User dropdown?
          </p>

          <%= link_to "Invite a User to Touchpoints", admin_invite_path, class: "usa-button usa-button--outline full-width" %>

          <p class="font-sans-2xs">
            After the user signs into Touchpoints, their email will be available to select in the user dropdown.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>