<span class="usa-tag <%= 'bg-mint' if service.created? -%> <%= 'bg-accent-cool' if service.submitted? -%> <%= 'bg-accent-warm-light' if service.approved? -%> <%= 'bg-accent-warm' if service.verified? -%>">
  <%= service.aasm_state %>
</span>
