<% begin %>
<% text = @website.site_scanner_json_request %>
<% hash = JSON.parse(text) %>

<h2>
  Site Scanner results
</h2>

<div class="grid-row">
  <div class="grid-col-6">
  </div>
  <div class="grid-col-6">
  </div>
</div>

<div class="grid-row">
  <div class="grid-col-6">

  </div>
  <div class="grid-col-6">
  </div>
</div>

<div class="well">
  <div class="grid-row">
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        Web Domain
      </div>
      <%= hash["target_url"] %>
      <br>
      <br>
      <div class="text-uppercase font-body-3xs">
        Final URL
      </div>
      <%= link_to hash["final_url"], hash["final_url"], class: "usa-link", target: "_blank", rel: "noopener" %>
      <br>
      <br>
      <div class="text-uppercase font-body-3xs">
        Title
      </div>
      <%= hash["og_title_final_url"] %>
      <br>
      <br>
      <div class="text-uppercase font-body-3xs">
        Description
      </div>
      <%= hash["og_description_final_url"] %>
    </div>
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        Agency branch
      </div>
      <%= hash["target_url_branch"] %>
      <br>
      <br>
      <div class="text-uppercase font-body-3xs" data-agency-code="<%= hash["target_url_agency_code"] %>">
        Agency
      </div>
      <%= hash["target_url_agency_owner"] %>
      <% begin %>
        <% @org = Organization.find_by(name: hash["target_url_agency_owner"]) %>
        <br>
        <%= @org.present? ? link_to(@org.name, admin_organization_path(@org.id)) : hash["target_url_agency_owner"] %>
      <% rescue %>
      <% end %>
      <br>
      <br>
      <div class="text-uppercase font-body-3xs" data-bureau-code="<%= hash["target_url_bureau_code"] %>">
        Bureau
      </div>
      <%= hash["target_url_bureau_owner"] %>
    </div>
  </div>
</div>

<div class="well">
  <div class="grid-row">
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        DAP DETECTED FINAL URL
      </div>
      <%= hash["dap_detected_final_url"] %>
    </div>
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        DAP Parameters
      </div>
      <%= hash["dap_parameters_final_url"] %>
    </div>
  </div>
</div>

<div class="well">
  <div class="grid-row">
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        Sitemap URL
      </div>
      <%= link_to hash["sitemap_xml_final_url"], hash["sitemap_xml_final_url"], class: "usa-link", target: "_blank", rel: "noopener" %>
    </div>
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        Robots TXT URL
      </div>
      <%= link_to hash["robots_txt_final_url"], hash["robots_txt_final_url"], class: "usa-link", target: "_blank", rel: "noopener" %>
    </div>
  </div>
</div>

<div class="well">
  <div class="grid-row">
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        USWDS Version
      </div>
      <%= hash["uswds_semantic_version"] %>
    </div>
    <div class="grid-col-6">
      <div class="text-uppercase font-body-3xs">
        Latest Version
      </div>
      <!-- TODO: Automate. For now: Update by hand -->
      2.11.2
    </div>
  </div>
</div>

<div class="well">
  <div class="text-uppercase font-body-3xs">
    Third party domains
  </div>
  <ul class="usa-list">
    <% hash["third_party_service_domains"].sort.each do |d| %>
    <li>
      <%= d %>
    </li>
    <% end %>
  </ul>
</div>
<% rescue %>
<div class="usa-alert usa-alert--error usa-alert--slim">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Site Scanning result for
      <strong>
        <%= @website.domain %>
      </strong>
      is not available.
    </p>
  </div>
</div>
<% end %>

<br>

<div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
  <h4 class="usa-accordion__heading">
    <button id="example-button0" class="usa-accordion__button navy" aria-expanded="false" aria-controls="json-response">
      Site Scanner .json
    </button>
  </h4>
  <div id="json-response" class="usa-accordion__content usa-prose navy" hidden="">
<pre><%= pp text %></pre>
  </div>
</div>
