<div class="well">
  <h3>
    Weekly Product Metrics
  </h3>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        These metrics are reported up to the GSA TTS Data Portfolio on a weekly basis.
      </p>
    </div>
  </div>
  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Users
        </th>
        <th>
          Agencies
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="reportable-users">
          <%= User.count %>
        </td>
        <td class="reportable-organizations">
          <%= Organization.count %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Forms
        </th>
        <th>
          Responses
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="reportable-forms">
          <%= Form.non_templates.count %>
        </td>
        <td class="reportable-submissions">
          <%= Submission.count %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Service Providers
        </th>
        <th>
          Services
        </th>
        <th>
          Service stages
        </th>
        <th>
          Personas
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= ServiceProvider.count %>
        </td>
        <td>
          <%= Service.count %>
        </td>
        <td>
          <%= ServiceStage.count %>
        </td>
        <td>
          <%= Persona.count %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Data Collections
        </th>
        <th>
          Service details
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= Collection.count %>
        </td>
        <td>
          <%= OmbCxReportingCollection.count %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Goals
        </th>
        <th>
          Objectives
        </th>
        <th>
          Milestones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= Goal.count %>
        </td>
        <td>
          <%= Objective.count %>
        </td>
        <td>
          <%= Milestone.count %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Websites
        </th>
        <th>
          Digital products
        </th>
        <th>
          Social media accounts
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= Website.count %>
        </td>
        <td>
          <%= DigitalProduct.count %>
        </td>
        <td>
          <%= DigitalServiceAccount.count %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Events
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= Event.count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
