<h3>
  Weekly Product Metrics
</h3>
<table class="usa-table" style="width: 100%;">
  <thead>
    <tr>
      <th>
        Agencies
      </th>
      <th>
        Forms
      </th>
      <th>
        Responses
      </th>
      <th>
        Websites
      </th>
      <th>
        Services
      </th>
      <th>
        Data Collections
      </th>
      <th>
        Service details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="reportable-organizations">
        <%= Organization.count %>
      </td>
      <td class="reportable-forms">
        <%= Form.non_templates.count %>
      </td>
      <td class="reportable-submissions">
        <%= Submission.count %>
      </td>
      <td>
        <%= Website.count %>
      </td>
      <td>
        <%= Service.count %>
      </td>
      <td>
        <%= Collection.count %>
      </td>
      <td>
        <%= OmbCxReportingCollection.count %>
      </td>
    </tr>
  </tbody>
</table>
