<div id="allowlist-options" class="well">
  <h2>
    Allow responses from specified hosts
  </h2>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        If you're adding a form to your website,
        specify the website's URL to allow responses from.
        This helps ensure responses are coming from an intended host.
      </p>
    </div>
  </div>
  <div class="grid-row grid-gap-md">
    <div class="grid-col-12">
      <div class="field">
        <%= f.label :whitelist_url, "Base URL where the form will display on your website", class: "usa-label" %>
        <%= f.url_field :whitelist_url, class: "usa-input", placeholder: "https://example.gov" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_1, class: "usa-input", placeholder: "URL 1" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_2, class: "usa-input", placeholder: "URL 2" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_3, class: "usa-input", placeholder: "URL 3" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_4, class: "usa-input", placeholder: "URL 4" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_5, class: "usa-input", placeholder: "URL 5" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_6, class: "usa-input", placeholder: "URL 6" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_7, class: "usa-input", placeholder: "URL 7" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_8, class: "usa-input", placeholder: "URL 8" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.url_field :whitelist_url_9, class: "usa-input", placeholder: "URL 9" %>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.label :whitelist_test_url, "Base URL for staging or testing site where the form will display", class: "usa-label" %>
        <%= f.url_field :whitelist_test_url, class: "usa-input", placeholder: "https://staging.example.gov" %>
      </div>
    </div>
  </div>
</div>
