<h3 id="fba-modal-title" class="form-title-view">
  <span class="form-title-lbl"><%= form.title %></span>
  &nbsp;
  <i class="fas fa-pencil-alt" title="Edit form title"></i>
</h3>
<div class="form-title-edit">
  <input type="text" value="<%= form.title %>" class="usa-input display-inline form-title" />
  <a href="<%= admin_form_path(form) %>" class="form-title-save">
    <i class="fas fa-save" title="Save form title"></i>
  </a>
</div>

<div class="fba-instructions">
  <p class="display-inline"><%= sanitize(form.instructions) -%></p>
  <div class="field" hidden="true">
    <%= label_tag :instructions, "Editing Instructions", class: "usa-label" %>
    <%= text_area_tag :instructions, nil, class: "usa-textarea display-inline" %>
    <a href="<%= admin_form_path(form) %>" class="save button form-instructions-save">
      <i class="fas fa-save" title="Save instructions"></i>
    </a>
  </div>
  <i class="edit button fas fa-pencil-alt" title="Edit instructions"></i>
</div>
<div class="sorting-div list-group" id="sections">
  <%= hidden_field_tag :fba_location_code, params[:location_code] %>
  <% multi_section_question_number = 0 %>
  <% form.form_sections.each do |section| %>
    <div class="form-section-div list-group-item" id="<%= dom_id(section) %>" data-url="<%= admin_form_form_section_path(section) %>/sort" data-id="<%= section.id %>">
      <div class="section-header-div">
        <div class="section-title-view">
          <span class="section-title-lbl"><%= section.title %></span>
          &nbsp;&nbsp;
          <i class="fas fa-pencil-alt" title="Edit section title"></i>
        </div>
        <div class="section-title-edit">
          <input type="text" value="<%= section.title %>" class="usa-input display-inline section-title" />
          <a href="<%= admin_form_form_section_path(form, section) %>" class="form-section-save" >
            <i class="fas fa-save" title="Save section title"></i>
          </a><br/>
        </div>
      </div>

      <div class="section well2 list-group">
        <div class="questions">
          <% section.questions.each_with_index do |question, index| %>
            <% multi_section_question_number += 1 %>
            <div class="question well3 list-group-item" id="<%= dom_id(question) %>" >
              <%= render 'components/forms/edit/button_dropdown', { form: form, question: question } if form_permissions?(form: form) %>

              <% if question.question_type == "text_field" %>
                <%= render 'components/forms/edit/question_types/text_field', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "radio_buttons" %>
                <%= render 'components/forms/edit/question_types/radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "thumbs_up_down_buttons" %>
                <%= render 'components/forms/question_types/thumbs_up_down_buttons', form: form, question: question, question_number: multi_section_question_number %>
                <br>
              <% elsif question.question_type == "dropdown" %>
                <%= render 'components/forms/edit/question_types/dropdown', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "checkbox" %>
                <%= render 'components/forms/edit/question_types/checkbox', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "textarea" %>
                <%= render 'components/forms/edit/question_types/text_area', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "custom_text_display" %>
                <%= render 'components/forms/question_types/custom_text_display', form: form, question: question, question_number: multi_section_question_number %>
                <br>
              <% elsif question.question_type == "star_radio_buttons" %>
                <%= render 'components/forms/question_types/star_radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "matrix_checkboxes" %>
                <%= render 'components/forms/edit/question_types/matrix_checkboxes', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "yes_no_buttons" %>
                <%= render 'components/forms/question_types/yes_no_buttons', form: form, question: question, question_number: multi_section_question_number %>
              <% elsif question.question_type == "text_display" %>
                <%= render 'components/forms/question_types/text_display', form: form, question: question, question_number: multi_section_question_number %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to new_admin_form_question_path(form), class: "usa-button form-add-question" do %>
          <span class="fa fa-plus"></span>
          Add Question
        <% end %>
        <br>
        <% unless section.questions.present? || form.form_sections.count == 1  %>
          <br>
          <%= link_to admin_form_form_section_path(form, section), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
            <span class="fas fa-trash"></span>
            Delete Section
          <% end %>
        <% end %>
      </div>
  </div>
  <br>
  <% end %>
</div>
<%= link_to new_admin_form_form_section_path(form), class: "usa-button form-add-section" do %>
  <span class="fa fa-plus"></span>
  Add Section
<% end %>

<div class="fba-disclaimer-text">
  <p class="display-inline">
    <div class="touchpoints-form-disclaimer">
      <hr style="border: none; border-top: 1px solid #E5E5E5;">
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-col-12">
            <p>
              <small>
                <span id="fba-dialog-privacy"><%= sanitize(form.disclaimer_text) %></span>
              </small>
              <i class="edit button fas fa-pencil-alt" title="Edit disclaimer text"></i>
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </p>
  <div class="field" hidden="true">
    <%= label_tag :disclaimer_text, "Editing Disclaimer Text", class: "usa-label" %>
    <%= text_area_tag :disclaimer_text, nil, class: "usa-textarea display-inline" %>
    <a href="<%= admin_form_path(form) %>" class="save button form-disclaimer-text-save">
      <i class="fas fa-save" title="Save disclaimer_text"></i>
    </a>
  </div>
</div>

<script>
$(function() {
  $(".dropdown-content").hide();
  $("div.section-title-edit").hide();
  $(".form-title-edit").hide();

  <% if form_permissions?(form: form) %>
  $('.form-add-section').on("click", function(event) {
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'New Form Section',
      width: 300
    };
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
      }
    });
  });

  $('.form-title-view').on("click", function(event) {
    $('.form-title-edit').show();
    $('.form-title-edit').children().show();
    $('.form-title-view').hide();
  });

  $("div.section-title-view").on("click", function(event) {
    $('div.section-title-edit').hide();
    $('div.section-title-view').show();
    $('div.section-title-view').children().show();
    $(this).hide();
    var titleEdit = $(this).parent().find("div.section-title-edit");
    $(titleEdit).show();
  });

  $("span.section-title-lbl").on("click", function(event) {
    $('div.section-title-edit').hide();
    $('div.section-title-view').show();
    $(this).parent().hide();
    var titleEdit = $(this).parent().parent().find("div.section-title-edit");
    titleEdit.show();
    titleEdit.find("input").focus();
  });

  $('.form-title-save').on("click", function(event) {
    event.preventDefault();
    var titleInput = $('.form-title');
    var titleLabel = $('.form-title-lbl');
    $(titleLabel).html($(titleInput).val());
    $('.form-title-edit').hide();
    $('.form-title-view').show();
    $.ajax({
      type: "PATCH",
      url: $(this).attr("href") + "/update_title",
      data: {title: $(titleInput).val()}
    });
  });

  $('.form-section-save').on("click", function(event) {
    event.preventDefault();
    var titleInput = $(this).parent().find("input.section-title");
    var titleLabel = $(this).parent().parent().find(".section-title-lbl");
    $(titleLabel).html($(titleInput).val());
    $('div.section-title-edit').hide();
    $(titleLabel).parent().show();
    $.ajax({
      context: this,
      type: "PATCH",
      url: $(this).attr("href") + "/update_title",
      data: {
        title: $(titleInput).val()
      }
    }).fail(function() {
      alert('Error while updating Form Section');
    })
    .done(function(data) {
      var titleLabel = $(".form-section-div[data-id='" + data.id + "'] .section-title-lbl");
      $(titleLabel).html(data.title);
    });
  });

  $('.form-add-question').on("click", function(event) {
    event.preventDefault();
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'New Question',
      width: 600
    };
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
      }
    });
  });

  $('.form-edit-question').on("click", function(event) {
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'Edit Question',
      width: 600
    };
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
      }
    });
  });

  $(".questions").sortable({
    items: '.question',
    connectWith: ".questions",
    distance: 20,
    update: function(e, ui) {
      var section_id = $(this).closest(".form-section-div").attr('data-id');
      var data = $(this).sortable('serialize');
      data = data + "&form_section_id=" + section_id
      $.ajax({
        url: $(this).data("url"),
        type: "PATCH",
        data: data
      });
    }
  });

  $("#sections").sortable({
    distance: 20,
    update: function(e, ui) {
      var url = ui.item.data("url");
      $.ajax({
        url: url,
        type: "PATCH",
        data: $(this).sortable('serialize')
      });
    }
  });

  $(".ma-dropdown").on("click", function(event) {
    $(event.target).parent().parent().find(".dropdown-content").toggle();
  });

  $(".section-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".question-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".section-menu-action").on("click", function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $(".question-menu-action").on("click", function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $('.form-add-question-option').on("click", function(event) {
     event.preventDefault();
     var contentDiv =  $(this).closest('div.new-question-options-div');
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          contentDiv.html(data);
          contentDiv.find("#question_option_text").focus();
        }
     });
  });

  $('.form-edit-question-option-checkbox').on("click", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.radio-button');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  $('.form-edit-question-option-radio-button').on("click", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.usa-checkbox');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  $('.form-edit-question-dropdown-option').on("click", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.radio-button');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  $(".fba-instructions .edit.button").on("click", function(event) {
    event.preventDefault();
    $(".fba-instructions .field").show();
    $(".fba-instructions .field #instructions").val($(".fba-instructions p").html());
    $(this).hide();
    $(".fba-instructions p").hide();
  });

  $(".fba-instructions .save.button").on("click", function(event) {
    event.preventDefault();
    $(".fba-instructions p").hide();
    $(".fba-instructions .field").show();

    $.ajax({
      type: "PATCH",
      url: $(this).attr("href") + "/update_instructions",
      data: {
        instructions: $(".fba-instructions .field #instructions").val()
      }
    }).done(function(data) {
      $(".fba-instructions .field").hide()
      $(".fba-instructions p").html(data.instructions)
      $(".fba-instructions p").show();
      $(".fba-instructions .edit.button").show();
    });
  });

  $(".fba-disclaimer-text .edit.button").on("click", function(event) {
    event.preventDefault();
    $(".fba-disclaimer-text .field").show();
    $(".fba-disclaimer-text .field #disclaimer_text").val($(".fba-disclaimer-text #fba-dialog-privacy").html());
    $(this).hide();
    $(".fba-disclaimer-text p").hide();
  });

  $(".fba-disclaimer-text .save.button").on("click", function(event) {
    event.preventDefault();
    $(".fba-disclaimer-text p").hide();
    $(".fba-disclaimer-text .field").show();

    $.ajax({
      type: "PATCH",
      url: $(this).attr("href") + "/update_disclaimer_text",
      data: {
        disclaimer_text: $(".fba-disclaimer-text .field #disclaimer_text").val()
      }
    }).done(function(data) {
      $(".fba-disclaimer-text .field").hide()
      $(".fba-disclaimer-text #fba-dialog-privacy").html(data.disclaimer_text)
      $(".fba-disclaimer-text p").show();
      $(".fba-disclaimer-text .edit.button").show();
    });
  });
<% end %>
});
</script>
