<div>
  <%= hidden_field_tag :fba_location_code, params[:location_code] %>
  <% multi_section_question_number = 0 %>
  <% form.form_sections.each do |section| %>
    <div class="form-section-div">
      <div class="section-header-div">
        <span class="section-title"><%= section.title %></span><br/>
        <div class="section-menu-div">
          <div class="section-menu-action">
            <i class="fas fa-ellipsis-v ma-dropdown"></i>
          </div>
          <div id="section-dropdown" class="dropdown-content">
            <p>
              <%= link_to 'Add section', new_admin_form_form_section_path(form), class: 'form-add-section' %><br/>
              <%= link_to 'Edit section', edit_admin_form_form_section_path(form, section), class: 'form-edit-section' %><br/>
              <% unless section.questions.present? || form.form_sections.count == 1  %>
                <%= link_to 'Delete section', admin_form_form_section_path(form, section), method: :delete, data: { confirm: 'Are you sure?' }, class: 'form-delete-section' %><br/>
              <% end %>
              <%= link_to 'Add question', new_admin_form_question_path(form), class: "form-add-question" %><br/>
            </p>
          </div>
        </div>
      </div>

      <div class="section well2">

        <% section.questions.each_with_index do |question, index| %>
        <% multi_section_question_number += 1 %>

        <div class="question well">
          <div class=".question-menu-div">
            <div class="question-menu-action">
              <i class="fas fa-ellipsis-v ma-dropdown"></i>
            </div>
            <div id="question-dropdown" class="dropdown-content">
              <p>
                  <%= link_to 'Edit question', edit_admin_form_question_path(@form, question), class: "form-edit-question" %><br/>
                  <% if form_permissions?(form: @form) %>
                    <%= link_to 'Delete question', admin_form_question_path(@form, question), method: :delete, data: { confirm: 'Are you sure?' }, class: "form-delete-question" %><br/>
                  <% end %>
              </p>
            </div>
          </div>
          <h3>Question <%= multi_section_question_number %> </h3>
          <% if question.question_type == "text_field" %>
            <%= render 'components/forms/edit/question_types/text_field', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "radio_buttons" %>
            <%= render 'components/forms/edit/question_types/radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "thumbs_up_down_buttons" %>
            <%= render 'components/forms/question_types/thumbs_up_down_buttons', form: form, question: question, question_number: multi_section_question_number %>
            <br>
          <% elsif question.question_type == "dropdown" %>
            <%= render 'components/forms/edit/question_types/dropdown', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "checkbox" %>
            <%= render 'components/forms/edit/question_types/checkbox', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "textarea" %>
            <%= render 'components/forms/edit/question_types/text_area', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "custom_text_display" %>
            <%= render 'components/forms/question_types/custom_text_display', form: form, question: question, question_number: multi_section_question_number %>
            <br>
          <% elsif question.question_type == "star_radio_buttons" %>
            <%= render 'components/forms/question_types/star_radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "matrix_checkboxes" %>
            <%= render 'components/forms/edit/question_types/matrix_checkboxes', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "yes_no_buttons" %>
            <%= render 'components/forms/question_types/yes_no_buttons', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "text_display" %>
            <%= render 'components/forms/question_types/text_display', form: form, question: question, question_number: multi_section_question_number %>
          <% end %>

        </div>
        <% end %>
      </div>
  </div>
  <br>
  <% end %>
</div>

<script>

  $( document ).ready(function() {
    $(".dropdown-content").hide();


    $('.form-add-section').click(function(event) {
      var dlg_opt = {
        autoOpen: false,
        modal: true,
        title: 'New section',
        width: 300
      };
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          $("#fba-modal-dialog").find(".modal-content").html(data);
          $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
        }
      });
    });

    $('.form-edit-section').click(function(event) {
      var dlg_opt = {
        autoOpen: false,
        modal: true,
        title: 'Edit section',
        width: 300
      };
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          $("#fba-modal-dialog").find(".modal-content").html(data);
          $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
        }
      });
    });

    $('.form-add-question').click(function(event) {
      var dlg_opt = {
        autoOpen: false,
        modal: true,
        title: 'Add question',
        width: 600
      };
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          $("#fba-modal-dialog").find(".modal-content").html(data);
          $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
        }
      });
    });

    $('.form-edit-question').click(function(event) {
      var dlg_opt = {
        autoOpen: false,
        modal: true,
        title: 'Edit question',
        width: 600
      };
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          $("#fba-modal-dialog").find(".modal-content").html(data);
          $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
        }
      });
    });

  });

  $(".ma-dropdown").click(function(event) {
    $(event.target).parent().parent().find(".dropdown-content").toggle();
  });

  $(".section-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".question-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".section-menu-action").click(function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $(".question-menu-action").click(function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $('.form-add-question-option').click(function(event) {
     event.preventDefault();
     var contentDiv =  $(this).closest('div.new-question-options-div');
      $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        success: function (data) {
          contentDiv.html(data);
        }
     });
  });

  $('.form-edit-question-option-checkbox').click(function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.radio-button');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
      }
    });
 });

 $('.form-edit-question-option-radio-button').click(function(event) {
  event.preventDefault();
  var contentDiv =  $(this).closest('div.usa-checkbox');
  $.ajax({
    type: "GET",
    url: $(this).attr("href"),
    success: function (data) {
      contentDiv.html(data);
    }
  });
});

</script>
