<div class="form-title-edit">
  <span class='usa-hint'>Survey Title</span>
  <br/>
  <input type="text" value="<%= form.title %>" class="usa-input display-inline survey-title-input" data-url="<%= admin_form_path(form) %>" />
  &nbsp;
  <span class="usa-hint save-notice survey-title">
     <i class="fa fa-check-circle" aria-hidden="true"></i> survey title saved
  </span>
</div>
<div class="fba-instructions">
  <div class="field">
    <%= label_tag :instructions, "Survey Instructions", class: "usa-label" %>
    <%= text_area_tag :instructions, sanitize(form.instructions), class: "usa-textarea display-inline",  'data-url': admin_form_path(form) %>
    <span class="usa-hint save-notice survey-instructions">
       <i class="fa fa-check-circle" aria-hidden="true"></i> survey instructions saved
    </span>
  </div>
</div>

<div class="sorting-div list-group" id="sections">
  <% multi_section_question_number = 0 %>
  <% form.form_sections.each do |section| %>
    <div class="form-section-div" id="<%= dom_id(section) %>" data-url="<%= admin_form_form_section_path(section) %>/sort" data-id="<%= section.id %>">
      <div class="section-header-div">
        <div class="section-title-view">
          <span class="section-title-lbl"><%= section.title %></span>
          &nbsp;&nbsp;
          <i class="fas fa-pencil-alt" title="Edit section title"></i>
        </div>
        <div class="section-title-edit">
          <input type="text" value="<%= section.title %>" class="usa-input display-inline section-title" />
          <a href="<%= admin_form_form_section_path(form, section) %>" class="form-section-save" >
            <i class="fas fa-save" title="Save section title"></i>
          </a><br/>
        </div>
      </div>

      <div class="section well2 list-group">
        <div class="questions">
          <% section.questions.each_with_index do |question, index| %>
            <% multi_section_question_number += 1 %>
            <div class="question well" id="<%= dom_id(question) %>" >
              <%= render 'components/forms/edit/button_dropdown', { form: form, question: question } if form_permissions?(form: form) %>

              <% if question.question_type == "text_field" %>
                <% @form_component_path = 'components/forms/edit/question_types/text_field' %>
              <% elsif question.question_type == "text_email_field" %>
                <% @form_component_path = 'components/forms/edit/question_types/text_email_field' %>
              <% elsif question.question_type == "radio_buttons" %>
                <% @form_component_path = 'components/forms/edit/question_types/radio_buttons' %>
              <% elsif question.question_type == "thumbs_up_down_buttons" %>
                <% @form_component_path = 'components/forms/question_types/thumbs_up_down_buttons' %>
              <% elsif question.question_type == "dropdown" %>
                <% @form_component_path = 'components/forms/edit/question_types/dropdown' %>
              <% elsif question.question_type == "checkbox" %>
                <% @form_component_path = 'components/forms/edit/question_types/checkbox' %>
              <% elsif question.question_type == "textarea" %>
                <% @form_component_path = 'components/forms/edit/question_types/text_area' %>
              <% elsif question.question_type == "custom_text_display" %>
                <% @form_component_path = 'components/forms/question_types/custom_text_display' %>
              <% elsif question.question_type == "star_radio_buttons" %>
                <% @form_component_path = 'components/forms/question_types/star_radio_buttons' %>
              <% elsif question.question_type == "yes_no_buttons" %>
                <% @form_component_path = 'components/forms/question_types/yes_no_buttons' %>
              <% elsif question.question_type == "text_display" %>
                <% @form_component_path = 'components/forms/question_types/text_display' %>
              <% end %>
              <%= render @form_component_path, form: form, question: question, question_number: multi_section_question_number %>
            </div>
          <% end %>
        </div>
        <%= link_to new_admin_form_question_path(form), class: "usa-button form-add-question" do %>
          <span class="fa fa-plus"></span>
          Add Question
        <% end %>
        <br>
        <% unless section.questions.present? || form.form_sections.count == 1  %>
          <br>
          <%= link_to admin_form_form_section_path(form, section), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
            <span class="fas fa-trash"></span>
            Delete Section
          <% end %>
        <% end %>
      </div>
  </div>
  <br>
  <% end %>
</div>
<%= link_to new_admin_form_form_section_path(form), class: "usa-button form-add-section" do %>
  <span class="fa fa-plus"></span>
  Add Section
<% end %>

<div class="fba-disclaimer-text">
  <div class="field">
    <%= label_tag :disclaimer_text, "Survey Disclaimer Text", class: "usa-label" %>
    <%= text_area_tag :disclaimer_text, sanitize(form.disclaimer_text), class: "usa-textarea display-inline", 'data-url': admin_form_path(form) %>
    <span class="usa-hint save-notice survey-disclaimer">
       <i class="fa fa-check-circle" aria-hidden="true"></i> survey disclaimer saved
    </span>
  </div>
</div>

<script>
$(function() {
  $(".dropdown-content").hide();
  $("div.section-title-edit").hide();
  $(".question-option-edit").hide();
  $(".survey-title-input").focus();

  <% if form_permissions?(form: form) %>

    //*****  FORM META ******
    $('.survey-title-input').on("blur", function(event) {
      event.preventDefault();
      $('span.usa-hint.save-notice.survey-title').show();
      $('span.usa-hint.save-notice.survey-title').fadeOut(2000);
      $.ajax({
        type: "PATCH",
        url: $(this).attr("data-url") + "/update_title",
        data: {title: $(this).val()}
      });
    });

    $(".fba-instructions .field #instructions").on("blur", function(event) {
      event.preventDefault();
      $.ajax({
        type: "PATCH",
        url:  $(this).attr("data-url") + "/update_instructions",
        data: {
          instructions: $(this).val()
        }
      }).done(function(data) {
        $('span.usa-hint.save-notice.survey-instructions').show();
        $('span.usa-hint.save-notice.survey-instructions').fadeOut(2000);
      });
    });

    $(".fba-disclaimer-text .field #disclaimer_text").on("blur", function(event) {
      event.preventDefault();
      $.ajax({
        type: "PATCH",
        url: $(this).attr("data-url") + "/update_disclaimer_text",
        data: {
          disclaimer_text: $(this).val()
        }
      }).done(function(data) {
        $('span.usa-hint.save-notice.survey-disclaimer').show();
        $('span.usa-hint.save-notice.survey-disclaimer').fadeOut(2000);
      });
    });
    //*****  END FORM META ******

  $('.form-add-section').on("click", function(event) {
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'New Form Section',
      width: 300
    };
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
      }
    });
  });

  $("div.section-title-view").on("click", function(event) {
    $('div.section-title-edit').hide();
    $('div.section-title-view').show();
    $('div.section-title-view').children().show();
    $(this).hide();
    var titleEdit = $(this).parent().find("div.section-title-edit");
    $(titleEdit).show();
  });

  $("span.section-title-lbl").on("click", function(event) {
    $('div.section-title-edit').hide();
    $('div.section-title-view').show();
    $(this).parent().hide();
    var titleEdit = $(this).closest('div.section-header-div').find("div.section-title-edit");
    titleEdit.show();
    titleEdit.find("input").focus();
  });

  $(".question-options").on("click", ".question-option-view", function(event) {
    $('.question-option-edit').hide();
    $('.question-option-view').show();
    $(this).hide();
    var titleEdit = $(this).parent().find(".question-option-edit");
    titleEdit.show();
    titleEdit.find("input").focus();
  });

  $(".question-option-edit input").keyup(function(event) {
    if (event.keyCode == 13) {
      $(this).closest('div.question-option').find('.question-option-view').html($(this).val());
      $.ajax({
        type: "PATCH",
        url: $(this).attr("data-href") + "/update_title",
        data: { text: $(this).val() }
      }).done(function() {
        $('.question-option-edit').hide();
        $('.question-option-view').show();
      });
    }
  });

  $(".form-delete-question-option").on("click", function(event) {
    event.preventDefault();
    if (confirm('Are you sure?')) {
      $(this).closest('div.question-option').remove();
      $.ajax({
        type: "DELETE",
        url: $(this).attr("href")
      });
    }
  });

  $('.form-section-save').on("click", function(event) {
    event.preventDefault();
    var titleInput = $(this).closest('div.section-header-div').find("input.section-title");
    var titleLabel = $(this).closest('div.section-header-div').find(".section-title-lbl");
    $(titleLabel).html($(titleInput).val());
    $('div.section-title-edit').hide();
    $(titleLabel).parent().show();
    $.ajax({
      context: this,
      type: "PATCH",
      url: $(this).attr("href") + "/update_title",
      data: {
        title: $(titleInput).val()
      }
    }).fail(function() {
      alert('Error while updating Form Section');
    })
    .done(function(data) {
      var titleLabel = $(".form-section-div[data-id='" + data.id + "'] .section-title-lbl");
      $(titleLabel).html(data.title);
    });
  });

  $('.form-add-question').on("click", function(event) {
    event.preventDefault();
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'New Question',
      width: 600
    };
    var formSection = $(this).parents(".form-section-div")[0];
    var formSectionId = $(formSection).attr("data-id");
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
        $("#fba-modal-dialog question_text").focus();
        $("#fba-modal-dialog #question_form_section_id").val(formSectionId);
      }
    });
  });

  $('.form-edit-question').on("click", function(event) {
    var dlg_opt = {
      autoOpen: false,
      modal: true,
      title: 'Edit Question',
      width: 600
    };
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $("#fba-modal-dialog").find(".modal-content").html(data);
        $("#fba-modal-dialog").dialog(dlg_opt).dialog("open");
      }
    });
  });

  $('.question-options').on("click", '.form-save-question-option', function(event) {
    event.preventDefault();
    var option_text = $($(this).parent().find("input")[0]).val();
    var option_value = $($(this).parent().find("input")[1]).val();
    $(".question-option-edit").hide();
    $(".question-option-view").show();
    $.ajax({
      type: "PATCH",
      url: $(this).attr("href"),
      data: { question_option: { text: option_text, value: option_value } }
    });
  });

  $(".questions").sortable({
    items: '.question',
    connectWith: ".questions",
    distance: 20,
    update: function(e, ui) {
      var section_id = $(this).closest(".form-section-div").attr('data-id');
      var data = $(this).sortable('serialize');
      data = data + "&form_section_id=" + section_id;
      $.ajax({
        url: $(this).data("url"),
        type: "PATCH",
        data: data
      });
    }
  });

  $(".question-options").sortable({
    items: '.question-option',
    update: function(e, ui) {
      $.ajax({
        url: $(this).parent().data("url"),
        type: "PATCH",
        data: $(this).sortable('serialize')
      });
    }
  });

  $("#sections").sortable({
    distance: 20,
    update: function(e, ui) {
      var url = ui.item.data("url");
      $.ajax({
        url: url,
        type: "PATCH",
        data: $(this).sortable('serialize')
      });
    }
  });

  $(".section-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".question-menu-action").mouseover(function(event) {
    $(".dropdown-content").hide();
    $(event.target).parent().find(".dropdown-content").show();
  });

  $(".section-menu-action").on("click", function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $(".question-menu-action").on("click", function(event) {
    $(event.target).parent().find(".dropdown-content").toggle();
  });

  $('.form-add-question-option').on("click", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.new-question-options-div');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  $('.question').on("click", ".edit.button", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('.question-option');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  $('.form-edit-question-dropdown-option').on("click", function(event) {
    event.preventDefault();
    var contentDiv =  $(this).closest('div.usa-radio');
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        contentDiv.html(data);
        contentDiv.find("#question_option_text").focus();
      }
    });
  });

  // Set Question Option value to what the Question Option name is initially
  $(".question").on('focusout', "textarea.usa-input[name='question_option[text]']", function() {
    var enteredText = $(this).val();
    numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
    var questionDiv = $($(this).parents(".well")[0]);
    var valueField = questionDiv.find("input.usa-input[type='text'][name='question_option[value]']");
    var valueLabel = valueField.parent().find(".usa-label");
    if (numberOfLineBreaks > 0) {
      valueField.hide();
      valueLabel.hide();
    } else {
      valueField.show();
      valueLabel.show();
    }
    if (valueField.val() === '') {
      valueField.val(enteredText);
    }
  });
<% end %>
});
</script>
