<%= form_with(model: objective, url: objective.persisted? ? admin_goal_objective_path(@goal) : admin_goal_objectives_path(@goal),local: false) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
        <% objective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :goal_id, value: @goal.id %>

  <% if admin_permissions? %>
  <div class="field">
    <%= form.label :organization_id, class: "usa-label" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, objective.organization_id), { prompt: "Which Organization?" }, { class: "usa-select" } %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :goal_id, class: "usa-label" %>
    <%= form.select :goal_id, options_for_select(Goal.all.map { |goal| ["#{goal.name}", goal.id] }, objective.goal_id || params[:goal_id]), { prompt: "Which Goal?" }, { class: "usa-select" } %>
  </div>

  <div class="field">
    <%= form.label :name, "Objective statement", class: "usa-label" %>
    <%= form.text_area :name, class: "usa-textarea" %>
  </div>

  <div class="field" hidden>
    <%= form.label :milestone_id, class: "usa-label" %>
    <%= form.select :milestone_id, options_for_select(Milestone.all.map { |milestone| ["#{milestone.name}", milestone.id] }, objective.milestone_id), { prompt: "Which Milestone?" }, { class: "usa-select" } %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
