<div class="grid-row grid-gap-md">
  <div class="grid-col-12">
    <div>
      <h2>
        PRA Information
      </h2>
    </div>
  </div>
</div>
<div class="grid-row grid-gap-md">
  <div class="tablet:grid-col-4">
    <div>
      <p>
        <strong>Service # NOTE: ame</strong>
        <br>
        <%= form.service_name %>
      </p>
      <p>
        <strong>Data submission comment</strong>
        <br>
        <%= form.data_submission_comment %>
      </p>
      <p>
        <strong>Survey instrument reference</strong>
        <br>
        <%= form.survey_instrument_reference %>
      </p>
      <p>
        <strong>Agency point of contact email</strong>
        <br>
        <%= form.agency_poc_email %>
      </p>
      <p>
        <strong>Agency point of contact name</strong>
        <br>
        <%= form.agency_poc_name %>
      </p>
      <p>
        <strong>Department</strong>
        <br>
        <%= form.department %>
      </p>
      <p>
        <strong>Bureau</strong>
        <br>
        <%= form.bureau %>
      </p>
    </div>
  </div>
  <div class="tablet:grid-col-4">
    <p>
      <strong>OMB approval #</strong>
      <%= form.omb_approval_number %>
    </p>
    <p>
      <strong>Federal Register URL</strong>
      <br>
      <%= form.federal_register_url %>
    </p>
    <p>
      <strong>Medium of delivery</strong>
      <br>
      <%= form.medium %>
    </p>
    <p>
      <strong>Anticipated delivery count</strong>
      <br>
      <%= form.anticipated_delivery_count %>
    </p>
    <p>
      <strong>Survey form activations</strong>
      <br>
      <%= form.survey_form_activations %>
    </p>
    <p>
      <strong>Expiration date</strong>
      <br>
      <%= form.expiration_date %>
    </p>
  </div>
</div>
