<% content_for :navigation_title do %>
  Events
<% end %>
<table class="usa-table">
  <% @users = User.all %>
  <% @user_email_map = {} %>
  <% @users.map { |user| @user_email_map[user.id] = user.email } %>
  <thead>
  <tr>
    <th>Event ID</th>
    <th>Object Type</th>
    <th>Object ID</th>
    <th>Description</th>
    <th>User</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  </thead>
  <tbody>
    <% @events.reverse.each do |event| %>
    <tr data-id="<%= event.id %>">
      <td><%= event.id %></td>
      <td><%= event.object_type %></td>
      <td><%= event.object_uuid %></td>
      <td><%= event.description %></td>
      <td><%= @user_email_map[event.user_id] %></td>
      <td><%= format_time(event.created_at, current_user.time_zone) %></td>
      <td><%= format_time(event.updated_at, current_user.time_zone) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>

<p>
  <%= link_to admin_export_events_url, class: "usa-button usa-button--outline" do %>
    <i class="fa fa-download"></i>
    Export Events to CSV
  <% end %>
</p>
