<div>
  <%= form_with(model: form_section, url: (form_section.persisted? ? admin_form_form_section_path((form)) : admin_form_form_sections_path(form) ), local: true) do |html_form| %>
    <% if form_section.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(form_section.errors.count, "error") %> prohibited this form_section from being saved:</h2>

        <ul class="usa-list">
        <% form_section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= html_form.label :title, class: "usa-label" %>
      <%= html_form.text_field :title, class: "usa-input" %>
    </div>

    <p>
      <%= html_form.submit (form_section.persisted? ? "Update Section" : "Create Section"), class: "usa-button" %>
    </p>
  <% end %>
</div>
