<p id="notice"><%= notice %></p>

<h1>Form Sections</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Form</th>
      <th>Title</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_sections.each do |form_section| %>
      <tr>
        <td><%= form_section.form_id %></td>
        <td><%= form_section.title %></td>
        <td><%= form_section.position %></td>
        <td><%= link_to 'Show', admin_form_form_section_path(@form, form_section.form) %></td>
        <td><%= link_to 'Edit', edit_admin_form_form_section_path(@form, form_section) %></td>
        <td><%#= link_to 'Delete', form_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Form Section', new_admin_form_form_section_path(@form), class: "usa-button" %>
