<%= render 'components/forms/flash' %>

<p>
  <strong>Form:</strong>
  <%= link_to @form_section.form.name, admin_form_path(@form) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @form_section.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @form_section.position %>
</p>

<%= link_to 'Edit', edit_admin_form_form_section_path(@form, @form_section) %> |
<%= link_to 'Back', admin_form_form_sections_path(@form) %>
