<% content_for :navigation_title do %>
Where forms are hosted
<% end %>

<p>
  <%= link_to admin_reporting_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin Reporting
  <% end %>
</p>

<div class="responses">
  <div class="table-wrap">
    <table class="usa-table">
      <thead>
        <tr>
          <th data-sortable scope="col">Organization</th>
          <th data-sortable scope="col" style="min-width: 300px;">Title</th>
          <th data-sortable scope="col">UUID</th>
          <th data-sortable scope="col">Kind</th>
          <th data-sortable scope="col">Status</th>
          <th data-sortable scope="col">Delivery Method</th>
          <th data-sortable scope="col">whitelist_url</th>
          <th data-sortable scope="col">whitelist_test_url</th>
          <th data-sortable scope="col">url_1</th>
          <th data-sortable scope="col">url_2</th>
          <th data-sortable scope="col">url_3</th>
          <th data-sortable scope="col">url_4</th>
          <th data-sortable scope="col">url_5</th>
          <th data-sortable scope="col">url_6</th>
          <th data-sortable scope="col">url_7</th>
          <th data-sortable scope="col">url_8</th>
          <th data-sortable scope="col">url_9</th>
        </tr>
      </thead>
      <% @forms.each do |form| %>
      <% next unless form.whitelist_url? || form.whitelist_test_url? %>
      <tr>
        <td><%= link_to form.organization.name, admin_organization_path(form.organization) %></td>
        <td><%= form.title %></td>
        <td><%= link_to form.short_uuid, admin_form_path(form) %></td>
        <td><%= form.kind %></td>
        <td><%= form.aasm_state %></td>
        <td><%= form.delivery_method %></td>
        <td><%= form.whitelist_url %></td>
        <td><%= form.whitelist_test_url %></td>
        <td><%= form.whitelist_url_1 %></td>
        <td><%= form.whitelist_url_2 %></td>
        <td><%= form.whitelist_url_3 %></td>
        <td><%= form.whitelist_url_4 %></td>
        <td><%= form.whitelist_url_5 %></td>
        <td><%= form.whitelist_url_6 %></td>
        <td><%= form.whitelist_url_7 %></td>
        <td><%= form.whitelist_url_8 %></td>
        <td><%= form.whitelist_url_9 %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
