<% content_for :navigation_title do %>
  Admin Reporting
<% end %>

<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin Dashboard
  <% end %>
</p>

<ul class="usa-list">
  <li>
    Reporting
    <ul>
      <li>
        <%= link_to admin_lifespan_path do %>
        <span>Survey lifespan by Agency</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_no_submissions_path do %>
        <span>Surveys Without Submissions ( for 3 months ) by Agency</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_service_surveys_path do %>
        <span>Service Surveys by Agency</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_user_reporting_path do %>
        <span>Users who need accounts</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_form_whitelist_reporting_path do %>
        Where forms are hosted
        <% end %>
      </li>
      <li>
        <%= link_to admin_form_logos_path do %>
          Form logos
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<br>
<br>