<%= render 'user_mailer/components/header' %>
<h3>
  Event Notification
  <br>
  <%= @subject %>
</h3>
<p>
  The social media account
  <%= link_to @digital_service_account.name, admin_digital_service_account_url(@digital_service_account) %>,
  managed by <%= @digital_service_account.service_owner.email %>
  at <%= @digital_service_account.organization.name %>
  was <%= @event %>.
</p>
<% if @link.present? %>
<p>
  <%= link_to @link, @link %>
</p>
<% end %>
