Touchpoints.gov Event Notification:
<%= @subject %>

The Service,
<%= @service.name %>
was <%= @event %> by
<%= @service.service_owner.email %> at
<%= @service.organization.name %>.

<% if @link.present? %>
<p>
  <%= @link %>
</p>
<% end %>
