<%= render 'user_mailer/components/header' %>
<h3>
  Social Media Account has been created
</h3>
<p><a href="<%= @digital_service_account.service_url %>">See this social media account here</a></p>

<h2>Social Media Account Details</h2>
<p><em>Social Media Account Name:</em> <%= @digital_service_account.name %></p>
<p><em>Account Type:</em> <%= @digital_service_account.account %></p>
<p><em>Account URL:</em> <%= @digital_service_account.service_url %></p>
<p><em>Short Description:</em> <%= @digital_service_account.short_description %></p>
<p><em>Long Description:</em> <%= @digital_service_account.long_description %></p>
<p><em>Created at: <%= @digital_service_account.created_at.to_s %></em> </p>
<p><%= link_to "View the Social Media Account in Touchpoints", @link %></p>
