<%= form_with(model: goal_target, url: goal_target.persisted? ? admin_goal_goal_target_path(@goal) : admin_goal_goal_targets_path(@goal),local: false) do |form| %>
  <% if goal_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_target.errors.count, "error") %> prohibited this goal_target from being saved:</h2>

      <ul>
        <% goal_target.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :goal_id, value: @goal.id %>

  <div class="field">
    <%= form.label :target_date_at, class: "usa-label" %>
    <%= form.datetime_select :target_date_at, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :assertion, class: "usa-label" %>
    <%= form.text_area :assertion, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :kpi, class: "usa-label" %>
    <%= form.text_field :kpi, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :starting_value, class: "usa-label" %>
    <%= form.number_field :starting_value, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :target_value, class: "usa-label" %>
    <%= form.number_field :target_value, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :current_value, class: "usa-label" %>
    <%= form.number_field :current_value, class: "usa-input" %>
  </div>

  <p>
    <%= form.submit class: "usa-button update-goal-target" %>
  </p>
<% end %>
