<%= form_with(model: website, url: website.persisted? ? admin_website_path(website) : admin_websites_path) do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
        <% website.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-row grid-gap">
    <div class="grid-col-6">
      <h3>
        Organization and domain
      </h3>

      <%# only show when creating a website %>
      <% if !@website.persisted? %>
      <div class="field">
        <%= form.label :type_of_site, class: "usa-label" %>
        <%= form.select :type_of_site, options_for_select(Website::TYPE_OF_SITES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.type_of_site), { include_blank: true }, { class: "usa-select", required: true } %>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :domain, class: "usa-label" %>
        <%= form.text_field :domain, class: "usa-input", required: true %>
      </div>
      <div class="field">
        <%= form.label :office, class: "usa-label" %>
        <%= form.text_field :office, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :sub_office, "Sub-office", class: "usa-label" %>
        <%= form.text_field :sub_office, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :site_owner_email, "Website Manager email", class: "usa-label" %>
        <%= form.text_field :site_owner_email, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :contact_email, class: "usa-label" %>
        <%= form.text_field :contact_email, class: "usa-input" %>
      </div>
      <% if !@website.persisted? %>
      <div class="field">
        <%= form.label :notes, class: "usa-label" %>
        <%= form.text_area :notes, class: "usa-textarea" %>
      </div>
      <% end %>
    </div>
    <div class="grid-col-6">
      <% if @website.persisted? %>
      <h3>
        Website status and links
      </h3>
      <div class="field">
        <%= form.label :production_status, class: "usa-label" %>
        <%= form.select :production_status, options_for_select(Website::PRODUCTION_STATUSES.collect { |k,v| [v, k] }, selected: @website.production_status), { include_blank: true }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= form.label :redirects_to, class: "usa-label" %>
        <%= form.text_field :redirects_to, class: "usa-input", disabled: (@website.production_status == "redirect" ? false : true) %>
      </div>
      <div class="field">
        <%= form.label :sitemap_url, class: "usa-label" %>
        <%= form.text_field :sitemap_url, class: "usa-input" %>
      </div>
      <br>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :https, class: "usa-checkbox__input" %>
          <%= form.label :https, "Site uses https", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :mobile_friendly, class: "usa-checkbox__input" %>
          <%= form.label :mobile_friendly, "Site is mobile-friendly", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :has_search, class: "usa-checkbox__input" %>
          <%= form.label :has_search, "Site has 'search' as a feature", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <div class="grid-row grid-gap">
    <% if @website.persisted? %>
    <div class="grid-col-6">
      <h3>
        Organizational readiness
      </h3>
      <div class="field">
        <%= form.label :required_by_law_or_policy, class: "usa-label" %>
        <%= form.text_field :required_by_law_or_policy, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :service_id, "Service", class: "usa-label" %>
        <small>
          Associate this website with a <%= link_to "Service", admin_services_path %>.
        </small>
        <%= form.select :service_id, options_for_select(Service.all.includes(:organization).order("organizations.name").collect { |service| "#{service.organization.name} - #{service.name}" }, selected: website.type_of_site), { include_blank: true }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= form.label :type_of_site, class: "usa-label" %>
        <%= form.select :type_of_site, options_for_select(Website::TYPE_OF_SITES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.type_of_site), { include_blank: true }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= form.label :digital_brand_category, class: "usa-label" %>
        <%= form.select :digital_brand_category, options_for_select(Website::DIGITAL_BRAND_CATEGORIES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.digital_brand_category), { include_blank: true }, { class: "usa-select" } %>
      </div>
    </div>
    <% end %>
    <% if @website.persisted? %>
    <div class="grid-col-6">
      <h3>
        Platform choices
      </h3>
      <div class="field">
        <%= form.label :repository_url, class: "usa-label" %>
        <%= form.text_field :repository_url, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :hosting_platform, class: "usa-label" %>
        <%= form.text_field :hosting_platform, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :cms_platform, "Content Management platform", class: "usa-label" %>
        <%= form.text_field :cms_platform, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :uswds_version, class: "usa-label" %>
        <%= form.text_field :uswds_version, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :dap_gtm_code, "DAP GTM Code", class: "usa-label" %>
        <%= form.text_field :dap_gtm_code, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :analytics_url, class: "usa-label" %>
        <%= form.text_field :analytics_url, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :authentication_tool, class: "usa-label" %>
        <%= form.text_field :authentication_tool, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :feedback_tool, class: "usa-label" %>
        <%= form.text_field :feedback_tool, class: "usa-input" %>
      </div>
    </div>
    <% end %>
  </div>
  <% if @website.persisted? %>
  <br>
  <br>
  <div class="well">
    <div class="field">
      <%= form.label :notes, class: "usa-label" %>
      <%= form.text_area :notes, class: "usa-textarea" %>
    </div>
  </div>
  <% end %>

  <p>
    <%= form.submit class: "usa-button full-width" %>
  </p>
<% end %>

<script>
  $(function() {
    // Toggle the redirect text input field
    // based on the Production Status dropdown
    $("#website_production_status").on("change", function(e, f) {
      if (this.value === "redirect") {
        $("#website_redirects_to").removeAttr("disabled");
      } else {
        $("#website_redirects_to").attr("disabled", true);
      }
    })
  });
</script>
