<%= form_with(model: website, url: (website.persisted? ? admin_website_path(website) : admin_websites_path), data: { turbo: false }) do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
        <% website.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-row grid-gap">
    <div class="grid-col-6">
      <h3>
        Organization and domain
      </h3>

      <div class="field">
        <%= form.label :organization_id, class: "usa-label" %>
        <%= form.select :organization_id, options_for_select(organization_dropdown_options, website.organization_id), { prompt: "Which Organization?" }, { class: "usa-select" } %>
      </div>

      <%# only show when creating a website %>
      <% if !@website.persisted? %>
      <div class="field">
        <%= form.label :type_of_site, class: "usa-label" %>
        <%= form.select :type_of_site, options_for_select(Website::TYPE_OF_SITES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.type_of_site), { prompt: "What Type of web property is this?" }, { class: "usa-select", required: true } %>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :domain, "What is the domain?", class: "usa-label" %>
        <%= form.text_field :domain, class: "usa-input", placeholder: "usa.gov", required: true %>
      </div>
      <div class="field">
        <%= form.label :office, class: "usa-label" %>
        <%= form.text_field :office, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :sub_office, "Sub-office", class: "usa-label" %>
        <%= form.text_field :sub_office, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :site_owner_email, "Primary website contact email", class: "usa-label" %>
        <%= form.text_field :site_owner_email, class: "usa-input" %>
      </div>
      <% if @website.persisted? %>
        <div class="field">
          <%= form.label :contact_email, "Public website email", class: "usa-label" %>
          <%= form.text_field :contact_email, class: "usa-input" %>
        </div>
        <div class="field">
          <div class="website-managers-div">
            <%= render 'admin/websites/website_managers', website: @website, website_manager_options: @website_manager_options %>
          </div>
        </div>
        <div class="field">
          <div class="website-personas-div">
            <%= render 'admin/websites/website_personas', website: @website, website_persona_options: @website_persona_options %>
          </div>
        </div>
        <div class="field">
          <%= form.label :notes, class: "usa-label" %>
          <%= form.text_area :notes, class: "usa-textarea" %>
        </div>
      <% end %>
      <% unless @website.persisted? %>
        <br>
        <br>
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Next steps:
              <br>

              <ul>
                <li>
                  A member of the GSA EDX team will contact you.
                </li>
                <li>
                  The website request will be forwarded to GSA Digital Council members,
                  for approval.
                </li>
              </ul>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="grid-col-6">
      <% if @website.persisted? %>
      <h3>
        Website status and links
      </h3>
      <div class="field">
        <%= form.label :production_status, class: "usa-label" %>
        <div class="usa-hint font-sans-2xs">
          See the
          <%= link_to "Touchpoints wiki", "https://github.com/GSA/touchpoints/wiki/Websites-Production-status/", target: "_blank" %>
          for more information.
        </div>
        <%= form.select :production_status, options_for_select(Website::PRODUCTION_STATUSES.collect { |k,v| [v, k] }, selected: @website.production_status), { prompt: "What is the status of this website?", include_blank: true }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= form.label :redirects_to, class: "usa-label" %>
        <%= form.text_field :redirects_to, class: "usa-input", disabled: (@website.production_status == "redirect" ? false : true) %>
      </div>
      <div class="field">
        <%= form.label :sitemap_url, class: "usa-label" %>
        <%= form.text_field :sitemap_url, class: "usa-input" %>
      </div>
      <br>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :https, class: "usa-checkbox__input" %>
          <%= form.label :https, "Site uses https", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :mobile_friendly, class: "usa-checkbox__input" %>
          <%= form.label :mobile_friendly, "Site is mobile-friendly", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <fieldset class="usa-fieldset">
        <div class="usa-checkbox">
          <%= form.check_box :has_search, class: "usa-checkbox__input" %>
          <%= form.label :has_search, "Site has 'search' as a feature", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <div class="grid-row grid-gap-lg">
    <% if @website.persisted? %>
    <div class="grid-col-6">
      <h3>
        Organizational readiness
      </h3>
      <div class="field">
        <%= form.label :required_by_law_or_policy, class: "usa-label" %>
        <%= form.text_field :required_by_law_or_policy, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :service_id, "Service", class: "usa-label" %>
        <div class="usa-hint font-sans-2xs">
          Associate this website with a <%= link_to "Service", admin_services_path %>.
        </div>
        <%= form.select :service_id, options_for_select(Service.all.includes(:organization).order("organizations.name").collect { |service| ["#{service.organization.name} - #{service.name}", service.id] }, selected: website.service_id), { include_blank: true }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= form.label :type_of_site, class: "usa-label" %>
        <%= form.select :type_of_site, options_for_select(Website::TYPE_OF_SITES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.type_of_site), { prompt: "What Type of web property is this?" }, { class: "usa-select", required: true } %>
      </div>
      <div class="field">
        <%= form.label :digital_brand_category, class: "usa-label" %>
        <%= form.select :digital_brand_category, options_for_select(Website::DIGITAL_BRAND_CATEGORIES.collect { |k, v| ["#{k} - #{v}", k] }, selected: website.digital_brand_category), { include_blank: true }, { class: "usa-select" } %>
      </div>
    </div>
    <% end %>
    <% if @website.persisted? %>
    <div class="grid-col-6">
      <h3>
        Platform choices
      </h3>
      <div class="field">
        <%= form.label :repository_url, class: "usa-label" %>
        <%= form.text_field :repository_url, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :hosting_platform, class: "usa-label" %>
        <%= form.text_field :hosting_platform, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :authentication_tool, class: "usa-label" %>
        <%= form.select :authentication_tool, options_for_select(Website::AUTHENTICATION_TOOLS.collect { |k, v| [k, k] },
          selected: website.authentication_tool), { prompt: "Select an auth tool" }, { class: "usa-select", required:
          true } %>
      </div>
      <div class="field">
        <%= form.label :cms_platform, "Content Management platform", class: "usa-label" %>
        <%= form.text_field :cms_platform, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :uswds_version, class: "usa-label" %>
        <%= form.text_field :uswds_version, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :dap_gtm_code, "DAP GTM Code", class: "usa-label" %>
        <%= form.text_field :dap_gtm_code, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :analytics_url, class: "usa-label" %>
        <%= form.text_field :analytics_url, class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :feedback_tool, class: "usa-label" %>
        <%= form.select :feedback_tool, options_for_select(Website::FEEDBACK_TOOLS.collect { |k, v| [k, k] },
          selected: website.feedback_tool), { prompt: "Select a feedback tool" }, { class: "usa-select" , required: true } %>
      </div>
    </div>
    <% end %>
  </div>

  <p>
    <%= form.submit class: "usa-button full-width" %>
  </p>
<% end %>

<script>
  $(function() {
    // Toggle the redirect text input field
    // based on the Production Status dropdown
    $("#website_production_status").on("change", function(e, f) {
      if (this.value === "redirect") {
        $("#website_redirects_to").removeAttr("disabled");
      } else {
        $("#website_redirects_to").attr("disabled", true);
      }
    })
  });
</script>
