<p>
  Count = <%= @websites.size %>
  <% if @websites.size == Admin::WebsitesController::MAX_RESULTS %>
      <em>, max results returned -- use search field to limit results</em>
  <% end %>
  <br/>
    &middot;
    <%= link_to "Active sites", "?" %>
    <%= link_to "Include inactive sites", "?all=1" %>
</p>
<table class="usa-table" style="overflow-x: scroll;">
  <thead>
    <tr>
      <th>Production status</th>
      <th>Office</th>
      <th>Sub-office</th>
      <th>Domain</th>
      <th>Staging Site</th>
      <th>Site owner email</th>
    </tr>
  </thead>
  <tbody>
    <% @websites.order(:production_status).each do |website| %>
      <tr>
        <td><%= website.production_status %></td>
        <td><%= website.office %></td>
        <td><%= website.sub_office %></td>
        <td><%= link_to(website.domain, admin_website_path(website)) %></td>
        <td>
          <%= website.domain.include?("staging") || website.domain.include?("preview") || website.domain.include?("sandbox") || website.domain.include?("beta") ? "YES" : "" %>
        </td>
        <td><%= website.site_owner_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>