<p>
    Count = <%= @websites.size %>
    &middot;
    <% if params[:all] %>
      <%= link_to "View Active sites", "?active=1" %>
      <small>
        (<%= Website::ACTIVE_PRODUCTION_STATUSES.to_sentence %>)
      </small>
    <% else %>
      <%= link_to "View All sites", "?all=1" %>
      <small>
        (also includes <%= (Website::PRODUCTION_STATUSES.keys - Website::ACTIVE_PRODUCTION_STATUSES).to_sentence %>)
      </small>
    <% end %>
</p>
<table class="usa-table" style="overflow-x: scroll;">
  <thead>
    <tr>
      <th>Production status</th>
      <th>Office</th>
      <th>Sub-office</th>
      <th>Domain</th>
      <th>Staging Site</th>
      <th>Site owner email</th>
    </tr>
  </thead>
  <tbody>
    <% @websites.order(:production_status).each do |website| %>
      <tr>
        <td><%= website.production_status %></td>
        <td><%= website.office %></td>
        <td><%= website.sub_office %></td>
        <td><%= link_to(website.domain, admin_website_path(website)) %></td>
        <td>
          <%= website.domain.include?("staging") || website.domain.include?("preview") || website.domain.include?("sandbox") || website.domain.include?("beta") ? "YES" : "" %>
        </td>
        <td><%= website.site_owner_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
