<div class="border border-base-lighter padding-2 margin-bottom-2">

  <div class="font-sans-sm margin-bottom-1">
    Status:
    <%= website.production_status %>
    <a
      href="#website-production-status-modal"
      aria-controls="website-production-status-modal"
      data-open-modal><i class="fa fa-info-circle"></i></a>
  </div>
  <div
    class="usa-modal usa-modal--lg"
    id="website-production-status-modal"
    aria-labelledby="modal-2-heading"
    aria-describedby="modal-2-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-2-heading">
          The lifecycle of a website
        </h2>
        <div class="usa-prose">
          <p>
            Each website is a digital asset and has a lifecycle.
            The "production_status" states a website may have are below.
          </p>
          <br>
          <ul class="usa-list usa-list--unstyled">
            <% Website::PRODUCTION_STATUSES.each_pair do |key, value| %>
            <li>
              <span class="usa-tag bg-primary-light <%= "bg-primary" if @website.production_status == key %>"><%= value %></span>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      <button
        class="usa-button usa-modal__close"
        aria-label="Close this window"
        data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path "sprite.svg#close" %>"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="usa-step-indicator" aria-label="progress">
    <ol class="usa-step-indicator__segments">
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if website.request_approved? || website.in_development? || website.production? || website.redirect? || website.archived? || website.decommissioned? %>
        <%= "usa-step-indicator__segment--current" if website.newly_requested? %>">
        <span class="usa-step-indicator__segment-label">
          Created
          <% if website.newly_requested? %>
            <span class="usa-sr-only">completed</span>
          <% end %>
        </span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if website.in_development? || website.production? || website.redirect? || website.archived? || website.decommissioned? %>
        <%= "usa-step-indicator__segment--current" if website.request_approved? %>">
        <span class="usa-step-indicator__segment-label">
          Approved
          <span class="usa-sr-only">completed</span>
        </span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if website.production? || website.redirect? || website.archived? || website.decommissioned? %>
        <%= "usa-step-indicator__segment--current" if website.in_development? %>"
        aria-current="true">
        <span class="usa-step-indicator__segment-label">In development</span>
      </li>
      <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--complete" if website.redirect? || website.archived? || website.decommissioned? %> <%= "usa-step-indicator__segment--current" if website.production? %>" aria-current="true">
        <span class="usa-step-indicator__segment-label">Production</span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if website.decommissioned? %>
        <%= "usa-step-indicator__segment--current" if website.archived? %>" aria-current="true">
        <span class="usa-step-indicator__segment-label">Decommissioned</span>
      </li>
    </ol>
  </div>
</div>
