<div id="website-managers-div" class="grid-row" data-value="<%= admin_website_path(@website) %>">
  <div class="grid-col-12">
    <%= label_tag "Additional website contacts", nil, class: "usa-label" %>
    <div class="website-manager-list">
      <ul class="usa-list usa-list--unstyled">
        <% @website.website_managers.each do |manager| %>
        <li>
          <span class="usa-tag">
            <%= manager.email %>
          </span>
          &nbsp;
          <a href="javascript:void(0);" class="remove-tag-link" data-value="<%= manager.id %>">
            <span class="fa fa-trash"></span>
          </a>
        </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<%= select_tag :website_manager_id, options_for_select(@website_manager_options.map { |u| [u.email, u.id] }), prompt: "Choose a Manager", class: "usa-select add-website-manager" %>

<script>
  $(function() {

    $(".add-website-manager").on("change", function(e) {
      event.preventDefault();
      var container = $('#website-managers-div');
      $.ajax({
        url: container.attr("data-value") + "/add_website_manager",
        type: 'post',
        data: "user_id=" + $(this).val()
      });
    });

    $(".remove-tag-link").on("click", function(e) {
      event.preventDefault();
      var container = $('#website-managers-div');
      $.ajax({
        url: container.attr("data-value") + "/remove_website_manager",
        type: 'post',
        data: "user_id=" + $(this).attr("data-value")
      });
    });

  })

</script>
