<% content_for :navigation_title do %>
  Websites
  <%= link_to new_admin_website_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Website
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to the Digital Registry
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h2 class="usa-summary-box__heading" id="summary-box-key-information">
      Inventorying Digital Assets
    </h2>
    <div class="usa-summary-box__text">
      <p>
        Websites are digital assets.
        Any Touchpoints user can view website information.
        Use the search bar to find your website(s). Click the domain to see the site details.
      If you are a website’s point of contact, you can edit the site’s details.
      </p>
      <p>
        For more information regarding managing Website records,
        see the
        <%= link_to "Touchpoints wiki", "https://github.com/GSA/touchpoints/wiki/Websites", target: "_blank", rel: "noopener" %>.
      </p>
      <%= render 'components/feedback-button' %>
    </div>
  </div>
</div>

<br>

<div class="well">
  <div class="grid-row grid-gap-lg">
    <div class="tablet:grid-col-6">
      <div class="field">
        <h3>
          <span class="fa fa-search"></span>
          Search websites
        </h3>
        <%= label_tag :search_text, "by domain, email, office, sub-office, or contact emails", class: "font-sans-2xs" %>
        <%= text_field_tag :search_text, nil, class: "usa-input", autofocus: true, value: params[:search] %>
      </div>

      <div class="field margin-top-3">
        <h3 class="margin-bottom-2" id="filter-by-org-label">
          <span class="fa fa-filter"></span>
          Filter by org
        </h3>
        <%= select_tag :organization_abbreviation, options_for_select(organization_abbreviation_dropdown_options, @organization.try(:abbreviation)),
          prompt: "Select an Organization...",
          class: "usa-select add-agency",
          "aria-labelledby" => "filter-by-org-label",
          required: true %>
      </div>
      <br>
      <%= link_to("Clear filter", admin_websites_path) %>
    </div>
    <div class="tablet:grid-col-6">

      <div class="field margin-top-3">
        <h3 class="margin-bottom-2" id="filter-by-production-status-label">
          <span class="fa fa-filter"></span>
          Filter by production status
        </h3>
        <%= select_tag :production_status, options_for_select(Website.aasm(:production_status).states.map(&:name), @organization.try(:aasm_state)),
          prompt: "Select a status...",
          "aria-labelledby" => "filter-by-production-status-label",
          class: "usa-select" %>
      </div>

      <%- if @tags.first %>
        <h3 class="margin-top-3">
          <span class="fa fa-filter"></span>
          Filter by tag
        </h3>
        <br>
        <div class="tag-list">
          <% @tags.order(:name).each do | tag | %>
            <a href="#" class="search-tag-link" data-name="<%= tag.name %>">
              <span class="usa-tag">
                <%= tag.name %>
                (<%= tag.taggings_count %>)
              </span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="search-results">
  <%= render 'results' %>
</div>

<p>
  <%= link_to export_csv_admin_websites_path, class: "usa-button usa-button--outline" do %>
    <i class="fa fa-download"></i>
    Export all websites to CSV
  <% end %>
  <%- if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to 'Preview Website Data Collection', collection_preview_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% end %>
</p>

<script>
  function performSearch() {
    var url = new URL(window.location.href);
    var searchParams = new URLSearchParams(url.search);

    var searchText = $("#search_text").val();
    var organizationId = $("#organization_id").val();
    var organizationAbbreviation = $("#organization_abbreviation").val();
    var status = $("#production_status").val();
    var tag = searchParams.get("tag");

    $.ajax({
      url: '<%= search_admin_websites_path %>',
      data: {
        query: searchText,
        production_status: status,
        org_abbr: organizationAbbreviation,
        tag: tag
      }
    });

    searchParams.set('query', searchText);
    searchParams.set('org_abbr', organizationAbbreviation);
    searchParams.set('production_status', status);
    window.history.replaceState({}, '', url.pathname + '?' + searchParams.toString());
  }

  $(function() {
    $("#main-content").css("overflow-x", "scroll");

    $("#search_text").on("keyup", debounce(function() {
      performSearch()
    }, 400));

    $(".search-tag-link").on("click", function(event) {
      event.preventDefault();
      var url = new URL(window.location.href);
      var searchParams = new URLSearchParams();
      searchParams.set('tag', $(this).attr("data-name"));
      window.history.replaceState({}, '', url.pathname + '?' + searchParams.toString());
      performSearch();
    });

    $("#organization_abbreviation").on("change", function(event) {
      performSearch();
    })

    $("#production_status").on("change", function(event) {
      performSearch();
    })

  });
</script>
