<% content_for :navigation_title do %>
  Websites
  <%= link_to new_admin_website_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Website
  <% end %>
<% end %>

<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Inventorying Digital Assets
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Websites are digital assets.
        Any Touchpoints user can view website information.
        Use the search bar to find your website(s). Click the View button to see website details. If you are the website’s manager or point of contact, you can edit the website’s details.
      </p>
      <p>
        For more information regarding managing Website records,
        see the
        <%= link_to "Touchpoints wiki", "https://github.com/GSA/touchpoints/wiki/Websites", target: "_blank", rel: "noopener" %>.
      </p>
      <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--inverse", target: "_blank", rel: "noopener" do %>
        <i class="fa fa-info-circle"></i>
        Ask a question or provide feedback
      <% end %>
    </div>
  </div>
</div>

<br/>

<div class="well">
  <div class="field">
    <%= label_tag :search_text, "Search by domain, email, office, sub-office, Website Manager email, or Website Contact email" %>
    <%= text_field_tag :search_text, nil, class: "usa-input" %>
    <% if @tags.first %>
      <p>
        Search by tag
      </p>
      <p class="tag-list">
        <% @tags.order(:name).each do | tag | %>
          <a href="#" class="search-tag-link" data-name="<%= tag.name %>">
            <span class="usa-tag">
              <%= tag.name %> (<%= tag.taggings_count %>)
            </span>
          </a>
        <% end %>
      <p>
    <% end %>
  </div>
</div>
<br>
<div class="search-results">
  <%= render 'results' %>
</div>

<p>
  <%= link_to export_csv_admin_websites_path, class: "usa-button usa-button--outline" do %>
    <i class="fa fa-download"></i>
    Export all websites to CSV
  <% end %>
  <% if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to 'Preview Website Data Collection', collection_preview_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% end %>
</p>

<script>
  $(function() {
    $("#main-content").css("overflow-x", "scroll");

    $("#search_text").keyup(function() {
      $.ajax({
        url: '/admin/websites/search',
        data: {
          search: $(this).val()
        }
      });
    });
    $(".search-tag-link").click(function() {
      $("#search_text").val("");
      $.ajax({
        url: '/admin/websites/search',
        data: {
          tag: $(this).attr("data-name")
        }
      });
    });
  });
</script>
