<% content_for :navigation_title do %>
  Websites
  <%= link_to new_admin_website_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Website
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to the Digital Registry
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Inventorying Digital Assets
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Websites are digital assets.
        Any Touchpoints user can view website information.
        Use the search bar to find your website(s). Click the domain to see the site details.
      If you are a website’s point of contact, you can edit the site’s details.
      </p>
      <p>
        For more information regarding managing Website records,
        see the
        <%= link_to "Touchpoints wiki", "https://github.com/GSA/touchpoints/wiki/Websites", target: "_blank", rel: "noopener" %>.
      </p>
      <%= render 'components/feedback-button' %>
    </div>
  </div>
</div>

<br/>

<div class="well">
  <div class="grid-row grid-gap-lg">
    <div class="tablet:grid-col-6">
      <div class="field">
        <h3>
          <span class="fa fa-search"></span>
          Search websites
        </h3>
        <%= label_tag :search_text, "by domain, email, office, sub-office, or contact emails", class: "font-sans-2xs" %>
        <%= text_field_tag :search_text, nil, class: "usa-input", autofocus: true %>
      </div>
    </div>
    <div class="tablet:grid-col-6">
      <% if @tags.first %>
        <h3>
          <span class="fa fa-filter"></span>
          Filter by tag
        </h3>
        <br>
        <div class="tag-list">
          <% @tags.order(:name).each do | tag | %>
            <a href="#" class="search-tag-link" data-name="<%= tag.name %>">
              <span class="usa-tag">
                <%= tag.name %>
                (<%= tag.taggings_count %>)
              </span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="search-results">
  <%= render 'results' %>
</div>

<p>
  <%= link_to export_csv_admin_websites_path, class: "usa-button usa-button--outline" do %>
    <i class="fa fa-download"></i>
    Export all websites to CSV
  <% end %>
  <% if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to 'Preview Website Data Collection', collection_preview_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% end %>
</p>

<script>
  $(function() {
    $("#main-content").css("overflow-x", "scroll");

    $("#search_text").on("keyup", debounce(function() {
      var searchValue = $("#search_text").val();

      $.ajax({
        url: '/admin/websites/search',
        data: {
          search: searchValue
        }
      });
    }, 400));

    $(".search-tag-link").on("click", function(e) {
      e.preventDefault();

      $("#search_text").val("");
      $.ajax({
        url: '/admin/websites/search',
        data: {
          tag: $(this).attr("data-name")
        }
      });
    });
  });
</script>
