<% content_for :navigation_title do %>
  Websites
<% end %>
<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin
  <% end %>
</p>

<div class="usa-alert usa-alert--info" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      Website inventory is an experimental feature.
    </h3>
    <p class="usa-alert__text">
      The GSA EDX team is current exploring ways to improve governance
      of shared data assets.
    </p>
    <p class="usa-alert__text">
      A shared governance model is being developed to support the maintenance
      of this inventory of GSA websites.
    </p>
  </div>
</div>

<p>
  Count = <%= @websites.size %>
  &middot;
  <%= link_to "Active sites", "?" %>
  <%= link_to "Include inactive sites", "?all=1" %>
</p>
<table class="usa-table" style="overflow-x: scroll;">
  <thead>
    <tr>
      <th>Production status</th>
      <th>Office</th>
      <th>Sub-office</th>
      <th>Domain</th>
      <th>Staging Site</th>
      <th>Site owner email</th>
    </tr>
  </thead>

  <tbody>
    <% @websites.order(:production_status).each do |website| %>
      <tr>
        <td><%= website.production_status %></td>
        <td><%= website.office %></td>
        <td><%= website.sub_office %></td>
        <td><%= link_to(website.domain, admin_website_path(website)) %></td>
        <td>
          <%= website.domain.include?("staging") || website.domain.include?("preview") || website.domain.include?("sandbox") || website.domain.include?("beta") ? "YES" : "" %>
        </td>
        <td><%= website.site_owner_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create New Website', new_admin_website_path, class: "usa-button" %>
</p>

<p>
  <%= link_to 'Export all websites to CSV', export_csv_admin_websites_path, class: "usa-button usa-button--outline" %>
</p>

<script>
  $(function() {
    $("#main-content").css("overflow-x", "scroll");
  })
</script>
