<% content_for :navigation_title do %>
  Websites
  <%= link_to new_admin_website_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Website
  <% end %>
<% end %>

<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin
  <% end %>
</p>

<div class="usa-alert usa-alert--info" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      Website inventory is an experimental feature.
    </h3>
    <p class="usa-alert__text">
      The GSA EDX team is exploring ways to improve governance
      of shared data assets.
    </p>
    <p class="usa-alert__text">
      A shared governance model is being developed to support the maintenance
      of this inventory of GSA websites.
    </p>
  </div>
</div>

<div class="well usa-prose">
  <p>
    All websites are viewable by Touchpoints users.
  </p>
  <p>
    Website editing permissions are assigned to users who have an email
    that matches the
    Website Contact or Website Manager emails
    for a Website.
  </p>
  <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--outline", target: "_blank" do %>
    <i class="fa fa-info-circle"></i>
    Get help
  <% end %>
</div>

<br/>

<div class="field">
<%= label_tag :search_text, "Find Websites: " %>
<%= text_field_tag :search_text, nil, class: "usa-input", placeholder: "Search by domain, email, office, or sub-office" %>
</div>

<div class="search-results">
  <%= render 'results' %>
</div>

<p>
  <%= link_to 'Export all websites to CSV', export_csv_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% if admin_permissions? %>
    <%= link_to 'Preview Website Data Collection', collection_preview_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% end %>
</p>

<script>
  $(function() {
    $("#main-content").css("overflow-x", "scroll");

    $("#search_text").keyup(function() {
      $.ajax({
        url: '/admin/websites/search',
        data: {
          search: $(this).val()
        }
      });
    });
  });
</script>
