<% content_for :navigation_title do %>
  Websites
  <%= link_to new_admin_website_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Website
  <% end %>
<% end %>

<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin
  <% end %>
</p>

<div class="usa-alert usa-alert--info" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      GSA Website Inventory
    </h3>
    <p class="usa-alert__text">
      <strong>
        What is this?
      </strong>
      <br>
      The Website Inventory is a list of GSA’s public-facing, production websites.
    </p>
    <p class="usa-alert__text">
      <strong>
        Why this? Why now?
      </strong>
      <br>
      GSA’s Enterprise Digital Experience (EDX) Team is currently exploring ways to improve the user experience of data calls. A shared governance model is being developed to support the maintenance of this GSA Website Inventory.
    </p>
  </div>
</div>

<div class="well usa-prose">
  <p>
    <strong>
      How do I use the Inventory?
    </strong>
  </p>
  <p>
    Any Touchpoints user can view website information. Use the search bar to find your website(s). Click the View button to see website details. If you are the website’s manager or point of contact, you can also edit the website’s details.
  </p>
  <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--outline", target: "_blank" do %>
    <i class="fa fa-info-circle"></i>
    Get help
  <% end %>
</div>

<br/>

<div class="field">
<%= label_tag :search_text, "Find Websites: " %>
<%= text_field_tag :search_text, nil, class: "usa-input", placeholder: "Search by domain, email, office, or sub-office" %>
</div>

<div class="search-results">
  <%= render 'results' %>
</div>

<p>
  <%= link_to 'Export all websites to CSV', export_csv_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% if admin_permissions? %>
    <%= link_to 'Preview Website Data Collection', collection_preview_admin_websites_path, class: "usa-button usa-button--outline" %>
  <% end %>
</p>

<script>
  $(function() {
    $("#main-content").css("overflow-x", "scroll");

    $("#search_text").keyup(function() {
      $.ajax({
        url: '/admin/websites/search',
        data: {
          search: $(this).val()
        }
      });
    });
  });
</script>
