<% content_for :navigation_title do %>
  Website: <%= @website.domain %>
  <% if @website.admin?(user: current_user) %>
    <%= link_to edit_admin_website_path(@website), class: "usa-button usa-button-inverted float-right" do %>
      <i class="fa fa-pencil-alt"></i>
      Edit
    <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_websites_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Websites
  <% end %>
</p>

<%= render 'admin/websites/step_indicator', website: @website %>

<div class="grid-row grid-gap-lg">
  <div class="desktop:grid-col-8">
    <div class="usa-section">
      <h3>
        Organizational information
      </h3>
      <label class="usa-label margin-bottom-1" for="organization">
        Organization/agency
        <span class="fa fa-info-circle usa-tooltip"
          data-position="right"
          title="The Federal Agency this website belongs to">
        </span>
      </label>
      <%= link_to @website.organization.name, admin_organization_path(@website.organization) %>

      <div class="grid-row">
        <div class="grid-col-12">
          <label class="usa-label" for="office">
            Office &middot; Sub-office
          </label>
          <%= @website.office? ? @website.office : 'no office specified' %>
          &middot;
          <%= @website.sub_office? ? @website.sub_office : 'no sub-office specified' %>
        </div>
      </div>

      <label class="usa-label margin-bottom-1" for="domain">
        Domain
        <span class="fa fa-info-circle usa-tooltip"
          data-position="right"
          title="The domain of the website, excluding http(s).">
        </span>
      </label>
      <%= link_to @website.domain, "https://#{@website.domain}", target: "_blank", rel: "noopener" %>

      <% if @website.redirects_to %>
        <label class="usa-label" for="redirects_to">
          Redirects to
        </label>
        <br>
        <%= link_to @website.redirects_to, @website.redirects_to %>
      <% end %>
    </div>

    <div class="usa-section border-top border-base-lighter">
      <h3>
        Website contact information
      </h3>

      <div class="grid-row grid-gap-lg">
        <div class="grid-col-12">
          <label class="usa-label margin-bottom-1" for="site_owner_email">
            Primary website contact
            <span class="fa fa-info-circle usa-tooltip"
            data-position="right"
            title="Typically, the Product Owner or Program Manager of a web property.">
          </span>
        </label>
        <%= @website.site_owner_email %>
        </div>
      </div>
      <div class="grid-col-12">
        <label class="usa-label" for="site_owner_email">
          Additional website contacts
          <span class="fa fa-info-circle usa-tooltip"
            data-position="right"
            title="A list of additional staff responsible for the website.">
          </span>
        </label>
        <% if @website.website_managers.present? %>
        <ul class="usa-list">
          <% @website.website_managers.each do |manager| %>
          <li>
            <%= link_to manager.email, admin_user_path(manager) %>
          </li>
          <% end %>
        </ul>
        <% else %>
        <br>
        <div class="usa-alert usa-alert--warning usa-alert--slim">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              No additional website contacts have been assigned.
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="grid-col-12">
        <label class="usa-label" for="site_owner_email">
          Public website email
          <span class="fa fa-info-circle usa-tooltip"
            data-position="right"
            title="The email address the public would use to contact for help.">
          </span>
        </label>
        <% if @website.contact_email.present? %>
        <p>
          <%= @website.contact_email %>
        </p>
        <% else %>
          <br>
          <div class="usa-alert usa-alert--warning usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                A public contact email has not been specified.
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="usa-section border-top border-base-lighter">
      <h3>
        Customer experience
      </h3>

      <div class="grid-row">
        <div class="grid-col-12">
          <label class="usa-label" for="required_by_law_or_policy">
            Service
          </label>
          <span class="font-sans-3xs">
            Optionally, this Website can be associated with a
            <%= link_to "Service", admin_services_path %>.
          </span>
          <% if @website.service %>
            <p>
              <ul class="usa-list">
                <li>
                  <%= link_to @website.service.name, admin_service_path(@website.service) %>
                </li>
              </ul>
            </p>
          <% else %>
          <br>
          <br>
          <div class="usa-alert usa-alert--info usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                This Website is not associated with a Service.
              </p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="grid-col-12">
          <label class="usa-label" for="site_owner_email">
            Personas
          </label>
          <span class="font-sans-3xs">
            Optionally, this Website can reference user
            <%= link_to "Personas", admin_personas_path %>.
          </span>

          <% if @website.personas.present? %>
          <ul class="usa-list">
          <% @website.website_personas.each do |persona| %>
            <li>
              <%= link_to persona.name, admin_persona_path(persona) %>
            </li>
          <% end %>
          </ul>
          <% else %>
          <br>
          <br>
          <div class="usa-alert usa-alert--info usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                No Personas have been associated.
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="usa-section border-top border-base-lighter">
      <h3>
        Organizational reporting
      </h3>

      <div class="grid-row">
        <div class="grid-col-6">
          <label class="usa-label" for="type_of_site">
            Type of site
          </label>
          <p>
            <ul class="usa-list usa-list--unstyled">
              <% Website::TYPE_OF_SITES.each_pair do |category, description| %>
              <li>
                <span class="usa-tag bg-primary-light
                  <%= "bg-primary" if category.downcase == @website.type_of_site.downcase %>">
                  <%= category %>
                </span>
              </li>
              <% end %>
            </ul>
          </p>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="digital_brand_category">
            Digital brand category
          </label>
          <p>
            <ul class="usa-list usa-list--unstyled">
              <% Website::DIGITAL_BRAND_CATEGORIES.each_pair do |category, description| %>
              <li>
                <span class="usa-tag bg-primary-light <%= "bg-primary" if @website.digital_brand_category? && category.downcase == @website.digital_brand_category.downcase %>"><%= category %></span>
              </li>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col-6">
          <label class="usa-label" for="required_by_law_or_policy">
            Required by law or policy
          </label>
          <%= @website.required_by_law_or_policy || "no answer" %>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="notes">
            Notes
          </label>
          <%= @website.notes %>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col-6">
        </div>
        <div class="grid-col-6">
        </div>
      </div>
    </div>

    <div class="usa-section border-top border-base-lighter">
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-12">
          <h3>
            Technical information
          </h3>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            USWDS version
          </label>
          <%= @website.uswds_version || "no answer" %>
          &nbsp;
          <br>
          <span class="font-sans-3xs">
            <%= link_to "See latest version", "https://designsystem.digital.gov/about/releases/", target: "_blank", rel: "noopener" %>
          </span>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Customer feedback tool
          </label>
          <%= @website.feedback_tool %>
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Authentication tool
          </label>
          <%= @website.authentication_tool || "---" %>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Uses tracking cookies
          </label>
          <%= @website.uses_tracking_cookies || "---" %>
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Has Search?
          </label>
          <%= @website.has_search? %>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Sitemap url
          </label>
          <%= @website.sitemap_url || "---" %>
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-6">
          <label class="usa-label margin-bottom-1" for="parent_domain">
            Repository url
          </label>
          <% if @website.repository_url? %>
            <%= link_to @website.repository_url, @website.repository_url, target: "_blank", rel: "noopener" %>
          <% else %>
          <div class="usa-alert usa-alert--error usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                Repository URL not specified
              </p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="grid-col-6">
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-6">
          <label class="usa-label margin-bottom-1" for="hosting_platform">
            Hosting platform
          </label>
          <% if @website.hosting_platform? %>
            <%= @website.hosting_platform %>
          <% else %>
            <div class="usa-alert usa-alert--error usa-alert--slim">
              <div class="usa-alert__body">
                <p class="usa-alert__text">
                  Hosting platform not specified
                </p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="grid-col-6">
          <label class="usa-label margin-bottom-1" for="cms_platform">
            Content management platform
          </label>
        <% if @website.cms_platform? %>
          <%= @website.cms_platform %>
        <% else %>
          <div class="usa-alert usa-alert--error usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                Content management platform not specified
              </p>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="grid-col-6">
          <label class="usa-label" for="has_dap">
            Uses Digital Analytics Program (DAP)?
          </label>
          <%= @website.has_dap? %>
        </div>
        <div class="grid-col-6">
          <label class="usa-label" for="parent_domain">
            Analytics url
          </label>
          <%= @website.analytics_url || "---" %>
        </div>
      </div>
    </div>

  </div>
  <div class="desktop:grid-col-4">
    <% if website_permissions?(website: @website, user: current_user) %>
      <%= render 'admin/websites/tasks/bar', website: @website %>
    <% end %>

  <% if @website.organization.abbreviation == "GSA" %>
    <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--outline width-full", target: "_blank", rel: "noopener" do %>
      <i class="fa fa-comment"></i>
      &nbsp;
      Contact the GSA EDX team
    <% end %>
  <% end %>

  <% if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to statuscard_admin_website_path(@website), class: "usa-button usa-button--outline width-full margin-top-2", target: "_blank" do %>
      <i class="fa fa-check"></i>
      Status card
    <% end %>
  <% end %>

    <div class="tags-div well">
      <%= render 'admin/websites/tags', website: @website %>
    </div>

    <%= render 'components/event_log', events: @events %>
  </div>
</div>
