<% content_for :navigation_title do %>
  Website: <%= @website.domain %>
  <% if @website.admin?(user: current_user) %>
    <%= link_to edit_admin_website_path(@website), class: "usa-button usa-button-inverted float-right" do %>
      <i class="fa fa-pencil-alt"></i>
      Edit Website
    <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_websites_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Websites
  <% end %>
</p>

<br>

<% if @website.production_status ==  "Archived" %>
<div class="usa-alert usa-alert--warning" >
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      The website
      <%= @website.domain %>
      is archived.
    </p>
  </div>
</div>
<br>
<% end %>

<% if admin_permissions? && @website.production_status == "newly_requested" %>
<div class="usa-section well">
  <p>
    This website <%= @website.domain %>
    was created for approval about
    <%= time_ago_in_words(@website.created_at) %> ago.
  </p>
  <%= link_to "Approve", approve_admin_website_path(@website), class: "usa-button usa-button--success bg-mint", method: :post %>
  <%= link_to "Deny", deny_admin_website_path(@website), class: "usa-button usa-button--secondary", method: :post %>
</div>
<% end %>

<%= render 'admin/websites/step_indicator', website: @website %>

<div class="grid-row grid-gap-md">

  <div class="grid-col-6">
    <h3>
      Domain and organization
    </h3>
    <div class="grid-row">
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Parent domain
        </label>
        <%= @website.domain.split(".")[-2..-1].join(".") %>
      </div>
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="domain">
          Domain
        </label>
        <%= link_to @website.domain, "https://#{@website.domain}", target: "_blank", rel: "noopener" %>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="office">
          Office
        </label>
        <%= @website.office %>
      </div>
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="suboffice">
          Sub-office
        </label>
        <%= @website.sub_office %>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="contact_email">
          Contact email
        </label>
        <%= @website.contact_email %>
      </div>
      <div class="grid-col-6">
        <label class="usa-label text-uppercase font-body-3xs" for="site_owner_email">
          Webite Manager email
        </label>
        <%= @website.site_owner_email %>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-12">
        <label class="usa-label text-uppercase font-body-3xs" for="contact_email">
          Last Updated
        </label>
        <p>
          <%= link_to(@website.updated_at.strftime('%Y-%m-%d'), events_admin_website_path(@website))%>
          <small>
            -
            <%= time_ago_in_words(@website.updated_at) %> ago
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-col-6">
    <h3>
      Website status and links
    </h3>
    <div class="grid-row">
      <div class="grid-col-12">
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            Status
          </label>
          <ul class="usa-list usa-list--unstyled">
            <% Website::PRODUCTION_STATUSES.each_pair do |key, value| %>
            <li>
              <span class="usa-tag bg-primary-light <%= "bg-primary" if @website.production_status == key %>"><%= value %></span>
            </li>
          <% end %>
          </ul>
        </p>
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            USWDS version
          </label>
          <%= @website.uswds_version || "---" %>
          <br>
          <small>
            <%= link_to "See latest version", "https://designsystem.digital.gov/about/releases/", target: "_blank", rel: "noopener" %>
          </small>
        </p>
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            Redirects to
          </label>
          <%= @website.redirects_to || "---" %>
        </p>
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            Sitemap url
          </label>
          <%= @website.sitemap_url || "---" %>
        </p>
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            Mobile friendly
          </label>
          <%= @website.mobile_friendly || "---" %>
        </p>
        <p>
          <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
            Has Search?
          </label>
          <%= @website.has_search || "---" %>
        </p>
        <p>
          <small>
            Provided by
            <a href="https://digital.gov/site-scanning/" target="_blank">
              Site Scanner
            </a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="well">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-6">
      <h3>
        Organizational readiness
      </h3>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Required by law or policy
        </label>
        <%= @website.required_by_law_or_policy || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Type of site
        </label>
        <p>
          <ul class="usa-list usa-list--unstyled">
            <% Website::TYPE_OF_SITES.each_pair do |category, description| %>
            <li>
              <span class="usa-tag bg-primary-light <%= "bg-primary" if category.downcase == @website.type_of_site.downcase %>"><%= category %></span>
            </li>
            <% end %>
          </ul>
        </p>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Digital brand category
        </label>
        <p>
          <ul class="usa-list usa-list--unstyled">
            <% Website::DIGITAL_BRAND_CATEGORIES.each_pair do |category, description| %>
            <li>
              <span class="usa-tag bg-primary-light <%= "bg-primary" if @website.digital_brand_category? && category.downcase == @website.digital_brand_category.downcase %>"><%= category %></span>
            </li>
            <% end %>
          </ul>
        </p>
      </p>
    </div>
    <div class="grid-col-6">
      <h3>
        Platform choices
      </h3>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Repository url
        </label>
        <%= link_to @website.repository_url, @website.repository_url, target: "_blank", rel: "noopener" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Hosting platform
        </label>
        <%= @website.hosting_platform || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Content management platform
        </label>
        <%= @website.cms_platform || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Has DAP?
        </label>
        <%= @website.has_dap || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          DAP GTM code
        </label>
        <%= @website.dap_gtm_code || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Analytics url
        </label>
        <%= @website.analytics_url || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Customer feedback tool
        </label>
        <%= @website.feedback_tool || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Uses tracking cookies
        </label>
        <%= @website.uses_tracking_cookies || "---" %>
      </p>
      <p>
        <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
          Authentication tool
        </label>
        <%= @website.authentication_tool || "---" %>
      </p>
    </div>
  </div>
</div>

<div class="well">
  <p>
    <label class="usa-label text-uppercase font-body-3xs" for="parent_domain">
      Notes
    </label>
    <%= @website.notes || "---" %>
  </p>
</div>

<p>
  <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" do %>
    <i class="fa fa-info-circle"></i>
    Ask a question or provide feedback
  <% end %>
  <% if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to statuscard_admin_website_path(@website), class: "usa-button usa-button--outline", target: "_blank" do %>
      <i class="fa fa-check"></i>
      Status card
    <% end %>
  <% end %>
</p>
