<% content_for :navigation_title do %>
  Website: <%= @website.domain %>
  <% if @website.admin?(user: current_user) %>
    <%= link_to edit_admin_website_path(@website), class: "usa-button usa-button-inverted float-right" do %>
      <i class="fa fa-pencil-alt"></i>
      Edit Website
    <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_websites_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Websites
  <% end %>
</p>

<% if @website.production_status == "archived" %>
<div class="usa-alert usa-alert--warning">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      The website
      <%= @website.domain %>
      is archived.
    </p>
  </div>
</div>
<br>
<% end %>

<% if admin_permissions? && @website.production_status == "newly_requested" %>
<div class="usa-section bg-base-lightest padding-2">
  <div class="grid-row grid-gap-lg">
    <div class="tablet:grid-col-6">
      <div class="">
        <span class="usa-tag">
          task
        </span>
        for
        <span class="usa-tag bg-violet">
          Digital registry managers
        </span>
      </div>
    </div>
    <div class="tablet:grid-col-6 text-right">
      <small>
        For more information on business processes related to Websites,
        see the
        <a href="https://github.com/GSA/touchpoints/wiki/Websites" class="usa-link" target="_blank">Touchpoints wiki</a>.
      </small>
    </div>
  </div>
  <div class="padding-10">
    <p>
      This website <%= @website.domain %>
      was created for approval about
      <%= time_ago_in_words(@website.created_at) %> ago
      by <%= @website.site_owner_email %>.
    </p>

    <div>
      <%= link_to "Approve", approve_admin_website_path(@website), class: "usa-button usa-button--success bg-mint", method: :post, data: { confirm: "Are you sure?" } %>
      <%= link_to "Deny", deny_admin_website_path(@website), class: "usa-button usa-button--secondary", method: :post, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
<br>
<% end %>

<%= render 'admin/websites/step_indicator', website: @website %>

<div class="grid-row grid-gap-md">
  <div class="grid-col-12">
    <small>
      <span class="fa fa-clock"></span>
      Last updated
      <%= link_to(@website.updated_at.strftime('%Y-%m-%d'), events_admin_website_path(@website)) %>
      &middot;
      <%= time_ago_in_words(@website.updated_at) %> ago
    </small>
  </div>
</div>

<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-6">
    <label class="usa-label" for="domain">
      Domain
    </label>
    <small>
      The domain of the website, excluding http(s).
    </small>
    <br>
    <%= link_to @website.domain, "https://#{@website.domain}", target: "_blank", rel: "noopener" %>
  </div>
  <div class="tablet:grid-col-6">
    <label class="usa-label" for="redirects_to">
      Redirects to
    </label>
    <% if @website.redirects_to %>
    <%= @website.redirects_to %>
    <% else %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Not currently redirecting
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<section class="usa-section">
  <div class="grid-row">
    <div class="grid-col-12">
      <h3>
        Website contact information
      </h3>
    </div>
  </div>

  <div class="grid-row grid-gap-lg">
    <div class="tablet:grid-col-3">
      <label class="usa-label" for="office">
        Office
      </label>
      <%= @website.office %>
      &nbsp;
    </div>
    <div class="tablet:grid-col-3">
      <label class="usa-label" for="office">
        Sub-office
      </label>
      <%= @website.sub_office %>
    </div>
  </div>
</section>


<div class="grid-row grid-gap-lg">
  <div class="grid-col-12">
    <label class="usa-label" for="site_owner_email">
      Website owner emails
    </label>
    <%= @website.site_owner_email %>
  </div>
  <div class="grid-col-12">
    <label class="usa-label" for="site_owner_email">
      Website managers
    </label>
    <small>
      List the staff responsible for the website.
      <br>
      See Touchpoints-related responsibilities of a Website Manager
      <%= link_to "here", "https://github.com/GSA/touchpoints/wiki/Personas#website-manager" %>.
    </small>
    <br>

    <% if @website.website_managers.present? %>
    <ul class="usa-list">
    <% @website.website_managers.each do |manager| %>
      <li>
        <%= link_to manager.email, admin_user_path(manager) %>
      </li>
    <% end %>
    </ul>
    <% else %>
    <br>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          No website managers have been defined.
        </p>
      </div>
    </div>
    <% end %>

    <div class="tablet:grid-col-6">
      <label class="usa-label" for="site_owner_email">
        Contact email
      </label>
      <%= @website.contact_email %>
    </div>
  </div>
</div>

<div class="usa-section">
  <h3>
    Organizational context
  </h3>

  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="required_by_law_or_policy">
        Service
      </label>
      <span class="font-sans-3xs">
        Optionally, this Website can be associated with a
        <%= link_to "Service", admin_services_path %>.
      </span>
      <% if @website.service %>
        <p>
          <%= link_to @website.service.name, admin_service_path(@website.service) %>
        </p>
      <% else %>
      <div class="usa-alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            This Website is not associated with a Service.
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="site_owner_email">
        Personas
      </label>

      <% if @website.personas.present? %>
      <ul class="usa-list">
      <% @website.website_personas.each do |persona| %>
        <li>
          <%= link_to persona.name, admin_persona_path(persona) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No personas have been associated.
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="type_of_site">
        Type of site
      </label>
      <p>
        <ul class="usa-list usa-list--unstyled">
          <% Website::TYPE_OF_SITES.each_pair do |category, description| %>
          <li>
            <span class="usa-tag bg-primary-light <%= "bg-primary" if category.downcase == @website.type_of_site.downcase %>"><%= category %></span>
          </li>
          <% end %>
        </ul>
      </p>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="digital_brand_category">
        Digital brand category
      </label>
      <p>
        <ul class="usa-list usa-list--unstyled">
          <% Website::DIGITAL_BRAND_CATEGORIES.each_pair do |category, description| %>
          <li>
            <span class="usa-tag bg-primary-light <%= "bg-primary" if @website.digital_brand_category? && category.downcase == @website.digital_brand_category.downcase %>"><%= category %></span>
          </li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="required_by_law_or_policy">
        Required by law or policy
      </label>
      <%= @website.required_by_law_or_policy || "no answer" %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="notes">
        Notes
      </label>
      <%= @website.notes %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
    </div>
    <div class="grid-col-6">
    </div>
  </div>
</div>

<div>
  <div class="grid-row">
    <div class="grid-col-12">
      <div class="tags-div">
        <%= render 'admin/websites/tags', website: @website %>
      </div>
    </div>
  </div>
</div>

<div class="usa-section">
  <div class="grid-row">
    <div class="grid-col-12">
      <h3>
        Technical information
      </h3>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        USWDS version
      </label>
      <%= @website.uswds_version || "no answer" %>
      &nbsp;
      <br>
      <span class="font-sans-3xs">
        <%= link_to "See latest version", "https://designsystem.digital.gov/about/releases/", target: "_blank", rel: "noopener" %>
      </span>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Customer feedback tool
      </label>
      <%= @website.feedback_tool %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Authentication tool
      </label>
      <%= @website.authentication_tool || "---" %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Uses tracking cookies
      </label>
      <%= @website.uses_tracking_cookies || "---" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Has Search?
      </label>
      <%= @website.has_search? %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Sitemap url
      </label>
      <%= @website.sitemap_url || "---" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Repository url
      </label>
      <%= link_to @website.repository_url, @website.repository_url, target: "_blank", rel: "noopener" %>
    </div>
    <div class="grid-col-6">
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Hosting platform
      </label>
      <%= @website.hosting_platform || "---" %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Content management platform
      </label>
      <%= @website.cms_platform || "---" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Uses Digital Analytics Program (DAP)?
      </label>
      <%= @website.has_dap? %>
    </div>
    <div class="grid-col-6">
      <label class="usa-label" for="parent_domain">
        Analytics url
      </label>
      <%= @website.analytics_url || "---" %>
    </div>
  </div>
</div>

  <div class="grid-col-12">
    <p>

    </p>
</div>

<p>
  <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" do %>
    <i class="fa fa-info-circle"></i>
    Ask a question or provide feedback
  <% end %>
  <% if organizational_website_manager_permissions?(user: current_user) %>
    <%= link_to statuscard_admin_website_path(@website), class: "usa-button usa-button--outline", target: "_blank" do %>
      <i class="fa fa-check"></i>
      Status card
    <% end %>
  <% end %>
</p>
