<div id="<%= dom_id cx_action_plan %>">
  <p>
    <strong>Service provider:</strong>
    <%= cx_action_plan.service_provider_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= cx_action_plan.year %>
  </p>

  <p>
    <strong>Delivered current year:</strong>
    <%= cx_action_plan.delivered_current_year %>
  </p>

  <p>
    <strong>To deliver next year:</strong>
    <%= cx_action_plan.to_deliver_next_year %>
  </p>

</div>
