<%= form_with(model: cx_action_plan, url: cx_action_plan.persisted? ? admin_cx_action_plan_path : admin_cx_action_plans_path, local: true, data: { turbo: false }) do |form| %>
  <%- if cx_action_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cx_action_plan.errors.count, "error") %> prohibited this cx_action_plan from being saved:</h2>

      <ul>
        <% cx_action_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_provider_id, class: "usa-label" %>
    <%= form.select :service_provider_id, options_for_select(@service_providers.map { |p| ["#{p.organization.abbreviation} - #{p.name}", p.id] }, cx_action_plan.service_provider_id), { prompt: "Which Service Provider?" }, { class: "usa-select" } %>
  </div>

  <div>
    <%= form.label :year, class: "usa-label" %>
    <%= form.number_field :year, class: "usa-input" %>
  </div>

  <div>
    <%= form.label :delivered_current_year, class: "usa-label" %>
    <%= form.text_area :delivered_current_year, class: "usa-textarea" %>
  </div>

  <div>
    <%= form.label :to_deliver_next_year, class: "usa-label" %>
    <%= form.text_area :to_deliver_next_year, class: "usa-textarea" %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
