<% content_for :navigation_title do %>
  CX Action Plans

  <%= link_to new_admin_cx_action_plan_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New CX Action Plan
  <% end %>
<% end %>

<div id="cx_action_plans">
  <table class="usa-table usa-table--striped">
    <thead>
      <tr>
        <th data-sortable scope="col">
          Organization name
        </th>
        <th data-sortable scope="col">
          Service Provider name
        </th>
        <th data-sortable scope="col">
          Year
        </th>
        <th>
        </th>
      </tr>
    </thead>
  <% @cx_action_plans.each do |cx_action_plan| %>
    <tr>
      <td>
        <%= cx_action_plan.service_provider.organization.name %>
      </td>
      <td>
        <%= cx_action_plan.service_provider.name %>
      </td>
      <td>
        <%= cx_action_plan.year %>
      </td>
      <td>
        <%= link_to 'View', admin_cx_action_plan_path(cx_action_plan) %>
      </td>
    </tr>
    <% end %>
    </table>
</div>
