<% content_for :navigation_title do %>
  CX Action Plan
  <%= link_to edit_admin_cx_action_plan_path(@cx_action_plan), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>
<p>
  <%= link_to admin_cx_action_plans_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX Action Plans
  <% end %>
</p>

<div <%= dom_id(@cx_action_plan) %>>
  <p>
    <strong>Organization name:</strong>
    <%= @cx_action_plan.service_provider.organization.name %>
  </p>

  <p>
    <strong>Service provider:</strong>
    <%= link_to @cx_action_plan.service_provider.name, admin_service_provider_path(@cx_action_plan.service_provider) %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @cx_action_plan.year %>
  </p>

  <p>
    <strong>Delivered current year:</strong>
    <%= to_markdown(@cx_action_plan.delivered_current_year) %>
  </p>

  <p>
    <strong>To deliver next year:</strong>
    <%= to_markdown(@cx_action_plan.to_deliver_next_year) %>
  </p>
</div>

<div class="grid-row margin-bottom-3">
  <div class="grid-col">
    <%= button_to "Destroy", admin_cx_action_plan_path(@cx_action_plan), class: "usa-button usa-button--secondary float-right", method: :delete %>
  </div>
</div>
