<% content_for :navigation_title do %>
  Performance reporting
  <div class="float-right">
    <%= link_to admin_goals_path, class: "usa-button usa-button-inverted" do %>
      Goals, objectives, targets
    <% end %>
    <%= link_to admin_milestones_path, class: "usa-button usa-button-inverted" do %>
      Milestones
    <% end %>
  </div>
<% end %>

<br>

<div class="grid-row">
  <div class="grid-col-12">
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information">
      <div class="usa-summary-box__body">
        <div class="usa-summary-box__text">
          <div class="grid-row">
          <div class="grid-col-6">
            <p>
              Touchpoints currently supports 3 Data Collections.
            </p>
            <ul>
              <li>
                CX Quarterly Data Collections
              </li>
              <li>
                Annual Performance Goals
              </li>
              <li>
                Annual GSA Website Inventory
              </li>
            </ul>
          </div>
          <div class="grid-col-6">
            <p>
              The data is used for:
            </p>
            <ul>
              <li>
                <a href="https://www.performance.gov/cx/" target="_blank">Performance.gov/cx</a>
              </li>
              <li>
                <a href="https://www.performance.gov/agencies/" target="_blank">Performance.gov/agencies</a>
              </li>
              <li>
                Annual reporting and 21st Century IDEA compliance
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="grid-row">
  <div class="grid-col-6">
    <p>
      <%= link_to "Send quarterly email", admin_quarterly_performance_notification_path %>
    </p>
  </div>
</div>
<section class="usa-section">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-4">
      <h3>
        Quarterly
      </h3>
      <p>
        <%= link_to admin_collections_path(year: 2022, quarter: 3), class: "usa-button usa-button--outline width-full" do %>
        CX Data Collection
        <% end %>
      </p>
    </div>
    <div class="grid-col-4">
      <h3>
        Annually
      </h3>
      <p>
        <%= link_to admin_apgs_path, class: "usa-button usa-button--outline width-full" do %>
        Performance Goal Reporting (APG)
        <% end %>
      </p>
    </div>
    <div class="grid-col-4" hidden>
      <h3>
        Ad-hoc
      </h3>
      <p>
      </p>
    </div>
  </div>
</section>
