<% content_for :navigation_title do %>
  Performance management
<% end %>

<div class="grid-row margin-top-2">
  <div class="grid-col-12">
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information">
      <div class="usa-summary-box__body">
        <div class="usa-summary-box__text">
          <div class="grid-row">
            <div class="grid-col-6">
              <p>
                Touchpoints currently supports 3 Data Collections.
              </p>
              <ul>
                <li>
                  Quarterly CX Data Collections
                </li>
                <li>
                  Bi-annual Cyber-security supply chain
                </li>
                <li>
                  Annual GSA Website Inventory
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%- if admin_permissions? %>
<div class="grid-row margin-top-2 well">
  <div class="grid-col-6">
    <span class="usa-tag">
      for Admins
    </span>
    <div class="margin-top-2">
      <%= link_to "Send quarterly email to all Users for Draft Collections", admin_quarterly_performance_notification_path(fiscal_year_and_quarter(Time.now)), method: :post, class:
    "usa-button usa-button--outline" %>
    </div>
  </div>
</div>
<% end %>

<section class="usa-section">
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-12">

      <div class="grid-row grid-gap-md">
        <div class="grid-col-4">
          <h3>
            Quarterly - every 3 months
          </h3>
          <p>
            <%= link_to admin_cx_collections_path(fiscal_year_and_quarter(Time.now)), class: "usa-button usa-button--outline width-full" do %>
              A-11 v2 CX Data Collection
            <% end %>
          </p>
        </div>
        <div class="grid-col-4">
          <h3>
            Bi-annually - every 6 months
          </h3>
          <%- if performance_manager_permissions? %>
          <p>
            <%= link_to admin_cscrm_data_collections_path, class: "usa-button usa-button--outline width-full" do %>
              Cybersecurity Supply-chain (C-SCRM) - February 2023
            <% end %>
          </p>
          <% end %>
          <p>
            <%= link_to admin_cscrm_data_collections2_index_path, class: "usa-button usa-button--outline width-full" do %>
              Cybersecurity Supply-chain (C-SCRM) - August 2023
            <% end %>
          </p>
        </div>
        <div class="grid-col-4">
          <h3>
            Annually - every 12 months
          </h3>
          <p>
            <%= button_to admin_root_path, class: "usa-button usa-button--outline width-full", disabled: true do %>
              Performance Goal Reporting (APG)
            <% end %>
          </p>
        </div>
        <div class="grid-col-4" hidden>
          <h3>
            Ad-hoc
          </h3>
          <p>
          </p>
        </div>
      </div>

    </div>
  </div>

</section>
