<% content_for :navigation_title do %>
  Performance management
  <%= link_to performance_edit_admin_organization_path(@organization), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_performance_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Performance
  <% end %>
</p>

<div>
  <h2>
    <%= current_user.organization.name %>
  </h2>
  <div class="grid-row">
    <div class="grid-col-12 usa-prose">
      <p>
        <strong>
          <%= current_user.organization.abbreviation %>
        </strong>
      </p>
      <p>
        <%= current_user.organization.mission_statement %>
      </p>

      <hr>

      <div class="grid-row font-sans-lg">
        <div class="grid-col-12">
          <div class="font-sans-sm">
            Planning
          </div>
          <p>
            Strategic plan
            &nbsp;
            <a href="#" class="font-sans-xs">PDF</a>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
          <p>
            Performance report (next year)
            &nbsp;
            <a href="#" class="font-sans-xs">PDF</a>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
          <p>
            Learning agenda
            &nbsp;
            <a href="#" class="font-sans-xs">Link to evaluation.gov</a>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
          <div class="font-sans-sm">
            Reporting
          </div>
          <p>
            Performance report (last year)
            &nbsp;
            <a href="#" class="font-sans-xs">PDF</a>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<h4>
  Strategic goals (4-year)
</h4>
<section class="usa-section">
<% current_user.organization.goals.where(four_year_goal: true, parent_id: nil).all.each do |goal| %>
  <div>
    <div class="font-sans-lg">
      <%= goal.name %>
    </div>
    <br>

    <% goal.objectives.each do |g| %>
    <div class="grid-row">
      <div class="grid-col-2">
      </div>
      <div class="grid-col-5">
        <div class="font-sans-md">
          <%= g.name %>
        </div>
      </div>
      <div class="grid-col-5">
        <%= g.description %>
      </div>
    </div>
    <br>
    <br>
    <% end %>
  </div>
  <br>
  <br>
<% end %>
<%= link_to "Create Strategic Goal", new_admin_goal_path(four_year_goal: true, organization_id: current_user.organization.id), class: "usa-button" %>
</section>

<hr>

<section class="usa-section">
  <h4>
    Annual Performance Goals (APG) (2-year)
  </h4>

  <% current_user.organization.goals.annual_performance_goals.each do |goal| %>
  <div class="font-sans-lg">
    <%= link_to goal.name, apg_admin_organization_path(current_user.organization, goal) %>
  </div>
  <br>
  <br>
  <% end %>

  <p>
    <%= link_to "Create APG", new_admin_goal_path(four_year_goal: false, organization_id: current_user.organization.id), class: "usa-button" %>
  </p>
</section>
