<div class="usa-checkbox question-option" id="<%= dom_id(option) %>" data-id="<%= option.id %>">
  <% @option_id = "#{question.answer_field}_#{(index + 1).to_s}" %>
  <%= check_box_tag(@option_id, option.value, nil, { class: "usa-checkbox__input usa-checkbox__input--tile", required: question.is_required }) %>
  <%= label_tag(nil, for: @option_id, class: "usa-checkbox__label") do %>
    <%= render 'components/forms/edit/question_types/update_value_text_fields', { question: question, option: option } %>
  <% end %>
  <% if ["OTHER", "OTRO"].include?(option.text.upcase) %>
    <%= label_tag(nil, for: "#{question.answer_field}_other", class: "usa-input__label") do %><%= t 'form.enter_other_text' %><% end %>
    <input type="text" name="<%= question.answer_field %>_other" id="<%= question.answer_field %>_other" data-option-id="<%= option.id %>" placeholder="<%= t 'form.enter_other_text' %>" class="usa-input other-option" />
    <br/>
  <% end %>
</div>
