<% @option_id = dom_id(option) %>
<div class="usa-checkbox question-option"
  id="<%= @option_id %>"
  data-id="<%= option.id %>">
  <%= check_box_tag(@option_id, option.value, nil, { class: "usa-checkbox__input usa-checkbox__input--tile", required: question.is_required }) %>
  <%= label_tag(nil, for: @option_id, class: "usa-checkbox__label") do %>
    <%= render 'components/forms/edit/question_types/update_value_text_fields', { question: question, option: option } %>
  <% end %>
  <%- if option.other_option %>
    <div class="margin-top-1">
    <%= label_tag(nil, for: "#{question.ui_selector}_other", class: "usa-input__label") do %><%= t 'form.enter_other_text' %><% end %>
    <input type="text"
      name="<%= question.ui_selector %>_other"
      id="<%= question.ui_selector %>_other"
      data-option-id="<%= @option_id %>"
      placeholder="<%= t 'form.enter_other_text' %>"
      maxlength="<%= Question::MAX_CHARACTERS %>"
      class="usa-input other-option" />
    </div>
  <% end %>
</div>
