<div class="question-option list-group-item" id="<%= dom_id(option) %>" data-id="<%= option.id %>">
  <%= check_box_tag("#{question.answer_field}_#{(index + 1).to_s}", index + 1, nil, { value: option.text , class: "usa-checkbox__input" }) %>
  <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}", class: "usa-checkbox__label") do %>
    <%= render 'components/forms/edit/question_types/update_value_text_fields', { question: question, option: option } %>
  <% end %>
</div>
