<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>" data-url="<%= admin_form_question_question_options_path(question.form, question) %>">
  <%= render 'components/question_title', question: question, form_builder: true %>
  <%= select_tag(question.answer_field.to_sym, options_for_select(question.question_options.each_with_index.map { |option, index| [option.text, option.value] }), { prompt: (t 'form.select_one'), class: "usa-select", required: question.is_required  }) %>
  <div class="question-options">
  <% question.question_options.each_with_index do |option, index| %>
    <p>
      <%= render "components/forms/edit/question_types/dropdown_option", question: question, option: option, index: index %>
    </p>
  <% end %>
  </div>
</div>
<div class="new-question-options-div margin-top-2">
  <div class="question-option-form"></div>
  <%= link_to new_admin_form_question_question_option_path(question.form, question), class: "usa-button usa-button--outline form-add-question-option" do %>
    <i class="fa fa-plus"></i>
    Add Dropdown Option
  <% end %>
</div>
