<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label">
    <%= question_number %>.
    <%= question.text %>
    <p>
      <span class="usa-tag">
        <%= question.answer_field %>
      </span>
      <% if question.is_required? %>
      <span class="usa-tag bg-secondary-vivid">
        Required
      </span>
      <% end %>
    </p>
  </label>
  <br>
  <div class="radio-button">
    <%= select_tag(question.answer_field.to_sym, options_for_select(question.question_options.each_with_index.map { |option, index| [option.text, option.value] }), { prompt: (t 'form.select_one'), class: "usa-select", required: question.is_required  }) %>
  </div>
  <% question.question_options.each_with_index do |option, index| %>
  <div>
    <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}") do %>
      <%= option.text %>
      <%= link_to "Edit", edit_admin_form_question_question_option_path(option.question.form, option.question, option) %>
    <% end %>
  </div>
  <% end %>
  <div class="new-question-options-div">
    <%= link_to "Add Dropdown Option", new_admin_form_question_question_option_path(question.form, question), class: "usa-button form-add-question-option" %>
  </div>
</div>
