<% @option_id = dom_id(option) %>
<div class="usa-radio question-option"
  id="<%= @option_id %>"
  data-id="<%= option.id %>">
  <%= radio_button_tag(@option_id, index + 1, nil, { name: question.answer_field, value: option.value, class: "usa-radio__input usa-radio__input--tile", required: question.is_required  }) %>
  <%= label_tag(nil, for: @option_id, class: "usa-radio__label") do %>
    <%= render 'components/forms/edit/question_types/update_value_text_fields', { question: question, option: option } %>
  <% end %>
</div>
