<div class="<%= question.answer_field %>" role="group" aria-labelledby="<%= question.answer_field %>">
  <legend class="usa-sr-only"><%= question.answer_field %></legend>
  <%= render 'components/question_title', question: question, form_builder: true %>
  <br>
  <div>
    <% question.question_options.each_with_index do |option, index| %>
      <%= check_box_tag("#{question.answer_field}_#{(index + 1).to_s}", index + 1, nil, { value: option.text , class: "usa-checkbox__input", required: question.is_required  }) %>
      <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}", class: "usa-checkbox__label usa-button", style: "width: 49%; margin: 1px; display: inline-block;") do %>
      <%= option.text %>
      <% end %>
    <% end %>
  </div>
  <br>
  <% question.question_options.each_with_index do |option, index| %>
  <div class="usa-checkbox question-option">
    <%= label_tag nil, for: "#{question.answer_field.to_sym}_#{option.position}" do %>
      <span class="question-option-view"><%= option.text %></span>
      <input type="text" value="<%= option.text %>" class="usa-input display-inline question-option-edit" data-href="<%= admin_form_question_question_option_path(option.question.form, option.question, option) %>" />
    <% end %>
    <span class="float-right">
      <%= link_to edit_admin_form_question_question_option_path(option.question.form, option.question, option), class: "edit button", style: "text-decoration: none;" do %>
        <i class="fas fa-pencil-alt" title="Edit question option" style="text-decoration: none;"></i>
      <% end %>
      &nbsp;
      &nbsp;
      <%= link_to edit_admin_form_question_question_option_path(option.question.form, option.question, option), class: "save button", style: "text-decoration: none;" do %>
        <i class="delete button fas fa-trash-alt" title="Delete question option" style="text-decoration: none; display:inherit; color: red;"></i>
      <% end %>
    </span>
  </div>
  <% end %>
  <br>
  <div class="new-question-options-div">
    <%= link_to new_admin_form_question_question_option_path(question.form, question), class: "usa-button usa-button--outline form-add-question-option" do %>
      <span class="fa fa-plus"></span>
      Add Matrix Checkbox Question Option
    <% end %>
  </div>
</div>
<br>
