<fieldset class="usa-fieldset radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <legend class="usa-sr-only"><%= question.answer_field %></legend>
  <%= render 'components/question_title', question: question, form_builder: true %>
  <% question.question_options.each_with_index do |option, index| %>
  <div class="radio-button usa-radio question-option">
    <%= radio_button_tag(question.answer_field.to_sym, index + 1, nil, { value: option.value, class: "usa-radio__input", required: question.is_required  }) %>
    <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}", class: "usa-radio__label") do %>
      <span class="question-option-view"><%= option.text %></span>
      <input type="text" value="<%= option.text %>" class="usa-input display-inline question-option-edit" data-href="<%= admin_form_question_question_option_path(option.question.form, option.question, option) %>" />
      <span class="float-right">
        <%= link_to edit_admin_form_question_question_option_path(option.question.form, option.question, option), style: "text-decoration: none", class: "edit button form-edit-question-option-checkbox" do %>
          <i class="fas fa-pencil-alt" title="Edit text" style="display:inherit"></i>
        <% end %>
        &nbsp;
        &nbsp;
        <%= link_to admin_form_question_question_option_path(option.question.form, option.question, option), style: "text-decoration: none", class: "form-delete-question-option delete button" do %>
          <i class="fas fa-trash-alt" title="Delete question option" style="display:inherit; color: red"></i>
        <% end %>
      </span>
    <% end %>
  </div>
  <% end %>
  <div class="new-question-options-div">
    <%= link_to new_admin_form_question_question_option_path(question.form, question), class: "usa-button usa-button--outline form-add-question-option" do %>
      <i class="fa fa-plus"></i>
      Add Radio Button Option
    <% end %>
  </div>
</fieldset>
