<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label" for="<%= question.answer_field.to_sym %>">
    <%= question_number %>.
    <%= question.text %>
  </label>
  <span class="usa-tag">
    <%= question.answer_field %>
  </span>
  <%= text_area_tag question.answer_field.to_sym, nil, class: "usa-textarea" %>
</div>
