<span class="question-option-view">
  <%= option.text %>
  <% if option.text != option.value %>(<%= option.value %>)<% end %>
</span>
<span class="question-option-edit">
  <input type="text" name="question_option_text" value="<%= option.text %>" class="usa-input display-inline" data-href="<%= admin_form_question_question_option_path(option.question.form, option.question, option) %>" />&nbsp;&nbsp;
  <input type="text" name="question_option_value" value="<%= option.value %>" class="usa-input display-inline"/>&nbsp;&nbsp;
  <%= link_to admin_form_question_question_option_path(question.form, question, option), class: "button form-save-question-option"  do %>
    <i class="fa fa-save"></i>
  <% end %>
</span>
<span class="float-right">
  <%= link_to admin_form_question_question_option_path(question.form, question, option), class: "delete button form-delete-question-option", method: :delete, data: { remote: true } do %>
    <i class="fas fa-trash-alt" title="Delete question option"></i>
  <% end %>
</span>
