<%= form_with(model: trigger, url: trigger.persisted? ? admin_trigger_path(trigger) : admin_triggers_path, local: true) do |form| %>
  <% if trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :touchpoint_id %>
    <%= form.number_field :touchpoint_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :fingerprint %>
    <%= form.text_field :fingerprint %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
