<%= form_with(model: form_template, url: form_template.persisted? ? admin_form_template_path(form_template) : admin_form_templates_path, local: true) do |form| %>
  <% if form_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_template.errors.count, "error") %> prohibited this form_template from being saved:</h2>

      <ul class="usa-list">
      <% form_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.text_field :name, class: "usa-input", placeholder: "What is the name of this Form?" %>
  </div>

  <div class="field">
    <%= form.label :title, class: "usa-label" %>
    <%= form.text_field :title, class: "usa-input", placeholder: "Enter the Title to display" %>
  </div>

  <div class="field">
    <%= form.label :instructions, class: "usa-label" %>
    <%= form.text_field :instructions, class: "usa-input", placeholder: "Add default Form Instructions" %>
  </div>

  <div class="field">
    <%= form.label :disclaimer_text, class: "usa-label" %>
    <%= form.text_area :disclaimer_text, class: "usa-textarea", placeholder: "Add default Disclaimer Text" %>
  </div>

  <div class="field">
    <%= form.label :kind, class: "usa-label" %>
    <%= form.text_field :kind, class: "usa-input", placeholder: "What kind of pre-defined Touchpoint Form?" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "usa-label" %>
    <%= form.text_area :notes, class: "usa-textarea", placeholder: "Add any system notes about the Form. Notes are not displayed." %>
  </div>

  <div class="field">
    <%= form.label :status, class: "usa-label" %>
    <%= form.text_field :status, class: "usa-input", placeholder: "not yet in use" %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
