<p id="notice"><%= notice %></p>

<h1>Form Templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
    <% if current_user.admin? %>
      <th></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @form_templates.each do |form_template| %>
      <tr>
        <td><%= link_to form_template.name, admin_form_template_path(form_template) %></td>
        <td><%= form_template.kind %></td>
      <% if current_user.admin? %>
        <td>
          <%= link_to 'Edit', edit_admin_form_template_path(form_template) %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Template', new_admin_form_template_path, class: "usa-button" %>
