<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form_template.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @form_template.title %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @form_template.instructions %>
</p>

<p>
  <strong>Disclaimer text:</strong>
  <%= @form_template.disclaimer_text %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @form_template.kind %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @form_template.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @form_template.status %>
</p>

<h3>
  Form Definition
</h3>
<% if @form_template %>
  <div class="code">
    Example Form - /<%= "components/forms/#{@form_template.kind}" %>
  </div>
  <%= render partial: "components/forms/#{@form_template.kind}", locals: { form: @form_template, touchpoint: nil } %>
<% else %>
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        Form content is currently custom-created by the Touchpoints Product Team.
        Please contact the Feedback Analytics Team for assistance.
      </p>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_admin_form_template_path(@form_template) %> |
<%= link_to 'Back', admin_form_templates_path %>
