<p id="notice"><%= notice %></p>

<h1>Programs</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.name, admin_program_path(program) %></td>
        <td><%= program.organization_id %></td>
        <td><%= program.url %></td>
        <td><%= link_to 'Edit', edit_admin_program_path(program) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Program', new_admin_program_path, class: "usa-button" %>
</p>
