<div class="well">
  <h1>
    PRA Contact
  </h1>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @pra_contact.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @pra_contact.email %>
  </p>
  <p>
    <strong>Organization:</strong>
    <%= @pra_contact.organization.name if @pra_contact.organization %>
  </p>
  <p>
    <strong>Department:</strong>
    <%= @pra_contact.department %>
  </p>
  <p>
    <strong>Program:</strong>
    <%= @pra_contact.program %>
  </p>
</div>
<%= link_to 'Edit', edit_admin_pra_contact_path(@pra_contact), class: "usa-button" %>
<%= link_to 'All PRA Contacts', admin_pra_contacts_path, class: "usa-button" %>
