<%= form_with(model: cscrm_data_collection, url: (cscrm_data_collection.persisted? ? admin_cscrm_data_collections2_path(cscrm_data_collection) : admin_cscrm_data_collections2_index_path), data: { turbo: false }) do |form| %>
  <% if cscrm_data_collection.errors.any? %>
    <div class="" style="color: red">
      <h2><%= pluralize(cscrm_data_collection.errors.count, "error") %> prohibited this cscrm_data_collection from being saved:</h2>

      <ul>
        <% cscrm_data_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if admin_permissions? %>
  <div class="field">
    <%= form.label :user_id, "User ID" %>
    <%= form.select :user_id,
        options_for_select(User.all.order(:email).map { |user| [user.email, user.id] }, selected: cscrm_data_collection.user_id ),
        {
          prompt: "Select a user",
          include_blank: true,
        },
        style: "display: inline-block; margin-right: 1em;",
        class: "usa-select" %>
  </div>
  <br>
  <% end %>

  <div class="field">
    <%= form.label :organization_id,
      "Organization" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, cscrm_data_collection.organization_id), { prompt: "Which Organization?" }, { class: "usa-select", required: true } %>
  </div>
  <br>

  <div class="field">
    <%= form.label :bureau_id,
      "Bureau" %>
    <%#= form.select :bureau_id,
      options_for_select(organization_dropdown_options, cscrm_data_collection.bureau_id),
      { prompt: "Which Bureau?" },
      { class: "usa-select" } %>
    <%= form.text_field :bureau, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :year, class: "usa-label" %>
    <%= form.text_field :year, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :quarter, class: "usa-label" %>
    <%= form.text_field :quarter, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :interdisciplinary_team,
      "#{CscrmDataCollection2.question_1[:number]}. #{CscrmDataCollection2.question_1[:text]}",
      class: "usa-label" %>
    <%= form.select :interdisciplinary_team,
      CscrmDataCollection2.question_1[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :interdisciplinary_team_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :interdisciplinary_team_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :pmo_established,
      "#{CscrmDataCollection2.question_2[:number]}. #{CscrmDataCollection2.question_2[:text]}",
      class: "usa-label" %>
    <%= form.select :pmo_established,
      CscrmDataCollection2.question_2[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :pmo_established_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :pmo_established_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :established_policy,
      "#{CscrmDataCollection2.question_3[:number]}. #{CscrmDataCollection2.question_3[:text]}",
      class: "usa-label" %>
    <%= form.select :established_policy,
      CscrmDataCollection2.question_3[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :established_policy_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :established_policy_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :supply_chain_acquisition_procedures,
      "#{CscrmDataCollection2.question_4[:number]}. #{CscrmDataCollection2.question_4[:text]}",
      class: "usa-label" %>
    <%= form.select :supply_chain_acquisition_procedures,
      CscrmDataCollection2.question_4[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :supply_chain_acquisition_procedures_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :supply_chain_acquisition_procedures_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :funding,
    "#{CscrmDataCollection2.question_5[:number]}. #{CscrmDataCollection2.question_5[:text]}",
    class: "usa-label" %>
    <%= form.select :funding,
      CscrmDataCollection2.question_5[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :funding_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :funding_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :identified_staff,
      "#{CscrmDataCollection2.question_6[:number]}. #{CscrmDataCollection2.question_6[:text]}",
      class: "usa-label" %>
    <%= form.select :identified_staff,
      CscrmDataCollection2.question_6[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :identified_staff_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :identified_staff_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :strategy_plan,
      "#{CscrmDataCollection2.question_7[:number]}. #{CscrmDataCollection2.question_7[:text]}",
      class: "usa-label" %>
    <%= form.select :strategy_plan,
      CscrmDataCollection2.question_7[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :strategy_plan_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :strategy_plan_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :governance_structure,
      "#{CscrmDataCollection2.question_8[:number]}. #{CscrmDataCollection2.question_8[:text]}",
      class: "usa-label" %>
    <%= form.select :governance_structure,
      CscrmDataCollection2.question_8[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :governance_structure_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :governance_structure_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :clearly_defined_roles,
      "#{CscrmDataCollection2.question_9[:number]}. #{CscrmDataCollection2.question_9[:text]}",
      class: "usa-label" %>

    <% CscrmDataCollection2.question_9[:options].each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:clearly_defined_roles, {
          multiple: true,
          checked: form.object.clearly_defined_roles&.include?(option[0]),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option[0], nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option[0], class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :clearly_defined_roles_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :clearly_defined_roles_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :identified_assets_and_essential_functions,
      "#{CscrmDataCollection2.question_10[:number]}. #{CscrmDataCollection2.question_10[:text]}",
      class: "usa-label" %>
    <% CscrmDataCollection2.question_10[:options].each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:identified_assets_and_essential_functions, {
          multiple: true,
          checked: form.object.identified_assets_and_essential_functions&.include?(option[0]),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option[0], nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option[0], class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :identified_assets_and_essential_functions_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :identified_assets_and_essential_functions_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :prioritization_process,
      "#{CscrmDataCollection2.question_11[:number]}. #{CscrmDataCollection2.question_11[:text]}",
      class: "usa-label" %>
    <%= form.select :prioritization_process,
      CscrmDataCollection2.question_11[:options],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :prioritization_process_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :prioritization_process_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection2.question_12[:number]}. #{CscrmDataCollection2.question_12[:text]}" %></legend>
    <%= form.label :considerations_in_procurement_processes,
    "#{CscrmDataCollection2.question_12[:number]}. #{CscrmDataCollection2.question_12[:text]}",
    class: "usa-label" %>
    <br>
    <% CscrmDataCollection2.missions_identified_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:considerations_in_procurement_processes, {
          multiple: true,
          checked: form.object.considerations_in_procurement_processes&.include?(option[0]),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option[0], nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option[0], class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :considerations_in_procurement_processes_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :considerations_in_procurement_processes_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :documented_methodology,
    "#{CscrmDataCollection2.question_13[:number]}. #{CscrmDataCollection2.question_13[:text]}",
    class: "usa-label" %>
    <%= form.select :documented_methodology,
      CscrmDataCollection2.prioritization_process_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :documented_methodology_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :documented_methodology_comments, class: "usa-textarea" %>
  </div>


  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection2.question_14[:number]}. #{CscrmDataCollection2.question_14[:text]}" %></legend>
    <%= form.label :conducts_scra_for_prioritized_products_and_services,
    "#{CscrmDataCollection2.question_14[:number]}. #{CscrmDataCollection2.question_14[:text]}",
    class: "usa-label" %>
    <br>
    <% CscrmDataCollection2.personnel_required_to_complete_training_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:conducts_scra_for_prioritized_products_and_services, {
          multiple: true,
          checked: form.object.conducts_scra_for_prioritized_products_and_services&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :conducts_scra_for_prioritized_products_and_services_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :conducts_scra_for_prioritized_products_and_services_comments, class: "usa-textarea" %>
  </div>

   <div class="field">
    <%= form.label :personnel_required_to_complete_training,
      "#{CscrmDataCollection2.question_15[:number]}. #{CscrmDataCollection2.question_15[:text]}",
      class: "usa-label" %>
    <%= form.select :personnel_required_to_complete_training,
      CscrmDataCollection2.question_15[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :personnel_required_to_complete_training_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :personnel_required_to_complete_training_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :established_process_information_sharing_with_fasc,
      "#{CscrmDataCollection2.question_16[:number]}. #{CscrmDataCollection2.question_16[:text]}",
      class: "usa-label" %>
    <%= form.select :established_process_information_sharing_with_fasc,
      CscrmDataCollection2.question_16[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :established_process_information_sharing_with_fasc_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :established_process_information_sharing_with_fasc_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection2.question_17[:number]}. #{CscrmDataCollection2.question_17[:text]}" %></legend>
    <%= form.label :cybersecurity_supply_chain_risk_considerations,
    "#{CscrmDataCollection2.question_17[:number]}. #{CscrmDataCollection2.question_17[:text]}",
    class: "usa-label" %>
    <br>
    <% CscrmDataCollection2.question_17[:options].each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:cybersecurity_supply_chain_risk_considerations, {
          multiple: true,
          checked: form.object.cybersecurity_supply_chain_risk_considerations&.include?(option[0]),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option[0], nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option[0], class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :cybersecurity_supply_chain_risk_considerations_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :cybersecurity_supply_chain_risk_considerations_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :process_for_product_authenticity,
     "#{CscrmDataCollection2.question_18[:number]}. #{CscrmDataCollection2.question_18[:text]}", class: "usa-label" %>
    <%= form.select :process_for_product_authenticity,
      CscrmDataCollection2.question_18[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :process_for_product_authenticity_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :process_for_product_authenticity_comments, class: "usa-textarea" %>
  </div>


  <div class="field">
    <%= form.label :cscrm_controls_incorporated_into_ssp,
     "#{CscrmDataCollection2.question_19[:number]}. #{CscrmDataCollection2.question_19[:text]}", class: "usa-label" %>
    <%= form.select :cscrm_controls_incorporated_into_ssp,
      CscrmDataCollection2.question_19[:options],
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :cscrm_controls_incorporated_into_ssp_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :cscrm_controls_incorporated_into_ssp_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :comments,
      "20. General comments or context" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Overall context, challenges, obstacles, and accomplishments, etc. related to C-SCRM reporting
    </div>
    <%= form.text_area :comments, class: "usa-textarea" %>
  </div>

  <p>
    <%= form.submit (cscrm_data_collection.persisted? ? "Update CSCRM Data Collection" : "Create CSCRM Data Collection"), class: "usa-button" %>
  </p>
<% end %>
<script>
  $(function () {
    setHeartbeat("<%= admin_heartbeat_path %>");
  });
</script>