<% content_for :navigation_title do %>
  CSCRM Data Collection 2
  <%= link_to edit_admin_cscrm_data_collections2_path(@cscrm_data_collection), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_cscrm_data_collections2_index_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CSCRM Data Collections 2
  <% end %>
</p>

<% if @cscrm_data_collection.published? %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This data collection has been published.
      </p>
    </div>
  </div>
<% end %>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-8">
    <p>
      <strong>
        User:
      </strong>
      <br>
      <%= @cscrm_data_collection.user.email %>
    </p>

    <p>
      <strong>
        Organization name:
      </strong>
      <br>
      <%= @cscrm_data_collection.organization.name %>
    </p>

    <p>
      <strong>
        Bureau ID:
      </strong>
      <br>
      <%= @cscrm_data_collection.bureau_id %>
    </p>

    <p>
      <strong>
        Year:
      </strong>
      <br>
      <%= @cscrm_data_collection.year %>
    </p>

    <p>
      <strong>
        Quarter:
      </strong>
      <br>
      <%= @cscrm_data_collection.quarter %>
    </p>

    <hr>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_1")[:number] %>.
        <%= CscrmDataCollection2.send("question_1")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_1")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_1")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.interdisciplinary_team_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_2")[:number] %>.
        <%= CscrmDataCollection2.send("question_2")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_2")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_2")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.pmo_established_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_3")[:number] %>.
        <%= CscrmDataCollection2.send("question_3")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_3")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_3")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.established_policy_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_4")[:number] %>.
        <%= CscrmDataCollection2.send("question_4")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_4")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_4")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.supply_chain_acquisition_procedures_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_5")[:number] %>.
        <%= CscrmDataCollection2.send("question_5")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_5")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_5")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.funding_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_6")[:number] %>.
        <%= CscrmDataCollection2.send("question_6")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_6")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_6")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.identified_staff_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_7")[:number] %>.
        <%= CscrmDataCollection2.send("question_7")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_7")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_7")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.strategy_plan_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_8")[:number] %>.
        <%= CscrmDataCollection2.send("question_8")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_8")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_8")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.governance_structure_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_9")[:number] %>.
        <%= CscrmDataCollection2.send("question_9")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_9")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

      <% if [String, TrueClass, FalseClass].include?(value.class) %>
        <%= value %>
      <% elsif value.class == Array %>
        <ul>
          <% value.each do |v| %>
          <li>
            <%= v %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.clearly_defined_roles_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_10")[:number] %>.
        <%= CscrmDataCollection2.send("question_10")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_10")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

      <% if [String, TrueClass, FalseClass].include?(value.class) %>
        <%= value %>
      <% elsif value.class == Array %>
        <ul>
          <% value.each do |v| %>
          <li>
            <%= v %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.identified_assets_and_essential_functions_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_11")[:number] %>.
        <%= CscrmDataCollection2.send("question_11")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_11")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_11")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.prioritization_process_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_12")[:number] %>.
        <%= CscrmDataCollection2.send("question_12")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_12")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

      <% if [String, TrueClass, FalseClass].include?(value.class) %>
        <%= value %>
      <% elsif value.class == Array %>
        <ul>
          <% value.each do |v| %>
          <li>
            <%= v %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.considerations_in_procurement_processes_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_13")[:number] %>.
        <%= CscrmDataCollection2.send("question_13")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_13")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_13")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.documented_methodology_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_14")[:number] %>.
        <%= CscrmDataCollection2.send("question_14")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_14")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

      <% if [String, TrueClass, FalseClass].include?(value.class) %>
        <%= value %>
      <% elsif value.class == Array %>
        <ul>
          <% value.each do |v| %>
          <li>
            <%= v %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.conducts_scra_for_prioritized_products_and_services_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_15")[:number] %>.
        <%= CscrmDataCollection2.send("question_15")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_15")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_15")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.personnel_required_to_complete_training_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_16")[:number] %>.
        <%= CscrmDataCollection2.send("question_16")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_16")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_16")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.established_process_information_sharing_with_fasc_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_17")[:number] %>.
        <%= CscrmDataCollection2.send("question_17")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_17")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

      <% if [String, TrueClass, FalseClass].include?(value.class) %>
        <%= value %>
      <% elsif value.class == Array %>
        <ul>
          <% value.each do |v| %>
          <li>
            <%= v %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.cybersecurity_supply_chain_risk_considerations_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_18")[:number] %>.
        <%= CscrmDataCollection2.send("question_18")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_18")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_18")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.process_for_product_authenticity_comments %>
    </p>

    <p>
      <strong>
        <%= CscrmDataCollection2.send("question_19")[:number] %>.
        <%= CscrmDataCollection2.send("question_19")[:text] %>:
      </strong>
      <br>
      <% field = CscrmDataCollection2.send("question_19")[:field] %>
      <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>
      <%= CscrmDataCollection2.send("question_19")[:options].key(value) %>
      (<%= value %>)
    </p>

    <p>
      <strong>
        Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.cscrm_controls_incorporated_into_ssp_comments %>
    </p>

    <p>
      <strong>
        20. Comments
      </strong>
      <br>
      <%= @cscrm_data_collection.comments %>
    </p>
  </div>
  <div class="grid-col-4">
    <div class="well">
      <%= render 'components/step_indicator', collection: @cscrm_data_collection %>

      <p>
        <% if !@cscrm_data_collection.submitted? && !@cscrm_data_collection.published? %>
          <div class="usa-alert usa-alert--info usa-alert--slim font-sans-2xs">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                Submitting this Data Collection will send an email
                to <%= User.where(cscrm_data_collection_manager: true).collect(&:email).to_sentence %>
                who will
                1. review the data, then
                2. confirm the collection with you.
              </p>
            </div>
          </div>
          <br>
          <%= link_to submit_admin_cscrm_data_collections2_path(@cscrm_data_collection), class: "usa-button full-width", method: "post", data: { confirm: 'Are you sure?' } do %>
            Submit this Data Collection
          <% end %>
        <% elsif !@cscrm_data_collection.published? && cscrm_manager_permissions? %>
          <%= link_to publish_admin_cscrm_data_collections2_path(@cscrm_data_collection), class: "usa-button", method: "post" do %>
            Publish this Data Collection
          <% end %>
        <% elsif @cscrm_data_collection.published? && cscrm_manager_permissions? %>
          <%= link_to reset_admin_cscrm_data_collections2_path(@cscrm_data_collection), class: "usa-button usa-button--secondary", method: "post" do %>
            Reset this Data Collection
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
