<%= javascript_include_tag "chartjs-2.9.3.bundle.js" %>
<%= javascript_include_tag "performance-charts.js" %>

<a name="cx-summary-dashboard"></a>

<section class="usa-section" style="background-color:white;">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h3>
        Customer Feedback on Federal Service Performance
      </h3>
      <p>
        Q<%= @quarter %> FY<%= @year %> :
        Jan 1 –
        Mar 31, 2021
        <br>
      </p>
    </div>
  </div>
  <br>
  <br>

  <% @collections = [] %>

  <% Service.hisp.each do |service| %>
    <% collections = service.collections.where(quarter: @quarter) %>
    <% if collections.count > 0 %>
      <% @collections += collections %>
    <% end %>
  <% end %>
  <div class="usa-grid">
    <div class="grid-row">
      <div class="col-grid-4">
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em;">
            <%= @collections.size %>
            of
            <%= ServiceProvider.count %>
          </span>
          <br>
          <span style="font-size: 1.625em;">
            designated services collecting feedback
          </span>
        </div>
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em; display: block;">
            <%= @collections.collect(&:totals).map { |z| z[:volume_of_customers] }.sum %>
            <br>
          </span>
          <span style="font-size: 1.625em;">
            service interactions with the American public
          </span>
        </div>
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em; display: block;">
            <%= @collections.collect(&:totals).map { |z| z[:volume_of_respondents] }.sum %>
          </span>
          <span style="font-size: 1.625em;">
            total responses
          </span>
        </div>
      </div>
      <div class="grid-col-8">
        <div class="grid-col-6">
          <h4 style="text-align: center;">
            Responses by agency
          </h4>
          <div style="max-width: 260px; margin: 0 auto;">
            <canvas id="cx-doughnut-chart-canvas" width="220" height="400">&nbsp;</canvas>
          </div>
        </div>
        <div class="grid-col-6">
          <h4 style="text-align: center;">
            Responses by channel
          </h4>
          <div style="max-width: 200px; margin: 16px auto 0 auto;">
            <canvas id="cx-doughnut-chart-responses-by-channel" width="200" height="340">&nbsp;</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(function() {
    
    var doughnutData = {
      datasets: [{
        data: [
          320979, 306854, 113803, 107528, 149706, 107528, 74600, 40868
        ],
        backgroundColor: [
          "#00BDE3",
          "#0071bc",
          "#6D7375",
          "#285C7E",
          "#A89AE0",
          "#94C7E9",
          "#173D4D",
          "#B3B6B7",
          "#372D5F",
        ],
        label: 'Responses by Agency'
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
        'VHA (email)',
        'Medicare (phone)',
        'Healthcare.gov (phone)',
        'SSA (web)',
        'IRS (web)',
        'Medicare (web)',
        'OPM Retirement (web)',
        'Others'
      ]
    };

    var doughnutConfig = {
      type: 'doughnut',
      data: doughnutData,
      options: {
        responsive: true,
        legend: {
          align: 'start',
          position: 'bottom',
        },
        title: {
          display: false,
          // text: 'Doughnut Chart'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

    //

    var doughnutDataResponsesByChannel = {
      datasets: [{
        data: [
          307086, 428220, 512882
        ],
        backgroundColor: [
          "#00BDE3",
          "#0071bc",
          "#6D7375",
          "#285C7E",
          "#94C7E9",
          "#173D4D",
          "#B3B6B7",
          "#372D5F",
        ],
        label: 'Responses by Agency'
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
        'Email',
        'Phone',
        'Web'
      ]
    };

    var doughnutConfigResponsesByChannel = {
      type: 'doughnut',
      data: doughnutDataResponsesByChannel,
      options: {
        responsive: true,
        legend: {
          align: 'start',
          position: 'bottom',
        },
        title: {
          display: false,
          // text: 'Doughnut Chart'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

    window.addEventListener("load", function() {
      var ctx = document.getElementById('cx-doughnut-chart-canvas').getContext("2d");
      window.myDoughnut = new Chart(ctx, doughnutConfig);

      var ctx2 = document.getElementById("cx-doughnut-chart-responses-by-channel");
      var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: ["FY2021 Q2"],
          datasets: [{
              label: 'Email',
              data: [307086],
              backgroundColor: [
                '#0071bc'
              ]
            },
            {
              label: 'Phone',
              data: [428220],
              backgroundColor: [
                '#285C7E'
              ]
            },
            {
              label: 'Web',
              data: [512882],
              backgroundColor: [
                '#94C7E9'
              ]
            }
          ]
        },
        options: {
          responsive: true,
          legend: {
            align: 'start',
            position: 'bottom',
          },
          scales: {
            yAxes: [{
              stacked: true,
              ticks: {
                beginAtZero: true,
                userCallback: function(value, index, values) {
                  return value.toLocaleString();
                }
              }
            }],
            xAxes: [{
              stacked: true,
              ticks: {
                beginAtZero: true
              }
            }]

          }
        }
      });
    });

  });
</script>
