<%= form_with(model: offering, url: (offering.persisted? ? admin_offering_path(offering) : admin_offerings_path), local: true) do |form| %>
  <% if offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% offering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.text_field :name, class: "usa-input" %>
  </div>
  <div class="field">
    <%= form.label :service_id, "Service", class: "usa-label" %>
    <%= form.select :service_id, options_for_select(Service.all.includes(:organization).order("organizations.name", "services.name").map { |s| ["#{s.organization.name} - #{s.name}", s.id] }, offering.try(:service_id) ), { prompt: "Which Service?" }, { class: "usa-select" } %>
  </div>

  <% if offering.persisted? %>
  <div class="field">
    <div class="well">
      <div class="offering-personas-div">
        <%= render 'admin/offerings/offering_personas', offering: offering, offering_persona_options: offering_persona_options %>
      </div>
    </div>
  </div>
  <% end %>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
