<div id="offering-personas-div" class="grid-row" data-value="<%= admin_offering_path(offering) %>">
  <div class="grid-col-12">
    <h3>
      Personas
    </h3>
    <small>
      Optionally, this offering may be associated with one or more
      <%= link_to "Personas", admin_personas_path %>.
    </small>
    <p class="website-persona-list">
      <ul class="usa-list usa-list--unstyled">
        <% offering.offering_personas.each do |persona| %>
        <li>
          <span class="usa-tag">
            <%= persona.name %>
          </span>
          &nbsp;
          <a href="javascript:void(0);" class="remove-persona-link" data-value="<%= persona.id %>">
            <span class="fa fa-trash"></span>
          </a>
        </li>
          <% end %>
      </ul>
    </p>
  </div>
</div>

<%= select_tag :offering_persona_id, options_for_select(offering_persona_options.map { |p| [p.name, p.id] }), prompt: "Choose a Persona", class: "usa-select add-offering-persona" %>

<script>
  $(function() {

    $(".add-offering-persona").on("change", function(e) {
      event.preventDefault();

      var container = $('#offering-personas-div');
      $.ajax({
        url: container.attr("data-value") + "/add_offering_persona",
        type: 'post',
        data: "persona_id=" + $(this).val()
      });
    });

    $(".remove-persona-link").on("click", function(e) {
      event.preventDefault();

      var container = $('#offering-personas-div');
      $.ajax({
        url: container.attr("data-value") + "/remove_offering_persona",
        type: 'post',
        data: "persona_id=" + $(this).attr("data-value")
      });
    });

  })
</script>
