<% content_for :navigation_title do %>
  Viewing Offering: <%= @offering.name %>
  <%= link_to edit_admin_offering_path(@offering), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>
<p>
  <%= link_to admin_offerings_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Offerings
  <% end %>
</p>

<p>
  <strong>Name</strong>
  <br>
  <%= @offering.name %>
</p>

  <p>
    <strong>Service</strong>
    <br>
    <% if @offering.service %>
      <%= link_to @offering.service.name, admin_service_path(@offering.service) if @offering.service %>
    <% else %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          This Offering is not currently associated with a Service.
        </p>
      </div>
    </div>
    <% end %>
  </p>
