<%= form_with(model: cx_action_plan) do |form| %>
  <% if cx_action_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cx_action_plan.errors.count, "error") %> prohibited this cx_action_plan from being saved:</h2>

      <ul>
        <% cx_action_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :service_provider_id, style: "display: block" %>
    <%= form.number_field :service_provider_id %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :delivered_current_year, style: "display: block" %>
    <%= form.text_area :delivered_current_year %>
  </div>

  <div>
    <%= form.label :to_deliver_next_year, style: "display: block" %>
    <%= form.text_area :to_deliver_next_year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
