<%= form_with(model: barrier, local: true) do |form| %>
  <% if barrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrier.errors.count, "error") %> prohibited this barrier from being saved:</h2>

      <ul>
      <% barrier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
