<p id="notice"><%= notice %></p>

<h1>Barriers</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @barriers.each do |barrier| %>
      <tr>
        <td><%= barrier.name %></td>
        <td><%= barrier.description %></td>
        <td><%= link_to 'Show', barrier %></td>
        <td><%= link_to 'Edit', edit_barrier_path(barrier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barrier', new_barrier_path %>
