<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @barrier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barrier.description %>
</p>

<%= link_to 'Edit', edit_barrier_path(@barrier) %> |
<%= link_to 'Back', barriers_path %>
