<div id="fba-modal-dialog">
  <h3 id="fba-modal-title">
    <%= touchpoint.form.title %>
  </h3>
  <a id="fba-modal-close" type="button" href="#">×</a>
  <p id="fba-instructions">
    <%= touchpoint.form.instructions %>
  </p>
  <%= render 'components/forms/flash' %>
  <%= render partial: "components/forms/#{touchpoint.form.kind}", locals: { form: touchpoint.form, touchpoint: touchpoint } %>
  <%= render partial: 'components/forms/footer', locals: { touchpoint: @touchpoint } %>
</div>
