<div class="touchpoints-form-wrapper" id="touchpoints-form-<%= form.short_uuid %>" data-touchpoints-form-id="<%= form.short_uuid %>" tabindex="-1">
  <div class="wrapper">
    <h2 class="justify-vertical word-break fba-modal-title">
      <% if form.display_header_logo && form.logo.present? %>
        <%= image_tag(form.logo.tag.url, alt: "Organization logo", class: "form-header-logo") %>
        <br>
      <% end %>
      <% if form.display_header_square_logo && form.logo.present? %>
        <%= image_tag(form.logo.logo_square.url, alt: "Organization logo", class: "form-header-logo-square") %>
      <% end %>
      <%= form.title || "Form Title" %>
    </h2>

    <% unless form.delivery_method == "inline" %>
      <a class="fba-modal-close" type="button" href="#">×</a>
    <% end %>

    <% if form.instructions? %>
    <p class="fba-instructions">
      <%= sanitize(form.instructions) %>
    </p>
    <% end %>
    <%= render 'components/forms/flash', form: form %>
    <%= render partial: "components/forms/custom", locals: { form: form, questions: form.questions } %>
  </div>
  <%= yield %>
</div>
