<div class="touchpoints-form-wrapper" id="touchpoints-form-<%= form.short_uuid %>" data-touchpoints-form-id="<%= form.short_uuid %>" tabindex="-1">
  <div class="wrapper">
    <% if form.title? %>
      <h1 id="fba-modal-title">
        <%= form.title || "Form Title" %>
      </h1>
    <% end %>
    <% unless form.delivery_method == "inline" %>
      <a class="fba-modal-close" type="button" href="#">×</a>
    <% end %>

    <% if form.instructions? %>
    <p class="fba-instructions">
      <%= sanitize(form.instructions) %>
    </p>
    <% end %>
    <%= render 'components/forms/flash', form: form %>
    <%= render partial: "components/forms/custom", locals: { form: form, questions: form.questions } %>
  </div>
  <%= yield %>
</div>
