<p id="notice"><%= notice %></p>

<h1>Containers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gtm Container ID</th>
      <th>Gtm Container Public ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= link_to container.name, container %></td>
        <td><%= container.gtm_container_id %></td>
        <td><%= container.gtm_container_public_id %></td>
        <td><%= link_to 'Edit', edit_container_path(container) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Container', new_container_path, class: "usa-button" %>
