<%= form_with(model: service_stage, url: service_stage.persisted? ? admin_service_service_stage_path(service, service_stage) : admin_service_service_stages_path(service), local: true) do |form| %>
  <% if service_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_stage.errors.count, "error") %> prohibited this service_stage from being saved:</h2>

      <ul>
      <% service_stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if admin_permissions? %>
  <div class="field">
    <%= form.label :service_id, class: "usa-label" %>
    <%= form.select :service_id, options_for_select(Service.all.includes(:organization).order("organizations.name", :name).map { |s| ["#{s.organization.name} - #{s.name}", s.id] }, service_stage.service_id), {}, { class: "usa-select" } %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.text_field :name, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "usa-label" %>
    <%= form.text_area :description, class: "usa-textarea" %>
  </div>

  <div class="field" hidden>
    <%= form.label :notes, class: "usa-label" %>
    <%= form.text_area :notes, class: "usa-textarea" %>
  </div>

  <div class="field" hidden>
    <%= form.label :time, class: "usa-label" %>
    <%= form.number_field :time, class: "usa-input", placeholder: "Estimated average time, in minutes" %>
  </div>

  <div class="field" hidden>
    <%= form.label :total_eligible_population, class: "usa-label" %>
    <%= form.number_field :total_eligible_population, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :position, "Position (to sort stages in order)", class: "usa-label" %>
    <%= form.number_field :position, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :persona_id, "Customer type", class: "usa-label" %>
    <small>
      Optionally, a
      <%= link_to "Customer type", admin_personas_path %>
      can be associated with this Service Stage.
    </small>
    <%= form.select :persona_id, options_for_select(Persona.all.map { |p| [p.name, p.id] }, selected: service_stage.persona_id),
       { prompt: "Select a Customer type..." }, 
       { class: "usa-select" } %>
  </div>

  <div class="field" hidden>
    <%= form.label :barrier_id, class: "usa-label" %>
    <%= form.select :barrier_id, options_for_select(Barrier.all.map { |s| [s.name, s.id] }), {}, { class: "usa-select" } %>
    <br>
    <%= link_to 'Add a Barrier', new_admin_barrier_path, class: "usa-button usa-button--outline" %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
