<% content_for :navigation_title do %>
  Service Stages
<% end %>
<p>
  <%= link_to admin_services_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Services
  <% end %>
</p>

<h1>Service Stages</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Service</th>
      <th>Notes</th>
      <th>Time</th>
      <th>Total eligble population</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_stages.each do |service_stage| %>
      <tr>
        <td><%= service_stage.name %></td>
        <td><%= service_stage.description %></td>
        <td><%= service_stage.service_id %></td>
        <td><%= service_stage.notes %></td>
        <td><%= service_stage.time %></td>
        <td><%= service_stage.total_eligble_population %></td>
        <td><%= link_to 'Show', admin_service_stage_path(service_stage) %></td>
        <td><%= link_to 'Edit', edit_admin_service_stage_path(service_stage) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Service Stage', new_admin_service_stage_path, class: "usa-button" %>
</p>
