<% content_for :navigation_title do %>
  Service Stage for: <%= @service.name %>
<% end %>
<p>
  <%= link_to admin_service_path(@service) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Service
  <% end %>
</p>

<p>
  <strong>Service:</strong>
  <%= link_to @service_stage.service.name, admin_service_path(@service_stage.service) %>
</p>
<p>
  <strong>Organization:</strong>
  <%= link_to @service_stage.service.organization.name, admin_organization_path(@service_stage.service.organization) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @service_stage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_stage.description %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @service_stage.notes %>
</p>

<p>
  <strong>Time:</strong>
  <%= @service_stage.time %> minutes
</p>

<p>
  <strong>Total eligble population:</strong>
  <%= number_with_delimiter @service_stage.total_eligble_population %>
</p>

<p>
<%= link_to 'Edit', edit_admin_service_service_stage_path(@service, @service_stage) %> |
<%= link_to 'Back', admin_service_service_stages_path(@service) %>
