<table class="usa-table width-full">
  <thead>
    <tr>
       <th data-sortable scope="col">Name</th>
       <th data-sortable scope="col">Updated at</th>
       <th data-sortable scope="col">Status</th>
    </tr>
  </thead>

  <tbody>
    <% digital_products.each do |digital_product| %>
      <tr>
        <td><%= link_to digital_product.name, admin_digital_product_path(digital_product) %></td>
        <td><%= digital_product.updated_at %></td>
        <td>
          <% if digital_product.aasm_state == "published" %>
            <span class="usa-tag bg-success">
              <%= digital_product.aasm_state %>
            </span>
          <% elsif digital_product.aasm_state=="archived" %>
            <span class="usa-tag bg-base-lighter">
              <%= digital_product.aasm_state %>
            </span>
          <% else  %>
            <span class="usa-tag">
              <%= digital_product.aasm_state %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
