<% content_for :navigation_title do %>
  Review Digital Products
  <%= link_to new_admin_digital_product_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Digital Product
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to the Digital Registry
  <% end %>
</p>

<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Displaying Digital Products where the status = 'created', 'updated', or 'submitted' (not 'published' or 'archived')
    </p>
  </div>
</div>

<table class="usa-table width-full">
  <thead>
    <tr>
      <th data-sortable scope="col">Organization</th>
      <th data-sortable scope="col">Name</th>
      <th data-sortable scope="col">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @digital_products.each do |digital_product| %>
    <tr>
      <td><%= link_to digital_product.name, admin_digital_product_path(digital_product) %></td>
      <td><%= digital_product.name %></td>
      <td><%= digital_product.aasm_state %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @digital_products %>
