<div class="grid-row grid-gap-lg">
  <div class="grid-col-12">
    <% content_for :navigation_title do %>
      Viewing Mobile App: <%= @digital_product.name %>

      <% if digital_product_permissions?(digital_product: @digital_product, user: current_user) %>
        <%= link_to edit_admin_digital_product_path(@digital_product), class: "usa-button usa-button-inverted float-right" do %>
          <i class="fa fa-pencil-alt"></i>
          Edit
        <% end %>
      <% end %>
    <% end %>

    <p>
      <%= link_to admin_digital_products_path do %>
        <i class="fa fa-arrow-circle-left"></i>
        Back to Mobile Apps
      <% end %>
    </p>

    <% if @digital_product.archived? %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          This digital product has been archived.
        </p>
      </div>
    </div>
    <br>
    <% end %>
  </div>

  <div class="desktop:grid-col-8">
    <p>
      <%= label_tag "Name", nil, class: "usa-label" %>
      <br>
      <%= @digital_product.name %>
    </p>

    <p>
      <%= label_tag "Status", nil, class: "usa-label" %>
      <br>
      <%= @digital_product.aasm_state %>
    </p>

    <p>
      <%= label_tag "Short description", nil, class: "usa-label" %>
      <br>
      <%= to_markdown(@digital_product.short_description) %>
    </p>

    <p>
      <label class="usa-label" for="long_description">
        Long description
        <span class="fa fa-info-circle usa-tooltip"
          data-position="right"
          title="Supports Markdown">
        </span>
      </label>
      <%= to_markdown(@digital_product.long_description) %>
    </p>

    <p>
      <%= label_tag "Language" , nil, class: "usa-label" %>
        <br>
        <%= @digital_product.language %>
    </p>

    <p>
      <%= label_tag "URL", nil, class: "usa-label" %>
      <% if @digital_product.url.present? %>
        <%= @digital_product.url %>
      <% else %>
      <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No URL specified
          </p>
        </div>
      </div>
      <% end %>
    </p>

    <p>
      <%= label_tag "Code repository URL", nil, class: "usa-label" %>

      <% if @digital_product.code_repository_url.present? %>
        <%= @digital_product.code_repository_url %>
      <% else %>
        <div class="usa-alert usa-alert--info usa-alert--slim">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              No Code Repository URL specified
            </p>
          </div>
        </div>
      <% end %>
    </p>

    <p>
      <%= label_tag "Certified at", nil, class: "usa-label" %>
      <% if @digital_product.certified_at %>
        <%= @digital_product.certified_at %>
      <% else %>
      <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Not yet certified
          </p>
        </div>
      </div>
      <% end %>
    </p>

    <div class="grid-row">
      <div class="grid-col-12">
        <div class="tags-div">
          <%= render 'admin/digital_products/tags', digital_product: @digital_product %>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="grid-row">
      <div class="grid-col-12">
        <div class="organizations">
          <%= render 'admin/digital_products/organizations', digital_product: @digital_product %>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="grid-row">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="users">
            <%= render 'admin/digital_products/users', digital_product: @digital_product %>
          </div>
        </div>
      </div>
    </div>

    <div>
      <%= label_tag "Service", nil, class: "usa-label" %>
      <small>
        Optionally, this Digital Product
        can be associated with a
        <%= link_to "Service", admin_services_path, target: "_blank" %>.
      </small>
      <% if @digital_product.service? %>
        <%= @digital_product.service %>
      <% else %>
        <br>
        <br>
        <div class="usa-alert usa-alert--info usa-alert--slim">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Not assigned to a Service
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </div>
  <div class="desktop:grid-col-4">
    <% if digital_product_permissions?(digital_product: @digital_product, user: current_user) && (@digital_product.created? || !@digital_product.archived?) %>
    <div class="border border-base-lighter padding-2 padding-bottom-1 margin-bottom-1">
      <div class="margin-bottom-2">
        <span class="usa-tag bg-blue">
          for Contacts
        </span>
      </div>

      <% if @digital_product.created? %>
        <%= link_to submit_admin_digital_product_path(@digital_product), class: "usa-button width-full margin-bottom-2", method: :post do %>
          <span class="fa fa-check"></span>
          &nbsp;
          Submit
        <% end %>
      <% end %>

      <% if !@digital_product.archived? %>

      <%= link_to archive_admin_digital_product_path(@digital_product), class: "usa-button usa-button--base width-full margin-bottom-2", method: :post do %>
        <span class="fa fa-archive"></span>
        &nbsp;
        Archive
      <% end %>

      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text font-sans-3xs">
            Only "Archive" a Product after your Organization
            is no longer using the product and no longer published for use.
            Archiving removes products from the public registry view and API.
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if registry_manager_permissions?(user: current_user) %>
    <div class="border border-base-lighter padding-2 padding-bottom-1 margin-bottom-1">
      <div class="margin-bottom-2">
        <span class="usa-tag bg-violet">
          for Registry Managers
        </span>
      </div>

    <% if @digital_product.submitted? %>
      <%= link_to publish_admin_digital_product_path(@digital_product), class: "usa-button full-width", method: :post do %>
        <span class="fa fa-pen"></span>
        &nbsp;
        Publish
      <% end %>
      <br>
      <br>
    <% end %>

      <%= link_to reset_admin_digital_product_path(@digital_product), class: "usa-button usa-button--secondary full-width", method: :post do %>
        <span class="fa fa-backward"></span>
        &nbsp;
        Reset
      <% end %>
    </div>
    <% end %>

    <div class="well2 border border-base-lighter padding-top-1 padding-right-2 padding-left-2">
      <%= turbo_frame_tag id="digital_product_versions_container", src: admin_digital_product_digital_product_versions_path(@digital_product) do %>
      Please wait...
      <% end %>
    </div>

    <% if digital_product_permissions?(digital_product: @digital_product, user: current_user) %>
      <%= render 'components/event_log', events: Event.where(object_type: "Digital Product", object_id: @digital_product.id.to_s ).order("created_at DESC") %>
    <% end %>

  </div>
</div>
