<%= form_with(model: touchpoint, url: touchpoint.persisted? ? admin_touchpoint_path(touchpoint) : admin_touchpoints_path, local: true) do |form| %>
<div class="grid-row">
  <div class="grid-col-12">
    <% if touchpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(touchpoint.errors.count, "error") %> prohibited this touchpoint from being saved:</h2>
        <% touchpoint.errors.full_messages.each do |message| %>
          <div class="usa-alert usa-alert--error" >
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">Error</h3>
              <p class="usa-alert__text">
                <%= message %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :service_id, class: "usa-label" do %>
        Which Service do you want to deploy this Touchpoint in?<br>
      <% end %>
      <%= form.select :service_id, options_for_select(current_user.services.map { |c| [c.name, c.id] }, selected: touchpoint.service_id), { prompt: "Which Service?" }, { class: "usa-select" } %>
    </div>
    <div class="field">
      <%= form.label :name, class: "usa-label" %>
      <%= form.text_field :name, class: "usa-input", placeholder: "Name this Touchpoint for your Reference" %>
    </div>
    <div class="well">
      <% if touchpoint.form %>
        <h3>
          Touchpoint Form
        </h3>
        <%= link_to "Customize this Touchpoint's Form", admin_touchpoint_form_path(touchpoint, touchpoint.form), class: "usa-button usa-button--base" %>
      <% else %>
        <h3>
          Select a Form Template
        </h3>
        <div class="usa-alert usa-alert--info" >
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Based on the Form Template selected,
              an editable Form will be created.
            </p>
          </div>
        </div>
        <br>
        <fieldset class="usa-fieldset-inputs usa-sans">
          <legend class="usa-sr-only">Types of Forms</legend>
          <ul class="usa-unstyled-list">
            <% FormTemplate.all.order(:kind).each do |f| %>
            <li>
              <%= form.radio_button :form_template_id, f.id %>
              <%= form.label f.name, class: "usa-label", for: "touchpoint_form_template_id_#{f.id}" %>
            </li>
            <% end %>
            <% if admin_permissions? %>
            <li>
              <%= form.label "Custom Form (only for Admins)", class: "usa-label" %>
              <%= form.select :form_id, options_for_select(Form.all.map { |org| [org.name, org.id] }, selected: (touchpoint.form ? touchpoint.form.id : nil)), { include_blank: true }, { class: "usa-select" } %>
            </li>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
    </div>
    <div class="well">
      <h3>
        Select a Delivery Method
      </h3>
      <fieldset class="usa-fieldset">
        <legend class="usa-sr-only">Types of Forms</legend>
        <% Touchpoint::DELIVERY_METHODS.each do |f| %>
          <div class="usa-checkbox">
            <%= form.radio_button :delivery_method, f, class: "usa-checkbox__input" %>
            <%= form.label f, class: "usa-checkbox__label", for: "touchpoint_delivery_method_#{f}" %>
          </div>
        <% end %>
      </fieldset>
      <div class="field">
        <%= form.label :element_selector, class: "usa-label" %>
        <div>
          <em>
            Only required for "Inline" and "Custom-button-modal"
          </em>
        </div>
        <%= form.text_field :element_selector, class: "usa-input", placeholder: "button-id" %>
      </div>
    </div>
    <div class="well">
      <h3>
        <span title="Public Records Act">PRA</span>
        Information
      </h3>
      <div class="grid-row grid-gap-md">
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :omb_approval_number, class: "usa-label" %>
            <%= form.text_field :omb_approval_number, class: "usa-input", placeholder: "OMB Approval #" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :federal_register_url, class: "usa-label" %>
            <%= form.text_field :federal_register_url, class: "usa-input", placeholder: "https://www.federalregister.gov/..." %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :medium, "Medium of Delivery", class: "usa-label" %>
            <%= form.text_field :medium, class: "usa-input", placeholder: "From a Call-center" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :anticipated_delivery_count, class: "usa-label" %>
            <%= form.text_field :anticipated_delivery_count, class: "usa-input", placeholder: "100" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :expiration_date, class: "usa-label" %>
            <%= form.date_field :expiration_date, class: "usa-input" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="well">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-6">
      <h3>
        How does this support CX Goals?
      </h3>
      <div class="field">
        <%= form.label :meaningful_response_size, class: "usa-label" %>
        <%= form.number_field :meaningful_response_size, placeholder: "1000", class: "usa-input" %>
      </div>
      <div class="field">
        <%= form.label :purpose, class: "usa-label" %>
        <%= form.text_area :purpose, class: "usa-textarea" %>
      </div>
    </div>
    <div class="grid-col-6">
      <h3>
        Submission Settings
      </h3>
      <div class="field">
        <%= form.label "emails to notify when a Submission is received", class: "usa-label" %>
        <%= form.text_field(:notification_emails, value: (touchpoint.notification_emails? ? touchpoint.notification_emails : current_user.email), class: "usa-input") %>
      </div>
      <div class="field">
        <%= form.label :behavior_change, class: "usa-label" %>
        <%= form.text_area :behavior_change, class: "usa-textarea" %>
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <%= form.submit class: "usa-button" %>
</div>
<% end %>
