<%= form_with(model: touchpoint, url: touchpoint.persisted? ? admin_touchpoint_path(touchpoint) : admin_touchpoints_path, local: true) do |form| %>
<div class="grid-row">
  <div class="grid-col-12">
    <% if touchpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(touchpoint.errors.count, "error") %> prohibited this touchpoint from being saved:</h2>
        <% touchpoint.errors.full_messages.each do |message| %>
          <div class="usa-alert usa-alert--error" >
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">Error</h3>
              <p class="usa-alert__text">
                <%= message %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user.admin? %>
      <div class="field">
        <%= form.label :organization, class: "usa-label" %>
        <%= form.select :organization_id, options_for_select(Organization.all.order(:name).map { |org| ["#{org.abbreviation}-#{org.name}", org.id] }, selected: (touchpoint.organization ? touchpoint.organization.id : nil)), { prompt: "Select an Organization" }, { class: "usa-select" } %>
      </div>
    <% else %>
      <%= form.hidden_field :organization_id, value: current_user.organization.id %>
    <% end %>
    <% if admin_permissions? %>
    <br>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">HISP Touchpoint?</legend>
      <div class="usa-checkbox">
        <%= form.check_box :hisp, class: "usa-checkbox__input" %>
        <%= form.label :hisp, "HISP Touchpoint?", class: "usa-checkbox__label" %>
      </div>
    </fieldset>
    <% end %>
    <div class="field">
      <%= form.label :name, class: "usa-label" %>
      <%= form.text_field :name, class: "usa-input", placeholder: "Name this Touchpoint for your Reference" %>
    </div>
    <div class="field">
      <%= form.label :aasm_state, "State", class: "usa-label" %>
      <%= form.select :aasm_state, options_for_select(@touchpoint.transitionable_states, selected: @touchpoint.aasm_state), { prompt: "Transition to State" }, {class: "usa-select"} %>
    </div>
    <div class="well">
    <% if touchpoint.persisted? %>
      <% if touchpoint.form %>
        <h3>
          Touchpoint Form
        </h3>
        <%= link_to "Customize this Touchpoint's Form", admin_touchpoint_form_path(touchpoint, touchpoint.form), class: "usa-button usa-button--base" %>
      <% else %>
        <h3>
          Select a Form
        </h3>
        <div class="usa-alert usa-alert--info" >
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Select an existing Form below, or
              <%= link_to "Create", new_admin_form_path %>
              a new Form, then come back to assign it to this Touchpoint.
            </p>
          </div>
        </div>
        <%= form.label "Form", class: "usa-label" %>
        <% if admin_permissions? %>
          <%= form.select :form_id, options_for_select(Form.all.map { |org| [org.name, org.id] }, selected: (touchpoint.form ? touchpoint.form.id : nil)), { include_blank: true }, { class: "usa-select" } %>
        <% else %>
          <%= form.select :form_id, options_for_select(current_user.forms.map { |org| [org.name, org.id] }, selected: (touchpoint.form ? touchpoint.form.id : nil)), { include_blank: true }, { class: "usa-select" } %>
        <% end %>
      <% end %>
    <% else %>
    <div class="usa-alert usa-alert--info" >
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          A Touchpoint also requires a Form.
          After creating this Touchpoint,
          you will be able to assign a Form.
          You may need to create a Form, then come back to assign it.
        </p>
      </div>
    </div>
    <% end %>
    </div>
    <div class="well">
      <h3>
        Select a Delivery Method
      </h3>
      <fieldset class="usa-fieldset">
        <legend class="usa-sr-only">Delivery Methods</legend>
        <% Touchpoint::DELIVERY_METHODS.each do |f| %>
          <div class="usa-checkbox">
            <%= form.radio_button :delivery_method, f, class: "usa-checkbox__input" %>
            <%= form.label f, class: "usa-checkbox__label", for: "touchpoint_delivery_method_#{f}" %>
          </div>
        <% end %>
      </fieldset>
      <div class="field">
        <%= form.label :element_selector, class: "usa-label" %>
        <div>
          <em>
            Only required for "Inline" and "Custom-button-modal"
          </em>
        </div>
        <%= form.text_field :element_selector, class: "usa-input", placeholder: "#html-element-id" %>
      </div>
    </div>
    <div class="well">
      <h3>
        <i class="fa fa-pencil-alt"></i>
        <span title="Public Records Act">PRA</span>
        Information
      </h3>
      <div class="grid-row grid-gap-md">
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :service_name, class: "usa-label" %>
            <%= form.text_field :service_name, class: "usa-input", placeholder: "Name of the Service receiving feedback" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :survey_instrument_reference, class: "usa-label" %>
            <%= form.text_field :survey_instrument_reference, class: "usa-input", placeholder: "Survey instrument reference" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :agency_poc_name, class: "usa-label" %>
            <%= form.text_field :agency_poc_name, class: "usa-input", placeholder: "Point of Contact's Name" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :agency_poc_email, class: "usa-label" %>
            <%= form.text_field :agency_poc_email, class: "usa-input", placeholder: "Point of Contact's Email" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :department, class: "usa-label" %>
            <%= form.text_field :department, class: "usa-input", placeholder: "Department" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :bureau, class: "usa-label" %>
            <%= form.text_field :bureau, class: "usa-input", placeholder: "Bureau" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :omb_approval_number, class: "usa-label" %>
            <%= form.text_field :omb_approval_number, class: "usa-input", placeholder: "OMB Approval #" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :federal_register_url, class: "usa-label" %>
            <%= form.text_field :federal_register_url, class: "usa-input", placeholder: "https://www.federalregister.gov/..." %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :medium, "Medium of Delivery", class: "usa-label" %>
            <%= form.text_field :medium, class: "usa-input", placeholder: "From a Call-center" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :anticipated_delivery_count, class: "usa-label" %>
            <%= form.number_field :anticipated_delivery_count, class: "usa-input", placeholder: "100" %>
          </div>
        </div>
        <div class="grid-col-6">
          <div class="field">
            <%= form.label :expiration_date, class: "usa-label" %>
            <%= form.date_field :expiration_date, class: "usa-input" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="well">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-6">
      <h3>
        <i class="fa fa-envelope"></i>
        Notification Settings
      </h3>
      <div class="field">
        <%= form.label "emails to notify when a Response is received", class: "usa-label" %>
        <%= form.text_field(:notification_emails, value: (touchpoint.notification_emails? ? touchpoint.notification_emails : current_user.email), class: "usa-input") %>
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <%= form.submit class: "usa-button" %>
</div>
<% end %>
