<h1>Touchpoints</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Name</th>
      <th>Purpose</th>
      <th>Form</th>
      <th># Submissions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @touchpoints.each do |touchpoint| %>
      <tr>
        <td><%= link_to touchpoint.service.name, admin_service_path(touchpoint.service) %></td>
        <td><%= link_to touchpoint.name, admin_touchpoint_path(touchpoint) %></td>
        <td><%= touchpoint.purpose %></td>
        <td><%= link_to(touchpoint.form.name, admin_touchpoint_form_path(touchpoint, touchpoint.form)) %></td>
        <td><%= touchpoint.submissions.size %></td>
        <td><%= link_to 'Edit', edit_admin_touchpoint_path(touchpoint) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Touchpoint', new_admin_touchpoint_path, class: "usa-button" %>
