<div class="well">
  <h1>Touchpoints</h1>
  <table class="usa-table">
    <thead>
      <tr>
      <% if admin_permissions? %>
        <th>Organization</th>
      <% end %>
        <th>Name</th>
        <th>Form</th>
        <th># Submissions</th>
        <th>
          <span title="A Deployable Touchpoint has a Form specified">
            Deployable Touchpoint?
          </span>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @touchpoints.each do |touchpoint| %>
        <tr>
        <% if admin_permissions? %>
          <td>
            <%= touchpoint.organization.name %>
          </td>
        <% end %>
          <td><%= link_to touchpoint.name, admin_touchpoint_path(touchpoint) %></td>
          <td>
            <% if touchpoint.form %>
              <%= touchpoint.form.name %>
            <% else %>
            Form not specified
            <% end %>
          </td>
          <td><%= touchpoint.submissions.size %></td>
          <td>
            <%= touchpoint.deployable_touchpoint? ? '✅' : '🔴' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'Create New Touchpoint', new_admin_touchpoint_path, class: "usa-button" %>
</p>
