<h1>Touchpoints</h1>

<table>
  <thead>
    <tr>
      <th>
        <span title="A Deployable Touchpoint is 1) has a Form specified and 2) Assigned to a Service">
          Deployable Touchpoint?
        </span>
      </th>
      <th>Service</th>
      <th>Form</th>
      <th>Name</th>
      <th>Purpose</th>
      <th># Submissions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @touchpoints.each do |touchpoint| %>
      <tr>
        <td>
          <%= touchpoint.deployable_touchpoint? %>
        </td>
        <td>
          <% if touchpoint.service %>
            <%= link_to touchpoint.service.name, admin_service_path(touchpoint.service) %>
          <% end %>
        </td>
        <td>
          <% if touchpoint.form %>
          <%= link_to(touchpoint.form.name, admin_touchpoint_form_path(touchpoint, touchpoint.form)) %>
          <% else %>
          Form not specified
          <% end %>
        </td>
        <td><%= link_to touchpoint.name, admin_touchpoint_path(touchpoint) %></td>
        <td><%= touchpoint.purpose %></td>
        <td><%= touchpoint.submissions.size %></td>
        <td><%= link_to 'Edit', edit_admin_touchpoint_path(touchpoint) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Touchpoint', new_admin_touchpoint_path, class: "usa-button" %>
