<p>
  <strong>Name:</strong>
  <%= @touchpoint.name %>
</p>
<p>
  <strong>Organization:</strong>
  <%= link_to(@touchpoint.service.organization.name, admin_organization_path(@touchpoint.service.organization)) if @touchpoint.service %>
</p>
<p>
  <strong>Service:</strong>
  <%= link_to(@touchpoint.service.name, admin_service_path(@touchpoint.service)) %>
</p>
<p>
  <strong>Container:</strong>
  <% if current_user.admin? %>
    <%= link_to(@touchpoint.service.container.name, admin_container_path(@touchpoint.service.container)) if @touchpoint.service.container %>
  <% else %>
    <%= @touchpoint.service.container.name if @touchpoint.service.container %>
  <% end %>
</p>
<p>
  <strong>OMB Approval #</strong>
  <%= @touchpoint.omb_approval_number %>
</p>
<p>
  <strong>Expiration Date</strong>
  <%= @touchpoint.expiration_date %>
</p>
<p>
  <strong>Form:</strong>
  <%= link_to(@touchpoint.form.name, admin_touchpoint_form_path(@touchpoint, @touchpoint.form)) %>
</p>
<p>
  <strong>Purpose:</strong>
  <%= @touchpoint.purpose %>
</p>
<p>
  <strong>Meaningful response size:</strong>
  <%= @touchpoint.meaningful_response_size %>
</p>
<p>
  <strong>Behavior change:</strong>
  <%= @touchpoint.behavior_change %>
</p>
<p>
  <strong>Notification emails:</strong>
  <%= @touchpoint.notification_emails %>
</p>
<hr>
<%= link_to 'Edit', edit_admin_touchpoint_path(@touchpoint), class: "usa-button" %>
<hr>
<h3>
  Customers can create a Submission for this Touchpoint.
</h3>
<p>
  <%= link_to 'a public Touchpoints page', submit_touchpoint_path(@touchpoint), class: "usa-button" %> <%= submit_touchpoint_url(@touchpoint) %>
</p>
<p>
  <%= link_to '.js tab Embed Example', example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank" %>
</p>
<% if @touchpoint.service && @touchpoint.service.container %>
<p>
  <%= link_to 'GTM + .js Example', gtm_example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank" %> Add the Tag <%= link_to "Container", admin_container_path(@touchpoint.service.container) %>'s embed codes in your site. Then, activate the Container in GTM.
</p>
<% end %>
<hr>

<% @submissions = @touchpoint.submissions %>
<%= render file: "admin/submissions/index" %>
