<div class="usa-grid">
  <div class="usa-width-full">
    <h1>
      Viewing a Touchpoint
    </h1>
  </div>
  <div class="usa-width-one-half">
    <p>
      <strong>Name:</strong>
      <%= @touchpoint.name %>
    </p>
    <p>
      <strong>Organization:</strong>
      <%= link_to(@touchpoint.service.organization.name, admin_organization_path(@touchpoint.service.organization)) if @touchpoint.service %>
    </p>
    <p>
      <strong>Service:</strong>
      <% if @touchpoint.service %>
      <%= link_to(@touchpoint.service.name, admin_service_path(@touchpoint.service)) %>
      <% else %>
      ⚠️ This Touchpoint is not assigned to a Service.
      <% end %>
    </p>
    <p>
      <strong>Form:</strong>
      <% if @touchpoint.form %>
      <%= link_to(@touchpoint.form.name, admin_touchpoint_form_path(@touchpoint, @touchpoint.form)) %>
      <% else %>
      No Form assigned.

      Choose a Form Template.

      <%= render "form_template_form", { touchpoint: @touchpoint } %>
      <% end %>
    </p>
    <p>
      <strong>OMB Approval #</strong>
      <%= @touchpoint.omb_approval_number %>
    </p>
    <p>
      <strong>Expiration Date:</strong>
      <%= @touchpoint.expiration_date %>
    </p>
    <p>
      <strong>Purpose:</strong>
      <% if @touchpoint.behavior_change? %>
      <%= @touchpoint.purpose %>
      <% else %>
      Not specified.
      <% end %>
    </p>
    <p>
      <strong>Meaningful response size:</strong>
      <% if @touchpoint.meaningful_response_size? %>
      <%= @touchpoint.meaningful_response_size %>
      <% else %>
      Not specified.
      <% end %>
    </p>
    <p>
      <strong>Behavior change:</strong>
      <% if @touchpoint.behavior_change? %>
      <%= @touchpoint.behavior_change %>
      <% else %>
      Not specified.
      <% end %>
    </p>
    <p>
      <strong>Notification emails:</strong>
      <%= @touchpoint.notification_emails %>
    </p>
    <p>
      <strong>Editable?:</strong>
      <%= @touchpoint.editable %>
    </p>
  </div>
  <div class="usa-width-one-half">
    <%= render 'components/pra_contact_callout', { pra_contacts: @pra_contacts, organization: current_user.organization } %>
  </div>
</div>
<hr>
<% if @touchpoint.editable? %>
  <%= link_to 'Edit', edit_admin_touchpoint_path(@touchpoint), class: "usa-button" %>
  <br>
  <%= link_to 'Lock this Touchpoint for Publishing', toggle_editability_admin_touchpoint_path(@touchpoint), class: "usa-button usa-button-secondary" %>
  <i>
    Note: it can be unlocked
  </i>
<% else %>
  <%= link_to 'Edit', "#", class: "usa-button usa-button-disabled" %> This Touchpoint is no longer editable because it has received Submissions.
  <br>
  <%= link_to 'Make this Touchpoint editable again', toggle_editability_admin_touchpoint_path(@touchpoint), class: "usa-button" %>
<% end %>
<br>
<hr>
<ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Learn more about the options for publishing a Touchpoint
    </button>
    <div id="b-a1" class="usa-accordion-content">
      <p>
        Service Managers are responsible for determining where a Touchpoint is
        presented in a user's journey. The Feedback Analytics team can also
        provide assistance in this regard.
      </p>
      <p>
        A Touchpoint can be shared with a user in a couple ways. Touchpoints hosts
        Touchpoints via a public URL, where users can access them directly.
        An Agency can use the public URL in a link on a website, in a customer
        communication.
        For example, including the public URL in a CRM follow-up response email.
      </p>
      <p>
        A Touchpoint can also be embedded on a website via a script tag.
        An embedded Touchpoint displays a tab and pops a modal by default; though,
        it is customizable to a certain extent.
      </p>
    </div>
  </li>
</ul>
<h3>
  Publishing a Touchpoint
</h3>
<% if @touchpoint.form || @touchpoint.deployable_touchpoint? %>
<h5>
  1) Public Touchpoints URL
</h5>
<p>
  <%= link_to 'View the page', submit_touchpoint_path(@touchpoint), class: "usa-button" %>

  <% if @touchpoint.deployable_touchpoint? %>
    <%= link_to submit_touchpoint_url(@touchpoint), submit_touchpoint_url(@touchpoint) %>
  <% end %>
</p>
<h5>
  2) Javascript Embed
</h5>
<p>
  <% if @touchpoint.deployable_touchpoint? %>
  <p>
    Add the following script to your site to generate an Tab & Modal on your site.
  </p>
  <div class="code">
    <%= h("<script type=\"text/javascript\" src=\"#{js_touchpoint_url(@touchpoint)}\" async></script>") %>
  </div>
  <% end %>
  <p>
    <%= link_to 'View an example: tab + Modal', example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank", rel: "noopener" %>
  </p>
</p>
<% else %>
  <div class="usa-alert usa-alert-error" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Touchpoint is not yet deployable</h3>
      <p class="usa-alert-text">
        This Touchpoint does not specify a Form and/or Service.
      </p>
    </div>
  </div>
<% end %>
<hr>
<% if admin_permissions? %>
<div class="pra-features">
  <h3>
    PRA Features
  </h3>
  <%= link_to "Generate PRA Form Part A", export_pra_document_admin_touchpoint_path(@touchpoint, format: "docx", type: "part_a") %>
</div>
<hr>
<% end %>
<% @submissions = @touchpoint.submissions %>
<%= render file: "admin/submissions/index" %>
<br>
<br>
