<br>
<div>
  <div class="grid-row">
    <div class="grid-col-12">
      <%= link_to 'Edit', edit_admin_touchpoint_path(@touchpoint), class: "usa-button float-right" %>
      <small>
        Viewing a Touchpoint
      </small>
      <h1>
        <%= @touchpoint.name %>
        <span class="usa-tag" style="background: #e31c3d;"> <%= @touchpoint.aasm_state %>
      </h1>
    </div>
  </div>
  <div>
    <div class="usa-accordion usa-accordion--bordered">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
          Learn more about the options for publishing a Touchpoint
        </button>
      </h2>
      <div id="b-a1" class="usa-accordion__content usa-prose">
        <p>
          Touchpoint Managers are responsible for determining where a Touchpoint is
          presented in a user's journey. The Feedback Analytics team can also
          provide assistance in this regard.
        </p>
        <p>
          A Touchpoint can be shared with a user in a couple ways. Touchpoints hosts
          Touchpoints via a public URL, where users can access them directly.
          An Agency can use the public URL in a link on a website, in a customer
          communication.
          For example, including the public URL in a CRM follow-up response email.
        </p>
        <p>
          A Touchpoint can also be embedded on a website via a script tag.
          An embedded Touchpoint displays a tab and pops a modal by default; though,
          it is customizable to a certain extent.
        </p>
      </div>
    </div>
    <h3>
      Publishing a Touchpoint
    </h3>
    <% if @touchpoint.form || @touchpoint.deployable_touchpoint? %>
      <h5>
        1) Here is your public Touchpoints URL.
      </h5>
      <% if @touchpoint.deployable_touchpoint? %>
      <p>
        <%= link_to submit_touchpoint_url(@touchpoint), submit_touchpoint_url(@touchpoint) %>
      </p>
      <% end %>
      <% if @touchpoint.delivery_method == "modal" || @touchpoint.delivery_method == "inline" || @touchpoint.delivery_method == "custom-button-modal" %>
        <h5>
          2) Javascript Embed
        </h5>
        <p>
          <% if @touchpoint.deployable_touchpoint? %>
            <% if @touchpoint.delivery_method == "custom-button-modal" %>
            <p>
              Add the following markup to your site
              as a place to display the Touchpoint
              <i>inline</i>.
            </p>
            <p>
              <span class="code">
                <%= h("<a id=\"#{@touchpoint.element_selector}\"></a>") %>
              </span>
            </p>
            <% end %>
            <% if @touchpoint.delivery_method == "inline" %>
            <p>
              Add the following markup to your site
              as a place to display the Touchpoint
              <i>inline</i>.
            </p>
            <p>
              <span class="code">
                <%= h("<div id=\"#{@touchpoint.element_selector}\"></div>") %>
              </span>
            </p>
            <% end %>
          <p>
            Add the following script to your site to generate a Tab & Modal on your site.
          </p>
          <p>
            <span class="code">
              <%= h("<script src=\"#{js_touchpoint_url(@touchpoint)}\" async></script>") %>
            </span>
          </p>
          <% end %>
          <% if @touchpoint.delivery_method == "inline" %>
          <p>
            <%= link_to 'View an example: Inline', example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank", rel: "noopener" %>
          </p>
          <% end %>
          <% if @touchpoint.delivery_method == "custom-button-modal" %>
          <p>
            <%= link_to 'View an example: Custom button modal', example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank", rel: "noopener" %>
          </p>
          <% end %>
          <% if @touchpoint.delivery_method == "modal" %>
          <p>
            <%= link_to 'View an example: Tab + Modal', example_admin_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank", rel: "noopener" %>
          </p>
          <% end %>
        </p>
      <% end %>
    <% else %>
      <div class="usa-alert usa-alert--error" >
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Touchpoint is not yet deployable</h3>
          <p class="usa-alert__text">
            This Touchpoint does not specify a Form.
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-4">
      <h2>
        General Information
      </h2>
      <p>
        <strong>Organization</strong>
        <br>
        <%= link_to(@touchpoint.organization.name, admin_organization_path(@touchpoint.organization)) if @touchpoint.organization %>
      </p>
      <p>
        <strong>Associated form</strong>
        <br>
        <% if @touchpoint.form %>
          <%= link_to(@touchpoint.form.name, admin_touchpoint_form_path(@touchpoint, @touchpoint.form)) %>
        <% else %>
          No form assigned
        <% end %>
      </p>
      <p>
        <strong>Notification emails</strong>
        <br>
        <%= @touchpoint.notification_emails %>
      </p>
      <p>
        <strong>
          <span title="High Impact Service Provider">HISP</span>
          Service?
        </strong>
        <br>
        <%= @touchpoint.hisp? ? "Yes ✅" : "No" %>
      </p>
    </div>
    <div class="tablet:grid-col-4">
      <div>
        <h2>
          Delivery Method
        </h2>
        <p>
          <strong>Delivery Method</strong>
          <br>
          <%= @touchpoint.delivery_method %>
        </p>
        <p>
          <strong>Element Selector</strong>
          <br>
          <%= @touchpoint.element_selector %>
        </p>
      </div>
      <div>
        <h2>
          Customer Experience Notes
        </h2>
        <p>
          <strong>Purpose</strong>
          <br>
          <% if @touchpoint.behavior_change? %>
          <%= @touchpoint.purpose %>
          <% else %>
          Not specified.
          <% end %>
        </p>
        <p>
          <strong>Meaningful response size</strong>
          <br>
          <% if @touchpoint.meaningful_response_size? %>
          <%= @touchpoint.meaningful_response_size %>
          <% else %>
          Not specified.
          <% end %>
        </p>
        <p>
          <strong>Behavior change</strong>
          <br>
          <% if @touchpoint.behavior_change? %>
          <%= @touchpoint.behavior_change %>
          <% else %>
          Not specified.
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="grid-row grid-gap-md">
    <div class="grid-col-12">
      <div>
        <h2>
          PRA Information
        </h2>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-4">
      <div>
        <p>
          <strong>Service Name</strong>
          <br>
          <%= @touchpoint.service_name %>
        </p>
        <p>
          <strong>Data Submission Comment</strong>
          <br>
          <%= @touchpoint.data_submission_comment %>
        </p>
        <p>
          <strong>Survey Instrument Reference</strong>
          <br>
          <%= @touchpoint.survey_instrument_reference %>
        </p>
        <p>
          <strong>Agency Point of Contact Email</strong>
          <br>
          <%= @touchpoint.agency_poc_email %>
        </p>
        <p>
          <strong>Agency Point of Contact Name</strong>
          <br>
          <%= @touchpoint.agency_poc_name %>
        </p>
        <p>
          <strong>Department</strong>
          <br>
          <%= @touchpoint.department %>
        </p>
        <p>
          <strong>Bureau</strong>
          <br>
          <%= @touchpoint.bureau %>
        </p>
      </div>
    </div>
    <div class="tablet:grid-col-4">
      <p>
        <strong>OMB Approval #</strong>
        <%= @touchpoint.omb_approval_number %>
      </p>
      <p>
        <strong>Federal Register URL</strong>
        <br>
        <%= @touchpoint.federal_register_url %>
      </p>
      <p>
        <strong>Medium of Delivery</strong>
        <br>
        <%= @touchpoint.medium %>
      </p>
      <p>
        <strong>Anticipated Delivery Count</strong>
        <br>
        <%= @touchpoint.anticipated_delivery_count %>
      </p>
      <p>
        <strong>Survey Form Activations</strong>
        <br>
        <%= @touchpoint.survey_form_activations %>
      </p>
      <p>
        <strong>Expiration Date</strong>
        <br>
        <%= @touchpoint.expiration_date %>
      </p>
    </div>
  </div>
</div>
<hr>
<div class="grid-row grid-gap-md">
  <div class="grid-col-12">
    <div>
      <h2>
        Roles & Permissions
      </h2>
    </div>
  </div>
</div>
<div class="grid-row grid-gap-md">
  <div class="grid-col-8">
    <div>
      <div class="roles-and-permissions">
        <p>
          Manage permissions for users in your Organization.
        </p>
        <p>
          <strong>
            Touchpoint Manager
          </strong>
          <br>
          Can create, edit, and activate a form + Submission Viewer permissions
        </p>
        <p>
          <strong>
            Submission Viewer
          </strong>
          <br>
          Can view form submissions and export responses
        </p>
        <% if flash && ["User successfully added", "User successfully removed"].include?(flash.notice) %>
        <%= render 'components/flash', flash: flash %>
        <% end %>

        <div>
          <% if @touchpoint.users.present? %>
          <table class="usa-table">
            <thead>
              <tr>
                <th>
                  Role
                </th>
                <th>
                  Email
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @touchpoint.users.each do |user| %>
              <tr data-user-id="<%= user.id %>">
                <td>
                  <% friendly_roles = {
                    "submission_viewer" => "Submission Viewer",
                    "touchpoint_manager" => "Touchpoint Manager"
                  }
                  %>
                  <%= friendly_roles[@touchpoint.user_role?(user: user)] %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <% if user != current_user && is_at_least_touchpoint_manager?(user: current_user, touchpoint: @touchpoint) %>
                  <a href="javascript:void(0)" class="remove-user usa-button usa-button--secondary" data-id="<%= user.id %>">
                    Delete
                  </a>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
          <div class="usa-alert usa-alert--info" >
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                No users at this time
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-4">
    <h3>
      Add a new User Role
    </h3>
    <% if is_at_least_touchpoint_manager?(user: current_user, touchpoint: @touchpoint) %>
      <% if @available_members.present? %>
      <div>
        <%= select_tag :add_user_id, options_for_select(@available_members.map { |user| [user.email, user.id] }), prompt: "Add a Touchpoint Manager?", id: "add-user-dropdown", style: "display: inline-block; margin-right: 1em;", class: "usa-select" %>
        <button type="button" class="usa-button" name="button" id="add-user-button">Add Touchpoint Manager</button>
      </div>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            All Users have been added. No Touchpoint Managers or Submission Viewers to add.
          </p>
        </div>
      </div>
      <% end %>
      <br>
      <% if @available_members.present? %>
      <div>
        <%= select_tag :add_user_id, options_for_select(@available_members.map { |user| [user.email, user.id] }), prompt: "Add a Submission Viewer?", id: "add-submission-viewer-dropdown", style: "display: inline-block; margin-right: 1em;", class: "usa-select" %>
        <button type="button" class="usa-button" name="button" id="add-submission-viewer-button">Add Submission Viewer</button>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="well hide">
  <% if admin_permissions? %>
  <div class="pra-features">
    <h3>
      PRA Features
    </h3>
    <div class="usa-alert usa-alert--info" >
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Gathering public feedback requires
          authorization and approvals, including PRA.
          Public Records Act (PRA)
          documentation references details about the Service
          and Touchpoint Form being presented to a public user.
        </p>
        <p>
          Because Touchpoints are defined
          in this application,
          some
          <strong>Compliance forms</strong> can be
          <strong>automated</strong>
          to various extents.
        </p>
      </div>
    </div>
    <br>
    <%= link_to "Generate PRA Form Part A", export_pra_document_admin_touchpoint_path(@touchpoint, format: "docx", type: "part_a"), class: "usa-button" %>
  </div>
  <% end %>
</div>
<hr>
<div>
  <% @submissions = @touchpoint.submissions %>
  <%= render file: "admin/submissions/index" %>
</div>
<br>
<br>

<script type="text/javascript">
  $(function() {
    // Initially set to disabled
    $("#add-user-button").attr("disabled", true);
    $("#add-submission-viewer-button").attr("disabled", true);

    $("#add-user-button").on("click", function(e) {
      var userId = $("#add-user-dropdown").val();

      var request = $.ajax({
        url: "/admin/touchpoints/<%= @touchpoint.id %>/add_user",
        dataType: "json",
        method: "POST",
        data: {
          user_id : userId,
          role: "touchpoint_manager"
        }
      }).done(function(response) {
        location.reload();
      }).fail(function(response) {
        alert(response);
      });
    });

    $("#add-submission-viewer-button").on("click", function(e) {
      var userId = $("#add-submission-viewer-dropdown").val();

      var request = $.ajax({
        url: "/admin/touchpoints/<%= @touchpoint.id %>/add_user",
        dataType: "json",
        method: "POST",
        data: {
          user_id : userId,
          role: "submission_viewer"
        }
      }).done(function(response) {
        location.reload();
      }).fail(function(response) {
        alert(response);
      });
    });

    $("#add-user-dropdown").on("change", function(e) {
      var userId = e.target.value
      if (userId != "") {
        $("#add-user-button").attr("disabled", false);
      } else {
        $("#add-user-button").attr("disabled", true);
      }
    });

    $("#add-submission-viewer-dropdown").on("change", function(e) {
      var userId = e.target.value
      if (userId != "") {
        $("#add-submission-viewer-button").attr("disabled", false);
      } else {
        $("#add-submission-viewer-button").attr("disabled", true);
      }
    });

    // Remove a Touchpoint Manager or Submission Viewer User
    $(".remove-user").on("click", function(e) {
      e.preventDefault();
      var userId = $(this).attr("data-id");

      var request = $.ajax({
        url: "/admin/touchpoints/<%= @touchpoint.id %>/remove_user",
        dataType: "json",
        method: "DELETE",
        data: { user_id : userId }
      }).done(function(response) {
        location.reload();
      }).fail(function(response) {
        alert(response);
      });
    });
  });
</script>
