<h1>Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th style="min-width: 240px;">Touchpoint</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th style="border: none; background: none;"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.organization.name %></td>
        <td><%= submission.touchpoint.name %></td>
        <td><%= submission.first_name %></td>
        <td><%= submission.last_name %></td>
        <td><%= submission.phone_number %></td>
        <td><%= submission.email %></td>
        <td style="border: none;"><%= link_to 'View', submission, class: "usa-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
