<%= form_with(model: question_option, local: true) do |form| %>
  <% if question_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_option.errors.count, "error") %> prohibited this question_option from being saved:</h2>

      <ul class="usa-list">
      <% question_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :question_id, value: @question.id %>
  </div>

  <div class="field">
    <%= form.label :text, class: "usa-label" %>
    <%= form.text_field :text, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :position, class: "usa-label" %>
    <%= form.number_field :position, class: "usa-input" %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
