<%= turbo_frame_tag digital_product_version do %>
  <div class="digital-product-version-card">
    <span><%= digital_product_version.platform %> ( <%= digital_product_version.version_number %> )</span>
    <span><%= digital_product_version.publish_date %></span>
    <span class="digital-product-version-actions float-right">
      <%= link_to edit_admin_digital_product_digital_product_version_path(@digital_product, digital_product_version), class: "edit button", data: { turbo_frame: dom_id(digital_product_version) } do %>
        <i class="fa fa-pencil-alt" title="Update digital product platform"></i>
      <% end %>
      <%= link_to admin_digital_product_digital_product_version_path(@digital_product, digital_product_version), method: :delete, class: "delete button", form: { data: { turbo_confirm: "Are you sure?" } } do %>
        <i class="fas fa-trash-alt" title="Delete digital product platform"></i>
      <% end %>
    </span>
  </div>
<% end %>