<p id="notice"><%= notice %></p>

<h1>Service Stages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Service</th>
      <th>Notes</th>
      <th>Time</th>
      <th>Total eligble population</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_stages.each do |service_stage| %>
      <tr>
        <td><%= service_stage.name %></td>
        <td><%= service_stage.description %></td>
        <td><%= service_stage.service_id %></td>
        <td><%= service_stage.notes %></td>
        <td><%= service_stage.time %></td>
        <td><%= service_stage.total_eligble_population %></td>
        <td><%= link_to 'Show', service_stage %></td>
        <td><%= link_to 'Edit', edit_service_stage_path(service_stage) %></td>
        <td><%= link_to 'Destroy', service_stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Stage', new_service_stage_path %>
