<div id="<%= dom_id cscrm_data_collection %>">
  <p>
    <strong>Organization:</strong>
    <%= cscrm_data_collection.organization.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= cscrm_data_collection.year %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= cscrm_data_collection.quarter %>
  </p>

  <p>
    <strong>Leadership roles:</strong>
    <%= cscrm_data_collection.leadership_roles %>
  </p>

  <p>
    <strong>Stakeholder champion identified:</strong>
    <%= cscrm_data_collection.stakeholder_champion_identified %>
  </p>

  <p>
    <strong>Pmo established:</strong>
    <%= cscrm_data_collection.pmo_established %>
  </p>

  <p>
    <strong>Interdisciplinary team established:</strong>
    <%= cscrm_data_collection.interdisciplinary_team_established %>
  </p>

  <p>
    <strong>Enterprise risk management function established:</strong>
    <%= cscrm_data_collection.enterprise_risk_management_function_established %>
  </p>

  <p>
    <strong>Enterprise wide scrm policy established:</strong>
    <%= cscrm_data_collection.enterprise_wide_scrm_policy_established %>
  </p>

  <p>
    <strong>Agency wide scrm strategy and implementation plan established:</strong>
    <%= cscrm_data_collection.agency_wide_scrm_strategy_and_implementation_plan_established %>
  </p>

  <p>
    <strong>Funding for initial operationg capability:</strong>
    <%= cscrm_data_collection.funding_for_initial_operating_capability %>
  </p>

  <p>
    <strong>Staffing:</strong>
    <%= cscrm_data_collection.staffing %>
  </p>

  <p>
    <strong>Roles and responsibilities:</strong>
    <%= cscrm_data_collection.roles_and_responsibilities %>
  </p>

  <p>
    <strong>Missions identified:</strong>
    <%= cscrm_data_collection.missions_identified %>
  </p>

  <p>
    <strong>Missions identified why not:</strong>
    <%= cscrm_data_collection.missions_identified_why_not %>
  </p>

  <p>
    <strong>Prioritization process:</strong>
    <%= cscrm_data_collection.prioritization_process %>
  </p>

  <p>
    <strong>Considerations in procurement processes:</strong>
    <%= cscrm_data_collection.considerations_in_procurement_processes %>
  </p>

  <p>
    <strong>Conducts scra for prioritized products and services:</strong>
    <%= cscrm_data_collection.conducts_scra_for_prioritized_products_and_services %>
  </p>

  <p>
    <strong>Personnel required to complete training:</strong>
    <%= cscrm_data_collection.personnel_required_to_complete_training %>
  </p>

  <p>
    <strong>Established process information sharing with fasc:</strong>
    <%= cscrm_data_collection.established_process_information_sharing_with_fasc %>
  </p>

  <p>
    <strong>Cybersecurity supply chain risk considerations incorporated into plans:</strong>
    <%= cscrm_data_collection.cybersecurity_supply_chain_risk_considerations %>
  </p>

</div>
