<%= form_with(model: cscrm_data_collection, url: (cscrm_data_collection.persisted? ? admin_cscrm_data_collection_path(cscrm_data_collection) : admin_cscrm_data_collections_path), data: { turbo: false }) do |form| %>
  <% if cscrm_data_collection.errors.any? %>
    <div class="" style="color: red">
      <h2><%= pluralize(cscrm_data_collection.errors.count, "error") %> prohibited this cscrm_data_collection from being saved:</h2>

      <ul>
        <% cscrm_data_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :organization_id,
      "Organization" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, cscrm_data_collection.organization_id), { prompt: "Which Organization?" }, { class: "usa-select", required: true } %>
  </div>
  <br>

  <div class="field">
    <%= form.label :bureau_id,
      "Bureau" %>
    <%= form.select :bureau_id, options_for_select(organization_dropdown_options, cscrm_data_collection.bureau_id), { prompt: "Which Bureau?" }, { class: "usa-select" } %>
  </div>

  <div class="field">
    <%= form.label :year, class: "usa-label" %>
    <%= form.text_field :year, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :quarter, class: "usa-label" %>
    <%= form.text_field :quarter, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :leadership_roles,
      "1. Senior leadership roles, responsibilities and accountability for C-SCRM are defined",
      class: "usa-label" %>
    <%= form.select :leadership_roles, ["Not defined", "Partially defined", "Defined", "Defined and designated"], { include_blank: true }, class: "usa-select" %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_champion_identified,
      "2. A CSCRM Champion has been identified for your Agency", class: "usa-label" %>

    <%= form.select :stakeholder_champion_identified, [
        "Not identified",
        "A C-SCRM “Champion” (or, C-SCRM Executive Sponsor, C-SCRM Lead Official, etc.) is identified",
        "C-SCRM PMO is identified to provide leadership",
        "C-SCRM Team (e.g, Council, Committee (etc.) is identified to provide leadership",
        "Not applicable (implementation complete)",
        "Other"
      ],
      { include_blank: true },
      class: "usa-select" %>
      <%#= form.text_field :stakeholder_champion_identified, class: "usa-input" %>
    </div>

  <div class="field">
    <%= form.label :pmo_established, "3. Establishment of CSCRM PMO or equivalent", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.5 “C-SCRM PMO”

      Numerous references to the role of a C-SCRM PMO throughout the publication, to include Appendix A” C-SCRM Security
      Controls (search on “PMO”)
    </div>
    <%= form.select :pmo_established, [
        "No",
        "Plan Developed",
        "Partial/In-process",
        "Yes",
        "Comments: if not yes explain",
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field">
    <%= form.label :interdisciplinary_team_established,
      "4. Establishment of an interdisciplinary enterprise-wide Department or Agency team including SMEs from IT, Logistics, Procurement, Cybersecurity, Mission, Legal, ERM and CFO officials to manage and mitigate risk in the C-SCRM supply chain",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2 “Integration of C-SCRM into Enterprise-wide Risk Management”
      Guidance is also provided in Section 2.3 about multi-level risk management roles and responsibilities.

      Appendix G: “C-SCRM Activities in the Risk Management Process”
    </div>
    <%= form.select :interdisciplinary_team_established, [
        "No",
        "Plan Developed",
        "Partial/In-process",
        "Yes",
        "Comments: if not yes explain",
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>

  </div>

  <div class="field">
    <%= form.label :enterprise_risk_management_function_established,
      "5. Governance structure has been established that integrates with the Enterprise Risk Management Function",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.2 “Level 1 – Enterprise”

      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: FRAME inputs and conditions
    </div>
    <%= form.select :enterprise_risk_management_function_established, [
        "Not established",
        "Executive Board evaluates risks across enterprise",
        "CSCRM program requirements are defined and managed",
        "analysis of the likelihood and impact of potential supply chain cybersecurity threats"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field">
    <%= form.label :enterprise_wide_scrm_policy_established,
      "6. Established Enterprise-wide SCRM policy",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      SR-1 “Policy and Procedures.”

      Refer also to C-SCRM security control supplemental guidance for policy and procedures in other control families (e.g.,
      AC-1, CP-1, SA-1, etc.)
      <br>
      Appendix D.2: “C-SCRM Templates” “C-SCRM Policy”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: FRAME inputs and conditions
    </div>
    <%= form.select :enterprise_wide_scrm_policy_established, [
        "No",
        "Plan Developed",
        "Partial/In-process",
        "Yes",
        "Comments: if not yes explain"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field">
    <%= form.label :agency_wide_scrm_strategy_and_implementation_plan_established,
      "7. Established agency-wide SCRM strategy and implementation plan",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3 “Multi-level Risk Management”

      PM-30 Supply Chain Risk Management Strategy
      Appendix D.1: “C-SCRM Strategy and Implementation Plan" guidance and template
    </div>
    <%= form.select :agency_wide_scrm_strategy_and_implementation_plan_established, [
        "No",
        "Plan Developed",
        "Partial/In-process",
        "Yes",
        "Comments: if not yes explain"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field">
    <%= form.label :funding_for_initial_operating_capability,
      "8. Identified or secured funding for CSCRM program functions for Initial Operating Capability",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      “Critical Success Factors” Section 3.6 “Dedicated Resources”
    </div>
    <%= form.select :funding_for_initial_operating_capability, [
        "Not Identified or secured",
        "Identified by not secured",
        "Partially secured",
        "Fully identified and secured",
        "if not identified or secured explain"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field">
    <%= form.label :staffing,
      "9. Staffing identified and secured to perform C-SCRM functions",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.1-5 “Roles and Responsibilities Across the Three Levels”

      Section 3.3 “C-SCRM Training and Awareness”

      Section 3.6 “Dedicated Resources”
    </div>
    <%= form.select :staffing, [
        "Not Identified or secured",
        "Identified by not secured",
        "Partially secured",
        "Fully identified and secured",
        "if not identified or secured explain"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <% question_10_options = [
      "Not defined",
      "Partially defined for PMO",
      "Fully defined for PMO",
      "Partially defined for Acquisition Workforce Personnel",
      "Partially defined for IT/Information Security Personnel",
      "Fully defined for Acquisition Workforce Personnel",
      "Fully defined for IT/Information Security Personnel",
      "Partially or Fully Defined for Other Personnel"
    ]
  %>

  <fieldset class="usa-fieldset" role="group">
    <legend class="usa-sr-only">10. C-SCRM roles and functional responsibilities clearly defined for key C-SCRM personnel (minimally, PMO, acquisition
    workforce and IT/Information Security personnel)</legend>
    <%= form.label :staffing, "10. C-SCRM roles and functional responsibilities clearly defined for key C-SCRM personnel (minimally, PMO, acquisition
    workforce and IT/Information Security personnel)", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.1-5 “Roles and Responsibilities Across the Three Levels”

      Section 3.1 “C-SCRM in Acquisition”

      Appendix D.1 and D.2 “C-SCRM Strategy and Implementation Plan” and “C-SCRM Policy”
    </div>
    <br>
    <% question_10_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:roles_and_responsibilities, {
          multiple: true,
          checked: form.object.roles_and_responsibilities&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <% question_11_options = [
      'Not identified (all)',
      'Mission Functions Identified',
      'Existing Asset Inventory',
      'Existing Systems Inventory',
      'Existing Supplier Inventory/List',
      'Critical Mission Functions identified',
      'Critical Assets Identified',
      'Critical Systems Identified',
      'Critical Suppliers Identified'
    ]
  %>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">11. Identified missions, assets, systems, processes, data and suppliers (e.g., HVAs, critical suppliers,
    mission-essential functions)</legend>
    <%= form.label :staffing, "11. Identified missions, assets, systems, processes, data and suppliers (e.g., HVAs, critical suppliers,
    mission-essential functions)" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1.1. Acquisition in the C-SCRM Strategy and Implementation Plan
      <br>
      Appendix E: :FASCSA”
      Table E-1 “Baseline Risk Factors”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: Task 1-1; Task 2-0
      <br>
      RA-9 Criticality Analysis
      CM-8 System Component Inventory
      PM-5 System Inventory
      SR-13 Supplier Inventory
      <br>
      See also:
      NISTIR 8179: “Criticality Analysis Process Model: Prioritizing Systems and Components”
      <br>
      FIPS 199 “Standards for Security Categorization of Federal Information and Information
    </div>
    <br>
    <% question_11_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:missions_identified, {
          multiple: true,
          checked: form.object.missions_identified&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field">
    <%= form.label :missions_identified_why_not, class: "usa-label" %>
    <%= form.text_area :missions_identified_why_not, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :prioritization_process, "12. Established process to prioritize by criticality", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1.1. Acquisition in the C-SCRM Strategy and Implementation Plan
      <br>
      Appendix E: :FASCSA”
      Table E-1 “Baseline Risk Factors”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: Task 1-1; Task 2-0
      <br>
      RA-9 Criticality Analysis
      <br>
      CM-8 System Component Inventory
      <br>
      PM-5 System Inventory
      <br>
      SR-13 Supplier Inventory
      <br>
      See also:
      NISTIR 8179: “Criticality Analysis Process Model: Prioritizing Systems and Components”
      <br>
      FIPS 199 “Standards for Security Categorization of Federal Information and Information Systems”
    </div>
    <%= form.select :prioritization_process, [
        "No",
        "Plan Developed",
        "Partial/In-process",
        "Yes"
      ],
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <% question_13_options = [
    'Not considered',
    'Acquisition strategy',
    'Acquisition plan',
    'Requirements language',
    'Source Selection evaluation factors',
    'Quality Assurance Surveillance Plan (QASP)',
    'Supplier (vendor) risk assessment)',
    'Compliance clauses',
    'Other (Describe)'
  ]
  %>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">13. C-SCRM considerations in procurement processes and actions</legend>
    <%= form.label :staffing, "13. C-SCRM considerations in procurement processes and actions" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1. C-SCRM in Acquisition
      <br>
      SA Security Control Family
      <br>
      SR-5 Acquisition Strategies, Tools, and Methods
      <br>
      SR-6 Supplier Assessments and Reviews
    </div>
    <br>
    <% question_13_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:considerations_in_procurement_processes, {
          multiple: true,
          checked: form.object.considerations_in_procurement_processes&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>


  <% question_14_options = [
    'Not conducted',
    'Conducted for some prioritized products',
    'Conducted for some prioritized services',
    'Conducted for all prioritized products',
    'Conducted for all prioritized services'
  ]
  %>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">14. Conducts Supply Chain Risk Assessments (SCRA) for prioritized products and services</legend>
    <%= form.label :staffing, "14. Conducts Supply Chain Risk Assessments (SCRA) for prioritized products and services" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      SR-6 “Supplier Assessments and Reviews”
      <br>
      Appendix D.4 ”Cybersecurity Supply Chain Risk Assessment Template”
      <br>
      Appendix E: “FASCSA”
      <br>
      Appendix G: ASSESS
    </div>

    <br>
    <% question_14_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:conducts_scra_for_prioritized_products_and_services, {
          multiple: true,
          checked: form.object.conducts_scra_for_prioritized_products_and_services&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>


  <% question_15_options = [
    'Not identified',
    'Partially identified',
    'Identified for “General”',
    'Identified for “Role-based”',
    'General training currently  available',
    'Role-based training currently available'
  ]
  %>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">15. Personnel required to complete general or role-based SCRM training requirements</legend>
    <%= form.label :staffing, "15. Personnel required to complete general or role-based SCRM training requirements" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.3 “Training and Awareness”
      <br>
      Awareness and Training Security Controls (AT-1 through AT-4)
      <br>
      Various miscellaneous references to training throughout the publication (search on “training”)
    </div>
    <br>
    <% question_15_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:personnel_required_to_complete_training, {
          multiple: true,
          checked: form.object.personnel_required_to_complete_training&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field">
    <%= form.label :established_process_information_sharing_with_fasc, "16. Established process for internal and exchanging information sharing with the Federal Acquisition Security Council (FASC)", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 1: “Introduction”
      <br>
      Section 2.3.5 “C-SCRM PMO”
      <br>
      Section 3.2 “Supply Chain Information Sharing”
      <br>
      Appendix E: “FASCSA”
      <br>
      AC-21 “Information Sharing”
      <br>
      Note: Information sharing is referenced in various additional security controls (search on “information sharing”)
    </div>
    <%= form.text_field :established_process_information_sharing_with_fasc, class: "usa-input" %>
  </div>

  <% question_17_options = [
      'Not considered',
      'Critical Suppliers are identified in COOP and Recovery plans',
      'Business Impact Analysis considers supplier and product dependency risks and resiliency requirements',
      'SCRAs are conducted for critical suppliers',
      'Mitigations to improve resilience/address assessed risks  associated with critical suppliers are identified and implemented'
  ]
  %>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">17. Cybersecurity supply chain risk and resiliency considerations are incorporated into organizational COOP and Recovery
    Plans</legend>
    <%= form.label :staffing, "17. Cybersecurity supply chain risk and resiliency considerations are incorporated into organizational COOP and Recovery Plans" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Contingency Planning Security Control Family
    </div>
    <br>
    <% question_17_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:cybersecurity_supply_chain_risk_considerations, {
          multiple: true,
          checked: form.object.cybersecurity_supply_chain_risk_considerations&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, {}, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <p>
    <%= form.submit (cscrm_data_collection.persisted? ? "Update CSCRM Data Collection" : "Create CSCRM Data Collection"), class: "usa-button" %>
  </p>
<% end %>
