<%= form_with(model: cscrm_data_collection, url: (cscrm_data_collection.persisted? ? admin_cscrm_data_collection_path(cscrm_data_collection) : admin_cscrm_data_collections_path), data: { turbo: false }) do |form| %>
  <% if cscrm_data_collection.errors.any? %>
    <div class="" style="color: red">
      <h2><%= pluralize(cscrm_data_collection.errors.count, "error") %> prohibited this cscrm_data_collection from being saved:</h2>

      <ul>
        <% cscrm_data_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if admin_permissions? %>
  <div class="field">
    <%= form.label :user_id, "User ID" %>
    <%= form.text_field :user_id, class: "usa-input" , value: cscrm_data_collection.user_id || current_user.id %>
  </div>
  <br>
  <% end %>

  <div class="field">
    <%= form.label :organization_id,
      "Organization" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, cscrm_data_collection.organization_id), { prompt: "Which Organization?" }, { class: "usa-select", required: true } %>
  </div>
  <br>

  <div class="field">
    <%= form.label :bureau_id,
      "Bureau" %>
    <%#= form.select :bureau_id,
      options_for_select(organization_dropdown_options, cscrm_data_collection.bureau_id),
      { prompt: "Which Bureau?" },
      { class: "usa-select" } %>
    <%= form.text_field :bureau, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :year, class: "usa-label" %>
    <%= form.text_field :year, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :quarter, class: "usa-label" %>
    <%= form.text_field :quarter, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :agency_roles,
      "#{CscrmDataCollection.question_1[:number]}. #{CscrmDataCollection.question_1[:text]}",
      class: "usa-label" %>
    <%= form.select :agency_roles,
      CscrmDataCollection.agency_roles_options,
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :agency_roles_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :agency_roles_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :leadership_roles,
      "#{CscrmDataCollection.question_2[:number]}. #{CscrmDataCollection.question_2[:text]}",
      class: "usa-label" %>
    <%= form.select :leadership_roles,
      CscrmDataCollection.leadership_roles_options,
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :leadership_roles_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :leadership_roles_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_champion_identified,
      "#{CscrmDataCollection.question_3[:number]}. #{CscrmDataCollection.question_3[:text]}",
      class: "usa-label" %>
    <%= form.select :stakeholder_champion_identified,
      CscrmDataCollection.stakeholder_champion_identified_options,
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :stakeholder_champion_identified_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :stakeholder_champion_identified_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :interdisciplinary_team_established,
      "#{CscrmDataCollection.question_4[:number]}. #{CscrmDataCollection.question_4[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2 “Integration of C-SCRM into Enterprise-wide Risk Management”
      Guidance is also provided in Section 2.3 about multi-level risk management roles and responsibilities.
      Appendix G: “C-SCRM Activities in the Risk Management Process”
    </div>
    <%= form.select :interdisciplinary_team_established,
      CscrmDataCollection.interdisciplinary_team_established_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :interdisciplinary_team_established_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :interdisciplinary_team_established_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :pmo_established,
    "#{CscrmDataCollection.question_5[:number]}. #{CscrmDataCollection.question_5[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.5 “C-SCRM PMO”

      Numerous references to the role of a C-SCRM PMO throughout the publication, to include Appendix A” C-SCRM Security
      Controls (search on “PMO”)
    </div>
    <%= form.select :pmo_established,
      CscrmDataCollection.pmo_established_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :pmo_established_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :pmo_established_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :enterprise_wide_scrm_policy_established,
      "#{CscrmDataCollection.question_6[:number]}. #{CscrmDataCollection.question_6[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      SR-1 “Policy and Procedures.”

      Refer also to C-SCRM security control supplemental guidance for policy and procedures in other control families (e.g.,
      AC-1, CP-1, SA-1, etc.)
      <br>
      Appendix D.2: “C-SCRM Templates” “C-SCRM Policy”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: FRAME inputs and conditions
    </div>
    <%= form.select :enterprise_wide_scrm_policy_established,
      CscrmDataCollection.enterprise_wide_scrm_policy_established_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :enterprise_wide_scrm_policy_established_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :enterprise_wide_scrm_policy_established_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :funding_for_initial_operating_capability,
      "#{CscrmDataCollection.question_7[:number]}. #{CscrmDataCollection.question_7[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      “Critical Success Factors” Section 3.6 “Dedicated Resources”
    </div>
    <%= form.select :funding_for_initial_operating_capability,
      CscrmDataCollection.funding_for_initial_operating_capability_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :funding_for_initial_operating_capability_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :funding_for_initial_operating_capability_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :staffing,
      "#{CscrmDataCollection.question_8[:number]}. #{CscrmDataCollection.question_8[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.1-5 “Roles and Responsibilities Across the Three Levels”

      Section 3.3 “C-SCRM Training and Awareness”

      Section 3.6 “Dedicated Resources”
    </div>
    <%= form.select :staffing,
      CscrmDataCollection.staffing_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :staffing_comments,
      "Comments",
      class: "usa-label" %>
    <%= form.text_area :staffing_comments,
      class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :agency_wide_scrm_strategy_and_implementation_plan_established,
      "#{CscrmDataCollection.question_9[:number]}. #{CscrmDataCollection.question_9[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3 “Multi-level Risk Management”

      PM-30 Supply Chain Risk Management Strategy
      Appendix D.1: “C-SCRM Strategy and Implementation Plan" guidance and template
    </div>
    <%= form.select :agency_wide_scrm_strategy_and_implementation_plan_established,
        CscrmDataCollection.agency_wide_scrm_strategy_and_implementation_plan_options,
        { include_blank: true },
        class: "usa-select",
        required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :agency_wide_scrm_strategy_and_implementation_plan_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :agency_wide_scrm_strategy_and_implementation_plan_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :enterprise_risk_management_function_established,
      "#{CscrmDataCollection.question_10[:number]}. #{CscrmDataCollection.question_10[:text]}",
      class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.2 “Level 1 – Enterprise”

      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: FRAME inputs and conditions
    </div>
    <%= form.select :enterprise_risk_management_function_established,
        CscrmDataCollection.enterprise_risk_management_function_established_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :enterprise_risk_management_function_established_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :enterprise_risk_management_function_established_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset" role="group">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_11[:number]}. #{CscrmDataCollection.question_11[:text]}" %></legend>
    <%= form.label :roles_and_responsibilities,
    "#{CscrmDataCollection.question_11[:number]}. #{CscrmDataCollection.question_11[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 2.3.1-5 “Roles and Responsibilities Across the Three Levels”

      Section 3.1 “C-SCRM in Acquisition”

      Appendix D.1 and D.2 “C-SCRM Strategy and Implementation Plan” and “C-SCRM Policy”
    </div>
    <br>
    <% CscrmDataCollection.roles_and_responsibilities_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:roles_and_responsibilities, {
          multiple: true,
          checked: form.object.roles_and_responsibilities&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :roles_and_responsibilities_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :roles_and_responsibilities_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_8[:number]}. #{CscrmDataCollection.question_8[:text]}" %></legend>
    <%= form.label :missions_identified,
    "#{CscrmDataCollection.question_12[:number]}. #{CscrmDataCollection.question_12[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1.1. Acquisition in the C-SCRM Strategy and Implementation Plan
      <br>
      Appendix E: :FASCSA”
      Table E-1 “Baseline Risk Factors”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: Task 1-1; Task 2-0
      <br>
      RA-9 Criticality Analysis
      CM-8 System Component Inventory
      PM-5 System Inventory
      SR-13 Supplier Inventory
      <br>
      See also:
      NISTIR 8179: “Criticality Analysis Process Model: Prioritizing Systems and Components”
      <br>
      FIPS 199 “Standards for Security Categorization of Federal Information and Information
    </div>
    <br>
    <% CscrmDataCollection.missions_identified_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:missions_identified, {
          multiple: true,
          checked: form.object.missions_identified&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :missions_identified_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :missions_identified_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :prioritization_process,
    "#{CscrmDataCollection.question_13[:number]}. #{CscrmDataCollection.question_13[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1.1. Acquisition in the C-SCRM Strategy and Implementation Plan
      <br>
      Appendix E: :FASCSA”
      Table E-1 “Baseline Risk Factors”
      <br>
      Appendix G: Appendix G: “C-SCRM Activities in the Risk Management Process”: Task 1-1; Task 2-0
      <br>
      RA-9 Criticality Analysis
      <br>
      CM-8 System Component Inventory
      <br>
      PM-5 System Inventory
      <br>
      SR-13 Supplier Inventory
      <br>
      See also:
      NISTIR 8179: “Criticality Analysis Process Model: Prioritizing Systems and Components”
      <br>
      FIPS 199 “Standards for Security Categorization of Federal Information and Information Systems”
    </div>
    <%= form.select :prioritization_process,
      CscrmDataCollection.prioritization_process_options,
      { include_blank: true },
      class: "usa-select",
      required: true
    %>
  </div>


  <div class="field margin-left-5">
    <%= form.label :prioritization_process_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :prioritization_process_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_14[:number]}. #{CscrmDataCollection.question_14[:text]}" %></legend>
    <%= form.label :considerations_in_procurement_processes,
    "#{CscrmDataCollection.question_14[:number]}. #{CscrmDataCollection.question_14[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.1. C-SCRM in Acquisition
      <br>
      SA Security Control Family
      <br>
      SR-5 Acquisition Strategies, Tools, and Methods
      <br>
      SR-6 Supplier Assessments and Reviews
    </div>
    <br>
    <% CscrmDataCollection.considerations_in_procurement_processes_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:considerations_in_procurement_processes, {
          multiple: true,
          checked: form.object.considerations_in_procurement_processes&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :considerations_in_procurement_processes_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :considerations_in_procurement_processes_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_15[:number]}. #{CscrmDataCollection.question_15[:text]}" %></legend>
    <%= form.label :conducts_scra_for_prioritized_products_and_services, "#{CscrmDataCollection.question_15[:number]}. #{CscrmDataCollection.question_15[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      SR-6 “Supplier Assessments and Reviews”
      <br>
      Appendix D.4 ”Cybersecurity Supply Chain Risk Assessment Template”
      <br>
      Appendix E: “FASCSA”
      <br>
      Appendix G: ASSESS
    </div>

    <br>
    <% CscrmDataCollection.conducts_scra_for_prioritized_products_and_services_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:conducts_scra_for_prioritized_products_and_services, {
          multiple: true,
          checked: form.object.conducts_scra_for_prioritized_products_and_services&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :conducts_scra_for_prioritized_products_and_services_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :conducts_scra_for_prioritized_products_and_services_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_16[:number]}. #{CscrmDataCollection.question_16[:text]}" %></legend>
    <%= form.label :personnel_required_to_complete_training,
    "#{CscrmDataCollection.question_16[:number]}. #{CscrmDataCollection.question_16[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 3.3 “Training and Awareness”
      <br>
      Awareness and Training Security Controls (AT-1 through AT-4)
      <br>
      Various miscellaneous references to training throughout the publication (search on “training”)
    </div>
    <br>
    <% CscrmDataCollection.personnel_required_to_complete_training_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:personnel_required_to_complete_training, {
          multiple: true,
          checked: form.object.personnel_required_to_complete_training&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :personnel_required_comments, "Comments", class: "usa-label" %>
    <%= form.text_area :personnel_required_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :established_process_information_sharing_with_fasc,
     "#{CscrmDataCollection.question_17[:number]}. #{CscrmDataCollection.question_17[:text]}",class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Section 1: “Introduction”
      <br>
      Section 2.3.5 “C-SCRM PMO”
      <br>
      Section 3.2 “Supply Chain Information Sharing”
      <br>
      Appendix E: “FASCSA”
      <br>
      AC-21 “Information Sharing”
      <br>
      Note: Information sharing is referenced in various additional security controls (search on “information sharing”)
    </div>

    <%= form.select :established_process_information_sharing_with_fasc,
      CscrmDataCollection.established_process_information_sharing_options,
      { include_blank: true },
      class: "usa-select" %>
  </div>

  <div class="field margin-left-5">
    <%= form.label :established_process_information_sharing_with_fasc_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :established_process_information_sharing_with_fasc_comments, class: "usa-textarea" %>
  </div>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only"><%= "#{CscrmDataCollection.question_18[:number]}. #{CscrmDataCollection.question_18[:text]}" %></legend>
    <%= form.label :cybersecurity_supply_chain_risk_considerations,
    "#{CscrmDataCollection.question_18[:number]}. #{CscrmDataCollection.question_18[:text]}",
    class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Contingency Planning Security Control Family
    </div>
    <br>
    <% CscrmDataCollection.cybersecurity_supply_chain_risk_considerations_options.each_with_index do |option, i| %>
      <div class="margin-bottom-1">
        <%= form.check_box(:cybersecurity_supply_chain_risk_considerations, {
          multiple: true,
          checked: form.object.cybersecurity_supply_chain_risk_considerations&.include?(option),
          class: "usa-checkbox__input2 usa-checkbox__input--tile2"
        }, option, nil) %>
        &nbsp;
        &nbsp;
        <%= form.label(option, option, class: "usa-checkbox__label2") %>
      </div>
    <% end %>
  </fieldset>

  <div class="field margin-left-5">
    <%= form.label :cybersecurity_supply_chain_risk_comments, "Comments" , class: "usa-label" %>
    <%= form.text_area :cybersecurity_supply_chain_risk_comments, class: "usa-textarea" %>
  </div>

  <div class="field">
    <%= form.label :general_comments,
      "19. General comments or context" , class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Overall context, challenges, obstacles, and accomplishments, etc. related to C-SCRM reporting
    </div>
    <%= form.text_area :general_comments, class: "usa-textarea" %>
  </div>

  <p>
    <%= form.submit (cscrm_data_collection.persisted? ? "Update CSCRM Data Collection" : "Create CSCRM Data Collection"), class: "usa-button" %>
  </p>
<% end %>
<script>
  $(function () {
    setHeartbeat("<%= admin_heartbeat_path %>");
  });
</script>