<% content_for :navigation_title do %>
  CSCRM Data Collection
  <%= link_to edit_admin_cscrm_data_collection_path(@cscrm_data_collection), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_cscrm_data_collections_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CSCRM Data Collections
    <% end %>
</p>

<p style="color: green"><%= notice %></p>

<p>
  <strong>
    User:
  </strong>
  <br>
  <%= @cscrm_data_collection.user.email %>
</p>

<p>
  <strong>
    Organization name:
  </strong>
  <br>
  <%= @cscrm_data_collection.organization.name %>
</p>

<p>
  <strong>
    Bureau:
  </strong>
  <br>
  <%= @cscrm_data_collection.bureau %>
</p>

<p>
  <strong>
    Year:
  </strong>
  <br>
  <%= @cscrm_data_collection.year %>
</p>

<p>
  <strong>
    Quarter:
  </strong>
  <br>
  <%= @cscrm_data_collection.quarter %>
</p>

<hr>

<% (1..18).each do |i| %>
<p>
  <strong>
    <%= CscrmDataCollection.send("question_#{i}")[:number] %>.
    <%= CscrmDataCollection.send("question_#{i}")[:text] %>:
  </strong>
  <br>
  <% field = CscrmDataCollection.send("question_#{i}")[:field] %>
  <% value = YAML.load(@cscrm_data_collection.send(field) || "") %>

  <% if value.class == String %>
    <%= value %>
  <% elsif value.class == Array %>
    <ul>
      <% value.each do |v| %>
      <li>
        <%= v %>
      </li>
      <% end %>
    </ul>
  <% end %>
</p>
<% end %>

