<%= render 'components/forms/flash' %>

<h1>Questions</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Position</th>
      <th>Question type</th>
      <th>Is required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= question.position %></td>
        <td><%= question.question_type %></td>
        <td><%= question.is_required %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
