<%= render 'components/flash' %>

<h1>Question Options</h1>

<table class="usa-table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Text</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_options.each do |question_option| %>
      <tr>
        <td><%= question_option.question_id %></td>
        <td><%= question_option.text %></td>
        <td><%= question_option.position %></td>
        <td><%= link_to 'Show', question_option %></td>
        <td><%= link_to 'Edit', edit_question_option_path(question_option) %></td>
        <td><%= link_to 'Delete', question_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Option', new_question_option_path %>
