<div class="well">
  <h1>New Question Option</h1>
  <p>
    for the question: <%= @question.text %>
    <br>
    with a question_type of: <%= @question.question_type %>
    <br>
    on the form <%= @question.form.name %>
  </p>

  <%= render 'form', form: @question.form, question: @question, question_option: @question_option %>
  <%= link_to 'Cancel', questions_admin_form_path(@question.form) %>
</div>
