<%= render 'components/forms/flash' %>

<p>
  <strong>Question:</strong>
  <%= @question_option.question_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question_option.text %>
</p>

<p>
  <strong>Position:</strong>
  <%= @question_option.position %>
</p>

<%= link_to 'Edit', edit_admin_question_option_path(@question_option) %> |
<%= link_to 'Back', question_options_path %>
