<div class="usa-grid">
  <div class="usa-width-one-half">
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="disclaimer">
          <br>
          <br>
          <br>
          <div class="usa-alert">
            This is a U.S. government service.
            Your use indicates your consent to monitoring,
            recording, and no expectation of privacy.
            Misuse is subject to criminal and civil penalties.
            <%= link_to "Read more details", "#", id: "read-more-details" %>.
            <br>
            <%= link_to "Agree and continue to Sign In", "#", id: "agree-button", class: "usa-button" %>
          </div>
          <br>
          <%= link_to "  Learn about getting access to Touchpoints.", "https://feedback.usa.gov", target: "_blank" %>
        </div>
        <div class="login-form-body">
          <div class="disclaimer">
            <br>
            <br>
            <br>
            <div class="usa-alert">
              This is a U.S. government service.
              Your use indicates your consent to monitoring,
              recording, and no expectation of privacy.
              Misuse is subject to criminal and civil penalties.
              <%= link_to "Read more details", "#", id: "read-more-details" %>.
              <br>
              <%= link_to "Agree and continue to Sign In", "#", id: "agree-button", class: "usa-button" %>
            </div>
            <br>
            <%= link_to "  Learn about getting access to Touchpoints.", "https://feedback.usa.gov", target: "_blank" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
    </div>


    <!-- This is near a canonical definition of the Touchpoints form -->
    <!-- It is worth considering how to templatize this -->
    <!-- to the greatest practical extent -->
    <%#= render "components/widget" %>
    <div id="fba-modal" style="display: none;">
      <div id="fba-modal-dialog">
        <h3 id="fba-modal-title"></h3>
        <a id="fba-modal-close" type="button" class="close-button" href="#">×</a>
        <p id="fba-instructions">
          <div style="font-size: 18px; font-weight: bold;">
            This is a U.S. government service.
          </div>
          <p>
            Touchpoints is a U.S. General Services Administration federal government service,
            for official use by U.S. government employees and contractors working on U.S. government digital services.
            All use of Touchpoints may be monitored, recorded, and subject to audit, by cloud.gov operations staff and other federal government authorities. There is no expectation of privacy for users of this system. By continuing to use this system, you consent to your use being monitored and recorded.
            Unauthorized use is prohibited, and individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.
            Acceptable uses of cloud.gov include building and managing government digital services,
            making and trying test services to learn about how cloud.gov works,
            and activities contributing to the development of cloud.gov itself.
            We describe these intended uses (along with guidelines and policies) in more detail in the cloud.gov documentation.
            If you have questions about these conditions, please email feedback-analytics@gsa.gov.
          </p>

          <div style="text-align: right;">
            <button type="button" name="button" class="close-button">Hide details</button>
          </div>
        </p>

      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(function() {
    // Hide the form by default
    $(".login-form-body").hide();
    // Show the login form after agreeing to the TOS
    $("#agree-button").on("click", function() {
      $(".disclaimer").hide();
      $(".login-form-body").show();
    });

    // Manage the modal
    function hideModal() {
      $("#fba-modal").hide();
    }
    function showModal() {
      $("#fba-modal").show();
    }
    $("#fba-modal .close-button").on("click", function() {
      hideModal();
    });
    $("#read-more-details").on("click", function() {
      showModal();
    });
  });
</script>
