<div class="grid-row">
  <div class="grid-col-6">
    <div class="login-form">
      <div class="disclaimer">
        <br>
        <br>
        <br>
        <div class="usa-alert">
          This is a U.S. government service.
          Your use indicates your consent to monitoring,
          recording, and no expectation of privacy.
          Misuse is subject to criminal and civil penalties.
          <%= link_to "Read more details", "#", id: "read-more-details" %>.
          <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
          <p>
            <%= link_to "Agree and continue to Sign In with Login.gov", user_login_dot_gov_omniauth_authorize_path, id: "agree-button", class: "usa-button" %>
          </p>
          <% end %>
          <% if ENV['GITHUB_CLIENT_ID'].present? %>
          <p>
            <%= link_to "Agree and continue to Sign In with GitHub", user_github_omniauth_authorize_path, id: "agree-button", class: "usa-button" %>
          </p>
          <% end %>
        </div>
        <br>
        <%= link_to "Email us to get access to Touchpoints", "mailto:feedback-analytics@gsa.gov", target: "_blank", rel: "noopener" %>.
      </div>
    </div>

    <%= render "components/disclaimer_modal" %>
  </div>
</div>

<script>
  $(function() {
    // Manage the modal
    function hideModal() {
      $("#fba-modal").hide();
    }
    function showModal() {
      $("#fba-modal").show();
    }
    $("#fba-modal .close-button").on("click", function() {
      hideModal();
    });
    $("#read-more-details").on("click", function() {
      showModal();
    });
  });
</script>
