<%= form_with(model: organization, url: (organization.persisted? ? admin_organization_path(organization) : admin_organizations_path), local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:
      </h2>
      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.text_field :name, class: "usa-input", placeholder: "General Services Administration" %>
  </div>
  <div class="field">
    <%= form.label :logo, class: "usa-label" %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          The uploaded logo will be transformed into 2 additional sizes:
          <ul class="usa-list">
            <li>Thumbnail - 96px width by 96px tall</li>
            <li>Card - 360px wide by variable height</li>
          </ul>
        </p>
      </div>
    </div>
    <p>
      <%= form.file_field :logo, class: "usa-button" %>
    </p>
  </div>
  <div class="field">
    <%= form.label :domain, class: "usa-label" %>
    <%= form.text_field :domain, class: "usa-input", placeholder: "gsa.gov" %>
  </div>
  <div class="field">
    <%= form.label :url, class: "usa-label" %>
    <%= form.text_field :url, class: "usa-input", placeholder: "https://gsa.gov" %>
  </div>
  <div class="field">
    <%= form.label :abbreviation, class: "usa-label" %>
    <%= form.text_field :abbreviation, class: "usa-input", placeholder: "GSA" %>
  </div>
  <div class="field">
    <%= form.label :notes, class: "usa-label" %>
    <%= form.text_area :notes, class: "usa-textarea", placeholder: "CX & Service Design notes about this Org" %>
  </div>
  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
