<h4>
  Strategic goals (4-year)
</h4>
<div class="sorting-div-4">
  <% @organization.goals.includes(:organization).where(four_year_goal: true, parent_id: nil).order(:position).each_with_index do |goal, i| %>
    <div class="well" id="<%= dom_id(goal) %>" data-id="<%= goal.id %>" data-url="<%= sort_goals_admin_organization_path(goal.organization) %>">
      <div class="delete-float-right">
        <%= link_to delete_four_year_goal_admin_organization_path(@organization) + "?goal_id=#{goal.id}", method: :delete, data: { confirm: 'Are you sure?' }, :remote => true do %>
            <i class="fa fa-trash" title="Delete goal"></i>
        <% end %>
      </div>
      <div class="font-sans-lg">
        <%= i + 1 %>.
        <%= link_to goal.name, admin_goal_path(goal) %>
      </div>
      <p class="goals-div">
        <% if goal.objectives.size > 0 %>
          Objectives:
        <% end %>
        <div class="sorting-div-objectives">
          <% goal.objectives.order(:position).each_with_index do |obj, j| %>
            <p class="well" id="<%= dom_id(obj) %>" data-id="<%= obj.id %>" data-url="<%= sort_objectives_admin_organization_path(goal.organization) %>">
              <%= j + 1 %>.
              <%= obj.name %>
            </p>
          <% end %>
        </div>
      </p>
    </div>
  <% end %>
</div>
<%= link_to "Create 4-yr strategic goal", create_four_year_goal_admin_organization_path(@organization), class: "usa-button", remote: true %>
<script>
  $(".sorting-div-4").sortable({
    distance: 20,
    update: function(e, ui) {
      var url = ui.item.data("url");
      $.ajax({
        url: url,
        type: "PATCH",
        data: $(this).sortable('serialize')
      });
    }
  });
  $(".sorting-div-objectives").sortable({
    distance: 20,
    update: function(e, ui) {
      var url = ui.item.data("url");
      $.ajax({
        url: url,
        type: "PATCH",
        data: $(this).sortable('serialize')
      });
    }
  });
</script>
