<% content_for :navigation_title do %>
  Organizations
  <%= link_to new_admin_organization_path, class: "usa-button usa-button-inverted float-right" do %>
  <i class="fa fa-plus-circle"></i>
    New Organization
  <% end %>
<% end %>

<table class="usa-table" style="width: 100%;">
  <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader">Abbreviation</th>
      <th data-sortable scope="col" role="columnheader">Name</th>
      <th data-sortable scope="col" role="columnheader">URL</th>
      <th data-sortable scope="col" role="columnheader">Forms</th>
      <th data-sortable scope="col" role="columnheader">Services</th>
      <th data-sortable scope="col" role="columnheader">Collections</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.abbreviation %></td>
        <td><%= link_to organization.name, admin_organization_path(organization) %></td>
        <td>
          <%= link_to organization.url, organization.url, target: "_blank", rel: "noopener" %>
        </td>
        <td>
          <%= organization.forms.count %>
        </td>
        <td>
          <%= organization.services.count %>
        </td>
        <td>
          <%= organization.collections.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
