<% content_for :navigation_title do %>
  Organizations
  <%= link_to new_admin_organization_path, class: "usa-button usa-button-inverted float-right" do %>
  <i class="fa fa-plus-circle"></i>
    New Organization
  <% end %>
<% end %>

<div class="well">
  <div class="field">
    <%= label_tag :search_text, "Search by name, domain, abbreviation or url" %>
    <%= text_field_tag :search_text, nil, class: "usa-input", autofocus: true %>
    <% if @tags.first %>
      <p>
        Search by tag
      </p>
      <div class="tag-list">
        <% @tags.order(:name).each do | tag | %>
          <a href="#" class="search-tag-link" data-name="<%= tag.name %>">
            <span class="usa-tag">
              <%= tag.name %> (<%= tag.taggings_count %>)
            </span>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="search-results">
  <%= render 'results' %>
</div>

<script>
  $(function() {
    $("#search_text").keyup(debounce(function() {
      var searchValue = $("#search_text").val();

      $.ajax({
        url: '/admin/organizations/search',
        data: {
          search: searchValue
        }
      });
    }, 400));

    $(".search-tag-link").on("click", function() {
      $("#search_text").val("");

      $.ajax({
        url: '/admin/organizations/search',
        data: {
          tag: $(this).attr("data-name")
        }
      });

    });
  });
</script>
