<% content_for :navigation_title do %>
  Performance management
  <%= link_to performance_edit_admin_organization_path(@organization), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_performance_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Performance
  <% end %>
</p>

<div>
  <h2>
    <%= @organization.name %>
  </h2>
  <div class="grid-row">
    <div class="grid-col-12 usa-prose">
      <p>
        <strong>
          <%= @organization.abbreviation %>
        </strong>
      </p>
      <p>
        <%= @organization.mission_statement %>
      </p>

      <hr>

      <div class="grid-row font-sans-lg">
        <div class="grid-col-12">
          <p>
            Strategic plan
            &nbsp;
            <%= link_to "PDF", @organization.strategic_plan_url, class: "font-sans-xs" %>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
          <p>
            Performance plan (next year)
            &nbsp;
            <%= link_to "PDF", @organization.performance_url, class: "font-sans-xs" %>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
          <p>
            Learning agenda
            &nbsp;
            <%= link_to "Link to evaluation.gov", @organization.learning_agenda_url, class: "font-sans-xs" %>
            &nbsp;
            <i class="fa fa-external-link-alt font-sans-xs"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<section class="four-year-goals">
  <%= render partial: 'admin/organizations/four_year_goals', locals: { organization: @organization } %>
</section>
<br>
<hr>
<section class="two-year-goals">
  <%= render partial: 'admin/organizations/two_year_goals', locals: { organization: @organization } %>
</section>
<br>
<br>
