<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to(@organization.url, @organization.url, target: "_blank") %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @organization.abbreviation %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @organization.notes %>
</p>

<p>
  <strong>External:</strong>
  <%= @organization.external_id %>
</p>

<%= link_to 'Edit', edit_admin_organization_path(@organization), class: "usa-button" %>
