<% content_for :navigation_title do %>
  Viewing
  <%= @organization.name %>
  <%= link_to edit_admin_organization_path(@organization), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_organizations_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Organizations
  <% end %>
</p>

<div class="grid-row">
  <div class="grid-col-8">
    <div class="grid-row">
      <%- if @organization.cfo_act_agency? %>
      <div class="grid-col-12">
        <span class="usa-tag bg-success">
          CFO Act Agency
        </span>
      </div>
      <% end -%>

      <%- if @organization.logo %>
      <div>
        <%- if @organization.logo_url.present? %>
        <br>
        <%= image_tag(@organization.logo.thumb.url) %>
        <br>
        <%= link_to "Thumbnail Size", @organization.logo.thumb.url, target: "_blank", rel: "noopener" %>
        &middot;
        <%= link_to "Full Size", @organization.logo.url, target: "_blank", rel: "noopener" %>
        &middot;
        <%= link_to "Card Size", @organization.logo.card.url, target: "_blank", rel: "noopener" %>
        <% else %>
          A logo has not yet been uploaded
        <% end %>
      </div>
      <% end -%>

      <%- if @organization.parent %>
      <div class="grid-col-12">
        <%= label_tag "Parent Organization name", nil, class: "usa-label" %>
        <%= link_to @organization.parent.name, admin_organization_path(@organization.parent) %>
      </div>
      <% end -%>

      <div class="grid-col-12">
        <h2>
          <span title="name"><%= @organization.name %></span>
          (<span title="abbreviation"><%= @organization.abbreviation %></span>)
        </h2>
      </div>
    </div>

    <div class="usa-prose">
      <%= label_tag "Mission statement", nil, class: "usa-label" %>
      <br>
      <%- if @organization.mission_statement.present? %>
        <%= @organization.mission_statement %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Mission statement has not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </div>
    <p>
      <%= label_tag "Digital Analytics URL", nil, class: "usa-label" %>
      <%- if @organization.digital_analytics_path? %>
        <%= link_to("https://analytics.usa.gov/#{@organization.digital_analytics_path}", "https://analytics.usa.gov/#{@organization.digital_analytics_path}", target: "_blank", rel: "noopener") %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            DAP path has not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </p>
    <p>
      <%= label_tag "Notes", nil, class: "usa-label" %>
      <%- if @organization.notes.present? %>
        <%= @organization.notes %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Notes have not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </p>

    <div class="sub-organizations well">
      <h3>
        <%= pluralize(@organization.children.size, "Sub-agency") %>
      </h3>

      <%- if @organization.children.present? %>
      <ul class="usa-list">
      <% @organization.children.order(:name).each do |organization| %>
        <li>
          <%= link_to organization.name, admin_organization_path(organization) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Sub-agencies at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>

    <%- if admin_permissions? || current_user.organization == @organization %>
    <div class="service-providers well">
      <h3>
        <%= pluralize(@organization.service_providers.size, "Service Providers") %>
      </h3>

      <%- if @organization.service_providers.present? %>
      <ul class="usa-list">
      <% @organization.service_providers.order(:name).each do |service_provider| %>
        <li>
          <%= link_to service_provider.name, admin_service_provider_path(service_provider) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Service Providers at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="service-providers well">
      <h3>
        <%= pluralize(@organization.services.size, "Service") %>
      </h3>

      <%- if @organization.services.present? %>
      <ul class="usa-list">
      <% @organization.services.order(:name).each do |service| %>
        <li>
          <%= link_to service.name, admin_service_path(service) %>
          <%- if service.service_provider %>
            - provided by
            <%= link_to service.service_provider.name, admin_service_path(service) %>
          <% end %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Service Providers at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="touchpoints well">
      <h3>
        <%= @forms.size %> Forms
      </h3>

      <%- if @forms.present? %>
        <%= render "admin/forms/list", forms: @forms %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Forms at this time
          </p>
        </div>
      </div>
      <% end %>

    </div>
    <div class="collections well">
      <h3>
        <%= pluralize(@collections.size, "Collection") %>
      </h3>

      <%- if @collections.present? %>
        <ul class="usa-list">
        <% @collections.order(:year, :quarter).each do |collection| %>
          <li>
            <%= collection.year %>
            Q<%= collection.quarter %>
            &middot;
            <%= link_to collection.name, admin_collection_path(collection) %><br>
          </li>
        <% end %>
        </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Collections at this time
          </p>
        </div>
      </div>
      <% end %>
      <h3>

    </div>
    <div class="users well">
      <h3>
        <%= pluralize(@users.size, "User") %>
      </h3>

      <%- if @users.present? %>
      <ul class="usa-list">
      <% @users.order(:email).each do |user| %>
        <li>
          <%= link_to user.email, admin_user_path(user) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Users at this time
          </p>
        </div>
      </div>
      <% end %>

    </div>
    <% end %>

  </div>
  <div class="grid-col-4">
    <table class="usa-table font-sans-2xs">
      <tbody>
        <tr>
          <td>
            <%= label_tag "Organization Domain", nil, class: "usa-label" %>
            <small>
              used for the Allowlist of users email addresses
            </small>
          </td>
          <td>
            <%= @organization.domain %>
          </td>
        </tr>
        <tr>
          <td>
            <%= label_tag "Website URL", nil, class: "usa-label" %>
          </td>
          <td>
            <%= link_to(@organization.url, @organization.url, target: "_blank", rel: "noopener") %>
          </td>
        </tr>
        <tr>
          <td>
            Form Approval Enabled?
          </td>
          <td>
            <%= @organization.form_approval_enabled %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
