<% content_for :navigation_title do %>
  Viewing
  <%= @organization.name %>
  <%= link_to edit_admin_organization_path(@organization), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_organizations_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Organizations
  <% end %>
</p>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-8">
    <div class="grid-row">
      <%- if @organization.cfo_act_agency? %>
      <div class="grid-col-12">
        <span class="usa-tag bg-success">
          CFO Act Agency
        </span>
      </div>
      <% end -%>

      <%- if @organization.logo %>
      <div>
        <%- if @organization.logo_url.present? %>
        <br>
        <%= image_tag(@organization.logo.logo_square.url) %>
        <br>
        <%= link_to "Square size", @organization.logo.logo_square.url, target: "_blank", rel: "noopener" %>
        &middot;
        <%= link_to "Thumbnail size", @organization.logo.thumb.url, target: "_blank", rel: "noopener" %>
        &middot;
        <%= link_to "Full size", @organization.logo.url, target: "_blank", rel: "noopener" %>
        &middot;
        <%= link_to "Tag size", @organization.logo.tag.url, target: "_blank", rel: "noopener" %>
        <% else %>
          <!-- A logo has not yet been uploaded -->
        <% end %>
      </div>
      <% end -%>

      <div class="grid-col-12">
      <%- if @organization.parent %>
        <%= label_tag "Parent Organization", nil, class: "usa-label text-base" %>
        <%= render "admin/organizations/badge", organization: @organization.parent %>
      <% else %>
        No parent organization specified
      <% end %>
      </div>

      <div class="grid-col-12">
        <%= label_tag "Abbreviation", nil, class: "usa-label text-base" %>
        <span title="abbreviation"><%= @organization.abbreviation %></span>
      </div>
    </div>

    <div class="usa-prose">
      <%= label_tag "Mission statement", nil, class: "usa-label text-base" %>
      <%- if @organization.mission_statement.present? %>
        <%= @organization.mission_statement %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Mission statement has not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </div>
    <div>
      <%= label_tag "Digital Analytics URL", nil, class: "usa-label text-base" %>
      <%- if @organization.digital_analytics_path? %>
        <%= link_to("https://analytics.usa.gov/#{@organization.digital_analytics_path}",
          "https://analytics.usa.gov/#{@organization.digital_analytics_path}",
          target: "_blank",
          rel: "noopener") %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            DAP path has not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </div>
    <div class="margin-bottom-3">
      <%= label_tag "Notes", nil, class: "usa-label text-base" %>
      <%- if @organization.notes.present? %>
        <%= @organization.notes %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Notes have not been entered
          </p>
        </div>
      </div>
      <% end -%>
    </div>

    <div class="sub-organizations well">
      <h2>
        <%= pluralize(@organization.children.size, "Sub-agency") %>
      </h2>

      <%- if @organization.children.present? %>
      <ul class="usa-list">
      <% @organization.children.order(:name).each do |organization| %>
        <li>
          <%= link_to organization.name, admin_organization_path(organization) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Sub-agencies at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>

    <%- if admin_permissions? || current_user.organization == @organization %>
    <div class="service-providers well">
      <h2>
        <%= pluralize(@organization.service_providers.size, "Service Providers") %>
      </h2>

      <%- if @organization.service_providers.present? %>
      <ul class="usa-list">
      <% @organization.service_providers.order(:name).each do |service_provider| %>
        <li>
          <%= link_to service_provider.name, admin_service_provider_path(service_provider) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Service Providers at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="service-providers well">
      <h2>
        <%= pluralize(@organization.services.size, "Service") %>
      </h2>

      <%- if @organization.services.present? %>
      <ul class="usa-list">
      <% @organization.services.order(:name).includes(:service_provider).each do |service| %>
        <li>
          <%= link_to service.name, admin_service_path(service) %>
          <%- if service.service_provider %>
            - provided by
            <%= link_to service.service_provider.name, admin_service_path(service) %>
          <% end %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Service Providers at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="touchpoints well">
      <h2>
        <%= pluralize(@forms.size, "Form") %>
      </h2>

      <%- if @forms.present? %>
        <%= render "admin/forms/list", forms: @forms %>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Forms at this time
          </p>
        </div>
      </div>
      <% end %>

    </div>
    <div class="collections well">
      <h2>
        <%= pluralize(@cx_collections.size, "Collection") %>
      </h2>

      <%- if @cx_collections.present? %>
        <ul class="usa-list">
        <% @cx_collections.each do |cx_collection| %>
          <li>
            <%= cx_collection.fiscal_year %>
            Q<%= cx_collection.quarter %>
            &middot;
            <%= link_to cx_collection.name, admin_cx_collection_path(cx_collection) %><br>
          </li>
        <% end %>
        </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Collections at this time
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="users well">
      <h2>
        <%= pluralize(@users.size, "User") %>
      </h2>

      <%- if @users.present? %>
      <ul class="usa-list">
      <% @users.order(:email).each do |user| %>
        <li>
          <%= link_to user.email, admin_user_path(user) %>
        </li>
      <% end %>
      </ul>
      <% else %>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            No Users at this time
          </p>
        </div>
      </div>
      <% end %>

    </div>
    <% end %>

  </div>
  <div class="grid-col-4">
    <table class="usa-table font-sans-2xs">
      <tbody>
        <tr>
          <td>
            Organization domain
            <br>
            <small>
              Login.gov users with this email suffix are allowed
            </small>
          </td>
          <td>
            <%= @organization.domain %>
          </td>
        </tr>
        <tr>
          <td>
            Website URL
          </td>
          <td>
            <%= link_to(@organization.url, @organization.url, target: "_blank", rel: "noopener") %>
          </td>
        </tr>
        <tr>
          <td>
            Form Approval Enabled?
            <br>
            <small>
              adds a Submission and Approval for step for an Organization's forms
            </small>
          </td>
          <td>
            <%= @organization.form_approval_enabled %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
