<div class="usa-accordion usa-accordion--bordered">
  <h4 class="usa-accordion__heading">
    <button
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="csv-data"
    >
      CSV data for performance.gov/cx charts
    </button>
  </h4>
  <div id="csv-data" class="usa-accordion__content">
    <div>
      <h4>
        Service Summary
      </h4>
      <p>
        submission comment,
        survey_instrument_reference,
        agency_poc_name,
        agency_poc_email,
        department,
        bureau,
        service,
        transaction_point,
        mode,
        start_date,
        end_date,
        total_volume,
        survey_opp_volume,
        response_count,
        OMB_control_number,
        federal_register_url
        <br>
        "<%= collection.reflection || "Please enter reflection text" %>",
        <%= "---" %>,
        <%= "POC name" %>,
        <%= collection.user.email %>,
        <%= collection.organization.name %>,
        <%= collection.service_provider ? collection.service_provider.bureau : "" %>,
        <%= collection.service_provider ? collection.service_provider.name : "" %>,
        <%= collection.start_date %>,
        <%= collection.end_date %>,
        <%= collection.totals[:volume_of_customers] %>,
        <%= collection.totals[:volume_of_customers_provided_survey_opportunity] %>,
        <%= collection.totals[:volume_of_respondents] %>,
        <%= collection.omb_cx_reporting_collections.first.omb_control_number if collection.omb_cx_reporting_collections.first %>,
        <%= collection.omb_cx_reporting_collections.first.federal_register_url if collection.omb_cx_reporting_collections.first %>
      </p>
    </div>
    <div>
      <h4>
        cx-summary-data.csv
      </h4>
      <p>
        service_provider_id,hisp_service_id,year,quarter,touchpoint,surveys_offered_count,response_count,satisfied,trust,effective,easy,efficient,transparent,employee
        <br>
        <% collection.omb_cx_reporting_collections.each do |omb_cx_reporting_collection| %>
        <%= omb_cx_reporting_collection.collection.service_provider.slug %>,<%= omb_cx_reporting_collection.service.service_slug %>,<%= omb_cx_reporting_collection.collection.year %>,<%= omb_cx_reporting_collection.collection.quarter %>,<%= omb_cx_reporting_collection.channel %>,
        <%= omb_cx_reporting_collection.volume_of_customers %>,
        <%= omb_cx_reporting_collection.volume_of_respondents %>,
        <%= omb_cx_reporting_collection.q1_point_scale %>,
        <%= omb_cx_reporting_collection.q2_point_scale %>,
        <%= omb_cx_reporting_collection.q3_point_scale %>,
        <%= omb_cx_reporting_collection.q4_point_scale %>,
        <%= omb_cx_reporting_collection.q5_point_scale %>,
        <%= omb_cx_reporting_collection.q6_point_scale %>,
        <%= omb_cx_reporting_collection.q7_point_scale %>
        <br>
        <% end %>
      </p>
    </div>
  </div>
</div>
