<%= form_with(model: collection, url: collection.persisted? ? admin_collection_path(collection) : admin_collections_path, local: true, data: { turbo: false }) do |f| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if performance_manager_permissions? %>
  <div class="field">
    <%= f.label :user_id, class: "usa-label" %>
    <%= f.select :user_id, options_for_select(User.all.collect { |u| [u.email, u.id] }, collection.user_id), { prompt: "Which User?", include_blank: true }, { class: "usa-select" } %>
  </div>
  <% else %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <% if performance_manager_permissions? %>
  <div class="field">
    <%= f.label :organization_id, class: "usa-label" %>
    <%= f.select :organization_id, options_for_select(organization_dropdown_options, collection.organization_id), { prompt: "Which Organization?" }, { class: "usa-select" } %>
  </div>
  <% else %>
    <%= f.hidden_field :organization_id, value: current_user.organization_id %>
  <% end %>

  <div class="field">
    <%= f.label :service_provider_id, "HISP Service Provider", class: "usa-label" %>
    <%= f.select :service_provider_id, ServiceProvider.all.map { |h| ["#{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, class: "usa-select" %>
  </div>

  <div class="field">
    <%= f.label :name, class: "usa-label" %>
    <%= f.select :name, ["CX Quarterly Reporting"], {}, class: "usa-select" %>
  </div>

  <% if performance_manager_permissions? && collection.persisted? %>
  <div class="field">
    <%= f.label :aasm_state, class: "usa-label" %>
    <%= f.select :aasm_state, [:draft, :submitted, :published, :change_requested], {}, class: "usa-select" %>
  </div>
  <% else %>
    <%= f.hidden_field :aasm_state, value: :draft %>
  <% end %>

  <% if performance_manager_permissions? && collection.persisted? %>
  <% rating_options = [
      ["🟢 Reporting within A-11 guidelines", "TRUE"],
      ["🔴 Not submitting data", "FALSE"],
      ["🟡 Reporting partially within A-11 guidelines", "PARTIAL"]
    ] %>
  <div class="field">
    <%= f.label :rating, class: "usa-label" %>
    <%= f.select :rating, rating_options, { include_blank: true }, { class: "usa-select" } %>
  </div>
  <% end %>

  <% if collection.persisted? %>
  <div class="field usa-form-group">
    <%= f.label :start_date, class: "usa-label", id: "expiration-date-label" %>
    <div class="usa-date-picker" data-default-value="<%= collection.start_date %>">
      <%= f.text_field :start_date, placeholder: "mm/dd/yyyy", class: "usa-input" %>
    </div>
  </div>

  <div class="field usa-form-group">
    <%= f.label :end_date, class: "usa-label", id: "expiration-date-label" %>
    <div class="usa-date-picker" data-default-value="<%= collection.end_date %>">
      <%= f.text_field :end_date, placeholder: "mm/dd/yyyy", class: "usa-input" %>
    </div>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :year, "Fiscal year", class: "usa-label" %>
    <%= f.text_field :year, class: "usa-input" %>
  </div>

  <%= f.label :quarter, "Fiscal quarter", class: "usa-label" %>
  <fieldset class="usa-fieldset" role="group" aria-labelledby="quarter">
    <legend class="usa-sr-only">Quarter</legend>
    <div class="question-options">
      <% (1..4).each do |i| %>
      <% @option_id = i %>
      <div class="radio-button usa-radio">
        <%= f.radio_button(:quarter, i, { id: @option_id, class: "usa-radio__input usa-radio__input--tile"  }) %>
        <%= label_tag(i, nil, class: "usa-radio__label") do %>
          <%= i %>
        <% end %>
      </div>
      <% end %>
    </div>
  </fieldset>

  <%= f.label :reflection, class: "usa-label" %>
  <small>
    What did your agency learn from this quarter / past pull's data? What seems to matter to your customers? Where might there be a pain point?
  </small>

  <%= f.text_area :reflection, class: "usa-textarea", rows: 8, maxlength: 5000 %>

  <p>
    <%= f.submit class: "usa-button" %>
  </p>
<% end %>
<script>
  $(function() {
    setHeartbeat("<%= admin_heartbeat_path %>");
  });
</script>
