<div class="usa-accordion usa-accordion--bordered">
  <h4 class="usa-accordion__heading">
    <button
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="csv-data-2">
      hisp_services_question_details.csv
    </button>
  </h4>
  <div id="csv-data-2" class="usa-accordion__content">
    <div>
      <p>
        This .csv data is used to populate the individual Services of each HISP on performance.gov.
      </p>
      <p>
        Filter by Question:
        <%= link_to "Question 1", admin_collections_path(question: 1) %>
        <%= link_to "Question 2", admin_collections_path(question: 2) %>
        <%= link_to "Question 3", admin_collections_path(question: 3) %>
        <%= link_to "Question 4", admin_collections_path(question: 4) %>
        <%= link_to "Question 5", admin_collections_path(question: 5) %>
        <%= link_to "Question 6", admin_collections_path(question: 6) %>
        <%= link_to "Question 7", admin_collections_path(question: 7) %>
      </p>
    </div>
    <% header_fields = [
        :service_provider_id,
        :service_id,
        :year,
        :quarter,
        :service_provided,
        :transaction_point,
        :channel,
        :standardized_question_number,
        :standardized_question_identifier,
        :customized_question_text,
        :likert_scale_1,
        :likert_scale_2,
        :likert_scale_3,
        :likert_scale_4,
        :likert_scale_5,
        :point_scale,
        :response_volume,
        :notes,
        :question_total,
        :start_date,
        :end_date
      ] %>
    <%= header_fields.join(",") %>
    <br>
  <% ServiceProvider.active.includes(:organization).order("organizations.name", :name).each do |service_provider| %>
    <% service_provider.services.includes(:organization, :collections, :omb_cx_reporting_collections).order("organizations.name", :name).each do |service| %>
      <% if params[:quarter] %>
        <% @collections = service.collections.where(quarter: params[:quarter]) %>
      <% else %>
        <% @collections = service.collections %>
      <% end %>
      <% @collections.each do |collection| %>
        <% collection.omb_cx_reporting_collections.includes(:collection).order("collections.year", "collections.quarter", "omb_cx_reporting_collections.service_provided", "omb_cx_reporting_collections.channel").each do |omb_cx_reporting_collection| %>
          <%# WRITE A CSV LINE FOR EACH OF THE 7 STANDARD QUESTIONS %>
          <% (1..7).each do |question_number| %>
            <% next if params[:question] && (question_number.to_s != params[:question]) %>
            <%= render 'admin/collections/csv_detail_row', omb_cx_reporting_collection: omb_cx_reporting_collection, question_number: question_number %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<br>
