
<%= form_with(model: Form.collection, url: (collection.persisted? ? admin_collection_path(collection) : admin_organizations_path), local: true, data: { turbo: false }) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:
      </h2>
      <ul class="usa-list">
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="usa-section">
  <div class="field">
    <%= form.label :service_provided, class: "usa-label" %>
    <%= form.text_field :service_provided, class: "usa-input", placeholder: "Description of the service provided" %>
  </div>
  <div class="field">
    <%= form.label :transaction_point, class: "usa-label" %>
    <%= form.text_field :transaction_point, class: "usa-input", placeholder: "Transaction point at which survey is provided" %>
  </div>
  <div class="field">
    <%= form.label :channel, class: "usa-label" %>
    <%= form.select :channel, [:computer, :mobile, :paper, :in_person], { prompt: "What type of response channel?" }, class: "usa-select" %>
  </div>
  <div class="field">
    <%= form.label :volume_of_customers, class: "usa-label" %>
    <%= form.text_field :volume_of_customers, class: "usa-input", placeholder: "# of customers (total volume)" %>
  </div>
  <div class="field">
    <%= form.label :volume_of_customers_provided_survey_opportunity, class: "usa-label" %>
    <%= form.text_field :volume_of_customers_provided_survey_opportunity, class: "usa-input", placeholder: "# of customers shown this prompt" %>
  </div>
  <div class="field">
    <%= form.label :volume_of_respondents, class: "usa-label" %>
    <%= form.text_field :volume_of_respondents, class: "usa-input", placeholder: "# of respondents" %>
  </div>
  <div class="field">
    <%= form.label :omb_control_number, class: "usa-label" %>
    <%= form.text_field :omb_control_number, class: "usa-input", placeholder: "OMB Control #{}" %>
  </div>
  <div class="field">
    <%= form.label :federal_register_url, class: "usa-label" %>
    <%= form.text_field :federal_register_url, class: "usa-input", placeholder: "https://federalregister.gov/..." %>
  </div>
</div>

<table class="usa-table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Question text
      </th>
      <th>
        1
      </th>
      <th>
        2
      </th>
      <th>
        3
      </th>
      <th>
        4
      </th>
      <th>
        5
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Satisfaction
      </td>
      <td>
        <%= form.text_field :q1_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q1_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q1_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q1_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q1_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q1_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Trust or Confidence
      </td>
      <td>
        <%= form.text_field :q2_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q2_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q2_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q2_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q2_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q2_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Effectiveness (Service)
      </td>
      <td>
        <%= form.text_field :q3_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q3_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q3_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q3_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q3_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q3_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Ease (Process)
      </td>
      <td>
        <%= form.text_field :q4_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q4_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q4_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q4_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q4_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q4_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Efficiency (Process)
      </td>
      <td>
        <%= form.text_field :q5_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q5_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q5_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q5_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q5_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q5_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Transparency (Process)
      </td>
      <td>
        <%= form.text_field :q6_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q6_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q6_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q6_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q6_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q6_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Employee (People)
      </td>
      <td>
        <%= form.text_field :q7_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q7_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q7_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q7_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q7_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q7_5, class: "usa-input" %>
      </td>
    </tr>

    <tr>
      <td>
        Question 8
      </td>
      <td>
        <%= form.text_field :q8_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q8_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q8_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q8_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q8_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q8_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Question 9
      </td>
      <td>
        <%= form.text_field :q9_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q9_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q9_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q9_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q9_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q9_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Question 10
      </td>
      <td>
        <%= form.text_field :q10_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q10_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q10_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q10_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q10_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q10_5, class: "usa-input" %>
      </td>
    </tr>
    <tr>
      <td>
        Question 11
      </td>
      <td>
        <%= form.text_field :q11_text, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q11_1, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q11_2, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q11_3, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q11_4, class: "usa-input" %>
      </td>
      <td>
        <%= form.text_field :q11_5, class: "usa-input" %>
      </td>
    </tr>
  </tbody>
</table>

<label for="" class="usa-label">
  Reflection on data
</label>
<small>
  What did your agency learn from this quarter / past pull's data? What seems to matter to your customers? Where might there be a pain point?
</small>
<textarea name="name" rows="8" cols="80" class="usa-textarea"></textarea>

<p>
  <%= form.submit class: "usa-button", style: "width: 100%;" %>
</p>
<% end %>
<script>
  $(function() {
    setHeartbeat("<%= admin_heartbeat_path %>");
  });
</script>
