<% content_for :navigation_title do %>
  Data Collections
  <%= link_to new_admin_collection_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    New Data Collection
  <% end %>
<% end %>

<table class="usa-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Year</th>
      <th>Quarter</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= link_to collection.name, admin_collection_path(collection) %></td>
        <td><%= collection.organization.name %></td>
        <td><%= collection.year %></td>
        <td><%= collection.quarter %></td>
        <td><%= collection.user.email if collection.user %></td>
        <td><%= collection.aasm_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
