<% content_for :navigation_title do %>
  Data Collections
  <%= link_to new_admin_collection_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    New Data Collection
  <% end %>
<% end %>

<br>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information">
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Managing Data Collections in Touchpoints
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Data Collections are a common user experience in federal government.
        These Data Collections feature were created for
        1. staff who create Data Collections and
        2. staff who respond to Data Collections.
        Requesting updates for specific data, by creating a Data Collection, should be easy.
        Responding to Data Collections should also be easy.
        The lifecycle of the data should be transparent and valuable as well.
      </p>
      <p>
        Touchpoints currently facilitates 2
        Data Collections:
      </p>
      <ul class="usa-list">
        <li>
          OMB CX Data Collection (quarterly)
        </li>
        <li>
          GSA Website Data Collection (annually)
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <div class="grid-row">
    <div class="grid-col-12">
      <div class="ui-filter">
        Filter by fiscal year and quarter
        <% if params[:year] || params[:quarter] %>
          <small>
            <%= link_to "View All Collections", admin_collections_path %>
          </small>
        <% end %>

        <div class="year" data-id="2022">
          <h4>
            2022
          </h4>
          <div>
            <%= link_to "Q1", admin_collections_path(quarter: 1, year: 2022), class: "usa-button #{params[:quarter] == "1" && params[:year] == "2022" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q2", admin_collections_path(quarter: 2, year: 2022), class: "usa-button #{params[:quarter] == "2" && params[:year] == "2022" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q3", admin_collections_path(quarter: 3, year: 2022), class: "usa-button #{params[:quarter] == "3" && params[:year] == "2022" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q4", admin_collections_path(quarter: 4, year: 2022), class: "usa-button #{params[:quarter] == "4" && params[:year] == "2022" ? nil : 'usa-button--outline'}" %>
          </div>
        </div>

        <div class="year" data-id="2021">
          <h4>
            2021
          </h4>
          <div>
            <%= link_to "Q1", admin_collections_path(quarter: 1, year: 2021), class: "usa-button #{params[:quarter] == "1" && params[:year] == "2021" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q2", admin_collections_path(quarter: 2, year: 2021), class: "usa-button #{params[:quarter] == "2" && params[:year] == "2021" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q3", admin_collections_path(quarter: 3, year: 2021), class: "usa-button #{params[:quarter] == "3" && params[:year] == "2021" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q4", admin_collections_path(quarter: 4, year: 2021), class: "usa-button #{params[:quarter] == "4" && params[:year] == "2021" ? nil : 'usa-button--outline'}" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<table class="usa-table collections">
  <thead>
    <tr>
      <th data-sortable scope="col">Organization</th>
      <th data-sortable scope="col">Service Provider (HISP)</th>
      <th data-sortable scope="col">Collection name</th>
      <th data-sortable scope="col">Detail report count</th>
      <th data-sortable scope="col">Year</th>
      <th data-sortable scope="col">Quarter</th>
      <th data-sortable scope="col">Status</th>
      <th data-sortable scope="col">Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.organization.name %></td>
        <td><%= collection.service_provider ? collection.service_provider.name : "SPECIFY THIS COLLECTION'S SERVICE PROVIDER" %></td>
        <td><%= link_to collection.name, admin_collection_path(collection) %></td>
        <td><%= collection.omb_cx_reporting_collections.size %></td>
        <td><%= collection.year %></td>
        <td><%= collection.quarter %></td>
        <td>
          <%= render 'components/collection_status_tag', collection: collection %>
        </td>
        <td data-sort-value="<%= collection_rating_sort_values[collection.rating] %>">
          <%= collection_rating_label(rating: collection.rating) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if performance_manager_permissions? %>
  <p>
    <%= link_to "Download Collections as .csv", export_csv_admin_collections_path, class: "usa-button" %>
  </p>
  <p>
    <%= link_to "Download OMB CX Data Reporting Collections as .csv", export_omb_cx_reporting_collections_csv_admin_collections_path, class: "usa-button" %>
  </p>
<% end %>

<% if admin_permissions? %>
  <%= render 'admin/collections/hisps_csv_details' %>
  <%= render 'admin/components/performancegov/cx_summary_chart' %>
<% end %>
