<fieldset class="usa-fieldset radios">
  <legend class="usa-sr-only">
    <%= question.text %>
  </legend>
  <%= render 'components/question_title', question: question %>

  <div class="question-options big-thumbs"
    id="<%= question.ui_selector %>">
    <div class="grid-row grid-gap-lg">
      <% question_options = [{ text: 'yes', value: 1 }, { text: 'no', value: 0 }] %>
      <% question_options.each_with_index do |option, index| %>
        <% option_id = "question_option_#{question.id}_#{option[:text]}" %>
        <div class="grid-col-6">
          <div class="radio-button usa-radio"
            id="<%= question.ui_selector %>_<%= option[:text] %>"
            data-id="<%= question.ui_selector %>_<%= option[:text] %>"
            <%- if question.help_text.present? %>
            aria-describedby="<%= "question-id-#{question.id}-help-text" %>"
            <% end %>
          >
          <%= radio_button_tag(option_id, option[:value], nil, {
              id: option_id, name: question.ui_selector,
              class: "usa-radio__input usa-radio__input--tile",
              required: question.is_required
          }) %>
          <%= label_tag(option_id, nil, class: "usa-radio__label font-sans-3xl text-center") do %>
            <%- if option[:value] == 1 %>
            <span class="usa-sr-only">Thumbs-up</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="usa-banner__lock-image"
              role="img"
              aria-labelledby="thumbs-up-icon"
              focusable="false"
            >
              <title id="thumbs-up-icon">Thumbs-up</title>
              <desc id="thumbs-up-icon">
                Thumbs-up icon
              </desc>
              <path
                fill="#000000"
                fill-rule="evenodd"
                d="M2 20h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1H2v11zm19.83-7.12c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66a4.8 4.8 0 0 0-.88-1.22L14 2 7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.84A2.34 2.34 0 0 0 9.34 20h8.11c.7 0 1.36-.37 1.72-.97l2.66-6.15z"
              />
            </svg>
            <% elsif option[:value] == 0 %>
            <span class="usa-sr-only">Thumbs-down</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="usa-banner__lock-image"
              role="img"
              aria-labelledby="thumbs-down-icon"
              focusable="false"
            >
              <title id="thumbs-down-icon">Thumbs-down</title>
              <desc id="thumbs-down-icon">
                Thumbs-down icon
              </desc>
              <path
                fill="#000000"
                fill-rule="evenodd"
                d="M22 4h-2c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h2V4zM2.17 11.12c-.11.25-.17.52-.17.8V13c0 1.1.9 2 2 2h5.5l-.92 4.65c-.05.22-.02.46.08.66.23.45.52.86.88 1.22L10 22l6.41-6.41c.38-.38.59-.89.59-1.42V6.34C17 5.05 15.95 4 14.66 4h-8.1c-.71 0-1.36.37-1.72.97l-2.67 6.15z"
              />
            </svg>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</fieldset>
