<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <%= render 'components/question_title', question: question, question_number: question_number %>
  <br>
  <% question.question_options.each_with_index do |option, index| %>
    <div>
      <% option_id = "#{question.answer_field}_#{(index + 1).to_s}" %>
      <input type="checkbox" name="<%= question.answer_field %>[]" id="<%= option_id %>" class="usa-checkbox__input" required="<%= question.is_required %>" />

      <%= label_tag(nil, for: option_id, class: "usa-checkbox__label") do %>
        <%= option.text %>
      <% end %>
    </div>
  <% end %>
</div>

