<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label">
    <%= t question_number.to_s %>.
    <%= question.text %>
  </label>
  <br>
  <% question.question_options.each_with_index do |option, index| %>
  <div>
    <%= check_box_tag("#{question.answer_field}_#{(index + 1).to_s}", index + 1, nil, { value: option.text , class: "usa-checkbox__input", required: question.is_required  }) %>
    <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}", class: "usa-checkbox__label") do %>
      <%= option.text %>
    <% end %>
  </div>
  <% end %>
</div>
