<fieldset class="usa-fieldset margin-top-3">
  <%= render 'components/question_title_legend', question: question %>
  <div class="question-options icons margin-top-2" id="<%= question.answer_field.to_sym %>">
    <ul class="usa-card-group">
    <% question.question_options.each_with_index do |option, index| %>
      <% @option_id = "#{question.answer_field}_#{(index + 1).to_s}" %>

      <li class="usa-card tablet:grid-col-3">
        <div class="usa-card__container usa-checkbox">
          <div class="usa-card__body"
            id="<%= dom_id(option) %>"
            data-id="<%= option.id %>"
            <%- if question.help_text.present? %>
            aria-describedby="<%= "question-id-#{question.id}-help-text" %>"
            <% end -%>
          >
          </div>
          <%= check_box_tag(@option_id, option.value, false, { name: question.answer_field, class: "usa-checkbox__input usa-checkbox__input--tile", required: question.is_required }) %>
          <%= label_tag(nil, for: @option_id, class: "usa-checkbox__label") do %>
            <div class="text-center width-full">
              <svg class="usa-icon font-sans-3xl" aria-hidden="true" focusable="false" role="img">
                <%- if option.value == "effectiveness" %>
                <use xlink:href="<%= asset_path "sprite.svg#check" %>"></use>
                <% elsif option.value == "efficiency" %>
                <use xlink:href="<%= asset_path "sprite.svg#search" %>"></use>
                <% elsif option.value == "ease" %>
                <use xlink:href="<%= asset_path "sprite.svg#map" %>"></use>
                <% elsif option.value == "transparency" %>
                <use xlink:href="<%= asset_path "sprite.svg#forum" %>"></use>
                <% elsif option.value == "humanity" %>
                <use xlink:href="<%= asset_path "sprite.svg#groups" %>"></use>
                <% elsif option.value == "employee" %>
                <use xlink:href="<%= asset_path "sprite.svg#support_agent" %>"></use>
                <% else %>
                <use xlink:href="<%= asset_path "sprite.svg#help_outline" %>"></use>
                <% end %>
              </svg>
              <br>
              <div style="margin-bottom: 40px; display: block;">
                <%= option.text %>
              </div>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</fieldset>
