<fieldset class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <h4>
    <%= question_number %>.
    <%= question.text %>
  </h4>
  <% question.question_options.each_with_index do |option, index| %>
  <div class="radio-button usa-radio">
    <%= radio_button_tag(question.answer_field.to_sym, index + 1, nil, { value: option.text, class: "usa-radio__input" }) %>
    <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}", class: "usa-radio__label") do %>
      <%= option.text %>
    <% end %>
  </div>
  <% end %>
</fieldset>
