<%
  form_options = {
    class: "usa-textarea",
    required: question.is_required,
    maxlength: question.max_length,
  }

  if question.help_text.present?
    form_options.merge!({
      "aria-describedby" => "question-id-#{question.id}-help-text"
    })
  end
%>

<div class="usa-form-group quill">
  <%= render 'components/question_title_label', question: question %>
  <input
    type="hidden"
    name="<%= question.ui_selector %>"
    id="<%= question.ui_selector %>">
  <div
    id="quill-editor-<%= question.ui_selector %>"
    class="editor"
    maxlength="<%= question.max_length %>"
    style="min-height: 100px;"></div>
  <span
    class="counter-msg usa-hint usa-character-count__message"
    aria-live="polite"
    <%= "hidden=true" unless question.character_limit && question.character_limit > 0 %>
  >
    <%= question.max_length %> characters allowed
  </span>
</div>
