<div role="group">
  <%= render 'components/question_title', question: question %>
  <div>
    <input id="combo-filter-<%= question.id %>" type="text" autocomplete="off" class="usa-input combo-filter" placeholder="Choose state..." data-combo-id="<%= question.id %>">
    <span id="combo-dropdown-<%= question.id %>" class="combo-dropdown" data-combo-id="<%= question.id %>"> <i class="fa fa-caret-down fa-2x"></i></span>
  </div>
  <ul id="combo-list-<%= question.id %>" class="combo-list" data-combo-id="<%= question.id %>" data-combo-for="<%= question.answer_field %>">
    <% UsState.dropdown_options.each do | option | %>
      <li data-combo-id="<%= question.id %>" data-key="<%= option[1] %>"><%= option[0] %></li>
    <% end %>
  </ul>
  <%= select_tag(question.answer_field.to_sym, options_for_select(UsState.dropdown_options), { prompt: (t 'form.select_one'), class: "usa-select combo-select", required: question.is_required  }) %>
</div>
