<fieldset class="usa-fieldset" role="group">
  <legend class="usa-sr-only"><%= question.answer_field %></legend>
  <%= render 'components/question_title', question: question %>
  <br>
  <div class="star_rating"
    id="<%= question.answer_field.to_sym %>"
    style="text-align: center; margin: 0 auto;"
    <% if question.help_text.present? %>
    aria-describedby="<%= "question-id-#{question.id}-help-text" %>"
    <% end -%>
  >
    <input value="0" id="star0" checked type="radio" name="rating" hidden style="display: none;" hidden>
    <label for="<%= question.answer_field %>_star0" style="display: none;">
      <span hidden>0 Stars</span>
      <svg viewBox="0 0 512 512">
        <g stroke-width="70" stroke-linecap="square">
          <path d="M91.5,442.5 L409.366489,124.633512"></path>
          <path d="M90.9861965,124.986197 L409.184248,443.184248"></path>
        </g>
      </svg>
    </label>

    <input value="1" id="<%= question.answer_field %>_star1" type="radio" name="<%= question.answer_field %>" hidden>
    <label for="<%= question.answer_field %>_star1">
      <span hidden>1 Star</span>
      <svg viewBox="0 0 512 512">
        <path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path>
      </svg>
    </label>

    <input value="2" id="<%= question.answer_field %>_star2" type="radio" name="<%= question.answer_field %>" hidden>
    <label for="<%= question.answer_field %>_star2">
      <span hidden>2 Stars</span>
      <svg viewBox="0 0 512 512">
        <path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path>
      </svg>
    </label>

    <input value="3" id="<%= question.answer_field %>_star3" type="radio" name="<%= question.answer_field %>" hidden>
    <label for="<%= question.answer_field %>_star3">
      <span hidden>3 Stars</span>
      <svg viewBox="0 0 512 512">
        <path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path>
      </svg>
    </label>

    <input value="4" id="<%= question.answer_field %>_star4" type="radio" name="<%= question.answer_field %>" hidden>
    <label for="<%= question.answer_field %>_star4">
      <span hidden>4 Stars</span>
      <svg viewBox="0 0 512 512">
        <path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path>
      </svg>
    </label>

    <input value="5" id="<%= question.answer_field %>_star5" type="radio" name="<%= question.answer_field %>" hidden>
    <label for="<%= question.answer_field %>_star5">
      <span hidden>5 Stars</span>
      <svg viewBox="0 0 512 512">
        <path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path>
      </svg>
    </label>

    <output></output>
    <div class="usa-display"></div>
  </div>
</fieldset>
