<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label" for="<%= question.answer_field.to_sym %>">
    <%= t question_number.to_s %>.
    <%= question.text %>
  </label>
  <%= text_area_tag question.answer_field.to_sym, nil, class: "usa-textarea" %>
</div>
