<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label" for="<%= question.answer_field.to_sym %>">
    <%= t question_number.to_s %>.
    <%= question.text %>
  </label>
  <% if question.character_limit && question.character_limit > 0 %>
    <%= text_field_tag question.answer_field.to_sym, nil, class: "usa-input", required: question.is_required, maxlength: question.max_length, onkeyup: "N.fba.textCounter(this,#{question.max_length});" %>
  <% else %>
    <%= text_field_tag question.answer_field.to_sym, nil, class: "usa-input", required: question.is_required, maxlength: question.max_length %>
  <% end %>
  <em class="counter-msg" <%= (question.character_limit.present? ? nil : 'hidden="true"') %>"><%= t 'form.chars_remaining' %> <span class="counter"><%= question.max_length %></span></em>
</div>
