<div class="touchpoints-yes-no-buttons">
  <label
    class="usa-label"
    for="<%= question.ui_selector %>">
    <%= question.text %>
  </label>
  <p
    id="<%= question.ui_selector %>"
    class="submit-button">
    <input type="hidden" class="fba-touchpoints-page-form" name="<%= question.ui_selector %>" value="">
    <input type="submit" class="usa-button usa-button-group__item" value="<%= t :yes %>">
    <input type="submit" class="usa-button usa-button-group__item" value="<%= t :no %>">
  </p>
</div>
