<%= form_with(model: milestone, url: milestone.persisted? ? admin_milestone_path(milestone) : admin_milestones_path) do |form| %>
  <% if milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
        <% milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="grid-row grid-gap-md">
  <div class="grid-col">
    <div class="field">
      <%= form.label :organization_id, class: "usa-label" %>
      <%= form.select :organization_id, options_for_select(organization_dropdown_options, milestone.organization_id), { prompt: "Which Organization?", include_blank: true }, { class: "usa-select" } %>
    </div>

    <div class="field">
      <%= form.label :goal_id, class: "usa-label" %>
      <%= form.select :goal_id, options_for_select(Goal.all.map { |g| [g.name, g.id] }, milestone.goal_id), { prompt: "Which Goal?", include_blank: true }, { class: "usa-select" } %>
    </div>

    <div class="field">
      <%= form.label :name, class: "usa-label" %>
      <%= form.text_field :name, class: "usa-input" %>
    </div>

    <div class="usa-form-group">
      <%= form.label :due_date, class: "usa-label" %>
      <div class="usa-date-picker">
        <%= form.text_field :due_date,
          class: "usa-input",
          id: "appointment-date",
          name: "appointment-date",
          "aria-labelledby" => "appointment-date-label",
          "aria-describedby" => "appointment-date-hint" %>
      </div>
    </div>
    <br>

    <div class="field">
      <%= form.label :status, class: "usa-label" %>
      <%= form.select :status, [["ðŸ‘ on track", "on track"], ["â—ï¸blocked", "blocked"], ["ðŸ‘Ž not on track", "not on track"]], { prompt: "What is the status?" }, { class: "usa-select" } %>
    </div>
  </div>
  <div class="grid-col">
    <div class="field">
      <%= form.label :description, class: "usa-label" %>
      <%= form.text_area :description, class: "usa-textarea", placeholder: "What is the organization aiming to accomplish?" %>
    </div>

    <div class="field">
      <%= form.label :notes, class: "usa-label" %>
      <%= form.text_area :notes, class: "usa-textarea", placeholder: "Additional notes" %>
    </div>
  </div>
</div>

<br>

  <%= form.submit class: "usa-button full-width" %>

<% end %>
