<p id="notice"><%= notice %></p>

<h1>Milestones</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.organization_id %></td>
        <td><%= milestone.name %></td>
        <td><%= milestone.description %></td>
        <td><%= milestone.due_date %></td>
        <td><%= milestone.status %></td>
        <td><%= milestone.notes %></td>
        <td><%= link_to 'Show', admin_milestone_path(milestone) %></td>
        <td><%= link_to 'Edit', edit_admin_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', admin_milestone_path(milestone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Milestone', new_admin_milestone_path, class: "usa-button" %>
</p>
