<% content_for :navigation_title do %>
  Milestones
  <%= link_to new_admin_milestone_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Milestone
  <% end %>
<% end %>

<table class="usa-table">
  <thead>
    <tr>
      <th data-sortable scope="col">Organization</th>
      <th data-sortable scope="col">Name</th>
      <th data-sortable scope="col">Description</th>
      <th data-sortable scope="col">Due date</th>
      <th data-sortable scope="col">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.organization.name %></td>
        <td><%= link_to milestone.name, admin_milestone_path(milestone) %></td>
        <td><%= milestone.description %></td>
        <td><%= milestone.due_date %></td>
        <td><%= milestone.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
