<form id="touchpoints-form" action="<%= root_url %>touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" method="POST" data-kind="a11">
  <div id="touchpoints-form-body">
    <%= hidden_field_tag :fba_location_code, params[:location_code] %>

    <% questions.each_with_index do |question, index| %>
    <div class="question">
      <% if question.question_type == "text_field" %>
        <%= render 'components/forms/question_types/text_field', form: form, question: question, question_number: index + 1 %>
      <% elsif question.question_type == "radio_buttons" %>
        <%= render 'components/forms/question_types/radio_buttons', form: form, question: question, question_number: index + 1 %>
      <% else %>
        <%= render 'components/forms/question_types/text_area', form: form, question: question, question_number: index + 1 %>
      <% end %>
    </div>
    <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt">Submit</button>
    </div>
  </div>
</form>
