<div class="inner-wrapper">
  <div class="grid-row">
    <div class="grid-col-12">
      <%= render "components/forms/logo_and_title", form: form %>
      <%- if form.instructions.present? %>
        <div class="fba-instructions margin-bottom-2">
          <%= sanitize(form.instructions) %>
        </div>
      <% end %>
      <%- if form.questions.size > 1 && form.questions.any?(&:is_required?) %>
        <p class="required-questions-notice">
          <small>
            <%= t('form.required_field_html') %>
          </small>
        </p>
      <% end %>
      <%= render 'components/forms/flash', form: form %>
      <%= render partial: "components/forms/custom", locals: { form: form, questions: form.questions } %>
    </div>
  </div>
</div>
<% unless form.questions.collect(&:question_type).include?("custom_text_display") %>
  <%= render partial: 'components/forms/footer', locals: { form: form } %>
<% end %>
