<div class="grid-row">
  <div class="grid-col-12">
    <h2 class="justify-vertical">
      <% if form.display_header_logo && (form.touchpoint && form.touchpoint.service && form.touchpoint.service.organization.logo.present?) %>
        <%= image_tag(form.touchpoint.service.organization.logo.tag.url, alt: "Organization logo", class: "form-header-logo") %>
      <% end %>
      <% if form.display_header_square_logo && (form.touchpoint && form.touchpoint.service && form.touchpoint.service.organization.logo.present?) %>
        <%= image_tag(form.touchpoint.service.organization.logo.logo_square.url, alt: "Organization logo", class: "form-header-logo-square") %>
      <% end %>
      <%= form.title %>
    </h2>
    <% if form.instructions.present? %>
      <p>
        <%= sanitize(form.instructions) %>
      </p>
    <% end %>
    <%= render 'components/forms/flash' %>
    <% if form.kind == "custom" %>
      <%= render partial: "components/forms/custom", locals: { touchpoint: @touchpoint, form: form, questions: form.questions } %>
    <% else %>
      <%= render partial: "components/forms/#{form.kind}", locals: { touchpoint: @touchpoint, form: form } %>
    <% end %>
  </div>
</div>
<%= render partial: 'components/forms/footer', locals: { touchpoint: @touchpoint } %>
