<form id="touchpoints-form" action="<%= root_url %>touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" method="POST" data-kind="a11">
  <div id="touchpoints-form-body">
    <%= hidden_field_tag :fba_location_code, params[:location_code] %>

    <% form.form_sections.each do |section| %>
      <div class="well white-bg section <%= 'visible' if section == form.form_sections.first  %>">
        <h4>
          Form Section <%= section.title %>
        </h4>

        <% section.questions.each_with_index do |question, index| %>
        <div class="question">
          <% if question.question_type == "text_field" %>
          <%= render 'components/forms/question_types/text_field', form: form, question: question, question_number: index + 1 %>
          <% elsif question.question_type == "radio_buttons" %>
          <%= render 'components/forms/question_types/radio_buttons', form: form, question: question, question_number: index + 1 %>
          <% elsif question.question_type == "dropdown" %>
          <%= render 'components/forms/question_types/dropdown', form: form, question: question, question_number: index + 1 %>
          <% elsif question.question_type == "checkbox" %>
          <%= render 'components/forms/question_types/checkbox', form: form, question: question, question_number: index + 1 %>
          <% elsif question.question_type == "textarea" %>
          <%= render 'components/forms/question_types/text_area', form: form, question: question, question_number: index + 1 %>
          <% end %>
        </div>
        <% end %>

        <% if section != form.form_sections.first || section != form.form_sections.last %>
          <div class="">
            <% if section != form.form_sections.first %>
            <%= link_to "← Back", root_path, class: "usa-button previous-section" %>
            <% end %>
            <% if section != form.form_sections.last %>
            <%= link_to "Next →", root_path, class: "usa-button next-section" %>
            <% end %>
            <% if section == form.form_sections.last %>
              <div class="button-wrapper">
                <% if current_path.include?("/admin/forms") || current_path.include?("/admin/touchpoints/") %>
                <button type="submit" id="fba-submit" class="usa-button-primary-alt" disabled>Submit</button>
                <% else %>
                <button type="submit" id="fba-submit" class="usa-button-primary-alt">Submit</button>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</form>
