<% multi_section_question_number = 0 %>

<form id="touchpoints-form" action="<%= root_url %>touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" method="POST">
  <div id="touchpoints-form-body">
    <%= hidden_field_tag :fba_location_code, params[:location_code] %>

    <% form.form_sections.each do |section| %>
      <div class="well white-bg section <%= 'visible' if section == form.form_sections.first  -%>">
        <% if (section != form.form_sections.first) || (section != form.form_sections.last) %>
          <div class="pagination-buttons">
            <% if section != form.form_sections.first %>
              <%= link_to "← Back", "#previous-page", class: "usa-button previous-section", 'data-form-section-target' => "" %>
            <% end %>
          </div>
        <% end %>

        <% if section.title.present? -%>
        <h4>
          <%= section.title %>
        </h4>
        <% end %>

        <% section.questions.each_with_index do |question, index| %>
        <% multi_section_question_number += 1 %>

        <div class="question">
          <% if question.question_type == "text_field" %>
            <%= render 'components/forms/question_types/text_field', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "radio_buttons" %>
            <%= render 'components/forms/question_types/radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "dropdown" %>
            <%= render 'components/forms/question_types/dropdown', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "checkbox" %>
            <%= render 'components/forms/question_types/checkbox', form: form, question: question, question_number: multi_section_question_number %>
          <% elsif question.question_type == "textarea" %>
            <%= render 'components/forms/question_types/text_area', form: form, question: question, question_number: multi_section_question_number %>
          <% end %>
        </div>
        <% end %>

        <% if (section != form.form_sections.first) || (section != form.form_sections.last) %>
          <div class="pagination-buttons">
            <% if (section == form.form_sections.first) && form.early_submission? %>
              <div>
                <h4>
                  Would you like to take two more minutes to answer more questions to help us improve our services?
                </h4>
                <%= link_to "Yes, keep going →", "#next-page", class: "usa-button next-section", 'data-form-section-target' => "" %>
                <button type="submit" id="fba-early-submit" class="usa-button usa-button--base">No, only submit these responses</button>
              </div>
            <% elsif section != form.form_sections.last %>
              <%= link_to "Next →", "#next-page", class: "usa-button next-section", 'data-form-section-target' => "" %>
            <% end %>
          </div>
        <% end %>
        <% if section == form.form_sections.last %>
          <div class="submit-button button-wrapper">
            <% if current_path.include?("/admin/forms") || current_path.include?("/admin/touchpoints/") %>
            <button type="submit" id="fba-submit" class="usa-button" disabled>Submit</button>
            <% else %>
            <button type="submit" id="fba-submit" class="usa-button">Submit</button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</form>
