<% multi_section_question_number = 0 %>

<form action="<%= root_url %>touchpoints/<%= form.present? ? form.short_uuid : nil %>/submissions.json" method="POST">
  <div class="touchpoints-form-body">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token if form.verify_csrf? -%>
    <%= hidden_field_tag :fba_location_code, params[:location_code] %>
    <input type="text" name="fba_directive" id="fba_directive"
      style="display:none !important"
      tabindex="-1"
      autocomplete="off">
    <% form.form_sections.each_with_index do |section, index| %>
      <div class="section <%= 'visible' if section == form.form_sections.first -%>">
        <%- if (section != form.form_sections.first) || (section != form.form_sections.last) %>
          <%- if section != form.form_sections.first %>
          <div class="pagination-buttons">
            <%= link_to (t 'form.back'), "#previous-page", class: "usa-button previous-section", 'data-form-section-target' => "" %>
          </div>
          <br>
          <% end %>
        <% end %>

        <%- if form.form_sections.size > 1 %>
        <div class="section-header">
          <h4 class="section-title-view">
            <%- if section.title.present? -%>
              <%= section.title %> -
            <% end %>
            <small>
              <%= t :page %> <%= index + 1 %> <%= t :of %> <%= form.form_sections.size %>
            </small>
          </h4>
        </div>
        <% end %>

        <div class="questions">
          <% section.questions.each_with_index do |question, index| %>
          <%
            # Don't increment question numbers for these type of questions
            if !["text_display", "custom_text_display", "hidden"].include?(question.question_type)
              multi_section_question_number += 1
            end
          %>

        <%- if question.question_type != "hidden_field" %>
          <div class="question white-bg">
            <%- if question.question_type == "text_field" %>
              <%= render 'components/forms/question_types/text_field', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "text_email_field" %>
              <%= render 'components/forms/question_types/text_email_field', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "text_phone_field" %>
              <%= render 'components/forms/question_types/text_phone_field', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "star_radio_buttons" %>
              <%= render 'components/forms/question_types/star_radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "thumbs_up_down_buttons" %>
              <%= render 'components/forms/question_types/thumbs_up_down_buttons', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "yes_no_buttons" %>
              <%= render 'components/forms/question_types/yes_no_buttons', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "radio_buttons" %>
              <%= render 'components/forms/question_types/radio_buttons', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "dropdown" %>
              <%= render 'components/forms/question_types/dropdown', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "states_dropdown" %>
              <%= render 'components/forms/question_types/states_dropdown', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "checkbox" %>
              <%= render 'components/forms/question_types/checkbox', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "textarea" %>
              <%= render 'components/forms/question_types/text_area', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "text_display" %>
              <%= render 'components/forms/question_types/text_display', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "date_select" %>
              <%= render 'components/forms/question_types/date_select', form: form, question: question, question_number: multi_section_question_number %>
            <% elsif question.question_type == "custom_text_display" %>
              <%= render 'components/forms/question_types/custom_text_display', form: form, question: question, question_number: multi_section_question_number %>
            <% end %>
          </div>
          <% else %>
            <%= render 'components/forms/question_types/hidden_field', form: form, question: question, question_number: multi_section_question_number %>
          <% end %>
        <% end %>
        </div>

        <%- if (section != form.form_sections.first) || (section != form.form_sections.last) %>
          <div class="pagination-buttons">
            <%- if (section == form.form_sections.first) && form.early_submission? %>
              <div>
                <h4>
                  <%= t 'form.answer_more_questions' %>
                </h4>
                <%= link_to (t 'form.yes_keep_going'), "#next-page", class: "usa-button next-section", 'data-form-section-target' => "" %>
                <button type="submit" id="fba-early-submit" class="usa-button usa-button--base"><%= t 'form.no_submit' %></button>
              </div>
            <% elsif section != form.form_sections.last %>
              <p>
                <%= link_to (t 'form.next'), "#next-page", class: "usa-button next-section", 'data-form-section-target' => "" %>
              </p>
            <% end %>
          </div>
        <% end %>
        <%- if section == form.form_sections.last && !form.suppress_submit_button %>
          <p class="submit-button">
            <button type="submit" class="usa-button submit_form_button"><%= t 'form.submit' %></button>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</form>
