<div class="usa-grid-full">
  <div class="usa-width-full">
    <h2>
      <% if form.display_header_logo && form.touchpoint.service.organization.logo.present? %>
        <%= image_tag(form.touchpoint.service.organization.logo.thumb.url, alt: "Organization logo", class: "form-header-logo") %>
      <% end %>
      <%= form.title %>
    </h2>
    <% if form.instructions.present? %>
      <p>
        <%= form.instructions %>
      </p>
    <% end %>
    <%= render 'components/forms/flash' %>
    <%= render partial: "components/forms/#{form.kind}", locals: { touchpoint: @touchpoint, form: form } %>
  </div>
</div>
<%= render partial: 'components/forms/footer', locals: { touchpoint: @touchpoint } %>
