<div class="usa-banner">
  <header class="usa-banner__header touchpoints-footer-banner">
    <div class="usa-banner__inner">
      <div class="grid-col-auto">
        <img class="usa-banner__header-flag" src="<%= image_url("us_flag_small.png") %>" alt="U.S. flag">
      </div>
      <div class="grid-col-fill tablet:grid-col-auto">
        <p class="usa-banner__header-text">
          <%= t :official_form %>
          <%= t :provided_by %>
          <a href="<%= root_url %>" target="_blank" rel="noopener"><%= t 'touchpoints' %></a>
          <br>
          <% if form.present? %>
            <% if form.omb_approval_number.present? %>
            OMB Approval #<span class="omb-approval-number"><%= form.omb_approval_number %></span>
            <% end %>

            <% if form.expiration_date? %>
            &middot;
            Expiration Date <%= form.expiration_date.strftime("%m/%d/%Y") %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </header>
</div>
