<form id="touchpoints-form" action="/touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" data-kind="recruiter" method="POST">
  <%= render 'components/forms/flash' %>
  <h3>
    <%= form.title %>
  </h3>
  <p>
    <%= form.instructions %>
  </p>
  <fieldset>
    <label for="fba-text-name">First name</label>
    <input id="fba-text-name" name="fba-text-name" class="full-name" type="text" maxlength="500">
    <label for="fba-text-email">Email address</label>
    <input id="fba-text-email" name="fba-text-email" class="email-address" type="email" maxlength="500">
    <label for="fba-text-phone">Phone number</label>
    <input id="fba-text-phone" name="fba-text-phone" class="phone-number" type="tel" maxlength="500">
    <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if form.disclaimer_text? %>
    <p>
      <%= form.disclaimer_text %>
    </p>
  <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Send</button>
    </div>
  </fieldset>
</form>
