<%- if admin_permissions? %>
<%- if request.format == "text/javascript" %>
  <%= render 'components/flash' %>
<% end %>
<%= form_with(model: form, url: update_admin_options_admin_form_url(@form, format: :js), local: false) do |f| %>
  <%- if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="well">
    <span class="usa-tag">
      for Admins
    </span>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-6">
        <div class="field">
          <%= f.label :organization_id, "Organization", class: "usa-label" %>
          <%= f.select :organization_id, options_for_select(organization_dropdown_options, selected: (@form.organization ? @form.organization.id : nil)), { prompt: "Select an Organization" }, { class: "usa-select" } %>
        </div>
      </div>
      <div class="grid-col-6">
      </div>
    </div>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-12">
        <div class="field">
          <%= f.label :kind, class: "usa-label" %>
          <%= f.select :kind, options_for_select(["a11", "a11_v2", "a11_yes_no", "open_ended", "other"], selected: @form.kind), { include_blank: true }, class: "usa-select" %>
        </div>
      </div>
      <div class="grid-col-12 padding-top-2">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Form Template?</legend>
          <div class="usa-checkbox">
            <%= f.check_box :template, class: "usa-checkbox__input" %>
            <%= f.label :template, class: "usa-checkbox__label" do %>
              Form Template?
              &nbsp;
              <span class="usa-hint font-sans-2xs">
                This form will be listed as a Form Template when creating a new form
              </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="grid-col-12 padding-top-2">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Form Template?</legend>
          <div class="usa-checkbox">
            <%= f.check_box :legacy_form_embed, class: "usa-checkbox__input" %>
            <%= f.label :legacy_form_embed, class: "usa-checkbox__label" do %>
              Render legacy _fba.js.erb?
              &nbsp;
              <span class="usa-hint font-sans-2xs">
                Renders the old form as a fallback for certain clients who may have script customizations based on the old version.
              </span>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
    <p class="margin-top-4">
      <%= f.submit (@form.persisted? ? "Update Form Admin Options " : "Create Form"), class: "usa-button" %>
    </p>
  </div>
<% end %>
<% end %>
