<%- if request.format == "text/javascript" %>
<%= render 'components/flash' %>
<% end %>

<%= form_with(model: form, url: update_form_manager_options_admin_form_url(form, format: :js), local: false, data: { turbo: false }) do |f| %>
  <%- if form.errors.any? %>
    <div class="margin-bottom-2">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error" >
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%- if is_at_least_form_manager?(user: current_user, form: form) %>
  <div class="well">

    <div class="grid-row">
      <div class="grid-col-12">
        <div class="grid-row grid-gap-lg">
          <div class="grid-col-12">
            <span class="usa-tag">
              for Form Managers
            </span>
          </div>
          <div class="tablet:grid-col-6">
            <div class="field">
              <%= f.label :name, "Form name", class: "usa-label" %>
              <small>
                Form <strong>name</strong> is displayed in the <%= link_to "list of forms", admin_forms_path %>.<br>
                Whereas form <i>title</i> is displayed in the <%= link_to "form's design", admin_forms_path %>.
              </small>
              <%= f.text_field :name, class: "usa-input" %>
            </div>

            <div class="field">
              <%= f.label :service_id, "Service", class: "usa-label" %>
              <small>
                This form
                can be associated with a
                <%= link_to "Service", admin_services_path, target: "_blank" %>.
              </small>
              <%= f.select :service_id, form.organization.services.includes(:organization).order("organizations.name", :name).map { |h| ["#{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, class: "usa-select" %>
            </div>

            <div class="field">
              <%= f.label :service_stage_id, "Service Stage", class: "usa-label" %>
              <small>
                Select a Service in order to specify a Service Stage.
                <%= link_to "Service Stage", admin_services_path, target: "_blank" %>.
              </small>

              <%= f.select :service_stage_id, options_for_select(service_stage_options, selected: form.try(:service_stage_id)), { include_blank: true }, class: "usa-select" %>
            </div>

            <div class="field">
              <%= f.label :audience, nil, class: "usa-label" %>
              <small>
                Is this form intended for public users or internal users?
                <br>
                If intended for both, choose public.
              </small>
              <%= f.select :audience, options_for_select(["public", "internal"], selected: form.audience), { include_blank: (form.audience.empty? ? "Not yet specified" : nil) }, class: "usa-select" %>
            </div>

            <div class="tags-div margin-top-2">
              <%= render 'admin/forms/tags', form: form %>
            </div>
          </div>

          <div class="tablet:grid-col-6">
            <br>
            <br>
            <div class="field">
              <%= f.label :time_zone, "Time zone", class: "usa-label" %>
              <%= f.select :time_zone, options_for_select(US_TIMEZONES, selected: form.time_zone), { prompt: "Select a time zone" }, { class: "usa-select" } %>
            </div>

            <div class="field">
              <%= f.label :omb_approval_number, class: "usa-label" %>
              <%= f.text_field :omb_approval_number, class: "usa-input", placeholder: "OMB Approval #" %>
            </div>

            <div class="field usa-form-group">
              <%= f.label :expiration_date, class: "usa-label" %>
              <div class="usa-hint font-sans-2xs">
                YYYY-MM-DD
              </div>
              <%= f.date_field :expiration_date, class: "usa-input" %>
            </div>

            <fieldset class="usa-fieldset margin-top-2">
              <legend class="usa-sr-only">Append ID to the form's Success Text</legend>
              <div class="usa-checkbox">
                <%= f.check_box :append_id_to_success_text, class: "usa-checkbox__input" %>
                <%= f.label :append_id_to_success_text, class: "usa-checkbox__label" do %>
                  Append ID to Form's Success Text
                  <small class="text-base">
                    Append "Your Response ID is: 1307" to the Form's Success Text
                  </small>
                <% end %>
              </div>
            </fieldset>
            <fieldset class="usa-fieldset margin-top-2">
              <legend class="usa-sr-only">Display Organization Tag Logo</legend>
              <div class="usa-checkbox">
                <%= f.check_box :early_submission, class: "usa-checkbox__input" %>
                <%= f.label :early_submission, class: "usa-checkbox__label" do %>
                  Early Submission
                  <small class="text-base">
                    Display a submit button at the end of the first page in a multi-page form?
                  </small>
                <% end %>
              </div>
            </fieldset>
            <fieldset class="usa-fieldset">
              <legend class="usa-sr-only">Load USWDS</legend>
              <div class="usa-checkbox">
                <%= f.check_box :load_css, class: "usa-checkbox__input" %>
                <%= f.label :load_css, class: "usa-checkbox__label" do %>
                  Load USWDS CSS
                  <small class="text-base">
                   Check this box to load USWDS CSS styles with the Touchpoints-provided javascript.
                  </small>
                <% end %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row grid-gap-md border-top border-base-lighter margin-top-3">
      <div class="grid-col-12">
        <div class="field">
          <%= f.label :notes, class: "usa-label" %>
          <%= f.text_area :notes, class: "usa-textarea" %>
        </div>
      </div>
    </div>

    <div class="margin-top-2">
      <%= f.submit "Update Form Options", class: "usa-button" %>
    </div>
  </div>
  <% end %>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const serviceSelect = document.getElementById("form_service_id");
  const serviceStageSelect = document.getElementById("form_service_stage_id");

  serviceSelect.addEventListener("change", () => {
    const serviceId = serviceSelect.value;

    // Clear the service stage dropdown
    serviceStageSelect.innerHTML = '<option value="">Select a Service Stage</option>';

    if (serviceId) {
      fetch(`/admin/services/${serviceId}/service_stages.json`)
        .then((response) => response.json())
        .then((data) => {
          const stages = data.data
          stages.forEach((stage) => {
            const option = document.createElement("option");
            option.value = stage.id;
            option.textContent = stage.attributes.name;
            serviceStageSelect.appendChild(option);
          });
        })
        .catch((error) => console.error("Error fetching service stages:", error));
    } else {
      serviceStageSelect.innerHTML = '<option value="">Select a Service Stage</option>';
    }
  });
});
</script>