<%- if request.format == "text/javascript" %>
<%= render 'components/flash' %>
<% end %>

<%= form_with(model: form, url: update_form_manager_options_admin_form_url(form, format: :js), local: false, data: { turbo: false }) do |f| %>
  <%- if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error" >
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%- if is_at_least_form_manager?(user: current_user, form: form) %>
  <div class="well">
    <span class="usa-tag">
      for Form Managers
    </span>

    <div class="grid-row grid-gap-md">
      <div class="grid-col-12">
        <div class="field">
          <%= f.label :name, "Form name", class: "usa-label" %>
          <%= f.text_field :name, class: "usa-input" %>
        </div>
      </div>
    </div>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-12">
        <div class="field">
          <%= f.label :service_id, "Service", class: "usa-label" %>
          <small>
            Optionally, this Form
            can be associated with a
            <%= link_to "Service", admin_services_path, target: "_blank" %>.
          </small>
          <%= f.select :service_id, form.organization.services.includes(:organization).order("organizations.name", :name).map { |h| ["#{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, class: "usa-select" %>
        </div>
      </div>
    </div>
    <div class="grid-col-12 margin-top-2">
      <div class="well">
        <div class="tags-div">
          <%= render 'admin/forms/tags', form: form %>
        </div>
      </div>
    </div>
    <div class="grid-col-12">
      <div class="field">
        <%= f.label :time_zone, "Time zone", class: "usa-label" %>
        <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone::MAPPING.keys.sort, selected: form.time_zone), { prompt: "Select a time zone" }, { class: "usa-select" } %>
      </div>
    </div>

    <div class="grid-row grid-gap-md">
      <div class="grid-col-6">
        <div class="field">
          <%= f.label :notes, class: "usa-label" %>
          <%= f.text_area :notes, class: "usa-textarea" %>
        </div>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :omb_approval_number, class: "usa-label" %>
        <%= f.text_field :omb_approval_number, class: "usa-input", placeholder: "OMB Approval #" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field usa-form-group">
        <%= f.label :expiration_date, class: "usa-label" %>
        <div class="usa-hint font-sans-2xs">
          YYYY-MM-DD
        </div>
        <%= f.text_field :expiration_date, class: "usa-input" %>
      </div>
    </div>

    <div class="grid-row grid-gap-md margin-top-2 margin-bottom-3">
      <div class="grid-col-12">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Display Organization Tag Logo</legend>
          <div class="usa-checkbox">
            <%= f.check_box :early_submission, class: "usa-checkbox__input" %>
            <%= f.label :early_submission, "Early Submission: Display a submit button at the end of the first page in a multi-page form?", class: "usa-checkbox__label" %>
          </div>
        </fieldset>
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Load USWDS</legend>
          <div class="usa-checkbox">
            <%= f.check_box :load_css, class: "usa-checkbox__input" %>
            <%= f.label :load_css, "Load USWDS CSS: Check this box if your site does not implement USWDS styling.", class: "usa-checkbox__label" %>
          </div>
        </fieldset>
      </div>
    </div>

    <p>
      <%= f.submit "Update Form Options", class: "usa-button" %>
    </p>
  </div>
  <% end %>
<% end %>
