<%= form_with(model: form, url: (form.persisted? ? admin_form_path(form) : admin_forms_path), local: true) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="grid-row grid-gap-md">
    <div class="grid-col-12">
      <div class="field">
        <%= f.label :name, "Form name", class: "usa-label" %>
        <%= f.text_field :name, class: "usa-input" %>
      </div>
    </div>
  </div>
  <p>
    <%= f.submit (form.persisted? ? "Update Form" : "Create Form"), class: "usa-button" %>
  </p>
<% end %>

<% if !form.persisted? %>
<script>
  // Disable create button by default
  $("input[type='submit'][value='Create Form']").prop("disabled", true);

  // Enable create button if a form name is specified
  $("#form_name").on("keyup", function() {
    var contents = $(this).val();
    if(contents.length >= 3) {
      $("input[type='submit'][value='Create Form']").prop("disabled", false);
    } else {
      $("input[type='submit'][value='Create Form']").prop("disabled", true);
    }
  })
</script>
<% end %>
