<%= form_with(model: form, url: (form.persisted? ? admin_form_path(form) : admin_forms_path), local: true) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="well">
    <div class="grid-row grid-gap-md">
      <div class="grid-col-6">
        <div class="field">
          <%= f.label "emails to notify when a Response is received", class: "usa-label" %>
          <%= f.text_field(:notification_emails, class: "usa-input", placeholder: "user@example.gov, user2@example.gov") %>
        </div>

        <fieldset class="usa-fieldset margin-top-3 margin-bottom-2">
          <legend class="usa-legend">Frequency of notifications</legend>
          <div class="usa-radio">
            <%= f.radio_button :notification_frequency, "instant", class: "usa-radio__input usa-radio__input--tile", checked: (form.notification_frequency == "instant") %>
            <%= f.label "instant", class: "usa-radio__label", for: "form_notification_frequency_instant" %>
          </div>
          <div class="usa-radio">
            <%= f.radio_button :notification_frequency, "daily", class: "usa-radio__input usa-radio__input--tile", checked: (form.notification_frequency == "daily") %>
            <%= f.label "daily", class: "usa-radio__label", for: "form_notification_frequency_daily" %>
          </div>
          <div class="usa-radio">
            <%= f.radio_button :notification_frequency, "weekly", class: "usa-radio__input usa-radio__input--tile", checked: (form.notification_frequency == "weekly") %>
            <%= f.label "weekly", class: "usa-radio__label", for: "form_notification_frequency_weekly" %>
          </div>
        </fieldset>
        <%= f.submit "Update Form", class: "usa-button" %>
      </div>
    </div>
  </div>
<% end %>
