<%= form_with(id: "remove_logo", model: form, method: :delete, url: remove_logo_admin_form_url(form, format: :js), local: false) do %>
<% end %>
<%= form_with(model: form, url: update_display_logo_admin_form_url(form, format: :js), html: { multipart: :true }, class: "usa-form--large", local: false) do |f| %>
  <%- if form.errors[:logo].any? %>
    <div id="error_explanation" class="margin-top-1">
      <% form.errors[:logo].each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="grid-row grid-gap-md">
    <div class="grid-col-12">
      <%- if form.logo.present? %>
        <div class="usa-form-group">
          <div class="usa-label text-uppercase font-body-3xs">Current logo</div>
          <%- if form.header_logo_display_banner? %>
            <%= image_tag(form.logo.tag.url, alt: "#{form.organization.name} logo", class: "form-header-logo") %>
          <%- elsif form.header_logo_display_square? %>
            <%= image_tag(form.logo.logo_square.url, alt: "#{form.organization.name} logo", class: "form-header-logo-square") %>
          <%- end %>
        </div>
      <% end %>
      <div class="usa-form-group">
        <%= f.label :logo_display, form.logo.present? ? "Upload new logo" : "Display a logo?", class: "usa-label text-uppercase font-body-3xs", for: "form_logo" %>
        <span class="usa-hint text-base-dark" id="file-input-specific-hint">Select jpg/jpeg/gif/png files</span>
        <%= f.file_field :logo, class: "usa-file-input display-logo", data_url: admin_form_path(form), aria_describedby: "file-input-specific-hint" %>
      </div>
      <fieldset class="usa-fieldset margin-top-1">
        <legend class="usa-sr-only">Choose how the logo should be displayed</legend>
        <div class="usa-radio">
          <%= f.radio_button :header_logo_display, "banner", class: "usa-radio__input usa-radio__input--tile", checked: form.header_logo_display_banner? %>
          <%= f.label :header_logo_display, "Display as banner (320px wide by 80px tall)", class: "usa-radio__label", value: "banner" %>
        </div>
        <div class="usa-radio">
          <%= f.radio_button :header_logo_display, "square", class: "usa-radio__input usa-radio__input--tile", checked: form.header_logo_display_square? %>
          <%= f.label :header_logo_display, "Display as square (80px wide by 80px tall)", class: "usa-radio__label", value: "square" %>
        </div>
      </fieldset>
      <div class="margin-top-1">
        <%= f.submit "Update Logo Display", class: "usa-button usa-button-outline" %>
        <%- if form.logo.present? %>
          <%= button_tag form: "remove_logo", data: { confirm: "Are you sure?" }, class: "usa-button usa-button--secondary" do %>
            <i class="fa fa-trash"></i> Delete Logo
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>