<div id="display-logo-div">
  <%= form_with(model: form, url: update_display_logo_admin_form_url(form, format: :js), html: { multipart: :true }, class: "usa-form--large", local: false) do |f| %>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-12">
        <div class="usa-form-group">
          <%= f.label :logo_display, "Display a Logo?", class: "usa-label text-uppercase font-body-3xs", for: "file-input-single" %>
          <%= f.file_field :logo, class: "usa-file-input display-logo", data_url: admin_form_path(form) %>
        </div>
        <p>
          <span hidden="true" class="uploading-msg usa-hint save-notice">Uploading file, please wait...</span>
        </p>

        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Display Organization Tag Logo</legend>
          <div class="usa-radio">
            <%= f.radio_button :logo_kind, "banner", class: "usa-radio__input usa-radio__input--tile", checked: form.display_header_logo %>
            <%= f.label :logo_kind, "Display small banner (320px wide by 80px tall) logo?", class: "usa-radio__label", value: "banner" %>
          </div>
          <div class="usa-radio">
            <%= f.radio_button :logo_kind, "square", class: "usa-radio__input usa-radio__input--tile", checked: form.display_header_square_logo %>
            <%= f.label :logo_kind, "Display square (80px wide by 80px tall) logo?", class: "usa-radio__label", value: "square" %>
          </div>
        </fieldset>
      </div>
    </div>

    <%= f.submit "Update logo display", class: "usa-button usa-button-outline margin-top-1" %>

    <%- if form.logo.present? %>
      <%- if form.display_header_logo %>
        <p>
          <%= image_tag(form.logo.tag.url, alt: "#{form.organization.name} logo", class: "form-header-logo") %>
        </p>
      <% end %>
      <%- if form.display_header_square_logo %>
        <p>
          <%= image_tag(form.logo.logo_square.url, alt: "#{form.organization.name} logo", class: "form-header-logo-square") %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
