<ul class="usa-button-group usa-button-group--segmented margin-bottom-3">
  <li class="usa-button-group__item">
    <%= link_to admin_form_path(form), class: "usa-button #{current_path == admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Overview
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to questions_admin_form_path(form), class: "usa-button #{current_path == questions_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
    Questions
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to delivery_admin_form_path(form), class: "usa-button #{current_path == delivery_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Delivery
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to responses_admin_form_path(form), class: "usa-button #{current_path == responses_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Responses
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to permissions_admin_form_path(form), class: "usa-button #{current_path == permissions_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Permissions
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to notifications_admin_form_path(form), class: "usa-button #{current_path == notifications_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Notifications
    <% end %>
  </li>
</ul>
