<% if is_at_least_form_manager?(user: current_user, form: @form) %>
  <span class="float-right">
    <%= link_to edit_admin_form_path(@form), class: "usa-button #{current_path == edit_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      <i class="fa fa-edit"></i>
      Edit survey
    <% end %>
  </span>
<% end %>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <%= link_to admin_form_path(form), class: "usa-button #{current_path == admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Survey information
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to permissions_admin_form_path(form), class: "usa-button #{current_path == permissions_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Permissions
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to compliance_admin_form_path(form), class: "usa-button #{current_path == compliance_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      PRA
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to questions_admin_form_path(form), class: "usa-button #{current_path == questions_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Questions (<%= form.questions.size %>)
    <% end %>
  </li>
  <li class="usa-button-group__item">
    <%= link_to responses_admin_form_path(form), class: "usa-button #{current_path == responses_admin_form_path(form) ? nil : 'usa-button--outline'}" do %>
      Responses (<%= form.submissions.size %>)
    <% end %>
  </li>
</ul>
