<div class="well">
  <h3>
    <i class="fa fa-pencil-alt"></i>
    <span title="Public Records Act">PRA</span>
    Information
  </h3>
  <div class="grid-row grid-gap-md">
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :service_name, class: "usa-label" %>
        <%= f.text_field :service_name, class: "usa-input", placeholder: "Name of the Service receiving feedback" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field usa-form-group">
        <%= f.label :expiration_date, class: "usa-label", id: "expiration-date-label" %>
        <div class="usa-date-picker" data-default-value="<%= @form.expiration_date %>">
          <input type="text" name="form[expiration_date]" id="form_expiration_date" placeholder="mm/dd/yyyy" class="usa-input" aria-described-by="expiration-date-label" />
        </div>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :agency_poc_name, class: "usa-label" %>
        <%= f.text_field :agency_poc_name, class: "usa-input", placeholder: "Point of Contact's Name" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :agency_poc_email, class: "usa-label" %>
        <%= f.text_field :agency_poc_email, class: "usa-input", placeholder: "Point of Contact's Email" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :department, class: "usa-label" %>
        <%= f.text_field :department, class: "usa-input", placeholder: "Department" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :bureau, class: "usa-label" %>
        <%= f.text_field :bureau, class: "usa-input", placeholder: "Bureau" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :omb_approval_number, class: "usa-label" %>
        <%= f.text_field :omb_approval_number, class: "usa-input", placeholder: "OMB Approval #" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :federal_register_url, class: "usa-label" %>
        <%= f.text_field :federal_register_url, class: "usa-input", placeholder: "https://www.federalregister.gov/..." %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :medium, "Medium of Delivery", class: "usa-label" %>
        <%= f.select :medium, ["Web", "Email", "Phone", "In person", "Other"], { prompt: "How was this survey delivered?" }, { class: "usa-select" } %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :occasion, "Occasion of Delivery", class: "usa-label" %>
        <%= f.select :occasion, ["During Research or Development", "During an experience", "After an experience", "More than 1 week after an experience", "On a scheduled/annual basis", "Other"], { prompt: "When was this survey delivered?" }, { class: "usa-select" } %>
      </div>
    </div>
    <div class="grid-col-6">
      <div class="field">
        <%= f.label :anticipated_delivery_count, class: "usa-label" %>
        <%= f.number_field :anticipated_delivery_count, class: "usa-input", placeholder: "100" %>
      </div>
    </div>
  </div>
</div>
