<div class="usa-step-indicator" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment
      <%= "usa-step-indicator__segment--current" if ["created"].include?(form.aasm_state) -%>
      <%= "usa-step-indicator__segment--complete" if ["submitted", "approved", "published", "archived"].include?(form.aasm_state) -%>">
      <span class="usa-step-indicator__segment-label">Draft
        <%- if ["submitted", "published", "archived"].include?(form.aasm_state) -%>
          <span class="usa-sr-only">completed</span>
        <% else %>
          <span class="usa-sr-only">not completed</span>
        <% end %>
      </span>
    </li>
    <% if form.organization.form_approval_enabled %>
    <li class="usa-step-indicator__segment
      <%= "usa-step-indicator__segment--current" if ["submitted"].include?(form.aasm_state) -%>
      <%= "usa-step-indicator__segment--complete" if ["submitted", "approved", "published", "archived"].include?(form.aasm_state) -%>">
      <span class="usa-step-indicator__segment-label">Submitted
        <%- if ["created", "submitted", "published", "approved", "archived"].include?(form.aasm_state) -%>
          <span class="usa-sr-only">completed</span>
        <% else %>
          <span class="usa-sr-only">not completed</span>
        <% end %>
      </span>
    </li>
    <li class="usa-step-indicator__segment
      <%= "usa-step-indicator__segment--current" if ["approved"].include?(form.aasm_state) -%>
      <%= "usa-step-indicator__segment--complete" if ["approved", "published", "archived"].include?(form.aasm_state) -%>">
      <span class="usa-step-indicator__segment-label">Approved
        <%- if ["published", "archived"].include?(form.aasm_state) -%>
          <span class="usa-sr-only">completed</span>
        <% else %>
          <span class="usa-sr-only">not completed</span>
        <% end %>
      </span>
    </li>
    <% end %>
    <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--current" if ["published"].include?(form.aasm_state) -%> <%= "usa-step-indicator__segment--complete" if ["archived"].include?(form.aasm_state) -%>">
      <span class="usa-step-indicator__segment-label">Published
        <%- if ["archived"].include?(form.aasm_state) -%>
          <span class="usa-sr-only">completed</span>
        <% else %>
          <span class="usa-sr-only">not completed</span>
        <% end %>
      </span>
    </li>
    <li class="usa-step-indicator__segment <%= "usa-step-indicator__segment--current" if ["archived"].include?(form.aasm_state) -%>" aria-current="true">
      <span class="usa-step-indicator__segment-label">Archived
        <%- if ["archived"].include?(form.aasm_state) -%>
          <span class="usa-sr-only">completed</span>
        <% else %>
          <span class="usa-sr-only">not completed</span>
        <% end %>
      </span>
    </li>
  </ol>
</div>
