<div>
    <div class="form-section-div">
      <div class="section pad well2">
      <h2>General Information</h2>
      <b>All fields required unless marked optional</b>
      <br>
      <br>
      <br>
      <%= form_with(model: form, url: (form.persisted? ? admin_form_path(form) : admin_forms_path), local: true) do |f| %>
        <b>Upload logo</b>
        <br>
        <br>
        Logos should by 80 x 80 px square OR 320 x 80 px rectangle
        <div class="field">
          <p>
            <%= f.file_field :logo, class: "usa-button" %>
          </p>
        </div>

        <strong>Emails to notify when a response is received</strong>
        <br>
        <br>
        Separate multiple emails with a comma
        <br>
        <br>
        <div class="field">
          <%= f.text_field :notification_emails, class: "usa-input" %>
        </div>
        <hr width=100%>
        <br>
        <h2>How Should the Survey be Published?</h2>
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              <strong>Options for Publishing Your Survey</strong>
              <br>
              A survey can be shared with users in a couple ways.
              <br>
              <ol>
                <li> We can <strong>host your form</strong> directly on the Touchpoints page.  Users will be able to access it from a publically available URL that
                  you share on a website or email.  No coding or embedding is needed for this option.
                </li>
                <li> A survey can also be embedded directly on your website using one of three different methods:
                  <ol>
                    <li> <strong>Modal - </strong> Touchpoints will insert a default button on your website with the text that you indicate.  The button will launch
                    a modal box displaying your survey</li>
                    <li> <strong>Custom button modal - </strong> Works like the modal, except you provide your own custom styled button with the use of an
                    html-element-id</li>
                    <li> <strong>Inline -</strong> Touchpoints will embed your survey directly onto your website using an html-element-id</li>
                  </ol>
                </li>
              </ol>
            </p>
          </div>
        </div>
        <br><br>

        <div class="field">
          <%= f.hidden_field :name, class: "usa-input" %>
          <%= f.hidden_field :title, class: "usa-input" %>
        </div>

        <strong>Choose how will this form be displayed</strong>
        <br><br>
        <fieldset class="usa-fieldset">
          <% Form::DELIVERY_METHODS.each_with_index do |delivery_method, index| %>
            <div class="usa-checkbox">
              <%= f.radio_button :delivery_method, delivery_method[0], class: "usa-checkbox__input"  %>
              <%= f.label delivery_method[1], class: "usa-checkbox__label", for: "form_delivery_method_#{delivery_method[0]}" %>
            </div>
          <% end %>
        </fieldset>
        <br>
        <div class="grid-row">
          <div class="grid-col-6">
            <div class="field" id="delivery-method-text" style="display:none">
              <strong>Text to display on button that launches survey</strong>
              <%= f.text_field :modal_button_text, class: "usa-input" %>
            </div>
            <br>
            <div class="field" id="delivery-method-html-id" style="display:none">
              <strong>ID of custom element where survey should be inserted</strong><br/>
              HTML-element-id attribute
              <%= f.text_field :element_selector, class: "usa-input", placeholder: "html-element-id" %>
            </div>
          </div>
        </div>
        <%= render 'components/whitelist_options', f: f %>
        <br><br>

        <hr width="100%">
        <br><br>
        <h2>Customer Experience (optional)</h2>

        <strong>Briefly describe the goal of this form</strong>
        <div class="grid-row grid-gap-md">
          <div class="grid-col-6">
            <div class="field">
              <%= f.text_area :notes, class: "usa-textarea" %>
            </div>
          </div>
        </div>
        <br>
        <strong>How many responses do you want to receive</strong>
        <div class="grid-col-6">
          <div class="field">
            <%= f.number_field :anticipated_delivery_count, class: "usa-input", placeholder: "100" %>
          </div>
        </div>
    </div>
  </div>
  <p>
    <%= f.submit "Save Survey", class: "usa-button" %>
    <%= link_to admin_forms_path do %>
      Cancel
    <% end %>
  </p>
  <% end %>
</div>

<script>
  $("#form_delivery_method_touchpoints-hosted-only").click(function() {
      console.log('clicked hosted');
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').hide();
  });
  $("#form_delivery_method_modal").click(function() {
      console.log('clicked modal');
      $('#delivery-method-text').show();
      $('#delivery-method-html-id').hide();
  });
  $("#form_delivery_method_custom-button-modal").click(function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
  });
  $("#form_delivery_method_inline").click(function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
  });
  $( document ).ready(function() {
    $("#form_delivery_method_<%= form.delivery_method %>").click();
  });
</script>
