<%- if form.deployable_form? %>
<div class="well">
  <h2 class="usa-sr-only">
    Actions
  </h2>
  <strong>
   Touchpoints-hosted URL
  </strong>
  <br>
  <p class="usa-prose font-sans-xs">
    Every form gets a touchpoints-hosted URL.
    <br>
    This form can be publicly accessed from the following URL.
    You can choose to share this URL with users, or not.
  </p>

  <p>
    <%= link_to submit_touchpoint_uuid_url(form), submit_touchpoint_uuid_url(form), target: "_blank" %>
  </p>

  <%- if form.delivery_method == "touchpoints-hosted-only" %>
  <p>
    A form can also be embedded into a website using
    <%= link_to "Delivery Options", delivery_admin_form_path(form) %>.
  </p>
  <% end %>

  <%- if form.delivery_method == "modal" || form.delivery_method == "inline" || form.delivery_method == "custom-button-modal" %>
    <strong>
      Delivery options
    </strong>
    <br>

    <%- if form.deployable_form? %>
      <%- if form.delivery_method == "inline" || form.delivery_method == "custom-button-modal" %>
      <p>
        Add the following markup to your site
        as a place to display the Touchpoint
        <i><%= form.delivery_method %></i>.
      </p>
      <%- if form.delivery_method == "inline" %>
        <span class="code minh-10 bg-base-lighter padding-1">
          <%= h("<div id=\"#{form.element_selector}\"></div>") %>
        </span>
      <% else %>
        <span class="code minh-10 bg-base-lighter padding-1">
          <%= h("<button id=\"#{form.element_selector}\"></button>") %>
        </span>
      <% end %>
    <% end %>
    <p>
      Add the following script to your site to embed your form.
    </p>

    <div class="code minh-10 bg-base-lighter padding-1">
      <%= h("<script src=\"#{touchpoint_url(form.short_uuid, format: :js)}\" async></script>") %>
    </div>
    <% end %>

    <%- if form.delivery_method == "modal" || form.delivery_method == "custom-button-modal" || form.delivery_method == "inline" %>
    <div class="margin-top-2">
      <%= link_to example_admin_form_path(form), class: "usa-button bg-base width-full", target: "_blank", rel: "noopener" do %>
        <i class="fa fa-eye"></i>
        Preview
        <br>
        <small>
          (<%= form.delivery_method %>)
        </small>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
<% else %>
<div class="well">
  <h2 class="usa-sr-only">
    Actions
  </h2>
  <div class="usa-alert usa-alert--error usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This Form is not published
      </p>
    </div>
  </div>

  <div class="margin-top-2">
    <%= link_to example_admin_form_path(form), class: "usa-button bg-base width-full", target: "_blank", rel: "noopener" do %>
      <i class="fa fa-eye"></i>
      Preview
      <small>
        <%= form.delivery_method %>
      </small>
    <% end %>
  </div>
</div>
<% end %>

<%- if is_at_least_form_manager?(user: current_user, form: @form) %>
<div class="well">
  <%- if @form.organization_has_form_approval_enabled? %>
    <%- if @form.submitted? %>
    <p>
      Form was submitted for review at
      <%= @form.submitted_at %>
    </p>
    <% elsif @form.created? %>
    <div class="margin-top-2">
      <%= link_to submit_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button width-full" do %>
      <i class="far fa-check-circle"></i>
      Submit for Organizational Approval
      <% end %>
    </div>
    <% end %>
  <% end %>

  <%- if form_approver_permissions? && @form.submitted? %>
  <div class="margin-top-2">
    <%= button_to approve_admin_form_path(form),
      method: :post,
      data: { confirm: 'Are you sure?' }, class: "usa-button width-full",
      disabled: false do %>
    <i class="far fa-check-circle"></i>
    Approve
    <% end %>
  </div>
  <% end %>

  <%- if (!@form.organization_has_form_approval_enabled? && @form.created?) || @form.approved?  %>
  <div class="margin-top-2">
    <%= button_to publish_admin_form_path(form),
      method: :post,
      data: { confirm: 'Are you sure?' }, class: "usa-button width-full",
      disabled: false do %>
    <i class="far fa-check-circle"></i>
    Publish
    <% end %>
  </div>
  <% end %>

<% unless form.archived? %>
  <div class="margin-top-2">
    <%= link_to archive_admin_form_path(form), class: "usa-button usa-button--accent-cool width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
      <span class="fa fa-archive"></span>
      Archive
    <% end %>
  </div>
<% end %>

<% unless form.created? %>
  <div class="margin-top-2">
    <%= link_to reset_admin_form_path(form), class: "usa-button usa-button--secondary width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
      <span class="fa fa-backward"></span>
      Reset form
    <% end %>
  </div>
<% end %>

<%- if form.archived? || !form.deployable_form? %>
  <%- if form.persisted? %>
    <div class="margin-top-2">
    <%= link_to admin_form_path(form), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary width-full" do %>
      <i class="fas fa-trash"></i>
      Delete
    <% end %>
    </div>
  <% end %>
<% end %>
</div>
<% end %>