<%= render 'admin/forms/step_indicator', form: form %>

<div class="well">
  <% if form.deployable_form? %>
  <strong>
   Touchpoints-hosted URL
  </strong>
  <br>
  <p>
    Every form gets a touchpoints-hosted URL.
    <br>
    This form can be publicly accessed from the following URL.
    You can choose to share this URL with users, or not.
  </p>

  <p>
    <%= link_to submit_touchpoint_uuid_url(form), submit_touchpoint_uuid_url(form), target: "_blank" %>
  </p>

  <% if form.delivery_method == "touchpoints-hosted-only" %>
  <p>
    A form can also be embedded into a website using
    <%= link_to "Delivery Options", delivery_admin_form_path(form) %>.
  </p>
  <% end %>

    <% if form.delivery_method == "modal" || form.delivery_method == "inline" || form.delivery_method == "custom-button-modal" %>
      <strong>
        Delivery options
      </strong>
      <br>

      <% if form.deployable_form? %>
        <% if form.delivery_method == "inline" || form.delivery_method == "custom-button-modal" %>
        <p>
          Add the following markup to your site
          as a place to display the Touchpoint
          <i><%= form.delivery_method %></i>.
        </p>
        <span class="code minh-10 bg-base-lighter padding-1">
          <%= h("<div id=\"#{form.element_selector}\"></div>") %>
        </span>
        <% end %>
      <p>
        Add the following script to your site to embed your form.
      </p>
      <div>
        <div class="code minh-10 bg-base-lighter padding-1">
          <%= h("<script src=\"#{touchpoint_url(form.short_uuid, format: :js)}\" async></script>") %>
        </div>
      </div>
      <br>
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" type="checkbox" value="1" name="form[integrity-hashed-url]" id="integrity-hashed-url-checkbox">
        <label class="usa-checkbox__label" for="integrity-hashed-url-checkbox">with integrity hash</label>
      </div>
      <div id="integrity-hashed-url" hidden class="margin-top-2">
        <div class="usa-alert usa-alert--warning">
          <div class="usa-alert__body">
            <p class="usa-alert__text font-sans-3xs">
              This alternative version of embed script includes an integrity attribute.
              Using this version offers more security.
              Changing any aspect of the Form's display will change this checksum,
              and if deployed, could become invalid.
            </p>
          </div>
        </div>
        <br>
        <div class="code minh-10 bg-base-lighter padding-1">
          <%= h("<script src=\"#{touchpoint_url(form.short_uuid, format: :js)}\" integrity=\"sha256-#{form_integrity_checksum(form: form)}\" async></script>") %>
        </div>
      </div>
      <% end %>

      <% if form.delivery_method == "modal" || form.delivery_method == "custom-button-modal" || form.delivery_method == "inline" %>
      <p>
        <%= link_to example_admin_form_path(form), class: "usa-button bg-base width-full", target: "_blank", rel: "noopener" do %>
          <i class="fa fa-eye"></i>
          Preview
          <br>
          <small>
            (<%= form.delivery_method %>)
          </small>
        <% end %>
      </p>
      <p>
        <%= link_to copy_admin_form_path(form), class: "usa-button usa-button--outline width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-copy"></i>
          Copy
        <% end %>
      </p>
      <% end %>

    <% end %>
  <% else %>
    <div class="usa-alert usa-alert--error usa-alert--slim">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          This Form is not published
        </p>
      </div>
    </div>

    <p>
      <%= link_to example_admin_form_path(form), class: "usa-button bg-base width-full", target: "_blank", rel: "noopener" do %>
        <i class="fa fa-eye"></i>
        Preview
        <small>
          <%= form.delivery_method %>
        </small>
      <% end %>
    </p>

    <p>
      <%= link_to publish_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button width-full" do %>
      <i class="far fa-check-circle"></i>
      Publish
      <% end %>
    </p>

    <p>
      <%= link_to copy_admin_form_path(form), class: "usa-button usa-button--outline width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-copy"></i>
        Copy
      <% end %>
    </p>

  <% end %>

  <% unless form.archived? %>
    <p>
      <%= link_to archive_admin_form_path(form), class: "usa-button usa-button--accent-cool width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
        <span class="fa fa-archive"></span>
        Archive
      <% end %>
    </p>
  <% end %>

  <% unless form.in_development? %>
    <p>
      <%= link_to reset_admin_form_path(form), class: "usa-button usa-button--secondary width-full", method: :post, data: { confirm: 'Are you sure?' } do %>
        <span class="fa fa-backward"></span>
        Reset form
      <% end %>
    </p>
  <% end %>

  <% if form.archived? || !form.deployable_form? %>
    <% if form.persisted? %>
      <%= link_to admin_form_path(form), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary width-full" do %>
        <i class="fas fa-trash"></i>
        Delete
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  $(function() {
    $("#integrity-hashed-url-checkbox").on("click", function() {
      if ($(this).is(':checked')) {
        $("#integrity-hashed-url").show();
      } else {
        $("#integrity-hashed-url").hide();
      }
    })
  })
</script>
