<%= form_with(model: form, url: update_ui_truncation_admin_form_path(form, format: :json), local: false) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <% form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h4>
    Display options
  </h4>
  <div class="grid-row grid-gap-md">
    <div class="grid-col-6">
      <ul class="usa-list">
        <li>
          <%= link_to "Include Archived Submissions", "?archived=1" %>
        </li>
      </ul>

      <fieldset class="usa-fieldset">
        <legend class="usa-sr-only">HISP Form?</legend>
        <div class="usa-checkbox">
          <%= f.check_box :ui_truncate_text_responses, class: "usa-checkbox__input" %>
          <%= f.label :ui_truncate_text_responses, "Truncate responses to 160 characters?", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
    </div>
  </div>
  <br>
  <div class="grid-row grid-gap-md">
    <p>
      <%= f.submit "Update options", class: "usa-button" %>
    </p>
  </div>
<% end %>

<script>
  $(function(){
    $("#button-toggle-table-display-options").on("click", function() {
      $("#table-display-options").toggle();
      $("#form_ui_truncate_text_responses").focus();
    });

    const element = document.querySelector("form");
    element.addEventListener("ajax:success", (event) => {
      location.reload();
    });
  });
</script>
