<% content_for :navigation_title do %>
  Viewing Form: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>

<%= form_with(model: @form, url: (@form.persisted? ? admin_form_path(@form) : admin_forms_path), local: true) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <% @form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'admin/forms/pra', f: f %>
  <p>
    <%= f.submit "Update Form", class: "usa-button" %>
  </p>
<% end %>
