<style>
#survey_name_link {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;

  /* white */

  color: #FFFFFF;
}
</style>
<% content_for :navigation_title do %>
  Feedback on call center <span id="survey_name_text"><%= @form.name %></span>
  <input id="survey_name_input" type="text" value="<%= @form.name %>" style="display:none">
  <a href="#" id="survey_name_link"><span class="fa fa-pencil-alt"></span> Edit</a>
<% end %>
<p>
<%= link_to admin_forms_path do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to My Surveys
<% end %>
</p>
<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

    <% @form.errors.full_messages.each do |message| %>
      <div class="usa-alert usa-alert--error" >
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error</h3>
          <p class="usa-alert__text">
            <%= message %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div id="tabs">
  <ul class="nav">
    <li><a href="#tabs-1">Survey Information</a>
    </li>
    <li><a href="#tabs-2">Build Survey</a>
    </li>
  </ul>
  <div id="tabs-1">
    <div class="grid-row">
      <div class="grid-col">
        <div class="form-builder">
          <%= render 'admin/forms/survey_information', form: @form %>
        </div>
      </div>
    </div>
  </div>
  <div id="tabs-2">
    <div class="grid-row">
      <div class="grid-col">
        <div class="form-builder">
          <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.questions } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function() {
  $( "#tabs" ).tabs();
  $( "#survey_name_input").keyup(function() {
    $("#form_name").val(this.value);
    $("#form_title").val(this.value);
  });
});
$("#survey_name_link").click(function() {
  $("#survey_name_text").hide();
  $("#survey_name_link").hide();
  $("#survey_name_input").show();
});
</script>
