<% content_for :navigation_title do %>
  Editing Delivery method for: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<br>
<%= form_with(model: @form, url: (@form.persisted? ? admin_form_path(@form) : admin_forms_path), local: true) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <% @form.errors.full_messages.each do |message| %>
        <div class="usa-alert usa-alert--error">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error</h3>
            <p class="usa-alert__text">
              <%= message %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="grid-row grid-gap-lg">
    <div class="desktop:grid-col-8">
      <div>
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              <strong>How will users access this survey?</strong>
              <br>
              When a Touchpoint is published,
              it will be available at a URL on Touchpoints.
              <br>

              Additionally, a form can be embedded on an existing web property
              using one of three different methods:
              <ol>
                <li>
                  <strong>Tab button &amp; modal</strong> -
                  Touchpoints will insert a default button on your website with
                  the text that you indicate.  The button will launch
                  a modal box displaying your survey.
                </li>
                <li>
                  <strong>Custom button &amp; modal</strong> -
                  Works like the modal, except you provide your own custom
                  styled button with the use of a
                  #html-element-id.
                </li>
                <li>
                  <strong>Inline</strong> -
                  Touchpoints will embed your survey directly onto your
                  website using a #html-element-id.
                </li>
              </ol>
            </p>
          </div>
        </div>

        <br>
        <fieldset class="usa-fieldset">
          How will users access this survey?
          <br>
          <legend class="usa-sr-only">Delivery methods</legend>
          <% Form::DELIVERY_METHODS.each_with_index do |delivery_method, index| %>
            <div class="usa-checkbox">
              <%= f.radio_button :delivery_method, delivery_method[0], class: "usa-radio__input" %>
              <%= f.label delivery_method[1], class: "usa-radio__label", for: "form_delivery_method_#{delivery_method[0]}" %>
            </div>
          <% end %>
        </fieldset>
        <div class="grid-row">
          <div class="grid-col-6">
            <div class="field" id="delivery-method-text" hidden>
              <%= f.label :modal_button_text, class: "usa-label" %>
              <%= f.text_field :modal_button_text, class: "usa-input" %>
            </div>
            <div class="field" id="delivery-method-html-id" hidden>
              <%= f.label :element_selector, class: "usa-label" %>
              <%= f.text_field :element_selector, class: "usa-input", placeholder: "html-element-id" %>
            </div>
          </div>
        </div>
        <br>
        <%= render 'components/whitelist_options', f: f %>
        <div class="grid-row">
          <div class="grid-col-6">
            <div class="field">
              <%= f.label :verify_csrf, class: "usa-label" %>
              <%= f.check_box :verify_csrf, class: "usa-checkbox" %>
            </div>
          </div>
        </div>
        <p>
          <%= f.submit (@form.persisted? ? "Update Form" : "Create Form"), class: "usa-button" %>
        </p>
      </div>
    </div>
    <div class="desktop:grid-col-4">
      <%= render 'admin/forms/task_bar', form: @form %>
    </div>

  </div>
<% end %>

<script>
  $(function() {
    $("#form_delivery_method_touchpoints-hosted-only").on("click", function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').hide();
      $('#allowlist-options').hide();
    });
    $("#form_delivery_method_modal").on("click", function() {
      $('#delivery-method-text').show();
      $('#delivery-method-html-id').hide();
      $('#allowlist-options').show();
    });
    $("#form_delivery_method_custom-button-modal").on("click", function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
      $('#allowlist-options').show();
    });
    $("#form_delivery_method_inline").on("click", function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
      $('#allowlist-options').show();
    });

    $("#form_delivery_method_<%= @form.delivery_method %>").click();
  });
</script>
