<h1>Editing Form</h1>

<%= render 'form', form: @form %>
<%= render partial: "components/forms/#{@form.kind}", locals: { form: @form, touchpoint: @touchpoint } %>

<%= link_to 'Show', @form %> |
<%= link_to 'Destroy', @form, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', forms_path %>
