<% content_for :navigation_title do %>
  Editing Form
<% end %>
<div class="grid-row">
  <div class="grid-col">
    <p>
      <%= link_to admin_forms_path do %>
        <i class="fa fa-arrow-circle-left"></i>
        Back to Forms
      <% end %>
    </p>
    <%= render 'admin/forms/nav', form: @form %>
    <%= render 'admin/forms/form', form: @form %>
  </div>
</div>
<p>
  <%= link_to 'Show', admin_touchpoint_form_path(@touchpoint, @form), class: "usa-button" if @touchpoint %>
</p>

<script>
  $(function() {
    $("#form_delivery_method_touchpoints-hosted-only").click(function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').hide();
      $('#allowlist-options').hide();
    });
    $("#form_delivery_method_modal").click(function() {
      $('#delivery-method-text').show();
      $('#delivery-method-html-id').hide();
      $('#allowlist-options').show();
    });
    $("#form_delivery_method_custom-button-modal").click(function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
      $('#allowlist-options').show();
    });
    $("#form_delivery_method_inline").click(function() {
      $('#delivery-method-text').hide();
      $('#delivery-method-html-id').show();
      $('#allowlist-options').show();
    });

    $("#form_delivery_method_<%= @form.delivery_method %>").click();
  });
</script>
