<h1>Editing Form</h1>

<%= render 'form', form: @form %>
<%= render partial: "components/forms/#{@form.kind}", locals: { form: @form, touchpoint: @touchpoint } %>

<%= link_to 'Show', admin_form_path(@form) %> |
<%= link_to 'Destroy', admin_form_path(@form), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_forms_path %>
