<h1>
  Editing <%= @form.kind %> Form
</h1>
<% if @form.kind == "a11" %>
  <%= render 'components/forms/edit/a11', { touchpoint: @touchpoint, form: @form } %>
<% else %>
  <div class="usa-grid-full">
    <div class="usa-width-one-half">
      <%= render 'admin/forms/form', form: @form %>
    </div>
    <div class="usa-width-one-half">
      <h3>
        Preview
      </h3>
      <div class="touchpoint-card">
        <%= render partial: "components/forms/#{@form.kind}", locals: { form: @form, touchpoint: @touchpoint } %>
      </div>
    </div>
  </div>

<% end %>

<%= link_to 'Show', admin_touchpoint_form_path(@touchpoint, @form), class: "usa-button" if @touchpoint %>
<%= link_to 'All Forms', admin_forms_path, class: "usa-button" %>
<%= link_to 'Destroy', admin_touchpoint_form_path(@touchpoint, @form), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button-red" if @touchpoint %>
