<div class="well">
  <p>
    <%= link_to 'New Form', new_admin_form_path, class: "usa-button float-right" %>
    <h1>Forms</h1>
  </p>
  <% if @forms.select { |f| !f.template }.present? %>
  <table class="usa-table" style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th>Form name</th>
        <th>State</th>
        <th>Responses</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @forms.select { |f| !f.template }.each_with_index do |form, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= link_to form.name, admin_form_path(form) %>
        </td>
        <td>
          <%= form.aasm_state %>
        </td>
        <td>
          <%= form.submissions.size %>
        </td>
        <td style="min-width: 1em;">
          <%= link_to copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline" do %>
            <i class="fa fa-copy"></i>
            Copy form
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    Get started by creating a form.
  <% end %>
</div>
<div class="form-templates">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-8">
      <h1>
        Form Templates
      </h1>
      <p>
        Here are some common forms you can use to get started.
        Copy the form template you want to use, then edit the copy to suit your needs.
      </p>
    </div>
  </div>
  <% @forms.select { |f| f.template }.in_groups_of(2, false).each do |forms| %>
  <div class="grid-row grid-gap-md">
    <% forms.each do |form| %>
      <% next unless form.template? %>
      <div class="grid-col-6">
        <strong>
          <%= form.name %>
        </strong>
        <p>
          <%= form.notes %>
          &nbsp;
        </p>
        <br>
        <div class="grid-row grid-gap-md">
          <div class="grid-col-6">
            <%= link_to 'Use this Template', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline" %>
          </div>
          <div class="grid-col-6">
            <%#= link_to 'Preview Template', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <% end %>
<div>
