<div class="well">
  <h1>Forms</h1>
  <table class="usa-table">
    <thead>
      <tr>
        <th></th>
        <th>Touchpoint name</th>
        <th>Form name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @forms.select { |f| !f.template }.each_with_index do |form, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= form.touchpoint.name if form.touchpoint.present? %>
          <% if form.template %>
            <br>
            <span class="usa-tag" style="background: #e31c3d;">
              <%= form.kind %>
            </span>
          <% end %>
        </td>
        <td>
          <% if form.touchpoint.present? %>
          <%= link_to form.name, admin_touchpoint_form_path(form.touchpoint, form)  %>
          <% else %>
          <%= link_to form.name, admin_form_path(form)  %>
          <% end %>
        </td>
        <td>
          <%= link_to copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline" do %>
            <i class="fa fa-copy"></i>
            Copy form
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to 'New Form', new_admin_form_path, class: "usa-button" %>
  </p>
</div>
<div class="form-templates">
  <div class="grid-row grid-gap-md">
    <div class="grid-col-8">
      <h1>
        Form Templates
      </h1>
      <p>
        Here are some common forms that you can use to get started.
        Copy the form template you want to use, and edit your copy to suit your needs.
      </p>
    </div>
  </div>
  <% @forms.select { |f| f.template }.in_groups_of(2, false).each do |forms| %>
  <div class="grid-row grid-gap-md">
    <% forms.each do |form| %>
      <% next unless form.template? %>
      <div class="grid-col-6">
        <strong>
          <%= form.name %>
        </strong>
        <p>
          <%= form.notes %>
          &nbsp;
        </p>
        <br>
        <div class="grid-row grid-gap-md">
          <div class="grid-col-6">
            <%= link_to 'Use this Template', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline" %>
          </div>
          <div class="grid-col-6">
            <%#= link_to 'Preview Template', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <% end %>
<div>
