<div class="well">
  <h1>Forms</h1>
  <table class="usa-table">
    <thead>
      <tr>
        <th>Touchpoint</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @forms.each do |form| %>
      <tr>
        <td>
          <%= form.touchpoint.name if form.touchpoint %>
        </td>
        <td>
          <% if form.touchpoint.present? %>
          <%= link_to form.name, admin_touchpoint_form_path(form.touchpoint, form)  %>
          <% else %>
          <%= link_to form.name, admin_form_path(form)  %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_touchpoint_form_path(form.touchpoint, form) if form.touchpoint.present? %>
        </td>
        <td>
          <%= link_to 'Create a Copy', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'New Form', new_admin_form_path, class: "usa-button" %>
</p>
