<div class="well">
  <h1>Forms</h1>
  <table class="usa-table">
    <thead>
      <tr>
        <th>Touchpoint Name</th>
        <th>Form Name</th>
        <th style="border: none; background: none;"></th>
      </tr>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
      <tr>
        <td>
          <%= form.touchpoint.name if form.touchpoint.present? %>
          <% if form.template %>
            <br>
            <span class="usa-tag" style="background: #e31c3d;">
              <%= form.kind %>
            </span>
          <% end %>
        </td>
        <td>
          <% if form.touchpoint.present? %>
          <%= link_to form.name, admin_touchpoint_form_path(form.touchpoint, form)  %>
          <% else %>
          <%= link_to form.name, admin_form_path(form)  %>
          <% end %>
        </td>
        <td style="border-right: none;">
          <%= link_to 'Copy this Form', copy_admin_form_path(form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'New Form', new_admin_form_path, class: "usa-button" %>
</p>
