<% content_for :navigation_title do %>
  <i class="fa fa-envelope"></i>
  Editing Notification Settings: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_form_path(@form) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Survey
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>

<div class="grid-row">
  <div class="grid-col-12">
    <%= render 'admin/forms/form_notifications', form: @form %>
  </div>
</div>
<p>
  <%= link_to 'Show', admin_touchpoint_form_path(@touchpoint, @form), class: "usa-button" if @touchpoint %>
  <%= link_to 'View form', admin_form_path(@form), class: "usa-button usa-button--outline" %>
  <%= link_to 'All forms', admin_forms_path, class: "usa-button usa-button--outline" %>
</p>
