<% content_for :navigation_title do %>
  Editing Questions for: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<br>
<div class="grid-row">
  <div class="grid-col">
    <div class="touchpoint-form form-builder">
      <div class="inner-wrapper">
        <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.questions } %>
      </div>
      <%= render partial: 'components/forms/footer_banner', locals: { form: @form } %>
    </div>

    <%= render "admin/forms/preview", { form: @form } %>
  </div>
</div>
