<% content_for :navigation_title do %>
  Editing Questions for: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<br>
<div class="grid-row grid-gap-lg margin-bottom-2">
  <div class="desktop:grid-col-8">
    <% if @form.questions.size > 12 %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Touchpoints supports a maximum of 20 questions.
          There are currently
          <%= @form.questions_count %> questions.
          <br>
          Fewer questions tend to get better engagement.
        </p>
      </div>
    </div>
    <br>
    <% end %>
    <div class="touchpoint-form form-builder">
      <div class="inner-wrapper">
        <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.questions } %>
      </div>
      <%= render partial: 'components/forms/footer_banner', locals: { form: @form } %>
    </div>
  </div>
  <div class="desktop:grid-col-4 ">
    <%= render 'admin/forms/task_bar', form: @form %>
  </div>
</div>
