<% content_for :navigation_title do %>
  Editing Questions for: <%= @form.name %>
  <div class="float-right">
    <%= link_to copy_admin_form_path(@form), class: "usa-button usa-button-inverted", method: :post, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-copy"></i>
      Copy
    <% end %>
  </div>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<%= render 'admin/forms/step_indicator', form: @form %>
<div class="grid-row grid-gap-lg margin-bottom-2">
  <div class="desktop:grid-col-8">
    <%- if @form.questions.size > 12 %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Touchpoints supports a maximum of 20 questions.
          There are currently
          <%= @form.questions_count %> questions.
          <br>
          Fewer questions tend to get better engagement.
        </p>
      </div>
    </div>
    <br>
    <% end %>

    <%- if @form.errors.any? %>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-12">
        <div id="error_explanation" class="margin-bottom-2">
          <div class="usa-alert usa-alert--error">
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">Error</h3>
              <p class="usa-alert__text">
                <ul>
                <% @form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="touchpoint-form form-builder">
      <div class="inner-wrapper">
        <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.ordered_questions } %>
      </div>
      <%= render partial: 'components/forms/footer_banner', locals: { form: @form } %>
    </div>
  </div>
  <div class="desktop:grid-col-4 ">
    <%= render 'admin/forms/task_bar', form: @form %>
  </div>
</div>
