<%= javascript_include_tag "chartjs-2.9.3.bundle.js" %>

<% content_for :navigation_title do %>
  Viewing Responses for <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<h3>
  Customer Feedback Analysis
</h3>
<% if admin_permissions? %>
  <div class="a11-analysis-widget"><span class="usa-label">Loading A11 Analysis...</span></div>
<% end %>
<% if @form.kind == "a11" %>
  <div class="a11-chart-widget well"><span class="usa-label">Loading A11 Chart...</span></div>
<% end %>
<div class="responses-by-status-widget well"><span class="usa-label">Loading Responses by Status...</span></div>
<div class="responses-per-day-widget well"><span class="usa-label">Loading Responses per Day...</span></div>
<div class="submissions-table-widget well"><span class="usa-label">Loading Response Detail...</span></div>
<% if @form.kind == "a11" %>
  <div class="performance-gov-widget well"><span class="usa-label">Loading Performance.gov report...</span></div>
<% end %>
<br>
<br>
<script>
$(function() {
  <% if @form.kind == "a11" %>
    
  $.ajax({
    url: "/admin/submissions/a11_analysis?form_id=<%= @form.short_uuid %>",
    type: 'get'
  });

  $.ajax({
    url: "/admin/submissions/a11_chart?form_id=<%= @form.short_uuid %>",
    type: 'get'
  });
  $.ajax({
    url: "/admin/submissions/performance_gov?form_id=<%= @form.short_uuid %>",
    type: 'get'
  });
  <% end %>

  $.ajax({
    url: "/admin/submissions/responses_per_day?form_id=<%= @form.short_uuid %>",
    type: 'get'
  });
  $.ajax({
    url: "/admin/submissions/responses_by_status?form_id=<%= @form.short_uuid %>",
    type: 'get'
  });
  $.ajax({
    <% if params["archived"].present? && params["archived"] == "1" %>
      url: "/admin/submissions/submissions_table?form_id=<%= @form.short_uuid %>&archived=1",
    <% else %>
      url: "/admin/submissions/submissions_table?form_id=<%= @form.short_uuid %>",
    <% end %>
    type: 'get'
  });
});
</script>
