<div class="well">
  <h1>
    Viewing a Form
  </h1>
  <div class="well">
    <p>
      <strong>Name:</strong>
      <%= @form.name %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @form.title %>
    </p>
    <p>
      <strong>Touchpoint:</strong>
      <% if @touchpoint %>
        <%= link_to @touchpoint.name, admin_touchpoint_path(@touchpoint) %>
      <% end %>
    </p>
    <p>
      <strong>Kind:</strong>
      <%= @form.kind %>
    </p>
    <p>
      <strong>Display (320px wide by 80px tall) Header Logo:</strong>
      <%= @form.display_header_logo %>
    </p>
    <p>
      <strong>Display (80px wide by 80px tall) Header Logo:</strong>
      <%= @form.display_header_square_logo %>
    </p>
    <p>
      <strong>Modal Button Text:</strong>
      <%= sanitize(@form.modal_button_text) %>
    </p>
    <p>
      <strong>Success Text:</strong>
      <%= sanitize(@form.success_text) %>
    </p>
    <p>
      <strong>Instructions:</strong>
      <%= sanitize(@form.instructions) %>
    </p>
    <p>
      <strong>Disclaimer Text:</strong>
      <%= sanitize(@form.disclaimer_text) %>
    </p>
    <p>
      <strong>Character Limit:</strong>
      <%= @form.character_limit %>
    </p>
    <p>
      <strong>Whitelist URL:</strong>
      <%= @form.whitelist_url %>
    </p>
    <p>
      <strong>Whitelist Test URL:</strong>
      <%= @form.whitelist_test_url %>
    </p>
    <% if @touchpoint %>
      <%= link_to 'Edit', edit_admin_touchpoint_form_path(@touchpoint, @form), class: "usa-button" %>
    <% else %>
      <%= link_to 'Edit', edit_admin_form_path(@form), class: "usa-button" %>
    <% end %>
  </div>
</div>
<div class="well highlight form-preview">
  <h2>
    Form Preview
  </h2>
  <div class="well white-bg">
    <% if @form %>
      <%= render partial: "components/forms/custom_layout", locals: { touchpoint: @touchpoint, form: @form } %>
    <% else %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Form content is currently custom-created by the Touchpoints Product Team.
          Please contact the Feedback Analytics Team for assistance.
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
