<h1>
  Viewing a Form
</h1>
<p>
  <strong>Touchpoint:</strong>
  <%= link_to @touchpoint.name, admin_touchpoint_path(@touchpoint) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @form.title %>
</p>
<p>
  <strong>Instructions:</strong>
  <%= @form.instructions %>
</p>
<p>
  <strong>Disclaimer Text:</strong>
  <%= @form.disclaimer_text %>
</p>
<p>
  <strong>Kind:</strong>
  <%= @form.kind %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @form.notes %>
</p>
<p>
  <strong>Status:</strong>
  <%= @form.status %>
</p>
<%= link_to 'Edit', edit_admin_touchpoint_form_path(@touchpoint, @form), class: "usa-button" %>
<hr>
<h3>
  Form Preview
</h3>
<div class="touchpoint-card">
  <% if @form && @touchpoint %>
    <%= render partial: "components/forms/custom_layout", locals: { touchpoint: @touchpoint, form: @form } %>
  <% else %>
    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <p class="usa-alert-text">
          Form content is currently custom-created by the Touchpoints Product Team.
          Please contact the Feedback Analytics Team for assistance.
        </p>
      </div>
    </div>
  <% end %>
</div>
