<% content_for :navigation_title do %>
  Viewing Form: <%= @form.name %>
<% end %>

<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>

<%= render 'admin/forms/nav', form: @form %>

<br>

<% if @form.aasm_state == "archived" %>
<div class="usa-alert usa-alert--warning">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      The form
      is currently archived.
    </p>
  </div>
</div>
<br>
<% end %>

<% if is_at_least_form_manager?(user: current_user, form: @form) %>
<div class="grid-row grid-gap-lg">
  <div class="desktop:grid-col-8">
    <p>
      <strong class="font-sans-3xl">
        <%= pluralize @form.response_count, "response" %>
      </strong>
      <br>
      <% if @form.last_response_created_at.present? %>
      <small>
        Latest response:
        <br>
        <%= time_ago_in_words(@form.last_response_created_at) %> ago
        at <span class="form-created-at">
          <%= format_time(@form.last_response_created_at, current_user.time_zone) %>
        </span>
      </small>
      <% end %>
    <p>

    <div class="well">
      <div class="grid-row grid-gap-md">
        <div class="tablet:grid-col-6">
          <div class="text-uppercase font-body-3xs">
            Form information
          </div>
        </div>
      </div>
      <div class="grid-row grid-gap-md">
        <div class="tablet:grid-col-6">
          <p>
            <%= label_tag "Organization", nil, class: "usa-label" %>
            <%= link_to_if(admin_permissions?, @form.organization.name, admin_organization_path(@form.organization)) %>
          </p>
          <p>
            <%= label_tag "Form owner", nil, class: "usa-label" %>
            <%= link_to @form.user.email, admin_user_path(@form.user) %>
          </p>
        </div>
        <div class="tablet:grid-col-3">
          <div>
            <p>
              <%= label_tag "Created at", nil, class: "usa-label" %>
              <%= @form.created_at.to_date %>
              <small>
                (<%= time_ago_in_words(@form.created_at) %> ago)
              </small>
            </p>
            <p>
              <%= label_tag "Timezone", nil, class: "usa-label" %>
              <%= @form.time_zone %>
            </p>
          </div>
        </div>
      </div>
      <div>
        <% if @form.template %>
        <strong>Form Template:</strong>
        <span class="usa-tag bg-accent-warm">
          <%= @form.kind %>
        </span>
        <p>
          <strong>Notes:</strong>
          <%= @form.notes %>
        </p>
        <% end %>
      </div>
    </div>
    <div class="admin-options">
      <%= render 'admin/forms/admin_options', form: @form %>
    </div>
    <div class="form-manager-options">
      <%= render 'admin/forms/form_manager_options', form: @form %>
    </div>
  </div>
  <div class="desktop:grid-col-4 ">
    <%= render 'admin/forms/task_bar', form: @form %>
  </div>
</div>
<br>
<% end %>
