<% content_for :navigation_title do %>
  Viewing Form: <%= @form.name %>
  <div class="float-right">
    <%= link_to copy_admin_form_path(@form), class: "usa-button usa-button-inverted", method: :post, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-copy"></i>
      Copy
    <% end %>
  </div>
<% end %>

<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>

<%= render 'admin/forms/nav', form: @form %>

<%- if @form.archived? %>
<div class="usa-alert usa-alert--warning margin-top-1 margin-bottom-2">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      The form
      is currently archived.
    </p>
  </div>
</div>
<% end %>

<%= render 'admin/forms/step_indicator', form: @form %>

<div class="grid-row grid-gap-lg">
  <div class="desktop:grid-col-8">
    <div class="margin-bottom-2">
      <strong class="font-sans-3xl">
        <%= pluralize number_with_delimiter(@form.response_count), "response" %>
      </strong>
      <br>
      <div>
        <%- if @form.last_response_created_at.present? %>
        <small>
          <span class="text-base">
            <%= link_to "Activations", "https://github.com/GSA/touchpoints/wiki/Analytics-Events", class: "text-no-underline" %>:
            <%= @form.survey_form_activations %>
            &middot;
            Completion rate:
            <%= @form.completion_rate %>
          </span>
        </small>
        <% end %>
      </div>
      <%- if @form.last_response_created_at.present? %>
      <small>
        <span class="text-base">
          Latest response:
        </span>
        <%= time_ago_in_words(@form.last_response_created_at) %> ago -
        at <span class="form-created-at">
          <%= format_time(@form.last_response_created_at, current_user.time_zone) %>
          <%= timezone_abbreviation(current_user.time_zone) %>
        </span>
      </small>
      <% end %>
    </div>

    <div class="well">
      <div class="grid-row grid-gap-md">
        <div class="tablet:grid-col-6">
          <div>
            <%= label_tag "Organization", nil, class: "usa-label margin-bottom-1" %>
            <%= render "admin/organizations/badge", organization: @form.organization %>
          </div>
          <p>
            <%= label_tag "Form managers", nil, class: "usa-label" %>
            <%- if @form.form_managers.present? %>
            <ul class="usa-list">
            <% @form.form_managers.each do |user| %>
              <li>
              <%= link_to user.email, admin_user_path(user) %>
              </li>
            <% end %>
            </ul>
            <% else %>
              <div class="font-sans-2xs text-base usa-prose">
                No Form Managers are assigned to this form.
                <br>
                Update this form's
                <%= link_to "Permissions", permissions_admin_form_path(@form) %>.
              </div>
            <% end %>
          </p>
          <p>
            <%= label_tag "Response viewers", nil, class: "usa-label" %>
            <%- if @form.response_viewers.present? %>
            <ul class="usa-list">
            <% @form.response_viewers.each do |user| %>
              <li>
                <%= link_to user.email, admin_user_path(user) %>
              </li>
            <% end %>
            </ul>
            <% else %>
              <div class="font-sans-2xs text-base usa-prose">
                No Response Viewers are assigned to this form.
              </div>
            <% end %>
          </p>
          <p>
            <%= label_tag "Service", nil, class: "usa-label" %>
            <%- if @form.service_id? %>
            <div>
              <%= link_to @form.service.name, admin_service_path(@form.service) %>
            </div>
            <% else %>
              <div class="font-sans-2xs text-base usa-prose">
                A service has not been associated with this form.
                <br>
                View all <%= link_to "Services", admin_services_path %>
                and consider creating one.
              </div>
            <% end %>
          </p>
          <p>
            <%= label_tag "Audience", nil, class: "usa-label" %>
            <%- if @form.audience? %>
            <div>
              <span class="usa-tag <%= @form.audience == 'internal' ? 'bg-green' : "bg-base-lighter text-black" %>">
                Internal
              </span>
              <span class="usa-tag <%= @form.audience == 'public' ? 'bg-green' : "bg-base-lighter text-black" %>">
                Public
              </span>
            </div>
            <% else %>
              <div class="font-sans-2xs text-base usa-prose">
                Not yet specified
              </div>
            <% end %>
          </p>
          <p>
            <%= label_tag "Tags", nil, class: "usa-label" %>
            <%- if @form.tags.present? %>
              <div class="font-sans-2xs usa-prose">
                <%= @form.tag_list %>
              </div>
            <% else %>
              <div class="font-sans-2xs text-base usa-prose">
                No tags assigned
              </div>
            <% end %>
          </p>
        </div>
        <div class="tablet:grid-col-6">
          <div>
            <p>
              <%= label_tag "Number of Questions", nil, class: "usa-label" %>
              <%= @form.questions_count %>
            </p>
            <p>
              <%= label_tag "Type of form", nil, class: "usa-label" %>
              <%= @form.kind %>
            </p>
            <p>
              <%= label_tag "Created at", nil, class: "usa-label" %>
              <%= @form.created_at.to_date %>
              <span class="text-base font-sans-2xs">
                - <%= time_ago_in_words(@form.created_at) %> ago
              </span>
            </p>
            <p>
              <%= label_tag "Timezone", nil, class: "usa-label" %>
              <%= @form.time_zone %>
            </p>
            <p>
              <%= label_tag "OMB Approval Number", "OMB Approval Number", class: "usa-label" %>
              <%- if @form.omb_approval_number.present? %>
                <%= @form.omb_approval_number %>
              <% else %>
                <span class="font-sans-2xs text-base usa-prose">
                  empty
                </span>
              <% end %>
            </p>
            <p>
              <%= label_tag "Form expiration date", nil, class: "usa-label" %>
              <%- if @form.expiration_date.present? %>
                <%= @form.expiration_date %>
                <span class="text-base font-sans-2xs">
                  <% days_from_today = (@form.expiration_date - Date.today).to_i %>
                  <%- if days_from_today > 0 %>
                    - expires in <%= days_from_today %> days
                  <% end %>
                </span>
              <% else %>
                <span class="font-sans-2xs text-base usa-prose">
                  expiration date not set
                </span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-12">
        <%- if @form.template %>
        <strong>Form Template:</strong>
        <span class="usa-tag">
          <%= @form.kind %>
        </span>
        <p>
          <strong>Notes:</strong>
          <%= @form.notes %>
        </p>
        <% end %>
      </div>
    </div>
    <%- if is_at_least_form_manager?(user: current_user, form: @form) %>
    <div class="admin-options">
      <%= render 'admin/forms/admin_options', form: @form %>
    </div>
    <div class="form-manager-options">
      <%= render 'admin/forms/form_manager_options', form: @form %>
    </div>
    <% end %>
  </div>
  <div class="desktop:grid-col-4">
    <%= render 'admin/forms/task_bar', form: @form %>
    <%= render 'components/event_log', events: @events if admin_permissions? %>
  </div>
</div>
