<div class="well">
  <div class="grid-row">
    <div class="grid-col-12">
      <% if is_at_least_form_manager?(user: current_user, form: @form) %>
        <%= link_to 'Edit form', edit_admin_form_path(@form), class: "usa-button float-right" %>
      <% end %>
      <h1>
        <%= @form.name %>
        <span class="usa-tag" style="background: #e31c3d;"> <%= @form.aasm_state %>
      </h1>
    </div>
  </div>
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-6">
      <div class="state-tracker">
        <div class="step <%= "completed" if ["in_development", "live", "archived"].include?(@form.aasm_state) -%>">
          <div class="indicator">
            <span style="font-size: 48px;">
              <i class="fas fa-check-circle"></i>
            </span>
          </div>
          In development
        </div>
        <div class="step <%= "completed" if ["live", "archived"].include?(@form.aasm_state) -%>">
          <div class="indicator">
            <span style="font-size: 48px;">
              <i class="fas fa-check-circle"></i>
            </span>
          </div>
          <div class="">
            Published
          </div>
        </div>
        <div class="step <%= "completed" if ["archived"].include?(@form.aasm_state) -%>">
          <div class="indicator">
            <span style="font-size: 48px;">
              <i class="far fa-circle"></i>
            </span>
          </div>
          <div class="">
            Archived
          </div>
        </div>
        <br style="clear: both;">
      </div>
    </div>
    <div class="tablet:grid-col-6 bg-gray-5">
      <div class="usa-accordion usa-accordion--bordered">
        <h2 class="usa-accordion__heading">
          <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
            Learn more about the options for publishing a Touchpoint
          </button>
        </h2>
        <div id="b-a1" class="usa-accordion__content usa-prose">
          <p>
            Touchpoint Managers are responsible for determining where a Touchpoint is
            presented in a user's journey. The Feedback Analytics team can also
            provide assistance in this regard.
          </p>
          <p>
            A Touchpoint can be shared with a user in 2 ways: #1 Touchpoints hosts
            a form at a public URL, where users can access them directly.
            An Agency can use the public URL in a link on a website,
            in a customer communication.
            For example, including the public URL in a CRM follow-up response email.
          </p>
          <p>
            Or, #2 A Touchpoint can also be embedded on a website via a script tag.
            An embedded Touchpoint displays a tab and pops a modal by default; though,
            it is customizable to a certain extent.
          </p>
        </div>
      </div>
      <div>
        <% if !@form.deployable_form? %>
          <%= link_to 'Publish', publish_admin_form_path(@form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--outline float-right" %>
          <h2>
            Publish your form
            <i class="fas fa-question-circle"></i>
          </h2>
        <% end %>

        <% if @form.deployable_form? %>
          <strong>
           Form URL
          </strong>
          <br>
          <p>
            This is where the public can access your form.
          </p>
          <p>
            <%= link_to submit_touchpoint_uuid_url(@form), submit_touchpoint_uuid_url(@form) %>
          </p>
          <% if @form.delivery_method == "modal" || @form.delivery_method == "inline" || @form.delivery_method == "custom-button-modal" %>
            <strong>
              Javascript embed
            </strong>
            <br>
            <p>
              <% if @form.deployable_form? %>
                <% if @form.delivery_method == "custom-button-modal" %>
                <p>
                  Add the following markup to your site
                  as a place to display the Touchpoint
                  <i>inline</i>.
                </p>
                <p>
                  <span class="code">
                    <%= h("<a id=\"#{@form.element_selector}\"></a>") %>
                  </span>
                </p>
                <% end %>
                <% if @form.delivery_method == "inline" %>
                <p>
                  Add the following markup to your site
                  as a place to display the Touchpoint
                  <i>inline</i>.
                </p>
                <p>
                  <span class="code">
                    <%= h("<div id=\"#{@form.element_selector}\"></div>") %>
                  </span>
                </p>
                <% end %>
              <p>
                Add the following script to your site to embed your form.
              </p>
              <p>
                <div class="code" style="background-color: #DCDEE0; min-height: 80px;">
                  <%= h("<script src=\"#{js_touchpoint_url(@form)}\" async></script>") %>
                </div>
              </p>
              <% end %>
              <% if @form.delivery_method == "inline" %>
              <p>
                <%= link_to 'View an example: Inline', example_admin_form_path(@form), class: "usa-button", target: "_blank", rel: "noopener" %>
              </p>
              <% end %>
              <% if @form.delivery_method == "custom-button-modal" %>
              <p>
                <%= link_to 'View an example: Custom button modal', example_admin_form_path(@form), class: "usa-button", target: "_blank", rel: "noopener" %>
              </p>
              <% end %>
              <% if @form.delivery_method == "modal" %>
              <p>
                <%= link_to 'View an example: Tab + Modal', example_admin_form_path(@form), class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" %>
              </p>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <div class="usa-alert usa-alert--error" >
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">Form is not yet deployable</h3>
              <p class="usa-alert__text">
                This Form is not in a 'live' state.
              </p>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-4">
      <h2>
        General Information
      </h2>
      <p>
        <strong>Organization</strong>
        <br>
        <%= link_to(@form.organization.name, admin_organization_path(@form.organization)) if @form.organization %>
      </p>
      <p>
        <strong>Notification emails</strong>
        <br>
        <%= @form.notification_emails %>
      </p>
      <p>
        <strong>
          <span title="High Impact Service Provider">HISP</span>
          service?
        </strong>
        <br>
        <%= @form.hisp? ? "Yes ✅" : "No" %>
      </p>
    </div>
    <div class="tablet:grid-col-4">
      <div>
        <h2>
          Delivery method
        </h2>
        <p>
          <strong>Delivery method</strong>
          <br>
          <%= @form.delivery_method %>
        </p>
        <p>
          <strong>Element selector</strong>
          <br>
          <%= @form.element_selector %>
        </p>
      </div>
    </div>
  </div>
  <div>
    <% if @form.template %>
      <span class="usa-tag" style="background: #e31c3d;">
        Form Template : <%= @form.kind %>
      </span>
    <% end %>
    <p>
      <strong>Form Owner:</strong>
      <%= @form.user.email if @form.user %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @form.title %>
    </p>
    <p>
      <strong>Kind:</strong>
      <%= @form.kind %>
    </p>
    <% if @form.template %>
    <p>
      <strong>Notes:</strong>
      <%= @form.notes %>
    </p>
    <% end %>
    <p>
      <strong>Display (320px wide by 80px tall) Header Logo:</strong>
      <%= @form.display_header_logo %>
    </p>
    <p>
      <strong>Display (80px wide by 80px tall) Header Logo:</strong>
      <%= @form.display_header_square_logo %>
    </p>
    <p>
      <strong>Modal Button Text:</strong>
      <%= sanitize(@form.modal_button_text) %>
    </p>
    <p>
      <strong>Success Text:</strong>
      <%= sanitize(@form.success_text) %>
    </p>
    <p>
      <strong>Instructions:</strong>
      <%= sanitize(@form.instructions) %>
    </p>
    <p>
      <strong>Disclaimer Text:</strong>
      <%= sanitize(@form.disclaimer_text) %>
    </p>
    <p>
      <strong>Whitelist URL:</strong>
      <%= @form.whitelist_url %>
    </p>
    <p>
      <strong>Whitelist Test URL:</strong>
      <%= @form.whitelist_test_url %>
    </p>
  </div>

  <% if @form %>
    <%= render 'components/pra_records/show', { form: @form } %>
  <% else %>
    PRA Record has not yet been migrated. Please be patient.
  <% end %>

</div>
<div class="well highlight form-preview">
  <h2>
    Form Preview
  </h2>
  <div class="well white-bg">
    <% if @form %>
      <%= render partial: "components/forms/custom_layout", locals: { touchpoint: @form, form: @form } %>
    <% else %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Form content is currently custom-created by the Touchpoints Product Team.
          Please contact the Feedback Analytics Team for assistance.
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= render 'components/roles_and_permissions', form: @form %>

<div>
  <% @submissions = @form.submissions.order("created_at ASC") %>
  <%= render file: "admin/submissions/index", locals: { form: @form, submissions: @submissions } %>
</div>
<br>
<br>

<script type="text/javascript">
  $(function() {
    // Initially set to disabled
    $("#add-user-button").attr("disabled", true);

    $("#add-user-button").on("click", function(e) {
      var userId = $("#add-user-id").val();
      var role = $("#add-user-role").val();

      var request = $.ajax({
        url: "/admin/forms/<%= @form.short_uuid %>/add_user",
        dataType: "json",
        method: "POST",
        data: {
          user_id : userId,
          role: role
        }
      }).done(function(response) {
        location.reload();
      }).fail(function(response) {
        alert(response);
      });
    });

    $("#add-user-role").on("change", function(e) {
      var userId = e.target.value
      if (userId != "") {
        $("#add-user-button").attr("disabled", false);
      } else {
        $("#add-user-button").attr("disabled", true);
      }
    });

    // Remove a Touchpoint Manager or Response Viewer User
    $(".remove-user").on("click", function(e) {
      e.preventDefault();
      var userId = $(this).attr("data-id");

      var request = $.ajax({
        url: "/admin/forms/<%= @form.short_uuid %>/remove_user",
        dataType: "json",
        method: "DELETE",
        data: { user_id : userId }
      }).done(function(response) {
        location.reload();
      }).fail(function(response) {
        alert(response);
      });
    });
  });
</script>
