<% content_for :navigation_title do %>
  Viewing Survey: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to My Surveys
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<br>
<% if is_at_least_form_manager?(user: current_user, form: @form) %>
<div class="grid-row grid-gap-md">
  <div class="tablet:grid-col-6">
    <div class="state-tracker">
      <div class="step <%= "completed" if ["in_development", "live", "archived"].include?(@form.aasm_state) -%>">
        <div class="indicator">
          <span class="font-sans-2xl">
            <i class="fas fa-check-circle"></i>
          </span>
        </div>
        In development
      </div>
      <div class="step <%= "completed" if ["live", "archived"].include?(@form.aasm_state) -%>">
        <div class="indicator">
          <span class="font-sans-2xl">
            <i class="fas fa-check-circle"></i>
          </span>
        </div>
        <div>
          Published
        </div>
      </div>
      <div class="step <%= "completed" if ["archived"].include?(@form.aasm_state) -%>">
        <div class="indicator">
          <span class="font-sans-2xl">
            <i class="far fa-circle"></i>
          </span>
        </div>
        <div>
          Archived
        </div>
      </div>
      <br class="usa-display">
    </div>
  </div>
  <div class="tablet:grid-col-6 bg-gray-5">
    <div class="padding-1">
      <% if !@form.deployable_form? %>
        <h2>
          <i class="far fa-check-circle"></i>
          Publish your form
        </h2>
      <% end %>

      <% if @form.deployable_form? %>
        <strong>
         Form URL
        </strong>
        <br>
        <p>
          This is where the public can access your form.
        </p>
        <p>
          <%= link_to submit_touchpoint_uuid_url(@form), submit_touchpoint_uuid_url(@form) %>
        </p>
        <% if @form.delivery_method == "modal" || @form.delivery_method == "inline" || @form.delivery_method == "custom-button-modal" %>
          <strong>
            Javascript embed
          </strong>
          <br>
          <p>
            <% if @form.deployable_form? %>
              <% if @form.delivery_method == "custom-button-modal" %>
              <p>
                Add the following markup to your site
                as a place to display the Touchpoint
                <i>inline</i>.
              </p>
              <p>
                <span class="code">
                  <%= h("<a id=\"#{@form.element_selector}\"></a>") %>
                </span>
              </p>
              <% end %>
              <% if @form.delivery_method == "inline" %>
              <p>
                Add the following markup to your site
                as a place to display the Touchpoint
                <i>inline</i>.
              </p>
              <p>
                <span class="code">
                  <%= h("<div id=\"#{@form.element_selector}\"></div>") %>
                </span>
              </p>
              <% end %>
            <p>
              Add the following script to your site to embed your form.
            </p>
            <p>
              <div class="code minh-10 bg-base-lighter">
                <%= h("<script src=\"#{js_touchpoint_url(@form.short_uuid)}\" async></script>") %>
              </div>
            </p>
            <% end %>
            <% if @form.delivery_method == "inline" %>
            <h4>
              Preview an example:
            </h4>
            <p>
              <%= link_to 'Inline', example_admin_form_path(@form), class: "usa-button", target: "_blank", rel: "noopener" %>
            </p>
            <% end %>
            <% if @form.delivery_method == "custom-button-modal" %>
            <h4>
              Preview an example:
            </h4>
            <p>
              <%= link_to 'Custom button modal', example_admin_form_path(@form), class: "usa-button", target: "_blank", rel: "noopener" %>
            </p>
            <% end %>
            <% if @form.delivery_method == "modal" %>
            <h4>
              Preview your survey:
            </h4>
            <p>
              Delivery method: <%= @form.delivery_method %>
            </p>
            <p>
              <%= link_to example_admin_form_path(@form), class: "usa-button usa-button--outline width-full", target: "_blank", rel: "noopener" do %>
                <i class="fa fa-eye"></i>
                Preview
              <% end %>
            </p>
            <% end %>
          </p>
        <% end %>
      <% else %>
        <div class="usa-alert usa-alert--error" >
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Survey is not published</h3>
            <p>
              <%= link_to example_admin_form_path(@form), class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" do %>
                <i class="fa fa-eye"></i>
                Preview
              <% end %>
            </p>
            <p class="usa-alert__text">
              Publish to make it "live."
            </p>
          </div>
        </div>
        <br>
        <%= link_to publish_admin_form_path(@form), method: :post, data: { confirm: 'Are you sure?' }, class: "usa-button width-full" do %>
          <i class="far fa-check-circle"></i>
          Publish
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>
<br>
<% end %>
<div class="well">
  <div class="grid-row grid-gap-lg">
    <div class="tablet:grid-col-6">
      <h2>
        General Form Information
      </h2>
      <p>
        <strong>Organization</strong>
        <br>
        <%= link_to(@form.organization.name, admin_organization_path(@form.organization)) if @form.organization %>
      </p>
      <p>
        <strong>
          <span title="High Impact Service Provider">HISP</span>
          service?
        </strong>
        <br>
        <%= @form.hisp? ? "Yes ✅" : "No" %>
      </p>
    </div>
    <div class="tablet:grid-col-6">
      <div>
        <h2>
          Delivery method
        </h2>
        <p>
          <strong>Delivery method</strong>
          <br>
          <%= @form.delivery_method %>
        </p>
        <% if @form.delivery_method == "touchpoints-hosted-only" || @form.delivery_method == "modal" %>
        <% else %>
        <p>
          <strong>Element selector</strong>
          <%= @form.element_selector %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <% if @form.template %>
      <strong>Form Template:</strong>
      <span class="usa-tag bg-accent-warm">
        <%= @form.kind %>
      </span>
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= @form.name %>
    </p>
    <p>
      <strong>Form Owner:</strong>
      <%= @form.user.email if @form.user %>
    </p>
    <% if @form.template %>
    <p>
      <strong>Notes:</strong>
      <%= @form.notes %>
    </p>
    <% end %>
    <p>
      <strong>Created on:</strong>
      <%= @form.created_at.to_date %>
      <small>
        (<%= time_ago_in_words(@form.created_at) %> ago)
      </small>
    </p>
  </div>
</div>
