<% unless current_user %>
<br>
<div class="grid-row grid-gap-lg usa-prose">
  <div class="tablet:grid-col-6">
    <p class="text-center">
      <%= image_tag "done.svg", alt: "Illustration of a form document" %>
    </p>
  </div>
  <div class="tablet:grid-col-6">
    <h2>
       <%= t 'home.sign_in' %>
    </h2>
    <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
    <p>
      <%= t 'home.sign_in_text' %>
    </p>
    <p>
      <%= link_to user_login_dot_gov_omniauth_authorize_path, id: "agree-button", class: "usa-button sign-in-logo", "aria-label" => "Login.gov" do %>
        <%= t 'home.sign_in_with' %>
        <span>Login.gov</span>
      <% end %>
    </p>
    <% end %>
    <% if ENV['GITHUB_CLIENT_ID'].present? %>
    <p>
      <%= link_to user_github_omniauth_authorize_path, class: "usa-button",  "aria-label" => "GitHub" do %>
        <%= "#{t 'home.sign_in_with' } GitHub" %>
      <% end %>
    </p>
    <% end %>
  </div>
</div>
<% end %>
