<h1>
  <%= t('site.header',touchpoints: (t 'touchpoints')) %>
</h1>
<p>
  <%= t('site.definition_html',touchpoint: (t 'touchpoint')) %>
</p>
<p>
  <%= t('site.list_header',touchpoints:(t 'touchpoints')) %>
</p>
<ul class="usa-list">
  <li><%= t 'site.list_item_1' %></li>
  <li><%= t 'site.list_item_2' %></li>
  <li><%= t 'site.list_item_3' %></li>
  <li><%= t 'site.list_item_4' %></li>    
</ul>
<% unless current_user %>
<br>
<% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
<p>
  If you have a .gov address,
  <br>
  <br>
  <%= link_to "Sign in with Login.gov", user_login_dot_gov_omniauth_authorize_path, class: "usa-button" %>
</p>
<% end %>
<% if ENV['GITHUB_CLIENT_ID'].present? %>
<p>
  If you have a GitHub account,
  <br>
  <br>
  <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "usa-button" %>
</p>
<% end %>
<% end %>
