<div class="grid-row margin-bottom-2 grid-gap-lg">
  <div class="desktop:grid-col-6 tablet:grid-col-12">
    <div
      class="usa-summary-box margin-top-2"
      role="region"
      aria-labelledby="registry-introductory-text"
    >
      <div class="usa-summary-box__body">
        <h1 class="margin-top-0 margin-bottom-0">
          <%= image_tag "/images/us-digital-registry-logo.png", alt: "U.S. Digital Registry", id: "registry-introductory-text", style: "max-width: 288px;" %>
        </h1>

        <div class="usa-summary-box__text font-sans-xs">
          Verify the official status of social media accounts and mobile apps
          managed by U.S. government agencies, organizations, or programs.
          <p>
            Accounts are managed by federal agency staff.
            For customer service on accounts, please contact their programs directly.
          </p>
          <p class="margin-bottom-0">
            For assistance with the Registry, email
            <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a> for support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-row margin-top-3">
  <div class="grid-col-12">
    <h2>
      <span class="fa fa-search"></span>
      Search Social Media Accounts
    </h2>
  </div>
</div>

<section class="margin-bottom-5">
  <%= form_for("search", url: "/registry", data: { turbo: false }) do |form| %>
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-6">
        <%= label_tag "Search by Agency", nil, class: "usa-label", for: "search_organization_id" %>
        <%= form.select :organization_id, options_for_select(organization_dropdown_options), { prompt: "All" }, { class: "usa-select" } %>
      </div>
      <div class="grid-col-6">
        <%= label_tag "Search by keywords", nil, class: "usa-label", for: "search_tags" %>
        <%= form.text_field :tags, class: "usa-input" %>
      </div>
    </div>

    <div class="grid-row grid-gap-lg">
      <div class="grid-col-6">
        <%= label_tag "Account platform", nil, class: "usa-label", for: "search_platform" %>
        <%= form.select :platform, options_for_select([["All", '']] + DigitalServiceAccount.list, @search_params && @search_params[:platform]), {}, class: "usa-select" %>
      </div>
      <div class="grid-col-6">
        <%= label_tag "Publish status", nil, class: "usa-label", for: "search_status" %>
        <%= form.select :status, options_for_select([ ["All", "all"], ["Published", 'published'], ["Archive", 'archived'] ], @search_params && @search_params[:status]), {}, class: "usa-select" %>
      </div>
    </div>

    <div class="grid-row margin-top-3">
      <div class="grid-col-12">
        <button type="submit" class="usa-button width-full">Search</button>
      </div>
    </div>
  <% end %>
</section>

<% if @results %>
<% if @max_results || @results.size == 500 %>
<p>
  Queries have a default limit of 500 records.
  <br>
  Please scope your query with additional parameters.
</p>
<% end %>

<p>
  Returning <%= @results.size %> results for:
</p>

<p>
<% @search_params.each_pair do |k,v|  %>
  <% if v.present? %>
  <%= k %> = <%= v %>
  <br>
  <% end %>
<% end %>
</p>

<p hidden>
  <%#= link_to "Exports results to .csv", registry_export_path(@search_params), class: "usa-button usa-button--outline", method: :post %>
</p>

<table class="usa-table">
  <thead>
    <tr>
      <th>Agency</th>
      <th>Platform</th>
      <th style="max-width: 400px;">Account name</th>
      <th>Description</th>
      <th class="minw-15">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr data-id="<%= result.id %>">
        <td>
          <%= result.name %>
        </td>
        <td>
          <%= result.service %>
        </td>
        <td>
          <%= link_to(result.account, result.service_url) %>
        </td>
        <td>
          <%= to_markdown(result.short_description) %>
        </td>
        <td>
          <%= result.updated_at.to_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="grid-row grid-gap-6 usa-prose border-top border-base-lighter padding-3">
  <div class="desktop:grid-offset-2 desktop:grid-col-4">
    <h3>
      For Federal Agencies
    </h3>
    <a href="/registry/guidance/" class="usa-button usa-button--outline">
      Create and manage records
    </a>
    <p>
      Manage an inventory of digital assets
      to certify ownership and help prevent misuse by unofficial sources.
    </p>
  </div>
  <div class="desktop:grid-col-4">
    <h3>
      For Developers
    </h3>
    <a href="https://github.com/gsa/touchpoints/wiki/API/" class="usa-button usa-button--outline">
      Use the API and improve the application
    </a>
    <p>
      Access Registry data via the Touchpoints
      <a href="https://open.gsa.gov/api/" target="_blank" rel="noopener">API</a>,
      or visit the
      <a href="https://github.com/gsa/touchpoints/">GitHub repository</a>
      to provide feedback and contribute.
    </p>
  </div>
</div>
<% end %>