<div class="grid-row">
  <div class="desktop:grid-col-4 tablet:grid-col-12">
    <h1 class="font-sans-xl">
      <%= image_tag "usdr-logo.png" , alt: "U.S. Digital Registry" %>
    </h1>
  </div>
  <div class="desktop:grid-col-8 tablet:grid-col-12 desktop:margin-top-3">
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information"
    >
      <div class="usa-summary-box__body">
        <div class="usa-summary-box__text">
          Verify the official status of social media accounts and mobile apps
          managed by U.S. government agencies, organizations, or programs.
          <p>
            Accounts are managed by federal agency staff.
            For customer service on accounts, please contact their programs directly.
          </p>
          <p class="margin-bottom-0">
            For assistance with the Registry, email
            <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a> for support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="usa-sectsion border-top border-base-lighter">
  <div class="grid-row margin-top-3">
    <div class="grid-col-12">
      <h2 class="text-center">
        <span class="fa fa-search"></span>
        Search the Registry
      </h2>
    </div>
  </div>
</div>

<section class="margin-bottom-5">
  <%= form_for("search", url: "/registry" , data: { turbo: false }) do |form| %>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-6">
        <%= label_tag "Search by Agency", nil, class: "usa-label" %>
        <%= form.select :organization_id, options_for_select(organization_dropdown_options), { prompt: "All" }, { class: "usa-select" } %>
      </div>
      <div class="grid-col-6">
        <%= label_tag "Search by keywords", nil, class: "usa-label" %>
        <%= form.text_field :tags, class: "usa-input" %>
      </div>
    </div>

    <div class="grid-row grid-gap-md">
      <div class="grid-col-6">
        <%= label_tag "Account platform", nil, class: "usa-label" %>
        <%= form.select :service, options_for_select(["All"] + DigitalServiceAccount.list), {}, class: "usa-select" %>
      </div>
      <div class="grid-col-6">
        <%= label_tag "Status selector", nil, class: "usa-label" %>
        <%= form.select :status, options_for_select([ ["All", ""], ["Published", 'published'], ["Archive", 'archived'] ]), {}, class: "usa-select" %>
      </div>
    </div>

    <div class="grid-row margin-top-3">
      <div class="grid-col-12">
        <button type="submit" class="usa-button width-full">Search</button>
      </div>
    </div>
  <% end %>
</section>

<% if @results %>
<table class="usa-table">
  <thead>
    <tr>
      <th>Agency</th>
      <th>Platform</th>
      <th>Account name</th>
      <th>Description</th>
      <th class="minw-15">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr data-id="<%= result.id %>">
        <td>
          <%= result.name %>
        </td>
        <td>
          <%= result.service %>
        </td>
        <td>
          <%= link_to(result.account, result.service_url) %>
        </td>
        <td>
          <%= result.short_description %>
        </td>
        <td>
          <%= result.updated_at.to_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="grid-row grid-gap-lg usa-prose border-top border-base-lighter padding-3">
  <div class="grid-offset-2 grid-col-4">
    <h3>
      For Federal Agencies
    </h3>
    <a href="/registry/guidance/" class="usa-button">
      Register and manage accounts
    </a>
    <p>
      Help prevent exploitation from unofficial sources,
      phishing scams, or malicious entities.
    </p>
  </div>
  <div class="grid-col-4">
    <h3>
      For Developers
    </h3>
    <a href="https://github.com/gsa/touchpoints/wiki/API/" class="usa-button">
      Use and improve the API
    </a>
    <p>
      Access Registry data via the Touchpoints
      <a href="https://open.gsa.gov/api/" target="_blank" rel="noopener">API</a>
      or its
      <a href="https://github.com/gsa/touchpoints/">GitHub repository</a>
      to explore, use, and improve it.
    </p>
  </div>
</div>
<% end %>