<p id="notice"><%= notice %></p>

<h1>Touchpoints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @touchpoints.each do |touchpoint| %>
      <tr>
        <td><%= link_to touchpoint.name, touchpoint %></td>
        <td><%= touchpoint.purpose %></td>
        <td><%= link_to 'Edit', edit_touchpoint_path(touchpoint) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touchpoint', new_touchpoint_path, class: "usa-button" %>
