<p>
  <strong>Name:</strong>
  <%= @touchpoint.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= link_to(@touchpoint.organization.name, admin_organization_path(@touchpoint.organization)) %>
</p>
<p>
  <strong>Form:</strong>
  <%= link_to(@touchpoint.form.name, touchpoint_form_path(@touchpoint, @touchpoint.form)) %>
</p>
<p>
  <strong>GTM Container ID:</strong>
  <%= link_to(@touchpoint.gtm_container_id, @touchpoint.gtm_container_url, target: "_blank") %>
</p>

<p>
  <strong>Google Sheet ID:</strong>
  <%= @touchpoint.enable_google_sheets? ? link_to(@touchpoint.google_sheet_id, "https://docs.google.com/spreadsheets/d/#{@touchpoint.google_sheet_id}/edit#gid=0", target: "_blank") : 'N/A' %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @touchpoint.purpose %>
</p>


<p>
  <strong>Meaningful response size:</strong>
  <%= @touchpoint.meaningful_response_size %>
</p>

<p>
  <strong>Behavior change:</strong>
  <%= @touchpoint.behavior_change %>
</p>

<p>
  <strong>Notification emails:</strong>
  <%= @touchpoint.notification_emails %>
</p>

<p>
  <strong>Embed code:</strong>
  <textarea name="name" rows="8" cols="80" readonly="true" style="font-family: monospace;"><%= @touchpoint.embed_code %></textarea>
</p>

<p>
  <%= link_to 'Example', example_touchpoint_path(@touchpoint), class: "usa-button" %>
</p>

<p>
  <%= link_to 'New Submission', new_touchpoint_submission_path(@touchpoint), class: "usa-button" %>
</p>

<%= link_to 'Edit', edit_touchpoint_path(@touchpoint), class: "usa-button" %>

<hr>

<% @submissions = @touchpoint.submissions %>
<% if @touchpoint.enable_google_sheets? %>
  <h1>
    Submissions
    for
    <%= @touchpoint.name %>
  </h1>
  See the Google Sheet
  <%= @touchpoint.enable_google_sheets? ? link_to(@touchpoint.google_sheet_id, "https://docs.google.com/spreadsheets/d/#{@touchpoint.google_sheet_id}/edit#gid=0", target: "_blank") : 'N/A' %>
<% else %>
  <%= render file: "submissions/index" %>
<% end %>
