<p>
  <strong>Name:</strong>
  <%= @touchpoint.name %>
</p>
<p>
  <strong>Organization:</strong>
  <%= link_to(@touchpoint.container.organization.name, admin_organization_path(@touchpoint.container.organization)) %>
</p>
<p>
  <strong>Container:</strong>
  <%= link_to(@touchpoint.container.name, container_path(@touchpoint.container)) %>
</p>
<p>
  <strong>Form:</strong>
  <%= link_to(@touchpoint.form.name, touchpoint_form_path(@touchpoint, @touchpoint.form)) %>
</p>

<p>
  <strong>Google Sheet ID:</strong>
  <%= @touchpoint.enable_google_sheets? ? link_to(@touchpoint.google_sheet_id, "https://docs.google.com/spreadsheets/d/#{@touchpoint.google_sheet_id}/edit#gid=0", target: "_blank") : 'N/A' %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @touchpoint.purpose %>
</p>
<p>
  <strong>Meaningful response size:</strong>
  <%= @touchpoint.meaningful_response_size %>
</p>
<p>
  <strong>Behavior change:</strong>
  <%= @touchpoint.behavior_change %>
</p>
<p>
  <strong>Notification emails:</strong>
  <%= @touchpoint.notification_emails %>
</p>
<hr>
<p>
  <%= link_to 'New Submission', new_touchpoint_submission_path(@touchpoint), class: "usa-button" %>
</p>
<%= link_to 'Edit', edit_touchpoint_path(@touchpoint), class: "usa-button" %>

<hr>
<p>
  <%= link_to 'Local .js Example', example_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank" %>
  <%= link_to 'GTM + .js Example', gtm_example_touchpoint_path(@touchpoint), class: "usa-button", target: "_blank" %>
</p>
<hr>

<% @submissions = @touchpoint.submissions %>
<% if @touchpoint.enable_google_sheets? %>
  <h1>
    Submissions
    for
    <%= @touchpoint.name %>
  </h1>
  <% sheet_values = @touchpoint.google_spreadsheet_values %>
  <table>
    <% sheet_values.values.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td>
          <%= cell %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  See the Google Sheet
  <%= link_to(@touchpoint.google_sheet_id, "https://docs.google.com/spreadsheets/d/#{@touchpoint.google_sheet_id}/edit#gid=0", target: "_blank") %>
  <br>
  <br>
<% else %>
  <%= render file: "submissions/index" %>
<% end %>
