<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @form.kind %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @form.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @form.status %>
</p>

<p>
  <strong>Form:</strong>
  <%= render "components/forms/#{@form.kind}", touchpoint: @touchpoint  %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
