<%= form_with(model: container, url: container.persisted? ? admin_container_path(container) : admin_containers_path, local: true) do |form| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :service_id %>
      <%= form.select :service_id, options_for_select(Service.all.map { |service| [service.name, service.id] }, selected: container.service_id), prompt: "Which Service?" %>
    </div>
  <% else %>
    <%= form.hidden_field :service_id, value: current_user.service_id %>
  <% end %>

  <% if container.persisted? %>
  <div class="field">
    <%= form.label :gtm_container_id %>
    <%= form.text_field :gtm_container_id, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :gtm_container_public_id %>
    <%= form.text_field :gtm_container_public_id, readonly: true %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
