<p id="notice"><%= notice %></p>

<h1>Containers</h1>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <p class="usa-alert-text">
      Here, you can easily configure and manage aspects of
      Google Tag Manager Containers.
      Typically an Agency only needs one Container for a website.

      A Container is included on a webpage via javascript.
      Contents of the Container include Triggers and Events,
      which add additional behavior and functionality to a webpage.
    </p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Container ID</th>
      <th>Public ID</th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= link_to container.name, admin_container_path(container) %></td>
        <td><%= link_to(container.gtm_container_id, container.gtm_container_url, target: "_blank") %></td>
        <td><%= container.gtm_container_public_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Container', new_admin_container_path, class: "usa-button" %>
