<p id="notice"><%= notice %></p>

<h1>Containers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Container ID</th>
      <th>Container Public ID</th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= link_to container.name, admin_container_path(container) %></td>
        <td><%= link_to(container.gtm_container_id, container.gtm_container_url, target: "_blank") %></td>
        <td><%= container.gtm_container_public_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Container', new_admin_container_path, class: "usa-button" %>
