<div id="<%= dom_id cx_collection %>">
  <p>
    <strong>User:</strong>
    <%= cx_collection.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= cx_collection.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= cx_collection.organization_id %>
  </p>

  <p>
    <strong>Service provider:</strong>
    <%= cx_collection.service_provider_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= cx_collection.service_id %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= cx_collection.service_type %>
  </p>

  <p>
    <strong>Digital service or contact center:</strong>
    <%= cx_collection.digital_service_or_contact_center %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= cx_collection.url %>
  </p>

  <p>
    <strong>Fiscal year:</strong>
    <%= cx_collection.fiscal_year %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= cx_collection.quarter %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= cx_collection.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= cx_collection.end_date %>
  </p>

  <p>
    <strong>Transaction point:</strong>
    <%= cx_collection.transaction_point %>
  </p>

  <p>
    <strong>Service stage:</strong>
    <%= cx_collection.service_stage_id %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= cx_collection.channel %>
  </p>

  <p>
    <strong>Survey title:</strong>
    <%= cx_collection.survey_title %>
  </p>

  <p>
    <strong>Trust question text:</strong>
    <%= cx_collection.trust_question_text %>
  </p>

  <p>
    <strong>Likert or thumb question:</strong>
    <%= cx_collection.likert_or_thumb_question %>
  </p>

  <p>
    <strong>Number of interactions:</strong>
    <%= cx_collection.number_of_interactions %>
  </p>

  <p>
    <strong>Number of people offered the survey:</strong>
    <%= cx_collection.number_of_people_offered_the_survey %>
  </p>

  <p>
    <strong>Aasm state:</strong>
    <%= cx_collection.aasm_state %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= cx_collection.rating %>
  </p>

  <p>
    <strong>Integrity hash:</strong>
    <%= cx_collection.integrity_hash %>
  </p>

</div>
