<%= form_with(model: cx_collection, url: (cx_collection.persisted? ? admin_cx_collection_path(cx_collection) : admin_cx_collections_path), local: true, data: { turbo: false }) do |form| %>
  <%- if cx_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cx_collection.errors.count, "error") %> prohibited this cx_collection from being saved:</h2>

      <ul>
        <% cx_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%- if performance_manager_permissions? %>
  <div class="field">
    <%= form.label :user_id, class: "usa-label" %>
    <%= form.select :user_id, options_for_select(User.all.order(:email).collect { |u| [u.email, u.id] }, cx_collection.user_id || current_user.id), { prompt: "Which User?", include_blank: true }, { class: "usa-select" } %>
  </div>
  <% else %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.select :name, ["CX Quarterly Reporting"], {}, class: "usa-select" %>
  </div>

  <div class="field">
    <%= form.label :service_provider_id, "HISP Service Provider", class: "usa-label" %>
    <div class="usa-combo-box" data-default-value="<%= cx_collection.service_provider_id %>">
      <%= form.select :service_provider_id, ServiceProvider.active.includes(:organization).order("organizations.abbreviation", :name).map { |h| ["#{h.organization.abbreviation} - #{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, { class: "usa-select", required: true } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :service_id, "Service", class: "usa-label" %>
    <div class="usa-combo-box" data-default-value="<%= cx_collection.service_id %>">
      <%= form.select :service_id, { include_blank: true }, {}, { class: "usa-select", required: true } do %>
        <% Service.hisp.includes(:organization).each do |h| %>
          <%= content_tag :option,
            "#{h.organization.abbreviation} - #{h.organization.name} - #{h.name}", value: h.id,
            "data-service-provider-id" => h.service_provider_id,
            selected: (h.id == cx_collection.service_id)
            %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fiscal_year, class: "usa-label" %>
    <%= form.select :fiscal_year, options_for_select([2024, 2025], cx_collection.fiscal_year), {}, class: "usa-select", required: true %>
  </div>

  <div class="field">
    <%= form.label :quarter, class: "usa-label" %>
    <%= form.select :quarter, options_for_select([1, 2, 3, 4], cx_collection.quarter), {}, class: "usa-select", required: true %>
  </div>

  <%- if performance_manager_permissions? && cx_collection.persisted? %>
  <% rating_options = [
      ["🟢 Reporting within A-11 guidelines", "TRUE"],
      ["🔴 Not submitting data", "FALSE"],
      ["🟡 Reporting partially within A-11 guidelines", "PARTIAL"]
    ] %>
  <div class="field">
    <%= form.label :rating, class: "usa-label" %>
    <%= form.select :rating, rating_options, { include_blank: true }, { class: "usa-select" } %>
  </div>
  <% end %>

  <%- if !cx_collection.persisted? %>
  <br>
  <div class="usa-alert usa-alert--info usa-alert--slim font-sans-2xs">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        After creating this collection, you can add survey results on the following screen.
      </p>
    </div>
  </div>
  <% end %>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>

<script>
  $(function() {
    setHeartbeat("<%= admin_heartbeat_path %>");

    $("#cx_collection_service_provider_id").on("change", function(event) {
      var serviceProviderId = event.target.value;

      $("#cx_collection_service_id option").show(); // show all options

      $.each($("#cx_collection_service_id option"), function(i, item) {
        if( serviceProviderId === '' ) { // do nothing
        } else if( !$(item).attr("data-service-provider-id") ) { // do nothing
        } else if($(item).attr("data-service-provider-id") === serviceProviderId) { // do nothing
        } else {
          $(item).hide()
        }
      })
    })
  });
</script>
