<%= form_with(model: cx_collection, url: (cx_collection.persisted? ? admin_cx_collection_path(cx_collection) : admin_cx_collections_path), local: true, data: { turbo: false }) do |form| %>
  <% if cx_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cx_collection.errors.count, "error") %> prohibited this cx_collection from being saved:</h2>

      <ul>
        <% cx_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if performance_manager_permissions? %>
  <div class="field">
    <%= form.label :user_id, class: "usa-label" %>
    <%= form.select :user_id, options_for_select(User.all.collect { |u| [u.email, u.id] }, cx_collection.user_id), { prompt: "Which User?", include_blank: true }, { class: "usa-select" } %>
  </div>
  <% else %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "usa-label" %>
    <%= form.select :name, ["CX Quarterly Reporting"], {}, class: "usa-select" %>
  </div>

  <% if performance_manager_permissions? %>
  <div class="field">
    <%= form.label :organization_id, class: "usa-label" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, cx_collection.organization_id), { prompt: "Which Organization?" }, { class: "usa-select" } %>
  </div>
  <% else %>
    <%= form.hidden_field :organization_id, value: current_user.organization_id %>
  <% end %>

  <div class="field">
    <%= form.label :service_provider_id, "HISP Service Provider", class: "usa-label" %>
    <%= form.select :service_provider_id, ServiceProvider.all.map { |h| ["#{h.organization.abbreviation} - #{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, class: "usa-select" %>
  </div>

  <div class="field">
    <%= form.label :service_id, "Service", class: "usa-label" %>
    <%= form.select :service_id, Service.all.map { |h| ["#{h.organization.abbreviation} - #{h.organization.name} - #{h.name}", h.id] }, { include_blank: true }, class: "usa-select" %>
  </div>

  <div class="field">
    <%= form.label :service_type, class: "usa-label" %>
    <%= form.text_field :service_type, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :digital_service_or_contact_center, class: "usa-label" %>
    <%= form.text_field :digital_service_or_contact_center, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :url, class: "usa-label" %>
    <%= form.text_field :url, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :fiscal_year, class: "usa-label" %>
    <%= form.text_field :fiscal_year, class: "usa-input", required: true %>
  </div>

  <div class="field">
    <%= form.label :quarter, class: "usa-label" %>
    <%= form.text_field :quarter, class: "usa-input", required: true %>
  </div>

  <div class="field usa-form-group">
    <%= form.label :start_date, class: "usa-label", id: "expiration-date-label" %>
    <div class="usa-date-picker" data-default-value="<%= cx_collection.start_date %>">
      <%= form.text_field :start_date, placeholder: "mm/dd/yyyy", class: "usa-input" %>
    </div>
  </div>

  <div class="field usa-form-group">
    <%= form.label :end_date, class: "usa-label", id: "expiration-date-label" %>
    <div class="usa-date-picker" data-default-value="<%= cx_collection.end_date %>">
      <%= form.text_field :end_date, placeholder: "mm/dd/yyyy", class: "usa-input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :transaction_point, class: "usa-label" %>
    <%= form.text_field :transaction_point, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :service_stage_id, class: "usa-label" %>
    <%= form.text_field :service_stage_id, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :channel, class: "usa-label" %>
    <%= form.text_field :channel, class: "usa-input" %>
  </div>


  <div class="field">
    <%= form.label :survey_title, class: "usa-label" %>
    <%= form.text_field :survey_title, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :trust_question_text, class: "usa-label" %>
    <%= form.text_field :trust_question_text, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :likert_or_thumb_question, class: "usa-label" %>
    <%= form.text_field :likert_or_thumb_question, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :number_of_interactions, class: "usa-label" %>
    <%= form.text_field :number_of_interactions, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :number_of_people_offered_the_survey, class: "usa-label" %>
    <%= form.text_field :number_of_people_offered_the_survey, class: "usa-input" %>
  </div>

  <div class="field">
    <%= form.label :reflection, class: "usa-label" %>
    <%= form.text_field :reflection, class: "usa-input" %>
  </div>

  <% if performance_manager_permissions? && cx_collection.persisted? %>
  <% rating_options = [
      ["🟢 Reporting within A-11 guidelines", "TRUE"],
      ["🔴 Not submitting data", "FALSE"],
      ["🟡 Reporting partially within A-11 guidelines", "PARTIAL"]
    ] %>
  <div class="field">
    <%= form.label :rating, class: "usa-label" %>
    <%= form.select :rating, rating_options, { include_blank: true }, { class: "usa-select" } %>
  </div>
  <% end %>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>

<script>
  $(function() {
    setHeartbeat("<%= admin_heartbeat_path %>");
  });
</script>
