<% content_for :navigation_title do %>
  CX Data Collections
  <%= link_to new_admin_cx_collection_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    New Data Collection
  <% end %>
<% end %>

<table class="usa-table width-full collections-summary">
  <thead>
    <tr>
      <th>Active HISP Services</th>
      <th>Total Collections</th>
      <th>Draft</th>
      <th>Submitted</th>
      <th>Published</th>
      <th>Non-reporting</th>
      <th>Change Requested</th>
      <th>Archived</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= Service.hisp.active.count %></td>
      <td><%= CxCollection.count %></td>
      <td><%= CxCollection.draft.count %></td>
      <td><%= CxCollection.submitted.count %></td>
      <td><%= CxCollection.published.count %></td>
      <td><%= CxCollection.not_reported.count %></td>
      <td><%= CxCollection.change_requested.count %></td>
      <td><%= CxCollection.archived.count %></td>
    </tr>
    <%- if params[:year] || params[:quarter] %>
    <% collections_per_quarter = CxCollection.where(fiscal_year: params[:year], quarter: params[:quarter]) %>
    <tr>
      <td class="text-base text-sm">
        for
        <%- if params[:quarter] %>
        Q<%= params["quarter"] %>
        <% end %>
        <%- if params[:year] %>
        <%= params["year"] %>
        <% end %>
      </td>
      <td><%= collections_per_quarter.count %></td>
      <td><%= collections_per_quarter.draft.count %></td>
      <td><%= collections_per_quarter.submitted.count %></td>
      <td><%= collections_per_quarter.published.count %></td>
      <td><%= collections_per_quarter.not_reported.count %></td>
      <td><%= collections_per_quarter.change_requested.count %></td>
      <td><%= collections_per_quarter.archived.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="well margin-top-2">
  <div class="grid-row">
    <div class="grid-col-12">
      <div class="ui-filter">
        Filter by fiscal year and quarter
        <%- if params[:year] || params[:quarter] %>
          <small>
            <%= link_to "View All Collections", admin_cx_collections_path %>
          </small>
        <% end %>

        <div class="year" data-id="2024">
          <h3>
            2024
          </h3>
          <div>
            <%= link_to "Q1", admin_cx_collections_path(quarter: 1, year: 2024), class: "usa-button #{params[:quarter] == "1" && params[:year] == "2024" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q2", admin_cx_collections_path(quarter: 2, year: 2024), class: "usa-button #{params[:quarter] == "2" && params[:year] == "2024" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q3", admin_cx_collections_path(quarter: 3, year: 2024), class: "usa-button #{params[:quarter] == "3" && params[:year] == "2024" ? nil : 'usa-button--outline'}" %>
            <%= link_to "Q4", admin_cx_collections_path(quarter: 4, year: 2024), class: "usa-button #{params[:quarter] == "4" && params[:year] == "2024" ? nil : 'usa-button--outline'}" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<table class="usa-table collections width-full">
  <thead>
    <tr>
      <th data-sortable scope="col">Organization</th>
      <th data-sortable scope="col">Service Provider (HISP)</th>
      <th data-sortable scope="col">Service</th>
      <th data-sortable scope="col">Collection name</th>
      <th data-sortable scope="col">Collection details</th>
      <th data-sortable scope="col">Year</th>
      <th data-sortable scope="col">Quarter</th>
      <th data-sortable scope="col">Status</th>
      <th data-sortable scope="col">Submitted At</th>
      <th data-sortable scope="col">Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @cx_collections.each do |collection| %>
      <tr>
        <td>
          <%= render "admin/organizations/badge", organization: collection.organization %>
        </td>
        <td><%= collection.service_provider.name %></td>
        <td><%= collection.service.name %></td>
        <td><%= link_to collection.name, admin_cx_collection_path(collection) %></td>
        <td><%= collection.cx_collection_details.size %></td>
        <td><%= collection.fiscal_year %></td>
        <td><%= collection.quarter %></td>
        <td>
          <%= render 'components/collection_status_tag', collection: collection %>
        </td>
        <td
          data-sort-value="<%= collection.submitted_at.try(:to_i) %>">
          <%= collection.submitted_at.try(:to_date) %>
        </td>
        <td
          data-sort-value="<%= collection_rating_sort_values[collection.rating] %>">
          <%= collection_rating_label(rating: collection.rating) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- if performance_manager_permissions? %>
  <p>
    <%= link_to "Download Collections as .csv", export_csv_admin_cx_collections_path, class: "usa-button" %>
  </p>
  <p>
    <%= link_to "Download OMB CX Data Reporting Collections as .csv", export_csv_admin_cx_collection_details_path, class: "usa-button" %>
  </p>
  <p>
    <%= link_to "Download CX Responses", export_cx_responses_csv_admin_cx_collections_path, class: "usa-button" %>
  </p>
<% end %>