<% content_for :navigation_title do %>
  CX Data Collections
  <%= link_to new_admin_cx_collection_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    New Data Collection
  <% end %>
<% end %>

<%= form_with(url: admin_cx_collections_path(year: @year, quarter: @quarter, aasm_state: @status), class: "record-filter", method: :get, local: true) do %>
  <div class="usa-form-group display-inline-block">
    <%= label_tag :year, "Year", class: "font-sans-2xs" %>
    <%= select_tag :year, options_for_select(["All"] + (2023..Date.current.year + 1).to_a.reverse, selected: @year), class: "usa-select" %>
  </div>

  <div class="usa-form-group display-inline-block">
    <%= label_tag :quarter, "Quarter", class: "font-sans-2xs" %>
    <%= select_tag :quarter, options_for_select([['All'], ['1', 1], ['2', 2], ['3', 3], ['4', 4]], selected: @quarter), class: "usa-select" %>
  </div>

  <div class="usa-form-group display-inline-block">
    <%= label_tag :aasm_state, "Status", class: "font-sans-2xs" %>
    <%= select_tag :aasm_state, options_for_select(["All"] + CxCollection.aasm.states.collect(&:name), selected: @status), class: "usa-select" %>
  </div>

  <div class="usa-form-group display-inline-block">
    <%= submit_tag 'Filter', name: nil, class: 'usa-button', "data-disable-with" => "Filter" %>
  </div>
  <% if params.except(:controller, :action).present? %>
  <div class="usa-form-group display-inline-block">
    <%= link_to 'Clear filter', admin_cx_collections_path(nil), class: 'usa-link font-sans-2xs', "data-disable-with" => "Filter" %>
  </div>
  <% end %>
<% end %>

<table class="usa-table width-full collections-summary">
  <thead class="font-sans-xs">
    <tr>
      <th>Active HISP Services</th>
      <th>Total Collections</th>
      <th>Draft</th>
      <th>Submitted</th>
      <th>Published</th>
      <th>Non-reporting</th>
      <th>Change Requested</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= Service.hisp.active.count %></td>
      <td><%= @all_cx_collections.count %></td>
      <td><%= @all_cx_collections.draft.count %></td>
      <td><%= @all_cx_collections.submitted.count %></td>
      <td><%= @all_cx_collections.published.count %></td>
      <td><%= @all_cx_collections.not_reported.count %></td>
      <td><%= @all_cx_collections.change_requested.count %></td>
    </tr>
    <%- if cx_collections_filters_applied?(@quarter, @year, @status) %>
    <tr>
      <td class="text-base font-sans-2xs">
        <%= cx_collections_filter_message(@quarter, @year, @status) %>
      </td>
      <td><%= @filtered_cx_collections.count %></td>
      <td><%= @filtered_cx_collections.draft.count %></td>
      <td><%= @filtered_cx_collections.submitted.count %></td>
      <td><%= @filtered_cx_collections.published.count %></td>
      <td><%= @filtered_cx_collections.not_reported.count %></td>
      <td><%= @filtered_cx_collections.change_requested.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="usa-table collections width-full">
  <thead class="font-sans-xs">
    <tr>
      <th data-sortable scope="col">Organization</th>
      <th data-sortable scope="col">Service Provider (HISP)</th>
      <th data-sortable scope="col">Service</th>
      <th data-sortable scope="col">Collection name</th>
      <th data-sortable scope="col">Collection details</th>
      <th data-sortable scope="col">Year</th>
      <th data-sortable scope="col">Quarter</th>
      <th data-sortable scope="col">Status</th>
      <th data-sortable scope="col">Submitted At</th>
      <th data-sortable scope="col">Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @filtered_cx_collections.each do |collection| %>
      <tr>
        <td>
          <%= render "admin/organizations/badge", organization: collection.organization %>
        </td>
        <td><%= collection.service_provider.name %></td>
        <td><%= collection.service.name %></td>
        <td><%= link_to collection.name, admin_cx_collection_path(collection) %></td>
        <td><%= collection.cx_collection_details.size %></td>
        <td><%= collection.fiscal_year %></td>
        <td><%= collection.quarter %></td>
        <td>
          <%= render 'components/collection_status_tag', collection: collection %>
        </td>
        <td
          data-sort-value="<%= collection.submitted_at.try(:to_i) %>">
          <%= collection.submitted_at.try(:to_date) %>
        </td>
        <td
          data-sort-value="<%= collection_rating_sort_values[collection.rating] %>">
          <%= collection_rating_label(rating: collection.rating) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- if performance_manager_permissions? %>
  <p>
    <%= link_to "Download Collections as .csv", export_csv_admin_cx_collections_path, class: "usa-button" %>
  </p>
  <p>
    <%= link_to "Download OMB CX Data Reporting Collections as .csv", export_csv_admin_cx_collection_details_path, class: "usa-button" %>
  </p>
  <p>
    <%= link_to "Download CX Responses", export_cx_responses_csv_admin_cx_collections_path(year: @year, quarter: @quarter), class: "usa-button" %>
  </p>
<% end %>