<% content_for :navigation_title do %>
  CX Data Collection
  <%- if @cx_collection.draft? || performance_manager_permissions? %>
    <%= link_to edit_admin_cx_collection_path(@cx_collection), class: "usa-button usa-button-inverted float-right" do %>
      <i class="fa fa-pencil-alt"></i>
      Edit
    <% end %>
  <% end %>
<% end %>

<p>
  <%= link_to admin_cx_collections_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX Data Collections
  <% end %>
</p>

<% if @cx_collection.submitted? %>
<div class="usa-alert usa-alert--success">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This data collection was submitted at
      <%= format_time(@cx_collection.submitted_at, current_user.time_zone) %>.
    </p>
  </div>
</div>
<% end %>

<h2>
  <%= @cx_collection.name %>
</h2>

<%- if !@cx_collection.submitted? && !@cx_collection.published? %>
<% elsif !@cx_collection.published? %>
<% else %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This data collection has been published.
      </p>
    </div>
  </div>
  <br>
<% end %>

<p class="text-uppercase font-body-3xs">
  About this data collection
</p>

<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-8 padding-top-2">
    <div class="usa-alert margin-bottom-3">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Each HISP is required to report at least one post-transaction customer feedback dataset for each of their current designated services,
          as described in <a href="https://www.performance.gov/cx/assets/files/2022-OMB-Circular-A11-Section-280.pdf"
            target="_blank" rel="noopener">OMB Circular A-11, Section 280</a>.
          This collection record will help HISPs report survey(s) corresponding to the selected designated service.
          This data will be reviewed, summarized, and reported on <a href="https://performance.gov/cx/" target="_blank" rel="noopener">performance.gov/cx</a>.
        </p>
      </div>
    </div>

    <div class="text-uppercase font-body-3xs">
      General information
    </div>
    <div class="grid-row">
      <div class="grid-col-6">
        <p>
          <%= label_tag :organization, nil, class: "usa-label" %>
          <%= render "admin/organizations/badge", organization: @cx_collection.organization %>
        </p>
        <p>
          <%= label_tag :service_provider, "Service Provider", class: "usa-label" %>
          <%= link_to  @cx_collection.service_provider.name, admin_service_provider_path( @cx_collection.service_provider) %>
        </p>
        <p>
          <%= label_tag :service, "Service", class: "usa-label" %>
          <%= link_to  @cx_collection.service.name, admin_service_path( @cx_collection.service) %>
        </p>
        <p>
          <%= label_tag :user, nil, class: "usa-label" %>
          <%= link_to_if performance_manager_permissions?, @cx_collection.user.email, admin_user_path(@cx_collection.user) %>
        </p>
      </div>
      <div class="grid-col-6">
        <p>
          <%= label_tag :quarter_year, "Quarter and Fiscal year", class: "usa-label" %>
          Q<%= @cx_collection.quarter %>
          FY<%= @cx_collection.fiscal_year %>
        </p>
      </div>
    </div>

    <div class="services border border-base-lighter padding-2 padding-top-0 padding-bottom-0 margin-top-3">
      <h2 class="margin-top-2">
        Collection details
        <small>
          (<%= @cx_collection.cx_collection_details.size %>)
        </small>
      </h2>
      <div class="usa-alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            For each service, HISP may collect post-transaction customer feedback at multiple touchpoints within a service.
            Report each set of survey data below by adding one or more detail records.
          </p>
        </div>
      </div>
      <div class="margin-bottom-2">
        <table class="usa-table usa-table--striped width-full">
          <thead>
            <tr>
              <th>Survey title</th>
              <th>Service stage</th>
              <th>Type of feedback survey</th>
              <th>Channel</th>
              <th>Responses uploaded</th>
            </tr>
          </thead>
          <tbody>
          <% @cx_collection.cx_collection_details.order(:channel).each do |cx_collection_detail| %>
            <tr>
              <td>
                <%= cx_collection_detail.survey_title %>
              </td>
              <td>
                <%- if cx_collection_detail.service_stage %>
                  <%= cx_collection_detail.service_stage.name %>
                <% end %>
              </td>
              <td>
                <%= link_to cx_collection_detail.transaction_point, admin_cx_collection_detail_path(cx_collection_detail) %>
              </td>
              <td>
                <%= cx_collection_detail.channel %>
              </td>
              <td>
                <%= cx_collection_detail.cx_responses.size > 0 ? number_with_delimiter(cx_collection_detail.cx_responses.size) : "Upload pending..." %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%- if @cx_collection.draft? %>
      <p>
        <%= link_to new_admin_cx_collection_detail_path(collection_id: @cx_collection.id), class: "usa-button usa-button--outline" do %>
          <i class="fa fa-plus"></i>
          Add detail record
        <% end %>
      </p>
      <% end %>
    </div>

    <p hidden>
      <strong>Integrity hash</strong>
      <br>
      <%= @cx_collection.integrity_hash || "not yet published" %>
    </p>

    <br>

  </div>
  <div class="grid-col-4 well">
    <%= render 'components/step_indicator', collection: @cx_collection %>
    <p>
      <%= render 'components/collection_status_tag', collection: @cx_collection %>
    </p>
    <p>
      <%= label_tag :rating, nil, class: "usa-label" %>
      <br>
      <%- if @cx_collection.rating.present? %>
      <%= collection_rating_label(rating: @cx_collection.rating) %>
      <% else %>
      <div class="usa-alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            This Collection will receive a
            <a href="https://github.com/GSA/touchpoints/wiki/Data-Collection-Rating" class="usa-link" target="_blank" rel="noopener">rating</a>
            after
            Submission.
          </p>
        </div>
      </div>
      <% end %>

    <%- if service_manager_permissions? %>
      <%- if @cx_collection.draft? %>
        <%= link_to no_report_admin_cx_collection_path(@cx_collection), class: "usa-button usa-button--base full-width margin-top-2", method: :post do %>
          <span class="fa fa-backward"></span>
          &nbsp;
          Non-reporting
        <% end %>
      <% end %>
      <%- if !@cx_collection.draft? %>
        <%= link_to reset_admin_cx_collection_path(@cx_collection), class: "usa-button usa-button--secondary full-width margin-top-2", method: :post do %>
          <span class="fa fa-backward"></span>
          &nbsp;
          Reset
        <% end %>
      <% end %>
    <% end %>
    </p>

    <p>
      <%- if !@cx_collection.submitted? && !@cx_collection.published? && !@cx_collection.not_reported? %>
        <div class="usa-alert usa-alert--info usa-alert--slim font-sans-2xs">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Submitting this data collection will trigger a notification to the OMB CX Team.
              Your Data Collection will be reviewed and given a
              <a href="https://github.com/GSA/touchpoints/wiki/Data-Collection-Rating" class="usa-link" target="_blank" rel="noopener">rating</a>.
              Collections with Green rating are published to
              <a href="https://performance.gov/cx/hisps" class="usa-link" target="_blank" rel="noopener">performance.gov/cx/hisps</a>.
            </p>
          </div>
        </div>
        <p class="font-sans-2xs">
          Please only report post-transaction feedback survey(s) with the three required questions and in the correct CSV format, as described in
          <a href="https://www.performance.gov/cx/assets/files/2022-OMB-Circular-A11-Section-280.pdf"
            target="_blank" rel="noopener">OMB Circular A-11, Section 280</a>.
        </p>
        <p class="font-sans-2xs">
          Please contact your HISP Portfolio Manager regarding
          any concerns about meeting the post-transaction feedback survey and reporting requirements.
        </p>
        <br>
        <%= link_to submit_admin_cx_collection_path(@cx_collection), class: "usa-button full-width", method: "post", data: { confirm: 'Are you sure?' } do %>
          Submit this Data Collection
        <% end %>
      <% elsif (!@cx_collection.published? && !@cx_collection.not_reported?) && performance_manager_permissions? %>
        <%= link_to publish_admin_cx_collection_path(@cx_collection), class: "usa-button", method: "post" do %>
          Publish this Data Collection
        <% end %>
      <% end %>
    </p>

    <%= render 'components/event_log', events: @events %>
  </div>
</div>
