<%= form_with(model: user, url: (user.persisted? ? admin_user_path(user) : admin_users_path), local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="usa-list">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :organization_id, class: "usa-label" %>
    <%= form.select :organization_id, options_for_select(Organization.all.map { |org| [org.name, org.id] }, selected: user.organization_id), { prompt: "Select Organization" }, { class: "usa-select" } %>
  </div>
  <% if organization_manager_permissions? %>
  <div class="well">
    <p>
      An Organization Manager manages all touchpoints for an organization.
    </p>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Historical figures 1</legend>
      <div class="usa-checkbox">
        <%= form.check_box :organization_manager, class: "usa-checkbox__input" %>
        <%= form.label :organization_manager, class: "usa-checkbox__label" %>
      </div>
    </fieldset>
  </div>
  <% end %>
  <% if admin_permissions? %>
  <div class="well">
    <p>
      A Touchpoints Admin manages everything.
    </p>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Historical figures 1</legend>
      <div class="usa-checkbox">
        <%= form.check_box :admin, class: "usa-checkbox__input" %>
        <%= form.label :admin, class: "usa-checkbox__label" %>
      </div>
    </fieldset>
  </div>
  <div class="well">
    <p>
      De-activate user account.
    </p>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Historical figures 1</legend>
      <div class="usa-checkbox">
        <%= form.check_box :inactive, class: "usa-checkbox__input" %>
        <%= form.label :inactive, class: "usa-checkbox__label" %>
      </div>
    </fieldset>
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit class: "usa-button" %>
    <% if admin_permissions? %>
      <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary float-right" do %>
        <i class="fas fa-trash"></i>
        Delete User
      <% end %>
      <% end %>
  </div>
<% end %>
