<%= form_with(model: user, url: (user.persisted? ? admin_user_path(user) : admin_users_path), local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="usa-list">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :organization_id, class: "usa-label" %>
    <%= form.select :organization_id, options_for_select(organization_dropdown_options, selected: user.organization_id), { prompt: "Select Organization" }, { class: "usa-select" } %>
  </div>
  <% if admin_permissions? %>
  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Administrative User</legend>
          <div class="usa-checkbox">
            <%= form.check_box :admin, class: "usa-checkbox__input" %>
            <%= form.label :admin, class: "usa-checkbox__label" do %>
              <span class="usa-tag bg-red">
                Touchpoints Admin
              </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          Admin manages everything for this app. (Super-admin)
        </p>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Digital Registry manager</legend>
          <div class="usa-checkbox">
            <%= form.check_box :registry_manager, class: "usa-checkbox__input" %>
            <%= form.label :registry_manager, class: "usa-checkbox__label" do %>
            <span class="usa-tag bg-violet">
              Registry manager
            </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          Manages <%= link_to "/admin/registry", admin_registry_path %>.
        </p>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Organizational website manager</legend>
          <div class="usa-checkbox">
            <%= form.check_box :organizational_website_manager, class: "usa-checkbox__input" %>
            <%= form.label :organizational_website_manager, class: "usa-checkbox__label"  do %>
              <span class="usa-tag bg-cyan">
                Organizational Website Manager
              </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          Can approve/deny websites request under
          <%= link_to "/admin/websites", admin_websites_path %>.
        </p>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Performance manager</legend>
          <div class="usa-checkbox">
            <%= form.check_box :performance_manager, class: "usa-checkbox__input" %>
            <%= form.label :performance_manager, class: "usa-checkbox__label" do %>
            <span class="usa-tag bg-blue">
              Performance manager
            </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          Manages <%= link_to "/admin/performance", admin_performance_path %>.
        </p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Service manager</legend>
          <div class="usa-checkbox">
            <%= form.check_box :service_manager, class: "usa-checkbox__input" %>
            <%= form.label :service_manager, class: "usa-checkbox__label" do %>
            <span class="usa-tag bg-indigo">
              Service manager
            </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          Manages
          <%= link_to "/admin/service_providers", admin_service_providers_path %> and
          <%= link_to "/admin/services", admin_services_path %>.
        </p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="grid-row">
      <div class="tablet:grid-col-6">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Inactive User</legend>
          <div class="usa-checkbox">
            <%= form.check_box :inactive, class: "usa-checkbox__input" %>
            <%= form.label :inactive, class: "usa-checkbox__label" do %>
            <span class="usa-tag">
              Inactive
            </span>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="tablet:grid-col-6">
        <p>
          De-activate user account.
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit class: "usa-button" %>
    <% if admin_permissions? %>
      <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary float-right" do %>
        <i class="fas fa-trash"></i>
        Delete User
      <% end %>
    <% end %>
  </div>
<% end %>
