<%= form_with(model: user, url: (user.persisted? ? admin_user_path(user) : admin_users_path), local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :organization_id %>
    <%= form.select :organization_id, options_for_select(Organization.all.map { |org| [org.name, org.id] }, selected: user.organization_id), include_blank: true %>
  </div>
  <% if organization_manager_permissions? %>
  <div class="well">
    <div class="field">
      <span>
        An Organization Manager manages all Services for an Organization.
      </span>
      <%= form.check_box :organization_manager %>
      <%= form.label :organization_manager %>
    </div>
  </div>
  <% end %>
  <div class="well">
    <% if admin_permissions? %>
    <div class="field">
      <span>
        A Touchpoints Admin manages everything.
      </span>
      <%= form.check_box :admin %>
      <%= form.label :admin %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
