<% content_for :navigation_title do %>
  Viewing User
  <% if admin_permissions? %>
  <%= link_to edit_admin_user_path(@user), class: "usa-button usa-button-inverted float-right" do %>
    <span class="fa fa-pencil-alt"></span>
    Edit
  <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_users_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Users
  <% end %>
</p>
<% if @user.inactive? %>
<div class="usa-alert usa-alert--warning" >
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This user is inactive
    </p>
  </div>
</div>
<% end %>
<div class="well">
  <% if @user.admin? %>
    <span class="usa-tag bg-secondary-vivid">
      Admin User
    </span>
  <% end %>
  <% if @user.performance_manager? %>
    <span class="usa-tag bg-blue">
      Performance manager
    </span>
  <% end %>
  <% if @user.service_manager? %>
    <span class="usa-tag bg-indigo">
      Service manager
    </span>
  <% end %>
  <% if @user.registry_manager? %>
    <span class="usa-tag bg-violet">
      Registry manager
    </span>
  <% end %>
  <% if @user.organizational_website_manager? %>
    <span class="usa-tag bg-cyan">
      Website manager
    </span>
  <% end %>
  <p>
    <label class="usa-label">Email</label>
    <br>
    <%= link_to @user.email, "mailto:#{@user.email}" %>
  </p>
  <p>
    <label class="usa-label">Organization</label>
    <br>
    <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
  </p>
  <% if current_user == @user || admin_permissions? %>
  <p>
    <label class="usa-label">Last logged in</label>
    <br>
    <% if @user.last_sign_in_at %>
      <%= format_time(@user.last_sign_in_at, current_user.time_zone) %> -
      <%= time_ago_in_words(@user.last_sign_in_at) %> ago
    <% end %>
  </p>
  <% end %>
</div>

<% if current_user == @user || admin_permissions? %>
<div class="well">
  <h4>
    Forms
  </h4>
  <% if @forms.present? %>
    <ul class="usa-list">
    <% @forms.each do |form| %>
      <li>
        <%= link_to form.name, admin_form_path(form) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Forms at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Websites managed
  </h4>
  <% if @websites.present? %>
    <ul class="usa-list">
    <% @websites.each do |website| %>
      <li>
        <%= link_to website.domain, admin_website_path(website) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Websites at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Data Collections
  </h4>
  <% if @collections.present? %>
  <table class="usa-table">
    <thead>
      <tr>
        <th>Reporting period</th>
        <th>Collection name</th>
        <th>Service provider name</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
      <tr>
        <td>
          Q<%= collection.quarter %>
          FY<%= collection.year %>
        </td>
        <td>
          <%= link_to collection.name, admin_collection_path(collection) %>
        </td>
        <td>
          <%= link_to collection.service_provider.name, admin_service_provider_path(collection.service_provider) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="well">
  <%= render 'components/users/events', events: @user_events %>
</div>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Collections at this time
      </p>
    </div>
  </div>
  <% end %>
</div>
<% end %>
