<% content_for :navigation_title do %>
  Viewing User
<% end %>
<p>
  <%= link_to admin_users_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Users
  <% end %>
</p>
<div class="well">
  <%= link_to 'Edit user', edit_admin_user_path(@user), class: "usa-button float-right" %>
  <% if @user.admin? %>
    <span class="usa-tag bg-secondary-vivid">
      Admin User
    </span>
    <br>
    <br>
  <% end %>
  Email: <%= link_to @user.email, "mailto:#{@user.email}" %>
  <br>
  Organization: <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
</div>
<div class="well">
  <h4>
    Forms
  </h4>
  <% if @forms.present? %>
    <ul class="usa-list">
    <% @forms.each do |form| %>
      <li>
        <%= link_to form.name, admin_form_path(form) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Forms at this time
      </p>
    </div>
  </div>
  <% end %>
</div>
