<% content_for :navigation_title do %>
  Viewing User
  <% if admin_permissions? %>
  <%= link_to edit_admin_user_path(@user), class: "usa-button usa-button-inverted float-right" do %>
    <span class="fa fa-pencil-alt"></span>
    Edit user
  <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_users_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Users
  <% end %>
</p>
<div class="well">
  <% if @user.admin? %>
    <span class="usa-tag bg-secondary-vivid">
      Admin User
    </span>
    <br>
    <br>
  <% end %>
  <p>
    <label>Email</label>
    <br>
    <%= link_to @user.email, "mailto:#{@user.email}" %>
  </p>
  <p>
    <label>Organization</label>
    <br>
    <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
  </p>
  <p>
    <label>Last logged in</label>
    <br>
    <% if @user.last_sign_in_at %>
      <%= format_time(@user.last_sign_in_at, current_user.time_zone) %> -
      <%= time_ago_in_words(@user.last_sign_in_at) %> ago
    <% end %>
  </p>
</div>
<div class="well">
  <h4>
    Forms
  </h4>
  <% if @forms.present? %>
    <ul class="usa-list">
    <% @forms.each do |form| %>
      <li>
        <%= link_to form.name, admin_form_path(form) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Forms at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Websites managed
  </h4>
  <% if @websites.present? %>
    <ul class="usa-list">
    <% @websites.each do |website| %>
      <li>
        <%= link_to website.domain, admin_website_path(website) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Websites at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Data Collections
  </h4>
  <% if @collections.present? %>
    <ul class="usa-list">
    <% @collections.each do |collection| %>
      <li>
        <%= link_to collection.name, admin_collection_path(collection) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Collections at this time
      </p>
    </div>
  </div>
  <% end %>
</div>
