<% content_for :navigation_title do %>
  Viewing User
  <%- if admin_permissions? %>
  <%= link_to edit_admin_user_path(@user), class: "usa-button usa-button-inverted float-right" do %>
    <span class="fa fa-pencil-alt"></span>
    Edit
  <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_users_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Users
  <% end %>
</p>
<%- if @user.inactive? %>
<div class="usa-alert usa-alert--warning margin-bottom-2">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This user is inactive
    </p>
  </div>
</div>

<% if admin_permissions? %>
<%= form_for :user, url: reactivate_admin_user_path(@user), class: "margin-top-8 margin-bottom-8" do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Reactivate user", class: "usa-button bg-green" %>
<% end %>
<% end %>

<% end %>
<div class="well">
  <%- if @user.admin? %>
    <span class="usa-tag bg-secondary-vivid">
      Admin
    </span>
  <% end %>
  <%- if @user.organizational_admin? %>
    <span class="usa-tag bg-orange">
      Organizational Admin
    </span>
  <% end %>
  <%- if @user.performance_manager? %>
    <span class="usa-tag bg-blue">
      Performance manager
    </span>
  <% end %>
  <%- if @user.service_manager? %>
    <span class="usa-tag bg-indigo">
      Service manager
    </span>
  <% end %>
  <%- if @user.registry_manager? %>
    <span class="usa-tag bg-violet">
      Registry manager
    </span>
  <% end %>
  <%- if @user.organizational_website_manager? %>
    <span class="usa-tag bg-cyan">
      Website manager
    </span>
  <% end %>
  <p>
    <label class="usa-label">Email</label>
    <br>
    <%= link_to @user.email, "mailto:#{@user.email}" %>
  </p>
  <p>
    <label class="usa-label">Organization</label>
    <br>
    <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
  </p>
  <%- if current_user == @user || admin_permissions? %>
  <p>
    <label class="usa-label">Latest login</label>
    <br>
    <%- if @user.current_sign_in_at %>
      <%= format_time(@user.current_sign_in_at, current_user.time_zone) %> -
      <%= time_ago_in_words(@user.current_sign_in_at) %> ago
    <% end %>
  </p>
  <% end %>
</div>

<%- if current_user == @user || admin_permissions? %>
<div class="well">
  <h4>
    Service Providers
  </h4>
  <%- if @service_providers.present? %>
  <table class="usa-table width-full">
    <thead>
      <tr>
        <th data-sortable scope="col">
          Name
        </th>
        <th data-sortable scope="col">
          Inactive?
        </th>
      </tr>
    </thead>
    <tbody>
      <% @service_providers.each do |service_provider| %>
      <tr>
        <th>
          <%= link_to service_provider.name, admin_service_provider_path(service_provider) %>
        </th>
        <th>
          <%= service_provider.inactive %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Services Providers at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Services
  </h4>
  <%- if @services.present? %>
    <table class="usa-table width-full">
      <thead>
        <tr>
          <th data-sortable scope="col">
            Name
          </th>
          <th data-sortable scope="col">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
        <tr>
          <th>
            <%= link_to service.name, admin_service_path(service) %><br>
          </th>
          <th>
            <%= service.aasm_state %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Services at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Forms
  </h4>
  <%- if @forms.present? %>
    <%= render "admin/forms/list", forms: @forms %>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Forms at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Digital Products
  </h4>
  <%- if @digital_products.present? %>
    <table class="usa-table width-full">
      <thead>
        <tr>
          <th data-sortable scope="col">
            Name
          </th>
          <th data-sortable scope="col">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% @digital_products.each do |digital_product| %>
        <tr>
          <th>
            <%= link_to digital_product.name, admin_digital_product_path(digital_product) %>
          </th>
          <th>
            <%= digital_product.aasm_state %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Digital Products at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Digital Service Accounts
  </h4>
  <%- if @digital_service_accounts.present? %>
  <table class="usa-table width-full">
    <thead>
      <tr>
        <th data-sortable scope="col">
          Name
        </th>
        <th data-sortable scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @digital_service_accounts.each do |digital_service_account| %>
      <tr>
        <th>
          <%= link_to digital_service_account.name, admin_digital_service_account_path(digital_service_account) %>
        </th>
        <th>
          <%= digital_service_account.aasm_state %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Digital Service Accounts at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Websites
  </h4>
  <%- if @websites.present? %>
  <table class="usa-table width-full">
    <thead>
      <tr>
        <th data-sortable scope="col">Domain</th>
        <th data-sortable scope="col">Lifecycle status</th>
        <th data-sortable scope="col">Production status</th>
      </tr>
    </thead>
    <tbody>
      <% @websites.each do |website| %>
      <tr>
        <td>
          <%= link_to website.domain, admin_website_path(website) %>
        </td>
        <td>
          <%= website.aasm_state %>
        </td>
        <td>
          <%= website.production_status %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Websites at this time
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="well">
  <h4>
    Data Collections
  </h4>
<%- if @cx_collections.present? %>
  <table class="usa-table width-full">
    <thead>
      <tr>
        <th data-sortable scope="col">Fiscal year</th>
        <th data-sortable scope="col">Quarter</th>
        <th data-sortable scope="col">Collection name</th>
        <th data-sortable scope="col">Service provider name</th>
      </tr>
    </thead>
    <tbody>
      <% @cx_collections.includes(:service_provider).each do |cx_collection| %>
      <tr>
        <td>
          <%= cx_collection.fiscal_year %>
        </td>
        <td>
          <%= cx_collection.quarter %>
        </td>
        <td>
          <%= link_to cx_collection.name, admin_cx_collection_path(cx_collection) %>
        </td>
        <td>
          <%= link_to cx_collection.service_provider.name, admin_service_provider_path(cx_collection.service_provider) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No CX Collections at this time
      </p>
    </div>
  </div>
<% end %>
</div>
<% end %>

<div class="well">
  <%= render 'components/users/events', events: @user_events %>
</div>
