<h3>
  Events
</h3>

<table class="usa-table">
  <% @events = Event.limit(500).order("created_at ASC") %>
  <% @users = User.all %>
  <% @user_email_map = {} %>
  <% @users.map { |user| @user_email_map[user.id] = user.email } %>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.object_type %></td>
    <td><%= event.object_id %></td>
    <td><%= event.description %></td>
    <td><%= @user_email_map[event.user_id] %></td>
    <td><%= event.created_at %></td>
    <td><%= event.updated_at %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Export Responses to CSV", admin_export_events_url(format: "csv"), class: "usa-button export-btn", target: "_blank", rel: "noopener" %>

<script>
  $(function() {
    $('.export-btn').click(function(e) {
      e.preventDefault();
      console.log($(this).text());
      if ($(this).text() == "Exporting...") {
        console.log("Click disabled while exporting");
        return false;
      }
      var uuid = generateUUID();
      $(this).html('Exporting...').addClass('cursor-not-allowed');
      var url = $(this).attr('href') + '?uuid=' + uuid + '';
      subscribeExportChannel(uuid, function() {
        $.get(url);
      });
      return false;
    })
  });
</script>
