<% content_for :full_layout do %>
<%= javascript_include_tag "chartjs-2.9.3.bundle.js" %>
<section class="light-blue-bg">
  &nbsp;
  <div class="grid-container">
    <div>
      <h1>
        Welcome to Touchpoints
      </h1>

      <p>
        You are a
        <%= current_user.role %>
        of
        <%= current_user.organization.name %>.
      </p>
    </div>
  </div>
  <br>
</section>
<section>
  <main id="main-content">
    <div class="grid-container">
      <% if admin_permissions? %>
      <div class="well">
        <div class="grid-row">
          <div class="grid-col-4">
            <ul class="usa-list">
              <li>
                <a href="/admin/organizations">
                  <span>Organizations</span>
                </a>
              </li>
              <li>
                <a href="/admin/users">
                  <span>Users</span>
                </a>
              </li>
              <li>
                <a href="/admin/sidekiq">
                  <span>Manage Sidekiq</span>
                </a>
              </li>
              <li>
                <a href="/admin/events">
                  <span>Review System Events</span>
                </a>
              </li>
              <li>
                <a href="/admin/management">
                  <span>Client Management</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-col-4">
            <ul class="usa-list">
              <li>
                <%= link_to admin_services_path do %>
                <span>Services</span>
                <% end %>
              </li>
              <li>
                <a href="/admin/websites">
                  <span>Websites</span>
                </a>
                -
                <a href="/admin/websites/gsa">
                  <span>GSA Summary</span>
                </a>
              </li>
              <li>
                <%= link_to admin_barriers_path do %>
                <span>Barriers</span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="grid-col-4">
            <ul class="usa-list">
              <li>
                <%= link_to admin_collections_path do %>
                <span>Data Collections</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_a11_path do %>
                <span>A-11 Data Analysis</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
      <%= render 'components/weekly_metrics', forms: @forms %>
      <%= render 'components/admin/recent_responses', forms: @recent_forms, days_since: @days_since %>
      <%= render 'components/admin/responses_per_day', response_groups: @response_groups %>

      <% else %>
        <h4>
          Get started with Touchpoints:
        </h4>

        <ol>
          <li>
            <%= link_to "Create a Form", new_admin_form_path(ref: :dashboard) %>
          </li>
          <li>
            Customize the Form with Questions and Question Options
          </li>
          <li>
            Test the Form by creating a Response
          </li>
          <li>
            Deploy the Form to Users on your website or via your email system
          </li>
          <li>
            Receive feedback from Users
          </li>
          <li>
            Use the feedback to improve service delivery
          </li>
        </ol>
      <% end %>
      <br>
      <br>
    </div>
  </main>
</section>
<% end %>
