<h1>
  Google Tag Manager Account
</h1>
<table>
  <h3>
    <%= @account[:name] %> -
    <%= link_to(@account[:account_id], @account[:tag_manager_url]) %>
  </h3>
  <h6>
    Containers
  </h6>
  <% @account[:containers].each do |container| %>
    <%= link_to container.name, container.tag_manager_url, target: "_blank" %>
    <%= container.public_id %>
    <% workspaces = @google_api.list_account_container_workspaces(path: container.path) %>
    <ul>
      <% workspaces.each do |workspace| %>
      <li>
        <%= link_to workspace.name, workspace.tag_manager_url %><br>
      </li>
      <% end %>
    </ul>
  <% end %>
</table>
