<% content_for :navigation_title do %>
  Client Management Tools
<% end %>
<div class="grid-row grid-gap-md">
  <div class="grid-col-12">
    <h3>
      Organizations without active Forms
    </h3>

    <% Organization.all.order(:name).each do |organization| %>
      <% next unless organization.forms.empty? %>
      <%= link_to organization.name, admin_organization_path(organization) %>
      <br>
    <% end %>

    <br>
    <hr>

    <h3>
      Forms without a Form Manager
    </h3>

    <% @unmanaged_forms = Form.all.order(:name) %>
    <% if @unmanaged_forms.present? %>
      <% @unmanaged_forms.each do |form| %>
        <% manager_roles = form.user_roles.select { |user_role| user_role.role == "form_manager" } %>
        <% next unless manager_roles.empty? %>
        <%= link_to form.name, admin_form_path(form) %>
        <br>
      <% end %>
    <% else %>
      <div class="usa-alert usa-alert--success" >
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            All forms have at least one manager.
          </p>
        </div>
      </div>
    <% end %>

    <br>
    <br>
    <div class="well">
      <h3>
        Forms with Notifications
      </h3>
      <%= Form.where("notification_emails IS NOT NULL AND notification_emails != ''").count %>
    </div>
    <div class="well">
      <h3>
        Data Collections
      </h3>
      <%= Collection.count %> Created
      <br>
      <%= Collection.where(aasm_state: :published).count %> Published

      <h3>
        OMB CX Reporting Collections
      </h3>
      <%= OmbCxReportingCollection.count %>

      <hr>

      <% @total_volume_of_customers = 0 %>
      <% @total_volume_of_respondents = 0 %>

      <table class="usa-table">
        <thead>
          <tr>
            <th>
              Organization
            </th>
            <th>
              Service Provided
            </th>
            <th>
              Channel
            </th>
            <th>
              OMB Control Number
            </th>
            <th>
              Respondents
            </th>
            <th>
              Total Customers
            </th>
            <th>
              Satisfaction
            </th>
            <th>
              Trust or Confidence
            </th>
            <th>
              Effectiveness (Service)
            </th>
            <th>
              Ease (Process)
            </th>
            <th>
              Efficiency (Process)
            </th>
            <th>
              Transparency (Process)
            </th>
            <th>
              Employee (People)
            </th>
          </tr>
        </thead>

      <% @collections = Collection.where(quarter: "2").each do |c| %>
        <% c.omb_cx_reporting_collections.each do |s| %>
          <tr class="five-point-scale">
            <td>
              <%= c.organization.name %>
            </td>
            <td>
              <%= s.service_provided %>
            </td>
            <td>
              <%= s.channel %>
            </td>
            <td>
              <%= s.omb_control_number %>
            </td>
            <td>
              <%= s.volume_of_respondents %>
            </td>
            <td>
              <%= s.volume_of_customers %>
            </td>
            <td class="auto-shade">
              <%= s.q1_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q2_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q3_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q4_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q5_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q6_point_scale %>
            </td>
            <td class="auto-shade">
              <%= s.q7_point_scale %>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td class="auto-shade">
              <%= s.q1_total %>
            </td>
            <td class="auto-shade">
              <%= s.q2_total %>
            </td>
            <td class="auto-shade">
              <%= s.q3_total %>
            </td>
            <td class="auto-shade">
              <%= s.q4_total %>
            </td>
            <td class="auto-shade">
              <%= s.q5_total %>
            </td>
            <td class="auto-shade">
              <%= s.q6_total %>
            </td>
            <td class="auto-shade">
              <%= s.q7_total %>
            </td>
          </tr>
          <% @total_volume_of_customers += s.volume_of_customers.to_i %>
          <% @total_volume_of_respondents += s.volume_of_respondents.to_i %>
        <% end %>
      <% end %>
      <tr>
        <td>
          TOTALS
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <%= @total_volume_of_respondents %>
        </td>
        <td>
          <%= @total_volume_of_customers %>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>
<br>

<%= javascript_include_tag "d3.v5.min.js" %>
<script>
  var colorScale = d3.scaleLinear()
    .domain([2, 4.15, 5])
    .range(["#F9CC9C", "#F3F3F3", "#B6D7A8"]);

  // Loop each row
  $.each($("tbody tr.five-point-scale"), function() {
    // Loop each row's .auto-shade cells
    var cells = $(this).find("td.auto-shade");
    $.each(cells, function() {
      var parsedNumber = parseInt($(this).text());
      if(parsedNumber) {
        var bgColor = colorScale($(this).text());
        var color = d3.color(bgColor).hex();
        $(this).css({ "background-color" : color });
      }
    });
  });
</script>
