<% content_for :navigation_title do %>
  Client Management Tools
<% end %>
<div class="grid-row grid-gap-md">
  <div class="grid-col-12">
    <br>
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information">
      <div class="usa-summary-box__body">
        <h3 class="usa-summary-box__heading" id="summary-box-key-information">
          How can we support client's Customer Experience efforts?
        </h3>
        <div class="usa-summary-box__text">
          <p>
            This page includes tools used by Touchpoints Admins to assess product usage,
            and inform communication with customers.
          </p>
        </div>
      </div>
    </div>

    <div class="usa-section">
      <%= render 'components/agency_summary', forms: @forms, agencies: @agencies %>
    </div>

    <div class="well">
      <h3>
        Organizations without active Forms
      </h3>

      <% @organizations.each do |organization| %>
      <% next unless organization.forms.empty? %>
      <%= link_to organization.name, admin_organization_path(organization) %>
      <br>
      <% end %>
    </div>

    <div class="well">
      <h3>
        Forms without a Form Manager
      </h3>

      <%- if @unmanaged_forms.present? %>
      <% @unmanaged_forms.each do |form| %>
      <% manager_roles = form.user_roles.select { |user_role| user_role.role == "form_manager" } %>
      <% next unless manager_roles.empty? %>
      <%= link_to form.name, admin_form_path(form) %>
      <br>
      <% end %>
      <% else %>
      <div class="usa-alert usa-alert--success">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            All forms have at least one manager.
          </p>
        </div>
      </div>
      <% end %>
    </div>

    <div class="well">
      <h3>
        Forms with Notifications
      </h3>
      <%= Form.where("notification_emails IS NOT NULL AND notification_emails != ''").count %>
    </div>
  </div>
</div>
<br>

<%= javascript_include_tag "d3.v5.min.js" %>
<script>
  var colorScale = d3.scaleLinear()
    .domain([2, 4.15, 5])
    .range(["#F9CC9C", "#F3F3F3", "#B6D7A8"]);

  // Loop each row
  $.each($("tbody tr.five-point-scale"), function() {
    // Loop each row's .auto-shade cells
    var cells = $(this).find("td.auto-shade");
    $.each(cells, function() {
      var parsedNumber = parseInt($(this).text());
      if(parsedNumber) {
        var bgColor = colorScale($(this).text());
        var color = d3.color(bgColor).hex();
        $(this).css({ "background-color" : color });
      }
    });
  });
</script>
