<h1>
  U.S. Digital Registry
</h1>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-4">
    <h3>
      Websites
    </h3>
    <p>
      <%= link_to "View All Websites", admin_websites_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Add a Website", new_admin_website_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Update My Websites", new_admin_website_path, class: "usa-button full-width" %>
    </p>
  </div>
  <div class="grid-col-4">
    <h3>
      Mobile Products
    </h3>
    <p>
      <%= link_to "View All Mobile Products", admin_digital_products_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Add a Mobile Product", new_admin_digital_product_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Update My Mobile Products", new_admin_digital_product_path, class: "usa-button full-width" %>
    </p>
  </div>
  <div class="grid-col-4">
    <h3>
      Social Media Accounts
    </h3>
    <p>
      <%= link_to "View All Social Media Accounts", admin_digital_service_accounts_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Add a Social Media Account", new_admin_digital_service_account_path, class: "usa-button full-width" %>
    </p>
    <p>
      <%= link_to "Update My Social Media Accounts", new_admin_digital_service_account_path, class: "usa-button full-width" %>
    </p>
  </div>
</div>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-4">
    <h3>
      Website Activity
    </h3>
    <table class="usa-table">
      <tr>
        <td>
          Activity
        </td>
        <td>
          Volume
        </td>
      </tr>
      <tr>
        <td>
          Created last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
    </table>
  </div>
  <div class="grid-col-4">
    <h3>
      Mobile Products Activity
    </h3>
    <table class="usa-table">
      <tr>
        <td>
          Activity
        </td>
        <td>
          Volume
        </td>
      </tr>
      <tr>
        <td>
          Created last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
    </table>
  </div>
  <div class="grid-col-4">
    <h3>
      Social Media Activity
    </h3>
    <table class="usa-table">
      <tr>
        <td>
          Activity
        </td>
        <td>
          Volume
        </td>
      </tr>
      <tr>
        <td>
          Created last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Created last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 30 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 90 days
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td>
          Updated last 180 days
        </td>
        <td>
          9
        </td>
      </tr>
    </table>
  </div>
</div>
