<div id="<%= dom_id cx_collection_detail %>">
  <p>
    <strong>Cx collection:</strong>
    <%= cx_collection_detail.cx_collection_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= cx_collection_detail.service_id %>
  </p>

  <p>
    <strong>Transaction point:</strong>
    <%= cx_collection_detail.transaction_point %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= cx_collection_detail.channel %>
  </p>

  <p>
    <strong>Service stage:</strong>
    <%= cx_collection_detail.service_stage_id %>
  </p>

  <p>
    <strong>Volume of customers:</strong>
    <%= cx_collection_detail.volume_of_customers %>
  </p>

  <p>
    <strong>Volume of customers provided survey opportunity:</strong>
    <%= cx_collection_detail.volume_of_customers_provided_survey_opportunity %>
  </p>

  <p>
    <strong>Volume of respondents:</strong>
    <%= cx_collection_detail.volume_of_respondents %>
  </p>

  <p>
    <strong>Omb control number:</strong>
    <%= cx_collection_detail.omb_control_number %>
  </p>

  <p>
    <strong>Survey type:</strong>
    <%= cx_collection_detail.survey_type %>
  </p>

  <p>
    <strong>Survey title:</strong>
    <%= cx_collection_detail.survey_title %>
  </p>

  <p>
    <strong>Trust question text:</strong>
    <%= cx_collection_detail.trust_question_text %>
  </p>

</div>
