<%= form_with(model: cx_collection_detail, url: (cx_collection_detail.persisted? ? admin_cx_collection_detail_path(cx_collection_detail) : admin_cx_collection_details_path), class: "usa-form") do |form| %>
  <%- if cx_collection_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cx_collection_detail.errors.count, "error") %> prohibited this cx_collection_detail from being saved:</h2>

      <ul>
        <% cx_collection_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :cx_collection_id, class: "usa-input", value: cx_collection_detail.cx_collection_id %>
  <%- if service_manager_permissions? %>
    <div>
      <%= form.label :cx_collection_id, "CX Collection", class: "usa-label" %>
      <%= form.select :cx_collection_id,
        cx_collections.map { |cx_collection| ["#{cx_collection.organization.abbreviation} - #{cx_collection.organization.name} - #{cx_collection.service.name}", cx_collection.id]},
        { include_blank: true },
        class: "usa-select" %>
    </div>
  <% end %>

  <div>
    <%= form.label :transaction_point, "Type of Feedback Survey", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      OMB Circular A-11 Section 280 lists three types of customer feedback survey: post-interaction, post-service journey (at the end of a service journey), and relational. Select the best description for your survey.
    </div>
    <%= form.select :transaction_point,
        [
          ["Post-interaction", :post_interaction],
          ["Post-service journey", :post_service_journey],
          ["Relational", :relational]
        ],
      { include_blank: true },
      {
        class: "usa-select",
        required: true
      } %>
  </div>

  <div>
    <%= form.label :channel, "Channel of Survey", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Tell us how you deployed the survey. What is the channel you used to reach your respondents?
    </div>
    <%= form.select :channel, Service.channels.sort, { include_blank: true },
      {
        class: "usa-select",
        required: true
      }
    %>
  </div>

  <div class="field">
  <%= form.label :service_stage_id, "Stage of Service Journey", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      <p class="text-italic">
        This is an experimental field.
      </p>
      Select the
      <%= link_to "Service Stage", admin_service_service_stages_path(cx_collection_detail.cx_collection.service), target: "_blank", class: "usa-link usa-link--external" %>,
      where the feedback survey is presented to the user.
    </div>

    <%- if cx_collection_detail.cx_collection.service %>
    <%= form.select :service_stage_id, options_for_select(cx_collection_detail.cx_collection.service.service_stages.map { |stage| [stage.name, stage.id]}, cx_collection_detail.service_stage_id),
      { include_blank: true },
      { class: "usa-select" } %>
    <% else %>
      <small>
        You will be able to select a Service Stage after saving this Collection with a Service selected.
      </small>
    <% end %>
  </div>

  <div>
    <%= form.label :survey_type, class: "usa-label" %>

    <div class="usa-hint font-sans-2xs">
      OMB Circular A-11 Section 280 allows for two types of response scale for the required Trust question.
      Please select the response scale for your survey here.
    </div>

    <%= form.select :survey_type, [["Thumbs Up/Down", :thumbs_up_down], ["5-point Likert Scale", :likert_scale]],
      { include_blank: true },
      { class: "usa-select" } %>
  </div>

  <div>
    <%= form.label :survey_title, class: "usa-label" do %>
      Survey title
      <abbr title="required" class="usa-hint--required">*</abbr>
    <% end %>
    <div class="usa-hint font-sans-2xs">
      Please provide a short, succinct, public-facing title for your feedback survey.
    </div>
    <%= form.text_field :survey_title, class: "usa-input", required: true %>
  </div>

  <div>
    <%= form.label :omb_control_number, "OMB control number", class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      The OMB Control Number helps us identify the PRA/A-11 Gen IC approval for this survey.
    </div>
    <%= form.text_field :omb_control_number, class: "usa-input" %>
  </div>

  <div>
    <%= form.label :trust_question_text, class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      Copy and paste the text of the required Trust question in your feedback survey here
    </div>
    <%= form.text_area :trust_question_text, class: "usa-input" %>
  </div>

  <div>
    <%= form.label :volume_of_customers, class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      This is your best estimate of the number of customers who: interacted with, used, participated in, or applied for this service.
    </div>
    <%= form.number_field :volume_of_customers, class: "usa-input" %>
  </div>

  <div>
    <%= form.label :volume_of_customers_provided_survey_opportunity, class: "usa-label" %>
    <div class="usa-hint font-sans-2xs">
      This is your best estimate of the number of customers offered the opportunity to complete a feedback survey.
    </div>
    <%= form.number_field :volume_of_customers_provided_survey_opportunity, class: "usa-input" %>
  </div>

  <br>
  <% if @cx_collection_detail.form %>
  <%= form.hidden_field :form_id, value: @cx_collection_detail.form_id %>
  <div class="usa-alert usa-alert--info font-sans-2xs">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        CxResponses will be created for the form titled "<%= @cx_collection_detail.form.title %>"
        for Q<%= @cx_collection_detail.cx_collection.quarter %>FY<%= @cx_collection_detail.cx_collection.fiscal_year %>.
      </p>
    </div>
  </div>
  <% else %>
  <div class="usa-alert usa-alert--info font-sans-2xs">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Creating this collection detail will allow you to submit the corresponding survey data as a CSV file on the next page.
        You may still edit after you have created the collection detail.
      </p>
    </div>
  </div>
  <% end %>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>
