<% content_for :navigation_title do %>
  <%- if true || service_permissions?(service: @service) %>
  <div class="float-right">
    <%= link_to upload_admin_cx_collection_detail_path(@cx_collection_detail), class: "usa-button usa-button--primary" do %>
      <i class="fa fa-upload"></i>
      Upload Responses
    <% end %>
    <%= link_to edit_admin_cx_collection_detail_path(@cx_collection_detail), class: "usa-button usa-button-inverted" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
    <% end %>
  </div>
  <% end %>

  CX Collection Detail
<% end %>

<p>
  <%= link_to admin_cx_collection_path(@cx_collection_detail.cx_collection) do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to CX Data Collection
  <% end %>
</p>

<h3>
  <%= @cx_collection_detail.cx_collection.service.service_provider.name %>
  &middot;
  <%= @cx_collection_detail.cx_collection.service.name %>
  <br>
  Q<%= @cx_collection_detail.cx_collection.quarter %>
  FY<%= @cx_collection_detail.cx_collection.fiscal_year %>
</h3>

<p>
  <strong>Organization:</strong>
  <%= render "admin/organizations/badge", organization: @cx_collection_detail.cx_collection.organization %>
</p>
<p>
  <strong>Cx collection:</strong>
  <%= @cx_collection_detail.cx_collection.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= link_to @cx_collection_detail.cx_collection.service.name, admin_service_path(@cx_collection_detail.cx_collection.service) %>
</p>

<p>
  <strong>Transaction point:</strong>
  <%= @cx_collection_detail.transaction_point %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @cx_collection_detail.channel %>
</p>

<p>
  <strong>Service stage:</strong>
  <%- if @cx_collection_detail.service_stage %>
  <%= link_to(@cx_collection_detail.service_stage.name, admin_service_service_stage_path(@cx_collection_detail.service_stage)) || 'Select a Service Stage' %>
  <% else %>
    <%= link_to "Service Stage", admin_service_service_stages_path(@cx_collection_detail.cx_collection.service) %>
    is not defined.
  <% end %>

  <span class="margin-left-5">
    <%= link_to("See this Service's Stages", admin_service_service_stages_path(@cx_collection_detail.cx_collection.service), class: "usa-hint font-sans-2xs ") %>
  </span>
</p>


<p>
  <strong>Volume of customers:</strong>
  <%= number_with_delimiter(@cx_collection_detail.volume_of_customers) %>
</p>

<p>
  <strong>Volume of customers provided survey opportunity:</strong>
  <%= number_with_delimiter(@cx_collection_detail.volume_of_customers_provided_survey_opportunity) %>
</p>

<p>
  <strong>Volume of respondents:</strong>
  <%= number_with_delimiter(@cx_collection_detail.cx_responses.size) %>
</p>

<p>
  <strong>Omb control number:</strong>
  <%= @cx_collection_detail.omb_control_number %>
</p>

<p>
  <strong>Survey type:</strong>
  <%= @cx_collection_detail.survey_type %>
</p>

<p>
  <strong>Survey title:</strong>
  <%= @cx_collection_detail.survey_title %>
</p>

<p>
  <strong>Trust question text:</strong>
  <%= @cx_collection_detail.trust_question_text %>
</p>