<% content_for :navigation_title do %>
  <%- if service_permissions?(service: @service) %>
  <div class="float-right">
    <%= link_to edit_admin_cx_collection_detail_path(@cx_collection_detail), class: "usa-button usa-button-inverted" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
    <% end %>
  </div>
  <% end %>

  Upload CX Collection Data
<% end %>

<div class="usa-prose margin-bottom-2">
  <%= link_to admin_cx_collection_path(@cx_collection_detail.cx_collection) do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to CX Data Collection
  <% end %>
  <br>
  <%= link_to admin_cx_collection_detail_path(@cx_collection_detail) do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to CX Data Collection Detail
  <% end %>
</div>

<div class="usa-alert">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Before you attach your survey dataset below,
      <br>
      please review
      <%= link_to "this checklist", "https://github.com/GSA/touchpoints/wiki/CX‐Data‐Collection‐Data‐Format", target: "_blank", class: "usa-link usa-link--external" %>
      and ensure the .csv upload file is correctly formatted.
    </p>
  </div>
</div>

<div class="well margin-top-2 margin-bottom-2">
  <%= form_with url: post_csv_admin_cx_collection_detail_path, method: :post, local: true, multipart: true, data: { turbo: false } do |form| %>
    <%- if @cx_collection_detail.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@cx_collection_detail.errors.count, "error") %> prohibited this cx_collection_detail from being saved:</h2>

        <ul>
          <% @cx_collection_detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="usa-form-group">
      <%= form.label :file, "Upload CX Data Collection .csv", class: "usa-label text-uppercase font-body-3xs",
      for: "file-input-single" %>
      <%= form.file_field :file, class: "usa-file-input display-logo", data_url: "", onchange: "enableSubmitButton()" %>
    </div>

    <p>
      <%= form.submit id: "button-cx-upload", class: "usa-button", disabled: true %>
    </p>
  <% end %>
</div>

<table class="usa-table width-full">
  <thead>
    <tr>
      <th>User</th>
      <th>Uploaded file URL</th>
      <th>Filesize</th>
      <th>Timestamp</th>
      <th>Uploaded record count</th>
      <%- if service_manager_permissions? %>
      <th>Job ID</th>
      <th>Process file?</th>
      <th>Delete?</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% presigner = s3_presigner %>

  <%- if @uploads.present? %>
    <% @uploads.each do |upload| %>
      <tr>
        <td>
          <%= upload.user.email %>
        </td>
        <td>
          <%= link_to "Uploaded file", s3_presigned_url(upload.key) if upload.key.present? %>
        </td>
        <td>
          <%= upload.size %>
        </td>
        <td>
          <%= upload.created_at %>
        </td>
        <td>
          <% count = CxResponse.where(cx_collection_detail_upload_id: upload.id).count %>
          <%= count == 0 ? "To be processed..." : number_with_delimiter(count) %>
        </td>
        <%- if service_manager_permissions? %>
        <td>
        <%= upload.job_id %>
        </td>
        <td>
          <%= link_to "Process CSV file to database", process_admin_cx_collection_detail_path(@cx_collection_detail, upload.id), method: :post %>
        </td>
        <td>
          <%= link_to "Delete file and CX Responses", admin_cx_collection_detail_cx_collection_detail_upload_path(@cx_collection_detail, upload), class: "text-red", method: :delete %>
        </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<script>
  // Enable the submit button if a file has been added to the file upload input
  function enableSubmitButton() {
    var fileInput = document.getElementById('file');
    var submitButton = document.getElementById('button-cx-upload');

    // Check if a file has been selected
    if (fileInput.files.length > 0) {
      submitButton.disabled = false;
    } else {
      submitButton.disabled = true;
    }
  }
</script>