<% content_for :navigation_title do %>
  <% if true || service_permissions?(service: @service) %>
  <div class="float-right">
    <%= link_to edit_admin_cx_collection_detail_path(@cx_collection_detail), class: "usa-button usa-button-inverted" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
    <% end %>
  </div>
  <% end %>

  Upload CX Collection Data
<% end %>

<div class="usa-prose">
  <%= link_to admin_cx_collection_detail_path(@cx_collection_detail) do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to CX Data Collection Detail
  <% end %>
</div>

<p>
  Before you attach your survey dataset below,
  <br>
  please review
  <%= link_to "this checklist", "https://github.com/GSA/touchpoints/wiki/CX‐Data‐Collection‐Data‐Format", target: "_blank" %>
   and make sure the CSV upload file is in the correct format.
</p>

<%= form_with url: post_csv_admin_cx_collection_detail_path, method: :post, local: true, multipart: true, data: { turbo: false } do |form| %>
  <% if @cx_collection_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@cx_collection_detail.errors.count, "error") %> prohibited this cx_collection_detail from being saved:</h2>

      <ul>
        <% @cx_collection_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="usa-form-group">
    <%= form.label :logo_display, "Upload CX Data Collection", class: "usa-label text-uppercase font-body-3xs",
    for: "file-input-single" %>
    <%= form.file_field :file, class: "usa-file-input display-logo", data_url: "" %>
  </div>

  <p>
    <%= form.submit class: "usa-button" %>
  </p>
<% end %>

<table class="usa-table">
  <thead>
    <tr>
      <th>User</th>
      <th>File path</th>
      <th>Size</th>
      <th>Timestamp</th>
      <th>Uploaded record count</th>
      <% if service_manager_permissions? %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% if @uploads.present? %>
    <% @uploads.each do |upload| %>
      <tr>
        <td>
          <%= upload.user.email %>
        </td>
        <td>
          <%= link_to(upload.key, upload.key) %>
        </td>
        <td>
          <%= upload.size %>
        </td>
        <td>
          <%= upload.created_at %>
        </td>
        <td>
          <% @responses = CxResponse.where(cx_collection_detail_upload_id: upload.id).count %>
          <%= @responses %>
          <%#= CxResponse.where(cx_collection_detail_upload_id: upload.id).entries %>
        </td>
        <% if service_manager_permissions? %>
        <td>
          <%= link_to "Process CSV file to database", process_admin_cx_collection_detail_path(@cx_collection_detail, upload.id), method: :post %>
        </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>


<br>
