<p id="notice"><%= notice %></p>

<h1>Service Stage Barriers</h1>

<table>
  <thead>
    <tr>
      <th>Service stage</th>
      <th>Barrier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_stage_barriers.each do |service_stage_barrier| %>
      <tr>
        <td><%= service_stage_barrier.service_stage_id %></td>
        <td><%= service_stage_barrier.barrier_id %></td>
        <td><%= link_to 'Show', service_stage_barrier %></td>
        <td><%= link_to 'Edit', edit_service_stage_barrier_path(service_stage_barrier) %></td>
        <td><%= link_to 'Destroy', service_stage_barrier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Stage Barrier', new_service_stage_barrier_path %>
