<% content_for :navigation_title do %>
  CX service reporting worksheet

  <%= link_to edit_admin_omb_cx_reporting_collection_path(@omb_cx_reporting_collection), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to admin_collection_path(@omb_cx_reporting_collection.collection) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to
    <%= @omb_cx_reporting_collection.collection.name %>
  <% end %>
</p>

<div class="well">
  <div class="text-uppercase font-body-3xs">
    General information
  </div>
  <br>
  <div class="grid-row">
    <div class="grid-col-4">
      <p>
        <div class="field">
          <strong>Collection</strong>
          <br>
          <%= link_to @omb_cx_reporting_collection.collection.name, admin_collection_path(@omb_cx_reporting_collection.collection) %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Organization
          </strong>
          <br>
          <%= link_to @omb_cx_reporting_collection.collection.organization.name, admin_organization_path(@omb_cx_reporting_collection.collection.organization) %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Service Provider
          </strong>
          <br>
          <%= link_to @omb_cx_reporting_collection.collection.service_provider.name, admin_service_provider_path(@omb_cx_reporting_collection.collection.service_provider) %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Service
          </strong>
          <br>
          <%= link_to @omb_cx_reporting_collection.service.name, admin_service_path(@omb_cx_reporting_collection.service) %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Service provided
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.service_provided %>
        </div>
      </p>
    </div>
    <div class="grid-col-4">
      <p>
        <div class="field">
          <strong>
            Transaction point
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.transaction_point %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Channel
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.channel %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            OMB Control Number
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.omb_control_number %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Federal Register URL
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.federal_register_url %>
        </div>
      </p>
    </div>
    <div class="grid-col-4">
      <p>
        <div class="field">
          <strong>
            Volume of customers
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.volume_of_customers %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Customers provided a feedback opportunity
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.volume_of_customers_provided_survey_opportunity %>
        </div>
      </p>
      <p>
        <div class="field">
          <strong>
            Volume of respondents
          </strong>
          <br>
          <%= @omb_cx_reporting_collection.volume_of_respondents %>
        </div>
      </p>
    </div>
  </div>
</div>

<table class="usa-table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Question text
      </th>
      <th>
        1
      </th>
      <th>
        2
      </th>
      <th>
        3
      </th>
      <th>
        4
      </th>
      <th>
        5
      </th>
      <th>
        Total
      </th>
      <th>
        5-point scale
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Satisfaction
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q1_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q1_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Trust or Confidence
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q2_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q2_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Effectiveness (Service)
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q3_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q3_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Ease (Process)
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q4_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q4_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Efficiency (Process)
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q5_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q5_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Transparency (Process)
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q6_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q6_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Employee (People)
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q7_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q7_point_scale %>
      </td>
    </tr>

    <tr>
      <td>
        Question 8
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q8_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q8_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Question 9
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q9_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q9_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Question 10
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q10_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q10_point_scale %>
      </td>
    </tr>
    <tr>
      <td>
        Question 11
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_text %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_1 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_2 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_3 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_4 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_5 %>
      </td>
      <td>
        <%= @omb_cx_reporting_collection.q11_total %>
      </td>
      <td class="auto-shade">
        <%= @omb_cx_reporting_collection.q11_point_scale %>
      </td>
    </tr>
    <tfoot>
      <tr>
        <td>
          Totals
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <%= @omb_cx_reporting_collection.volume_total %>
        </td>
        <td>
        </td>
      </tr>
    </tfoot>
  </tbody>
</table>

<p>
  <strong>
    Operational metrics
  </strong>
  <br>
  <%= @omb_cx_reporting_collection.operational_metrics %>
</p>

<%= render('admin/omb_cx_reporting_collections/csv_data', omb_cx_reporting_collection: @omb_cx_reporting_collection) if admin_permissions? %>
