<% content_for :navigation_title do %>
  User Profile
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to My Surveys
  <% end %>
</p>
<% if current_user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul class="usa-list">
    <% current_user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: current_user, url: "profile", local: true) do |f| %>
  <div class="grid-row grid-gap-md">
    <div class="tablet:grid-col-6">
      <div class="field">
        <%= f.label :email, class: "usa-label" %>
        <span class="usa-hint"><%= current_user.email %></span>
      </div>
      <div class="field">
        <%= f.label :time_zone, class: "usa-label" %>
        <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone::MAPPING.keys.sort, selected: current_user.time_zone), { prompt: "Select a time zone" }, { class: "usa-select" } %>
      </div>
      <div class="field">
        <%= label_tag :api_key, "API Key", class: "usa-label" %>
        <%= f.text_field :api_key, class: "usa-input", placeholder: "40 character api.data.gov API Key" %>
        <% if current_user.api_key? %>
          <% if  @api_key_warning %>
            <div class="usa-alert usa-alert--warning">
              <div class="usa-alert__body">
                <p class="usa-alert__text">
                  Your API Key was last updated more than six months ago!  Please remove then re-generate your API Key.
                </p>
              </div>
            </div>
          <% end %>
        <% if current_user.api_key_updated_at? %>
          <span class="usa-hint">last updated at <%= format_time(current_user.api_key_updated_at, current_user.time_zone) %></span>
        <% end %>
          <br>
          <br>
          <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">API Documentation</h3>
              <p class="usa-alert__text">
                See the Touchpoints wiki for
                <a href="https://github.com/GSA/touchpoints/wiki/API" target="_blank" rel="noopener">API documentation</a>.
              </p>
            </div>
          </div>
        <% end %>
        <br>
      </div>
      <div class="field">
        <br>
        <%= f.submit class: "usa-button" %>
        <br><br>
      </div>
    </div>
  </div>
<% end %>
