<%= form_with(model: goal, url: goal.persisted? ? admin_goal_path(goal) : admin_goals_path) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Organization:</strong>
    <br>
    <%= @goal.organization.name %>
  </p>

  <p>
    <% if @goal.four_year_goal %>
      <span class="usa-label">Four Year Strategic Goal</span>
    <% else %>
      <span class="usa-label">Two Year APG</span>
    <% end %>
  </p>

  <div class="field">
    <%= form.label 'Goal Title', class: "usa-label" %>
    <%= form.text_area :name, class: "usa-textarea goal-name" %>
    <span class="usa-hint goal-name" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> goal name saved
    </span>
  </div>

  <p>
    <%= form.label 'Position (sort order)', class: "usa-label" %>
    <%= form.text_field :position, class: "usa-input goal-position" %>
    <span class="usa-hint goal-position" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> position saved
    </span>
  </p>

  <br>

  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-sr-only">2 or 4-year goal?</legend>
    <div class="usa-checkbox">
      <%= form.check_box :four_year_goal, class: "usa-checkbox__input four-year-goal" %>
      <%= form.label :four_year_goal, "4-year strategic goal", class: "usa-checkbox__label" %>
      <small>
        Otherwise, a 2-year APG
      </small>
    </div>
    <span class="usa-hint four-year-goal" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> four year goal saved
    </span>
  </fieldset>

<% end %>

<script>
  $(function() {

    $('.usa-hint').hide();
  
    $('.goal-name').on("blur", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-name').show();
      $('.usa-hint.goal-name').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_name",
        data: {name: $(this).val()}
      });
    });
  
    $('.goal-description').on("blur", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-description').show();
      $('.usa-hint.goal-description').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_description",
        data: {description: $(this).val()}
      });
    });
  
    $('.goal-position').on("blur", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-position').show();
      $('.usa-hint.goal-position').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_position",
        data: {
          position: $(this).val()
        }
      });
    });
  
    $('.goal-tags').on("blur", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-tags').show();
      $('.usa-hint.goal-tags').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_tags",
        data: {tags: $(this).val()}
      });
    });
  
    $('.goal-users').on("blur", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-users').show();
      $('.usa-hint.goal-users').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_users",
        data: { users: $(this).val() }
      });
    });
  
    $('.goal-parent-id').on("change", function(event) {
      event.preventDefault();

      $('.usa-hint.goal-parent-id').show();
      $('.usa-hint.goal-parent-id').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/update_parent_id",
        data: { parent_id: $(this).val() }
      });
    });
  
    $('.four-year-goal').on("change", function(event) {
      event.preventDefault();
      
      $('.usa-hint.four-year-goal').show();
      $('.usa-hint.four-year-goal').fadeOut(2000);

      $.ajax({
        type: "PATCH",
        url: "<%= admin_goal_path(goal) %>/four_year_goal",
        data: { four_year_goal: $(this).val() }
      });
    });

  });
</script>
