<div id="sponsors-div" class="grid-row" data-value="<%= admin_goal_path(@goal) %>">
  <div class="grid-col-12">
    <%= label_tag "Goal sponsors", nil, class: "usa-label" %>

    <div class="font-sans-3xs text-base usa-prose">
      <%= link_to "Invite a user", admin_invite_path, target: "_blank", class: "usa-link usa-link--external" %> to Touchpoints.
    </div>

    <div class="website-manager-list">
      <ul class="usa-list usa-list--unstyled">
        <% @goal.sponsoring_users.order(:email).each do |user| %>
        <li>
          <span class="usa-tag">
            <%= user.email %>
          </span>
          &nbsp;
          <a href="javascript:void(0);" class="remove-sponsor-link remove-tag-link" data-value="<%= user.id %>">
            <span class="fa fa-trash">
              <span class="usa-sr-only">
                Delete
              </span>
            </span>
          </a>
        </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<%= select_tag :sponsor_id,
  options_for_select((User.all.order(:email) - @goal.sponsoring_users).map { |u| [u.email, u.id] }),
  prompt: "Select a User",
  class: "usa-select add-sponsor" %>

<script>
  $(function() {

    $(".add-sponsor").on("change", function(e) {
      event.preventDefault();
      var container = $('#sponsors-div');
      $.ajax({
        url: container.attr("data-value") + "/add_sponsor",
        type: 'post',
        data: "user_id=" + $(this).val()
      });
    });

    $(".remove-sponsor-link").on("click", function(e) {
      event.preventDefault();
      var container = $('#sponsors-div');
      $.ajax({
        url: container.attr("data-value") + "/remove_sponsor",
        type: 'post',
        data: "user_id=" + $(this).attr("data-value")
      });
    });

  })
</script>
