<% content_for :navigation_title do %>
  Viewing Strategic Goal <%= @goal.name %>
  <%= link_to edit_admin_goal_path(@goal), class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    Edit
  <% end %>
<% end %>

<p>
  <%= link_to performance_admin_organization_path(@goal.organization) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Performance Report
  <% end %>
</p>
<p>
  <%= link_to admin_goals_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Goals
  <% end %>
</p>

<%= form_with(model: @goal, url: @goal.persisted? ? admin_goal_path(@goal) : admin_goals_path) do |form| %>
  <p>
    <strong>Organization:</strong>
    <br>
    <%= @goal.organization.name %>
  </p>
  <p>
    <div class="organizations">
      <%= render 'admin/goals/organizations', goal: @goal %>
    </div>
  </p>
  <p>
    <% if @goal.four_year_goal %>
      <span class="usa-label font-sans-lg">Four Year Strategic Goal</span>
    <% else %>
      <span class="usa-labe font-sans-lg">Two Year APG</span>
    <% end %>
  </p>
  <div class="field">
    <%= form.label 'Goal Title', class: "usa-label" %>
    <%= form.text_area :name, class: "usa-textarea goal-name" %>
    <span class="usa-hint goal-name" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> goal name saved
    </span>
  </div>

  <% if @goal.four_year_goal %>
  <% else %>
  <div class="field">
    <%= form.label 'Goal Statement', class: "usa-label" %>
    <%= form.text_area :goal_statement, class: "usa-textarea goal-statement" %>
    <span class="usa-hint goal-statement" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> goal statement saved
    </span>
  </div>

  <div class="field">
    <%= form.label :users, class: "usa-label" %>
    <%= form.number_field :users, class: "usa-input goal-users" %>
    <span class="usa-hint goal-users" aria-hidden="true">
      <i class="fa fa-check-circle" aria-hidden="true"></i> goal users saved
    </span>
  </div>
  <% end %>

<% end %>

<% if @goal.four_year_goal %>
<div class="well">
  <h3>
    Objectives
  </h3>
  <div class="goal-objectives">
    <%= render "admin/goals/goal_objectives", {goal: @goal} %>
  </div>
</div>
<% end %>

<div class="well">
  <h3>
    Goal Targets
  </h3>
  <div class="goal-targets">
    <%= render "admin/goals/goal_targets", {goal: @goal} %>
  </div>
</div>

<%# 4 year goals do not have tags %>
<% if !@goal.four_year_goal %>
<div class="well">
  <div class="tags-div">
    <%= render 'admin/goals/tags', service: @goal %>
  </div>
</div>
<% end %>

<script>
  $('.usa-hint').hide();

  $('.goal-name').on("blur", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-name').show();
    $('.usa-hint.goal-name').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/update_name",
      data: {name: $(this).val()}
    });
  });

  $('.goal-statement').on("blur", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-statement').show();
    $('.usa-hint.goal-statement').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= update_statement_admin_goal_path(@goal) %>",
      data: {
        goal_statement: $(this).val()
      }
    });
  });

  $('.goal-description').on("blur", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-description').show();
    $('.usa-hint.goal-description').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/update_description",
      data: {description: $(this).val()}
    });
  });

  $('.goal-tags').on("blur", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-tags').show();
    $('.usa-hint.goal-tags').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/update_tags",
      data: {tags: $(this).val()}
    });
  });

  $('.goal-users').on("blur", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-users').show();
    $('.usa-hint.goal-users').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/update_users",
      data: {users: $(this).val()}
    });
  });

  $('.goal-parent-id').on("change", function(event) {
    event.preventDefault();
    $('.usa-hint.goal-parent-id').show();
    $('.usa-hint.goal-parent-id').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/update_parent_id",
      data: {parent_id: $(this).val()}
    });
  });

  $('.four-year-goal').on("change", function(event) {
    event.preventDefault();
    $('.usa-hint.four-year-goal').show();
    $('.usa-hint.four-year-goal').fadeOut(2000);
    $.ajax({
      type: "PATCH",
      url: "<%= admin_goal_path(@goal) %>/four_year_goal",
      data: {four_year_goal: $(this).val()}
    });
  });
</script>
