<h2>
  Performance.gov Reporting
</h2>
<p>
  Reports are generated for download in .csv format.
</p>
<% quarterly_submissions = @report[:quarterly_submissions] %>
<% quarters = @report[:quarters] %>
<% quarters.each do |quarter| %>
  <div class="grid-row">
    <div class="grid-col">
      <p>
        <%# Per quarter each federal fiscal calendar year %>
        <% if quarter.month == 10 %>
          Quarter 1: <%= quarter %> to <%= quarter.end_of_quarter %>
        <% elsif quarter.month == 1 %>
          Quarter 2: <%= quarter %> to <%= quarter.end_of_quarter %>
        <% elsif quarter.month == 4 %>
          Quarter 3: <%= quarter %> to <%= quarter.end_of_quarter %>
        <% elsif quarter.month == 7 %>
          Quarter 4: <%= quarter %> to <%= quarter.end_of_quarter %>
        <% end %>
      </p>
      <%= link_to export_submissions_admin_form_url(form, start_date: quarter.to_date, end_date: quarter.end_of_quarter.to_date, format: "json"), class: "usa-button usa-button--outline export-cx-summary-button" do %>
        <i class="fa fa-download"></i>
        Responses
      <% end %>
      <%= link_to export_a11_header_admin_form_url(form, start_date: quarter.to_date, end_date: quarter.end_of_quarter.to_date, format: "csv"), class: "usa-button usa-button--outline" do %>
        <i class="fa fa-download"></i>
        Header Report
      <% end %>
      <%= link_to export_a11_submissions_admin_form_url(form, start_date: quarter.to_date, end_date: quarter.end_of_quarter.to_date, format: "csv"), class: "usa-button usa-button--outline" do %>
        <i class="fa fa-download"></i>
        Responses Summary
      <% end %>
    </div>
  </div>
<% end %>
<script>
  $(function() {
    $('.export-cx-summary-button').click(function(e) {
      e.preventDefault();
      if ($(this).text() == "Exporting...") {
        console.log("Click disabled while exporting");
        return false;
      }
      var uuid = generateUUID();
      $(this).html('Exporting...').addClass('cursor-not-allowed');
      var url = $(this).attr('href') + '&uuid=' + uuid + '&touchpoint_id=<%= form.short_uuid %>';
      subscribeExportChannel(uuid, function() {
        $.get(url);
      });
      return false;
    })
  });
</script>
