<h2>
  <%= page_entries_info submissions, entry_name: 'Responses' %>
  <button id="button-toggle-table-display-options" type="button">
    <i class="fa fa-cog"></i>
  </button>
</h2>
<div id="table-display-options" class="well hide">
  <%= render 'admin/forms/ui_form', form: form %>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
<div class="responses table-scroll">
  <div class="table-wrap">
    <table class="usa-table table-scroll submissions">
      <thead>
        <tr>
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <th><%= question.text %></th>
        <% end %>
        <% if form.kind == "yes_no" %>
          <th>
            Page
          </th>
          <th>
            Referer
          </th>
        <% end %>
          <th>
            Created At
          </th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% submissions.each do |submission| %>
        <tr class="response" title="Response ID <%= submission.id %>" data-id="<%= submission.uuid %>">
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <% if form.ui_truncate_text_responses? %>
            <td>
              <%= simple_format(submission.send(question.answer_field.to_sym).to_s.truncate(160), sanitize: true) %>
            </td>
          <% else %>
            <td>
              <%= simple_format(submission.send(question.answer_field.to_sym), sanitize: true) %>
            </td>
          <% end %>
        <% end %>
        <% if form.kind == "yes_no" %>
          <td>
            <%= submission.page %>
          </td>
          <td>
            <%= submission.referer %>
          </td>
        <% end %>
          <td>
            <%= format_time(submission.created_at, submission.form.time_zone.present? ? submission.form.time_zone : current_user.time_zone) %>
          </td>
          <td>
            <%= submission.aasm_state %>
          </td>
          <td>
            <% if form_permissions?(form: form) %>
              <%= link_to admin_form_submission_path(submission.form, submission), class: "usa-button usa-button--outline" do %>
                View
              <% end %>
            <% end %>
          </td>
          <td class="flagged">
            <% if submission.flagged? %>
              <%= render "admin/submissions/flag", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unflag", { submission: submission } %>
            <% end %>
          </td>
          <td class="archived">
            <% if form_permissions?(form: form) %>
            <% if submission.archived? %>
              <%= render "admin/submissions/archive", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unarchive", { submission: submission } %>
            <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
