<% @tags = form.submission_tags %>

<button
  id="button-toggle-table-display-options"
  type="button"
  class="font-sans-2xs margin-bottom-1 usa-button usa-button--outline">
  <i class="fa fa-cog"></i>
  Toggle display options
</button>
<div
  id="table-display-options"
  class="well hide">
  <div class="text-bold">
    Display options
  </div>
  <%= render 'admin/forms/ui_form', form: form %>
</div>

<%- if @tags.any? %>
<div class="well margin-top-1">
  <div class="field">
    <div>
      <div class="margin-bottom-1">
        Filter by tag
      </div>
      <%- if params[:tag].present? %>
        &middot;
        <a href="javascript:void(0)"
          class="clear-tag-link"
          data-name="<%= tag %>">
          <span class="font-sans-2xs">
            Clear tag filter
          </span>
        </a>
      <% end %>
    </div>
    <div class="tag-list">
      <% @tags.uniq.each do |tag| %>
        <a href="javascript:void(0)"
          class="search-tag-link"
          data-name="<%= tag %>">
          <span class="usa-tag">
            <%= tag %>
          </span>
        </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<h2>
  <%= page_entries_info submissions, entry_name: 'Responses' %>
  <%- if params[:tag] %>
    <%- if params[:tag] && submissions.size == 0 %>
      <% form.remove_submission_tag!(params[:tag])%>
    <% end %>
    <span class="font-sans-3xs">tagged with <span class="code"><%= params[:tag] %></span></span>
  <% end %>
</h2>
<p>
  <%= paginate submissions, remote: true %>
</p>
<div class="responses table-scroll">
  <div class="table-wrap">
    <table class="usa-table submissions">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          </td>
        <% form.ordered_questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <td class="text-normal"><%= question.answer_field %></td>
        <% end %>
        <%- if form.kind == "yes_no" %>
          <td>
          </td>
          <td>
          </td>
        <% end %>
        </tr>
        <tr>
          <th>View</th>
          <th>Flag</th>
          <th>Archive</th>
          <th data-sortable scope="col">Status</th>
          <th data-sortable scope="col">
            Created At
          </th>
        <% form.ordered_questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <th data-sortable scope="col"><%= question.text %></th>
        <% end %>
        <%- if form.kind == "yes_no" %>
          <th data-sortable scope="col">
            Page
          </th>
          <th data-sortable scope="col">
            Referer
          </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% submissions.each do |submission| %>
        <%- if @show_archived %>
        <% elsif submission.archived? %>
          <% next %>
        <% end %>
        <tr class="response" title="Response ID <%= submission.id %>" data-id="<%= submission.uuid %>">
          <td>
            <%= link_to admin_form_submission_path(submission.form, submission), class: "usa-button usa-button--outline" do %>
              View
            <% end %>
          </td>
          <td class="flagged">
            <%- if submission.flagged? %>
              <%= render "admin/submissions/flag", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unflag", { submission: submission } %>
            <% end %>
          </td>
          <td class="archived">
            <%- if submission.archived? %>
              <%= render "admin/submissions/archive", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unarchive", { submission: submission } %>
            <% end %>
          </td>
          <td>
            <%= submission.aasm_state %>
          </td>
          <td>
            <%= format_time(submission.created_at, submission.form.time_zone.present? ? submission.form.time_zone : current_user.time_zone) %>
          </td>
        <% form.ordered_questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <%- if form.ui_truncate_text_responses? %>
            <td class="no-wrap">
              <%= h(submission.send(question.answer_field.to_sym).to_s).truncate(160) %>
            </td>
          <% else %>
            <td>
              <%= h(submission.send(question.answer_field.to_sym).to_s) %>
            </td>
          <% end %>
        <% end %>
        <%- if form.kind == "yes_no" %>
          <td>
            <%= submission.page %>
          </td>
          <td>
            <%= submission.referer %>
          </td>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
<script>
  $(function() {
    $(".search-tag-link").on("click", function(e) {
      e.preventDefault();
      <%- if params[:archived] %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&archived=1&tag=' + $(this).attr("data-name");
      <% else %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&tag=' + $(this).attr("data-name");
      <% end %>
      $.ajax({
        url: url,
        type: 'get'
      });
    });

    $(".clear-tag-link").on("click", function(e) {
      e.preventDefault();
      <%- if params[:archived] %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&archived=1';
      <% else %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>';
      <% end %>
      $.ajax({
        url: url,
        type: 'get'
      });
    });
  })
</script>
