<% @tags = @form.submissions.collect(&:tags).flatten.sort_by { |i| i.name } %>

<button id="button-toggle-table-display-options" type="button" class="font-sans-2xs">
  <i class="fa fa-cog"></i>
  Toggle display options
</button>
<div id="table-display-options" class="well hide">
  <%= render 'admin/forms/ui_form', form: form %>
</div>

<% if @tags.first %>
<div class="well">
  <div class="field">
    <p>
      Filter by tag
    </p>
    <div class="tag-list">
      <% @tags.each do | tag | %>
        <a href="#" class="search-tag-link" data-name="<%= tag.name %>">
          <span class="usa-tag">
            <%= tag.name %>
          </span>
        </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<h2>
  <%= page_entries_info submissions, entry_name: 'Responses' %>
  <% if params[:tag] %>
    <span class="font-sans-3xs">tagged with <span class="code"><%= params[:tag] %></span></span>
  <% end %>
</h2>
<p>
  <%= paginate submissions, remote: true %>
</p>
<div class="responses table-scroll">
  <div class="table-wrap">
    <table class="usa-table submissions">
      <thead>
        <tr>
          <th>View</th>
          <th>Flag</th>
          <th>Archive</th>
          <th data-sortable scope="col">Status</th>
          <th data-sortable scope="col">
            Created At
          </th>
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <th data-sortable scope="col"><%= question.text %></th>
        <% end %>
        <% if form.kind == "yes_no" %>
          <th data-sortable scope="col">
            Page
          </th>
          <th data-sortable scope="col">
            Referer
          </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% submissions.each do |submission| %>
        <% if @show_archived %>
        <% elsif submission.archived? %>
          <% next %>
        <% end %>
        <tr class="response" title="Response ID <%= submission.id %>" data-id="<%= submission.uuid %>">
          <td>
            <%= link_to admin_form_submission_path(submission.form, submission), class: "usa-button usa-button--outline" do %>
              View
            <% end %>
          </td>
          <td class="flagged">
            <% if submission.flagged? %>
              <%= render "admin/submissions/flag", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unflag", { submission: submission } %>
            <% end %>
          </td>
          <td class="archived">
            <% if submission.archived? %>
              <%= render "admin/submissions/archive", { submission: submission } %>
            <% else %>
              <%= render "admin/submissions/unarchive", { submission: submission } %>
            <% end %>
          </td>
          <td>
            <%= submission.aasm_state %>
          </td>
          <td>
            <%= format_time(submission.created_at, submission.form.time_zone.present? ? submission.form.time_zone : current_user.time_zone) %>
          </td>
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <% if form.ui_truncate_text_responses? %>
            <td class="no-wrap">
              <%= simple_format(submission.send(question.answer_field.to_sym).to_s.truncate(160), sanitize: true) %>
            </td>
          <% else %>
            <td>
              <%= simple_format(submission.send(question.answer_field.to_sym), sanitize: true) %>
            </td>
          <% end %>
        <% end %>
        <% if form.kind == "yes_no" %>
          <td>
            <%= submission.page %>
          </td>
          <td>
            <%= submission.referer %>
          </td>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
<script>
  $(".search-tag-link").click(function() {
    event.preventDefault();
    <% if params[:archived] %>
      var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&archived=1&tag=' + $(this).attr("data-name");
    <% else %>
      var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&tag=' + $(this).attr("data-name");
    <% end %>
    $.ajax({
      url: url,
      type: 'get'
    });
  });
</script>
