<style>
tr .actions {
  position: absolute;
  right: 8px;
  display: none;
  background: white;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
}

tr:hover .actions {
  display: block;
  display: flex;
  gap: 24px;
}
</style>
<% @tags = form.submission_tags %>
<% unless params[:archived] %>
<%= link_to "Include Archived Submissions?", "?archived=1" %>
<% end %>
<%- if @tags.any? %>
<div class="well margin-top-1">
  <div class="field">
    <div>
      <div class="margin-bottom-1">
        Filter by tag
      </div>
      <%- if params[:tag].present? %>
        &middot;
        <a href="javascript:void(0)"
          class="clear-tag-link"
          data-name="<%= tag %>">
          <span class="font-sans-2xs">
            Clear tag filter
          </span>
        </a>
      <% end %>
    </div>
    <div class="tag-list">
      <% @tags.uniq.each do |tag| %>
        <a href="javascript:void(0)"
          class="search-tag-link"
          data-name="<%= tag %>">
          <span class="usa-tag">
            <%= tag %>
          </span>
        </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<h2>
  <%= page_entries_info submissions, entry_name: 'Responses' %>
  <%- if params[:tag] %>
    <%- if params[:tag] && submissions.size == 0 %>
      <% form.remove_submission_tag!(params[:tag])%>
    <% end %>
    <span class="font-sans-3xs">tagged with <span class="code"><%= params[:tag] %></span></span>
  <% end %>
</h2>
<p>
  <%= paginate submissions, remote: true %>
</p>
<div class="responses table-scroll">
  <%= form_with url: bulk_update_admin_form_submissions_path(form), method: :post do |f| %>
  <div
    id="batch-actions">
    <label for="bulk_action">Bulk Action:</label>
    <span id="selected-count" class="margin-right-1"></span>
    <button
      class="usa-button"
      name="bulk_action"
      type="submit"
      value="flag">
      <i class="far fa-flag"></i>
      Flag
    </button>
    <button
      class="usa-button usa-button--secondary"
      name="bulk_action"
      type="submit"
      value="spam">
      <i class="fa fa-exclamation-triangle"></i>
      Mark as spam
    </button>
    <button
      class="usa-button usa-button--accent-cool"
      name="bulk_action"
      type="submit"
      value="archive">
      <i class="fa fa-inbox"></i>
      Archive
    </button>
  </div>
  <div class="table-wrap">
    <table class="usa-table submissions">
      <thead>
        <tr>
          <th style="width: 46px;">
            <%= check_box_tag "submission_ids[]", id: "toggle-all-checkbox" %>
          </th>
        <% form.rendered_questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <th data-sortable scope="col"><%= question.text %></th>
        <% end %>
          <th data-sortable scope="col" style="width: 120px;">Status</th>
          <th data-sortable scope="col" style="width: 350px;">
            Created At
          </th>
        </tr>
      </thead>
      <tbody>
        <% submissions.each do |submission| %>
        <%- if @show_archived %>
        <% elsif submission.archived? %>
          <% next %>
        <% end %>
        <tr
          class="response"
          title="Response ID <%= submission.id %>"
          data-id="<%= submission.uuid %>"
          data-url="<%= admin_form_submission_path(submission.form, submission) %>">
          <td><%= check_box_tag "submission_ids[]", submission.id, class: "batch-checkbox" %></td>
        <% form.rendered_questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <td>
            <%= h(submission.send(question.answer_field.to_sym).to_s) %>
          </td>
        <% end %>
          <td>
            <%= submission.aasm_state %>
          </td>
          <td style="position: relative;">
            <%= format_time(submission.created_at, submission.form.time_zone.present? ? submission.form.time_zone : current_user.time_zone) %>
            <div class="actions">
              <span class="flagged">
              <%- if submission.flagged? %>
                <%= render "admin/submissions/flag", { submission: submission } %>
              <% else %>
                <%= render "admin/submissions/unflag", { submission: submission } %>
              <% end %>
              </span>
              <span class="archived">
                <%- if submission.archived? %>
                  <%= render "admin/submissions/archive", { submission: submission } %>
                <% else %>
                  <%= render "admin/submissions/unarchive", { submission: submission } %>
                <% end %>
              </span>
              <span class="marked">
                <%- if submission.spam? %>
                  <%= render "admin/submissions/mark", { submission: submission } %>
                <% else %>
                  <%= render "admin/submissions/unmark", { submission: submission } %>
                <% end %>
              </span>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
<script>
  $(function() {
    $(".search-tag-link").on("click", function(e) {
      e.preventDefault();
      <%- if params[:archived] %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&archived=1&tag=' + $(this).attr("data-name");
      <% else %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&tag=' + $(this).attr("data-name");
      <% end %>
      $.ajax({
        url: url,
        type: 'get'
      });
    });

    $(".clear-tag-link").on("click", function(e) {
      e.preventDefault();
      <%- if params[:archived] %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>&archived=1';
      <% else %>
        var url = '/admin/submissions/search?form_id=<%= form.short_uuid %>';
      <% end %>
      $.ajax({
        url: url,
        type: 'get'
      });
    });

    const headerCheckbox = document.getElementById("toggle-all-checkbox");
    const submissionCheckboxes = document.querySelectorAll(".batch-checkbox");
    const batchActions = document.getElementById("batch-actions");
    const selectedCountSpan = document.getElementById("selected-count");

    function updateBatchActionsVisibility() {
      const selectedCount = Array.from(submissionCheckboxes).filter((checkbox) => checkbox.checked).length;

      if (selectedCount > 0) {
        batchActions.style.display = "block";
        selectedCountSpan.textContent = `${selectedCount} selected`;
      } else {
        batchActions.style.display = "none";
        selectedCountSpan.textContent = "";
      }
    }

    headerCheckbox?.addEventListener("click", () => {
      submissionCheckboxes.forEach((checkbox) => {
        checkbox.checked = headerCheckbox.checked;
        updateBatchActionsVisibility();
      });
    });

    submissionCheckboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", updateBatchActionsVisibility);
    });

    updateBatchActionsVisibility();
  })

  document.querySelectorAll('tbody tr').forEach(row => {
    row.addEventListener('click', function(event) {
      // Prevent navigation if clicking inside a button or checkbox
      if (!event.target.closest('a, button, input')) {
        window.location.href = this.dataset.url;
      }
    });
  });
</script>
