<h2>
  <%= page_entries_info submissions, entry_name: 'Responses' %>
</h2>
<p>
  <%= paginate submissions, remote: true %>
</p>
<div class="responses table-scroll">
  <div class="table-wrap">
    <table class="usa-table table-scroll submissions">
      <thead>
        <tr>
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <th><%= question.text %></th>
        <% end %>
        <% if form.kind == "yes_no" %>
          <th>
            Page
          </th>
          <th>
            Referer
          </th>
        <% end %>
          <th>
            Created At
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% submissions.each do |submission| %>
        <tr class="response" title="Response ID <%= submission.id %>" data-id="<%= submission.uuid %>">
        <% form.questions.each do |question| %>
          <% next if question.question_type == "text_display" %>
          <td>
            <%= sanitize(submission.send(question.answer_field.to_sym)).to_s.truncate(160) %>
          </td>
        <% end %>
        <% if form.kind == "yes_no" %>
          <td>
            <%= submission.page %>
          </td>
          <td>
            <%= submission.referer %>
          </td>
        <% end %>
          <td><%= format_time(submission.created_at, submission.form.time_zone.present? ? submission.form.time_zone : current_user.time_zone) %></td>
          <td id="td-flag-<%= submission.id %>">
            <% if submission.flagged? %>
              <%= render :partial => "admin/submissions/flag", :locals => { submission: submission } %>
            <% else %>
              <%= render :partial => "admin/submissions/unflag", :locals => { submission: submission } %>
            <% end %>
          </td>
          <td>
            <% if form_permissions?(form: form) %>
              <%= link_to admin_form_submission_path(submission.form, submission), class: "usa-button usa-button--secondary", method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
              Delete
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p>
  <%= paginate submissions, remote: true %>
</p>
