<h1>
  <%= @submissions.size %> Form Responses
</h1>
<h5>
  for
  <%= @touchpoint.name %>
</h5>

<% if @submissions.present? %>
<div class="table-scroll">
  <div class="table-wrap">
    <table class="usa-table table-scroll submissions">
      <thead>
        <tr>
        <% @touchpoint.form.questions.each do |question| %>
          <th><%= question.text %></th>
        <% end %>
          <th>
            Created At
          </th>
          <th style="border-right: none;"></th>
        <% if touchpoint_permissions?(touchpoint: @touchpoint) %>
          <th style="border-left: none;"></th>
        <% end %>
        </tr>
      </thead>

      <tbody>
        <% @submissions.each do |submission| %>
        <tr title="Response ID <%= submission.id %>">
        <% @touchpoint.form.questions.each do |question| %>
          <td>
            <%= sanitize(submission.send(question.answer_field.to_sym)).to_s.truncate(160) %>
          </td>
        <% end %>
          <td><%= submission.created_at %></td>
          <td style="border-right: none;">
            <% if submission.flagged? %>
              <%= link_to unflag_admin_touchpoint_submission_path(submission.touchpoint, submission), class: "usa-button usa-button--outline", method: :post, data: { confirm: 'Are you sure?' } do %>
              <i class="far fa-times-circle"></i>
              Flagged
              <% end %>
            <% else %>
              <%= link_to flag_admin_touchpoint_submission_path(submission.touchpoint, submission), class: "usa-button", method: :post, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-flag"></i>
                Flag
              <% end %>
            <% end %>
          </td>
          <% if touchpoint_permissions?(touchpoint: @touchpoint) %>
          <td style="border-left: none;">
            <%= link_to admin_touchpoint_submission_path(submission.touchpoint, submission), class: "usa-button usa-button--secondary", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
              Delete
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <br>
  <%= link_to "Export Responses to CSV", export_submissions_admin_touchpoint_url(@touchpoint, format: "csv"), class: "usa-button export-btn", target: "_blank", rel: "noopener" %>

  <% if @touchpoint.form && @touchpoint.form.kind == "a11" %>
  <br>
  <br>
  <div class="">
    <%= link_to "Export A-11 Header Report", export_a11_header_admin_touchpoint_url(@touchpoint, format: "csv"), class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" %>
    <%= link_to "Export A-11 Responses Report", export_a11_submissions_admin_touchpoint_url(@touchpoint, format: "csv"), class: "usa-button usa-button--outline", target: "_blank", rel: "noopener" %>
  </div>
  <% end %>

<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Export is not available.
        This Touchpoint has yet to receive any Responses.
      </p>
    </div>
  </div>
<% end %>

<script>
  function truncate(string, length) {
    // Only if the string needs truncating
    if (string.length > length) {
      var truncatedText = $.trim(string).substring(0, length)
      .split(" ").slice(0, -1).join(" ") + "...";
      return truncatedText;
    } else {
      return string;
    }
  }
  // When mousing over a cell with long text, show it all
  // When mousing out, display 50 characters max
  $(function() {
    $(".truncate").on("mouseover", function() {
      $(this).text($(this).attr("fulltext"));
    });

    $(".truncate").on("mouseout", function() {
      $(this).text(truncate($(this).attr("fulltext"), 50));
    });
  });
</script>
<script language='javascript'>
  $(function() {
    $('.export-btn').click(function(e) {
      e.preventDefault();
      console.log($(this).text());
      if ($(this).text() == "Exporting...") {
        console.log("Click disabled while exporting");
        return false;
      }
      var uuid = generateUUID();
      $(this).html('Exporting...').addClass('cursor-not-allowed');
      var url = $(this).attr('href') + '?uuid=' + uuid + '&touchpoint_id=<%= @touchpoint.short_uuid %>';
      subscribeExportChannel(uuid, function() {
        $.get(url);
      });
      return false;
    })
  });
</script>
