<%- if submissions.size > 0 %>
  <div id="submissions_table">
    <%= render 'admin/submissions/submissions', submissions: submissions, form: form %>
  </div>
  <br>
  <%= link_to export_admin_form_url(form, start_date: "2019-10-01"), class: "usa-button" do %>
    <i class="fa fa-download"></i>
    Export All Responses to CSV
  <% end %>
  <br>
  <%- if form.kind == "a11_v2" %>
  <p>
  <%= link_to "Export A11-v2 Responses to CSV", export_a11_v2_submissions_admin_form_url(form, start_date: "2019-10-01"), class: "usa-button" %>
  </p>
  <% end -%>
  <p>
    <%= link_to "Export FY2020", export_admin_form_url(form, start_date: "2019-10-01", end_date: "2020-09-30"), class: "usa-button usa-button--outline" %>
    <%= link_to "Export FY2021", export_admin_form_url(form, start_date: "2020-10-01", end_date: "2021-09-30"), class: "usa-button usa-button--outline" %>
    <%= link_to "Export FY2022", export_admin_form_url(form, start_date: "2021-10-01", end_date: "2022-09-30"), class: "usa-button usa-button--outline" %>
    <%= link_to "Export FY2023", export_admin_form_url(form, start_date: "2022-10-01", end_date: "2023-09-30"), class: "usa-button usa-button--outline" %>
    <%= link_to "Export FY2024", export_admin_form_url(form, start_date: "2023-10-01", end_date: "2024-09-30"), class: "usa-button usa-button--outline" %>
  </p>
<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Export is not available.
        This Form has yet to receive any Responses.
      </p>
    </div>
  </div>
<% end %>
<script>
  function truncate(string, length) {
    // Only if the string needs truncating
    if (string.length > length) {
      var truncatedText = $.trim(string).substring(0, length)
      .split(" ").slice(0, -1).join(" ") + "...";
      return truncatedText;
    } else {
      return string;
    }
  }
  // When mousing over a cell with long text, show it all
  // When mousing out, display 50 characters max
  $(function() {
    $(".truncate").on("mouseover", function() {
      $(this).text($(this).attr("fulltext"));
    });

    $(".truncate").on("mouseout", function() {
      $(this).text(truncate($(this).attr("fulltext"), 50));
    });
  });
</script>
