<h1>
  Submissions
  for
  <%= @touchpoint.name %>
</h1>

<table>
  <thead>
    <tr>
      <% if @touchpoint.form.kind == "recruiter" %>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <% end %>
      <% if @touchpoint.form.kind == "open-ended" %>
      <th>Body</th>
      <% end %>
      <% if @touchpoint.form.kind == "a11" %>
      <th>Overall satisfaction</th>
      <th>Service confidence</th>
      <th>Service effectiveness</th>
      <th>Process ease</th>
      <th>Process efficiency</th>
      <th>Process transparency</th>
      <th>People employees</th>
      <% end %>
      <th style="border: none; background: none;"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <% if @touchpoint.form.kind == "recruiter" %>
        <td><%= submission.first_name %></td>
        <td><%= submission.last_name %></td>
        <td><%= submission.phone_number %></td>
        <td><%= submission.email %></td>
        <% end %>
        <% if @touchpoint.form.kind == "open-ended" %>
        <td><%= submission.body %></td>
        <% end %>
        <% if @touchpoint.form.kind == "a11" %>
        <td><%= submission.overall_satisfaction %></td>
        <td><%= submission.service_confidence %></td>
        <td><%= submission.service_effectiveness %></td>
        <td><%= submission.process_ease %></td>
        <td><%= submission.process_efficiency %></td>
        <td><%= submission.process_transparency %></td>
        <td><%= submission.people_employees %></td>
        <% end %>
        <td style="border: none;"><%= link_to 'View', submission, class: "usa-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
