<%- if submissions.size > 0 %>
  <div id="submissions_table">
    <%= render 'admin/submissions/submissions', submissions: submissions, form: form %>
  </div>

  <div class="font-sans-lg margin-top-3 padding-top-2 border-top border-base-lighter margin-bottom-3">
    Export responses
  </div>


  <form
    class="usa-form"
    id="export-buttons"
  >
    <div class="usa-form-group">
      <label class="usa-label"
        id="start-date-label"
        for="start-date"
      >Start Date</label>
      <div class="usa-hint" id="start-date-hint">mm/dd/yyyy</div>
      <div class="usa-date-picker2"
        data-default-value="<%= Date.today.to_s %>">
        <input
          class="usa-input"
          id="start-date"
          name="start_date"
          aria-labelledby="start-date-label"
          aria-describedby="start-date-hint"
          type="date"
          value="<%= FiscalYear.first_day_of_fiscal_quarter(Date.today) %>"
        />
      </div>
    </div>

    <div
      class="usa-form-group">
      <label class="usa-label"
        id="end-date-label"
        for="end-date">End Date</label>
      <div class="usa-hint" id="end-date-hint">mm/dd/yyyy</div>
      <div class="usa-date-picker2"
        data-default-value="<%= Date.today.to_s %>">
        <input
          class="usa-input"
          id="end-date"
          name="end_date"
          aria-labelledby="end-date-label"
          aria-describedby="end-date-hint"
          type="date"
          value="<%= Date.today %>"
        />
      </div>
    </div>

    <div class="usa-button-group">
      <button type="submit"
        class="usa-button"
        name="download_type"
        formaction="<%= export_admin_form_path(@form) %>"
        value="standard_form_data"
        disabled="true"
      >
        Download
      </button>
    </div>
    <%- if form.kind == "a11_v2" %>
    <div>
      <button type="submit"
        class="usa-button usa-button--outline"
        name="download_type"
        formaction="<%= export_a11_v2_submissions_admin_form_path(@form) %>"
        value="a11_data"
        disabled="true"
      >
        Download A11-v2 Responses
      </button>
      <div class="margin-top-1 text-base font-sans-2xs">for A-11 reporting</div>
    </div>
    <div>
      <button type="submit"
        class="usa-button usa-button--secondary"
        name="download_type"
        formaction="<%= export_form_and_a11_v2_submissions_admin_form_path(@form) %>"
        value="combined_a11_and_form_data"
        disabled="true"
      >
        Download A11-v2 + Form Responses
      </button>
      <div class="margin-top-1 text-base font-sans-2xs">to see form and A-11 responses together</div>
    </div>
    <% end %>
  </form>
<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Export is not available.
        This Form has yet to receive any Responses.
      </p>
    </div>
  </div>
<% end %>
<script>
  function truncate(string, length) {
    // Only if the string needs truncating
    if (string.length > length) {
      var truncatedText = $.trim(string).substring(0, length)
      .split(" ").slice(0, -1).join(" ") + "...";
      return truncatedText;
    } else {
      return string;
    }
  }

  // When mousing over a cell with long text, show it all
  // When mousing out, display 50 characters max
  $(function() {
    $(".truncate").on("mouseover", function() {
      $(this).text($(this).attr("fulltext"));
    });

    $(".truncate").on("mouseout", function() {
      $(this).text(truncate($(this).attr("fulltext"), 50));
    });

    const startDateInput = document.getElementById('start-date');
    const endDateInput = document.getElementById('end-date');
    const buttons = document.querySelectorAll('form#export-buttons button');

    function toggleButtons() {
      const startDateValue = new Date(startDateInput.value);
      const endDateValue = new Date(endDateInput.value);

      let isValid = true;

      if (!startDateInput.value || !endDateInput.value) {
        isValid = false; // Both dates must be filled
      } else if (endDateValue <= startDateValue) {
        isValid = false; // End date must be greater than start date
      }

      buttons.forEach((button) => {
        button.disabled = !isValid;
      });
    }

    if (startDateInput && endDateInput) {
      // Add event listeners to both date inputs
      startDateInput.addEventListener('input', toggleButtons);
      endDateInput.addEventListener('input', toggleButtons);
      toggleButtons()
    }

  });
</script>
