<h1>
  Submissions
</h1>
<h5>
  for
  <%= @touchpoint.name %>
</h5>

<% if @submissions.present? %>
  <table>
    <thead>
      <tr>
        <% if @touchpoint.form.kind == "recruiter" %>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <% end %>
        <% if @touchpoint.form.kind == "open-ended" %>
        <th>Body</th>
        <% end %>
        <% if @touchpoint.form.kind == "a11" %>
        <th>Overall satisfaction</th>
        <th>Service confidence</th>
        <th>Service effectiveness</th>
        <th>Process ease</th>
        <th>Process efficiency</th>
        <th>Process transparency</th>
        <th>People employees</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <% if @touchpoint.form.kind == "recruiter" %>
          <td><%= submission.first_name %></td>
          <td><%= submission.last_name %></td>
          <td><%= submission.phone_number %></td>
          <td><%= submission.email %></td>
          <% end %>
          <% if @touchpoint.form.kind == "open-ended" %>
          <td><%= submission.body %></td>
          <% end %>
          <% if @touchpoint.form.kind == "a11" %>
          <td><%= submission.overall_satisfaction %></td>
          <td><%= submission.service_confidence %></td>
          <td><%= submission.service_effectiveness %></td>
          <td><%= submission.process_ease %></td>
          <td><%= submission.process_efficiency %></td>
          <td><%= submission.process_transparency %></td>
          <td><%= submission.people_employees %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Export Submissions to Google Sheet", export_submissions_admin_touchpoint_url(@touchpoint), class: "usa-button", target: "_blank" %>
<% else %>
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        Export is not available.
        This Touchpoint has yet to receive any Submissions.
      </p>
    </div>
  </div>
<% end %>
