<h1>
  Submissions
</h1>
<h5>
  for
  <%= @touchpoint.name %>
</h5>

<% if @submissions.present? %>
  <table>
    <thead>
      <tr>
        <% if @touchpoint.form.kind == "recruiter" %>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <% end %>
        <% if @touchpoint.form.kind == "open-ended" %>
        <th>Body</th>
        <% end %>
        <% if @touchpoint.form.kind == "open-ended-with-contact-info" %>
        <th>Body</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <% end %>
        <% if @touchpoint.form.kind == "a11" %>
        <th>Overall satisfaction</th>
        <th>Service confidence</th>
        <th>Service effectiveness</th>
        <th>Process ease</th>
        <th>Process efficiency</th>
        <th>Process transparency</th>
        <th>People employees</th>
        <th>Custom Question 1</th>
        <th>Custom Question 2</th>
        <th>Custom Question 3</th>
        <th>Custom Question 4</th>
        <th>Custom Question 5</th>
        <% end %>
        <th>Location Code</th>
        <th>IP Address</th>
        <th>User Agent</th>
        <th>Referrer</th>
        <th>Pathname</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
        <tr title="Submission ID <%= submission.id %>">
          <% if @touchpoint.form.kind == "recruiter" %>
          <td><%= submission.answer_01 %></td>
          <td><%= submission.answer_02 %></td>
          <td><%= submission.answer_03 %></td>
          <td><%= submission.answer_04 %></td>
          <% end %>
          <% if @touchpoint.form.kind == "open-ended" %>
          <td><%= submission.answer_01 %></td>
          <% end %>
          <% if @touchpoint.form.kind == "open-ended-with-contact-info" %>
          <td><%= submission.answer_01 %></td>
          <td><%= submission.answer_02 %></td>
          <td><%= submission.answer_03 %></td>
          <td><%= submission.answer_04 %></td>
          <% end %>
          <% if @touchpoint.form.kind == "a11" %>
          <td><%= submission.answer_01 %></td>
          <td><%= submission.answer_02 %></td>
          <td><%= submission.answer_03 %></td>
          <td><%= submission.answer_04 %></td>
          <td><%= submission.answer_05 %></td>
          <td><%= submission.answer_06 %></td>
          <td><%= submission.answer_07 %></td>
          <td><%= submission.answer_08 %></td>
          <td><%= submission.answer_09 %></td>
          <td><%= submission.answer_10 %></td>
          <td><%= submission.answer_11 %></td>
          <td><%= submission.answer_12 %></td>
          <% end %>
          <td><%= submission.location_code %></td>
          <td><%= submission.ip_address %></td>
          <td><%= submission.user_agent %></td>
          <td><%= submission.referer %></td>
          <td><%= submission.page %></td>
          <td><%= submission.created_at %></td>
          <td><%= link_to 'Destroy', admin_touchpoint_submission_path(submission.touchpoint, submission), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to "Export Submissions to CSV", export_submissions_admin_touchpoint_url(@touchpoint, format: "csv"), class: "usa-button", target: "_blank" %>
<% else %>
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        Export is not available.
        This Touchpoint has yet to receive any Submissions.
      </p>
    </div>
  </div>
<% end %>
