<% content_for :navigation_title do %>
  Viewing a response
<% end %>
<p>
  <%= link_to responses_admin_form_path(@form) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Responses
  <% end %>
</p>
<br>
<div class="text-uppercase font-body-3xs">
  In response to Touchpoint form
</div>
<p>
  <label class="usa-label">
    Organization
  </label>
  <%= link_to(@submission.form.organization.name, admin_organization_path(@submission.form.organization)) %>
</p>
<p>
  <label class="usa-label">
    Form
  </label>
  <%= link_to(@submission.form.name, touchpoint_path(@submission.form)) %>
</p>
<p>
  <label class="usa-label">
    Response count
  </label>
  <%= @submission.form.response_count %>
</p>

<div class="well">
  <div class="text-uppercase font-body-3xs">
    Response metadata
  </div>

  <p>
    <label class="usa-label">
      Unique Response ID
    </label>
    <%= @submission.uuid %>
  </p>
  <p>
    <label class="usa-label">
      Received at
    </label>
    <%= @submission.created_at %> -
    <%= time_ago_in_words(@submission.created_at) %> ago
  </p>
  <p>
    <label class="usa-label">
      Location code
    </label>
    <%= @submission.location_code? ? @submission.location_code : "none" %>
  </p>
  <p>
    <label class="usa-label">
      User agent
    </label>
    <%= @submission.user_agent %>
  </p>
  <p>
    <label class="usa-label">
      Page submitted from
    </label>
    <%= @submission.page %>
  </p>
  <p>
    <label class="usa-label">
      Referer
    </label>
    <%= @submission.referer %>
  </p>
  <p>
    <label class="usa-label">
      Language
    </label>
    <%= @submission.language %>
  </p>
  <p>
    <label class="usa-label">
      Flagged
    </label>
    <%= @submission.flagged %>
  </p>
  <p>
    <label class="usa-label">
      Archived
    </label>
    <%= @submission.archived? %>
  </p>
</div>

<br>
<div class="text-uppercase font-body-3xs">
  Question responses
</div>

<% @form.questions.each do |question| %>
  <% next if question.question_type == "text_display" %>
  <% if @form.ui_truncate_text_responses? %>
    <strong class="usa-label">
      <%= question.text %>
    </strong>
    <p>
      <%= sanitize(@submission.send(question.answer_field.to_sym)) %>
    </p>
  <% end %>
<% end %>

<br>
<br>

<div class="well">
  <div class="text-uppercase font-body-3xs">
    Processing each response
  </div>
  <%= render 'admin/submissions/status_form', { form: @form, submission: @submission } %>
</div>
