<% content_for :navigation_title do %>
  Viewing a response
<% end %>
<p>
  <%= link_to responses_admin_form_path(@form) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Responses
  <% end %>
</p>
<%- if @submission.flagged? %>
<div class="usa-alert usa-alert--error margin-bottom-1">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This response is flagged.
    </p>
  </div>
</div>
<% end %>
<%- if @submission.archived? %>
<div class="usa-alert usa-alert--warning margin-bottom-1">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This response is archived.
    </p>
  </div>
</div>
<% end %>
<div class="grid-row grid-gap-md">
  <div class="grid-col-8">
    <div class="well">
      <div class="text-uppercase font-body-3xs">
        Form information
      </div>
      <div class="grid-row grid-gap-md">
        <div class="grid-col-4">
          <label class="usa-label">
            Organization
          </label>
          <%= render "admin/organizations/badge", organization: @submission.form.organization %>
        </div>
        <div class="grid-col-4">
          <label class="usa-label">
            Name
          </label>
          <%= link_to(@submission.form.name, admin_form_path(@submission.form)) %>
        </div>
        <div class="grid-col-4">
          <label class="usa-label">
            Display title
          </label>
          <%= link_to(@submission.form.title, questions_admin_form_path(@submission.form)) %>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="responses">
      <div class="text-uppercase font-body-3xs">
        Response fields
      </div>

      <table class="usa-table width-full">
        <thead>
          <tr>
            <th>
              Answer field
            </th>
            <th>
              Question text
            </th>
            <th>
              Answer value
            </th>
          </tr>
        </thead>
      <% @form.ordered_questions.each do |question| %>
      <% next if question.question_type == "text_display" %>
      <tr>
        <td>
          <%= question.answer_field %>
        </td>
        <td>
          <%= question.text %>
        </td>
        <td>
          <%= h @submission.send(question.answer_field.to_sym) %>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
    <div class="margin-top-4">
      <div class="text-uppercase font-body-3xs">
        Metadata
      </div>

      <table class="usa-table usa-table--striped width-full">
        <thead>
          <tr>
            <th>
              Attribute
            </th>
            <th>
              Value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Unique Response ID
            </td>
            <td>
              <%= @submission.uuid %>
            </td>
          </tr>
          <tr>
            <td>
              Received at
            </td>
            <td>
              <%= format_time(@submission.created_at, current_user.time_zone) %> -
              <%= time_ago_in_words(@submission.created_at) %> ago
            </td>
          </tr>
          <tr>
            <td>
              Location code
            </td>
            <td>
              <%= sanitize(@submission.location_code) %>
            </td>
          </tr>
          <tr>
            <td>
              User agent
            </td>
            <td>
              <%= sanitize(@submission.user_agent) %>
            </td>
          </tr>
          <tr>
            <td>
              Submitted from hostname
            </td>
            <td>
              <%= sanitize(@submission.hostname) %>
            </td>
          </tr>
          <tr>
            <td>
              Submitted from page
            </td>
            <td>
              <%= sanitize(@submission.page) %>
            </td>
          </tr>
          <tr>
            <td>
              Query string
            </td>
            <td>
              <%= sanitize(@submission.query_string) %>
            </td>
          </tr>
          <tr>
            <td>
              Referer
            </td>
            <td>
              <%= sanitize(@submission.referer) %>
            </td>
          </tr>
          <tr>
            <td>
              Language
            </td>
            <td>
              <%= @submission.language %>
            </td>
          </tr>
          <tr>
            <td>
              Flagged
            </td>
            <td>
              <%= @submission.flagged %>
            </td>
          </tr>
          <tr>
            <td>
              Archived
            </td>
            <td>
              <%= @submission.archived? %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-col-4">
    <div class="well usa-section usa-section--dark">
      <%= render 'admin/submissions/status_form', { form: @form, submission: @submission } %>
    </div>
    <div class="tags-div well">
      <%= render 'admin/submissions/tags', submission: @submission %>
    </div>
    <%= render 'components/event_log', events: @submission.events %>
  </div>
</div>

<%- if form_permissions?(form: @form) %>
  <p>
    <%= link_to admin_form_submission_path(@form, @submission), class: "usa-button usa-button--secondary", method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash"></i>
      &nbsp;
      Delete this response
    <% end %>

  <%- if @submission.archived? %>
    <%= link_to unarchive_admin_form_submission_path(@form, @submission), class: "usa-button usa-button--outline", method: :post, remote: true, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-inbox"></i>
      &nbsp;
      Unarchive response
    <% end %>
  <% else %>
    <%= link_to archive_admin_form_submission_path(@form, @submission), class: "usa-button usa-button--outline", method: :post, remote: true, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-inbox"></i>
      &nbsp;
      Archive response
    <% end %>
  <% end %>

  </p>
<% end %>
