<!DOCTYPE html>
<html>
  <head>
    <title>
      Touchpoints
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'components/header' %>
    <div class="usa-grid">
      <div class="usa-width-full">
      <% unless flash.empty? %>
        <div class="usa-alert usa-alert-success" >
          <div class="usa-alert-body">
            <!-- <h3 class="usa-alert-heading">Success Status</h3> -->
            <p class="usa-alert-text">
              <%= flash[:notice] %>
            </p>
          </div>
        </div>
      <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
