<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>
      Touchpoints
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Making customer feedback easier for federal agencies">
    <meta name="keywords" content="customer experience, CX, feedback, government, technology, civic-tech">
    <meta property="og:title" content="Touchpoints">
    <meta property="og:site_name" content="Touchpoints">
    <meta property="og:description" content="Making customer feedback easier for federal agencies">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://touchpoints.app.cloud.gov/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', integrity: true %>
    <%= javascript_include_tag 'app', integrity: true %>
    <%= render 'components/analytics/script_header' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= action_name %>">
    <%= render 'components/analytics/script_body' %>
    <%= render 'components/banner' %>
    <% unless content_for?(:full_layout) %>
    <main id="main-content">
      <%= render 'components/navigation' %>
      <div class="grid-container-widescreen">
        <%= render('components/flash', flash: flash) unless suppress_main_layout_flash? %>
        <%= yield %>
      </div>
    </main>
    <% else %>
      <%= render('components/flash', flash: flash) unless suppress_main_layout_flash? %>
      <%= yield :full_layout %>
    <% end %>
    <%= render "components/footer" %>
    <%= render "components/timeout_modal" if current_user %>
    <%= javascript_include_tag 'uswds.min', integrity: true %>
  </body>
</html>
