<!DOCTYPE html>
<html>
  <head>
    <title>Engage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'components/header' %>
    <div class="usa-grid">
      <div class="usa-width-full">
        <%= flash[:notice] %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
