<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      Touchpoints
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Customer feedback for US federal agencies" />
    <meta name="keywords" content="customer experience, CX, feedback, government, technology, civic-tech" />
    <meta property="og:title" content="Touchpoints" />
    <meta property="og:site_name" content="Touchpoints">
    <meta property="og:description" content="Customer feedback for US federal agencies">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url_for(only_path: false) %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'components/analytics/script_header' %>
  </head>
  <body>
    <%= render 'components/analytics/script_body' %>
    <%= render 'components/slim_header' %>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="usa-width-full">
            <%= render 'components/flash', flash: flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
