<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>
      Touchpoints feedback form
      <% if @form %>
        -
        <%= @form.title %>
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Customer feedback for US federal agencies">
    <meta name="keywords" content="customer experience, CX, feedback, government, technology, civic-tech">
    <meta property="og:title" content="Touchpoints">
    <meta property="og:site_name" content="Touchpoints">
    <meta property="og:description" content="Customer feedback for US federal agencies">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url_for(only_path: false) %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', integrity: true %>
    <%= render 'components/analytics/script_header' %>
  </head>
  <body>
    <%= render 'components/analytics/script_body' %>
    <%= render 'components/slim_header' %>
    <div class="tablet:grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <%= render 'components/flash', flash: flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'uswds', integrity: true %>
  </body>
</html>
