<div id="sponsoring-agencies-div" class="grid-row" data-value="<%= admin_digital_service_account_path(@digital_service_account) %>">
  <div class="grid-col-12">
    <%= label_tag "Sponsoring agencies", nil, class: "usa-label" %>
    <small>
      Optionally, this record may be associated with one or more
      <%= link_to "Agencies", admin_organizations_path %>.
    </small>

    <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
      <%= select_tag :organization_id, options_for_select(@sponsoring_agency_options.map { |p| [p.name, p.id] }),
        prompt: "Select an Organization...",
        class: "usa-select add-agency" %>
    <% end %>

    <ul class="usa-list usa-list--unstyled margin-top-1">
      <% @digital_service_account.sponsoring_agencies.order(:name).each do |agency| %>
      <li>
        <span class="usa-tag">
          <%= agency.name %>
        </span>

        <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
        <a href="javascript:void(0);" class="remove-tag-link" data-value="<%= agency.id %>">
          <span class="fa fa-trash"></span>
        </a>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
<script>
  $(function() {

    $(".add-agency").on("change", function(e) {

      event.preventDefault();

      var container = $('#sponsoring-agencies-div');
      $.ajax({
        url: container.attr("data-value") + "/add_organization",
        type: 'post',
        data: "organization_id=" + $(this).val()
      });
    });

    $(".remove-tag-link").on("click", function(e) {
      event.preventDefault();

      var container = $('#sponsoring-agencies-div');
      $.ajax({
        url: container.attr("data-value") + "/remove_organization",
        type: 'post',
        data: "organization_id=" + $(this).attr("data-value")
      });
    });

  })
</script>
<% end %>