<table class="usa-table">
  <thead>
    <tr>
      <th data-sortable scope="col">Platform</th>
      <th data-sortable scope="col">Account name</th>
      <th data-sortable scope="col">Status</th>
      <th data-sortable scope="col">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% digital_service_accounts.each do |digital_service_account| %>
      <tr>
        <td><%= digital_service_account.account %></td>
        <td>
          <%= link_to digital_service_account.name, admin_digital_service_account_path(digital_service_account) %>
        </td>
        <td>
          <span class="usa-tag">
            <%= digital_service_account.aasm_state %>
          </span>
        </td>
        <td data-sort-value="<%= digital_service_account.updated_at.to_i %>">
          <%= digital_service_account.updated_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
