<div class="border border-base-lighter padding-2 padding-bottom-0 margin-bottom-2">

  <div class="font-sans-sm margin-bottom-1">
    Publication status:
    <%= account.aasm_state %>
    <a
      href="#website-status-modal"
      aria-label="open website status modal"
      aria-controls="website-status-modal"
      data-open-modal>
      <i class="fa fa-info-circle"></i>
      <div class="usa-sr-only">View website statuses</div>
    </a>
  </div>
  <div
    class="usa-modal usa-modal--lg"
    id="website-status-modal"
    aria-labelledby="modal-2-heading"
    aria-describedby="modal-2-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-2-heading">
          The publishing status of a digital service account
        </h2>
        <div class="usa-prose">
          <p>
            Each digital service account is a digital asset and has a publishing flow.
            The "aasm_state" states a digital service account may have are below.
          </p>
          <br>
          <ul class="usa-list usa-list--unstyled">
            <% { "created" => "Created", "updated" => "Updated", "submitted" => "Submitted", "published" => "Published", "archived" => "Archived" }.each_pair do |key, value| %>
            <li>
              <span class="usa-tag bg-primary-light <%= "bg-primary" if account.aasm_state == key %>"><%= value %></span>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      <button
        class="usa-button usa-modal__close"
        aria-label="Close this window"
        data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path "sprite.svg#close" %>"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="usa-step-indicator" aria-label="progress">
    <ol class="usa-step-indicator__segments">
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if account.submitted? || account.published? || account.archived? || account.updated? %>
        <%= "usa-step-indicator__segment--current" if account.created? %>"
        aria-current="true">
        <span class="usa-step-indicator__segment-label">Created</span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if account.published? || account.archived? %>
        <%= "usa-step-indicator__segment--current" if account.submitted? %>" aria-current="true">
        <span class="usa-step-indicator__segment-label">Submitted</span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if account.published? || account.archived? %>
        <%= "usa-step-indicator__segment--current" if account.published? %>" aria-current="true">
        <span class="usa-step-indicator__segment-label">Published</span>
      </li>
      <li class="usa-step-indicator__segment
        <%= "usa-step-indicator__segment--complete" if account.archived? %>
        <%= "usa-step-indicator__segment--current" if account.archived? %>" aria-current="true">
        <span class="usa-step-indicator__segment-label">Archived</span>
      </li>
    </ol>
  </div>
</div>
