<%= form_with(model: digital_service_account, url: admin_digital_service_account_path(digital_service_account), local: true) do |f| %>
  <div class="grid-row">
    <div class="grid-col-6">
      <%= label_tag "Tags", nil, class: "usa-label" %>

      <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
        <%= f.text_field :tag_list, placeholder: "Add a tag" , value: nil, class: "usa-input tag-input" %>
      <% end %>

      <div class="tag-list margin-top-1">
        <ul class="usa-list usa-list--unstyled">
          <% digital_service_account.tag_list.sort.each do |tag| %>
          <li>
            <span class="usa-tag">
              <%= tag %>
            </span>

            <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
            <a href="javascript:void(0);" class="remove-tag-link" data-value="<%= tag %>">
              <span class="fa fa-trash"></span>
            </a>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
<script>
  $(function() {
    $(".tag-input").on("blur", function(event) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/add_tag",
        type: 'post',
        data: "digital_service_account[tag_list]=" + $(".tag-input").val()
      });
    });

    $(".tag-input").on("keypress", function (e) {
      if (e.which == 13) {
        document.activeElement.blur();
        return false;
      }
    });

    $(".remove-tag-link").on("click", function(e) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/remove_tag",
        type: 'post',
        data: "digital_service_account[tag_list]=" + $(this).attr("data-value")
      });
    });

  });
</script>
<% end %>