<% content_for :navigation_title do %>
  Social Media Accounts
  <%= link_to new_admin_digital_service_account_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Account
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to the Digital Registry
  <% end %>
</p>

<div class="grid-row grid-gap-lg">
  <div class="desktop:grid-col-6">
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information"
    >
      <div class="usa-summary-box__body">
        <div class="usa-summary-box__text">
          Search
          <span id="summary-box-key-information">Social Media Accounts</span>
          using the filters below.

          <div class="margin-top-2">
            <%= render 'components/feedback-button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-row grid-gap-lg">
  <div class="grid-col-6">
    <%= label_tag "Search by Agency", nil, for: "organization_id", class: "usa-label" %>
    <%= select_tag :organization_id, options_for_select(organization_abbreviation_dropdown_options), { prompt: "All", class: "usa-select" } %>
  </div>
  <div class="grid-col-6">
    <%= label_tag "Search by keywords", nil, for: "query", class: "usa-label" %>
    <%= text_field_tag :query, params[:query], class: "usa-input" %>
  </div>
</div>
<div class="grid-row grid-gap-lg">
  <div class="grid-col-6">
    <%= label_tag "Service", nil, for: "service", class: "usa-label" %>
    <%= select_tag :service, options_for_select(["All"] + DigitalServiceAccount.list.map { |a| [a.capitalize, a] }), class: "usa-select" %>
  </div>
  <div class="grid-col-6">
    <%= label_tag "Status selector", nil, for: "aasm_state", class: "usa-label" %>
    <%= select_tag :aasm_state, options_for_select(["All"] + DigitalServiceAccount.aasm.states.collect(&:name)), class: "usa-select" %>
  </div>
</div>

<div class="search-results">
  <%= render 'results', digital_service_accounts: @digital_service_accounts %>
  <%= paginate @digital_service_accounts %>
</div>

<script>
  function performSearch() {
    var url = new URL(window.location.href);
    var searchParams = new URLSearchParams(url.search);

    var query = $("#query").val();
    var organization_id = $("#organization_id").val();
    var status = $("#aasm_state").val();
    var service = $("#service").val()

    $.ajax({
      url: '<%= search_admin_digital_service_accounts_path %>',
      data: {
        query: query,
        aasm_state: status,
        org_abbr: organization_id,
        service: service,
      }
    });

    searchParams.set('org_abbr', organization_id);
    searchParams.set('aasm_state', status);
    searchParams.set('query', query);
    searchParams.set('account', service);
    window.history.replaceState({}, '', url.pathname + '?' + searchParams.toString());
  }

  $(function() {
    var url = new URL(window.location.href);
    var searchParams = new URLSearchParams(url.search);

    $("#query").on("keyup", debounce(function(event) {
      event.preventDefault();
      performSearch()
    }, 400));

    $('#organization_id').on("change", function(event) {
      event.preventDefault();
      performSearch();
    });

    $('#service').on("change", function(event) {
      event.preventDefault();
      performSearch();
    });

    $('#aasm_state').on("change", function(event) {
      event.preventDefault();
      performSearch();
    });

  });
</script>