<% content_for :navigation_title do %>
  Social Media Accounts
  <%= link_to new_admin_digital_service_account_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Account
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Digital Registry
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <div class="usa-summary-box__text">
      Search for social media accounts using the filters below.
      Agency names are based found using keywords from their title, for example "Census" for "Bureau of the Census" to find their exact name in the system. Agencies only appear once they have an account published in the system. The search box below is best used for short terms from the entry in the table, for example "GSA" or an email address.
    </div>
  </div>
</div>

<div class="grid-row grid-gap-md">
  <div class="grid-col-6">
    <%= label_tag "Search by Agency", nil, class: "usa-label" %>
    <%= select_tag :organization_id, options_for_select(organization_dropdown_options), { prompt: "All", class: "usa-select" } %>
  </div>
  <div class="grid-col-6">
    <%= label_tag "Search by keywords", nil, class: "usa-label" %>
    <%= text_field_tag :tags, nil, class: "usa-input" %>
  </div>
</div>
<div class="grid-row grid-gap-md">
  <div class="grid-col-6">
    <%= label_tag "Account platform", nil, class: "usa-label" %>
    <%= select_tag :service, options_for_select([
    "All",
    "Disqus",
    "Eventbrite",
    "Facebook",
    "Flickr",
    "Foursquare",
    "Giphy",
    "Github",
    "Google plus",
    "Ideascale",
    "Instagram",
    "Linkedin",
    "Livestream",
    "Medium",
    "Myspace",
    "Pinterest",
    "Reddit",
    "Scribd",
    "Slideshare",
    "Socrata",
    "Storify",
    "Tumblr",
    "Twitter",
    "Uservoice",
    "Ustream",
    "Vimeo",
    "Yelp",
    "Youtube"]), class: "usa-select" %>
  </div>
  <div class="grid-col-6">
    <%= label_tag "Status selector", nil, class: "usa-label" %>
    <%= select_tag :aasm_state, options_for_select(["All", "Published", "Archive"]), class: "usa-select" %>
  </div>
</div>

<p>
  <%= link_to "Export results to .csv", admin_digital_service_accounts_path(format: :csv), class: "usa-button" %>
</p>

<div class="search-results">
  <%= render 'results', digital_service_accounts: @digital_service_accounts %>
  <%= paginate @digital_service_accounts %>
</div>

<script>
  $(function() {
    $("#tags").keyup(debounce(function() {
      var searchValue = $("#tags").val();

      $.ajax({
        url: '/admin/digital_service_accounts/search',
        data: {
          search: searchValue
        }
      });
    }, 400));

    $(".search-tag-link").click(function() {
      $("#search_text").val("");
      $.ajax({
        url: '/admin/digital_service_accounts/search',
        data: {
          tag: $(this).attr("data-name")
        }
      });
    });

    $('#organization_id').on("change", function(event) {
      event.preventDefault();

      // $('.usa-hint.goal-parent-id').show();
      // $('.usa-hint.goal-parent-id').fadeOut(2000);
      debugger
      $.ajax({
        url: '/admin/digital_service_accounts/search',
        data: {
          organization_id: event.target.value
        }
      });
    });

    $('#service').on("change", function(event) {
      event.preventDefault();

      $.ajax({
        url: '/admin/digital_service_accounts/search',
        data: {
          service: event.target.value
        }
      });
    });

    $('#aasm_state').on("change", function(event) {
      event.preventDefault();

      $.ajax({
        url: '/admin/digital_service_accounts/search',
        data: {
          aasm_state: event.target.value
        }
      });
    });

  });
</script>
