<% content_for :navigation_title do %>
  Social Media Accounts
  <%= link_to new_admin_digital_service_account_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Account
  <% end %>
<% end %>

<p>
  <%= link_to admin_registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Digital Registry
  <% end %>
</p>

<table class="usa-table">
  <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader">Organization</th>
      <th data-sortable scope="col" role="columnheader">Platform</th>
      <th data-sortable scope="col" role="columnheader">Account name</th>
      <th data-sortable scope="col" role="columnheader">Status</th>
      <th data-sortable scope="col" role="columnheader">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @digital_service_accounts.each do |digital_service_account| %>
      <tr>
        <td><%= digital_service_account.service %></td>
        <td>
          <% if digital_service_account.account? %>
          <%= link_to digital_service_account.account, admin_digital_service_account_path(digital_service_account) %>
          <% else %>
          <%= link_to "** unnamed account **", admin_digital_service_account_path(digital_service_account) %>
          <% end %>
        </td>
        <td><%= digital_service_account.status %></td>
        <td><%= digital_service_account.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @digital_service_accounts %>
