<% content_for :navigation_title do %>
  Social Media Account: <%= @digital_service_account.service %>

  <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
    <%= link_to edit_admin_digital_service_account_path(@digital_service_account), class: "usa-button usa-button-inverted float-right" do %>
      <i class="fa fa-pencil-alt"></i>
      Edit
    <% end %>
  <% end %>
<% end %>
<p>
  <%= link_to admin_digital_service_accounts_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Social Media Accounts
  <% end %>
</p>

<% if @digital_service_account.archived? %>
  <div class="usa-alert usa-alert--warning margin-bottom-2">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This social media account has been archived.
      </p>
    </div>
  </div>
<% end %>

<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-8">
    <p>
      <%= label_tag "Account name", nil, class: "usa-label" %>
      <br>
      <%= @digital_service_account.name %>
    </p>

    <p>
      <%= label_tag "Account type", nil, class: "usa-label" %>
      <br>
      <%= @digital_service_account.account %>
    </p>

    <p>
      <%= label_tag "Service URL", nil, class: "usa-label" %>
      <%= @digital_service_account.service_url? ? link_to(@digital_service_account.service_url, @digital_service_account.service_url, target: "_blank", rel: "noopener") : '' %>
    </p>

    <p>
      <%= label_tag "Status", nil, class: "usa-label" %>
      <br>
      <%= @digital_service_account.aasm_state %>
    </p>

    <p>
      <%= label_tag "Short description", nil, class: "usa-label" %>
      <br>
      <%= to_markdown(@digital_service_account.short_description) %>
    </p>

    <p>
      <%= label_tag "Long description", nil, class: "usa-label" %>
      <br>
      <%= to_markdown(@digital_service_account.long_description) %>
    </p>

    <p>
      <%= label_tag "Language", nil, class: "usa-label" %>
      <br>
      <%= @digital_service_account.language %>
    </p>

    <p>
      <%= label_tag "Updated at", nil, class: "usa-label" %>
      <br>
      <%= @digital_service_account.updated_at %>
    </p>

    <div>
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="tags-div">
            <%= render 'admin/digital_service_accounts/tags', digital_service_account: @digital_service_account %>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col-12">
        <div class="organizations">
          <%= render 'admin/digital_service_accounts/organizations', digital_service_account: @digital_service_account %>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="grid-row">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="users">
            <%= render 'admin/digital_service_accounts/users', digital_service_account: @digital_service_account %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="grid-col-4">
    <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) && (@digital_service_account.created? || @digital_service_account.updated? || @digital_service_account.submitted? || @digital_service_account.published?) %>
    <div class="well">
      <div class="margin-bottom-2">
        <span class="usa-tag bg-blue">
          for Contacts
        </span>
      </div>

    <% if @digital_service_account.created? || @digital_service_account.updated? %>
      <%= link_to submit_admin_digital_service_account_path(@digital_service_account), class: "usa-button full-width", method: :post do %>
        <span class="fa fa-check"></span>
        &nbsp;
        Submit
      <% end %>
    <% end %>

    <% if @digital_service_account.submitted? || @digital_service_account.published? %>
      <%= link_to archive_admin_digital_service_account_path(@digital_service_account), class: "usa-button usa-button--base full-width", method: :post do %>
        <span class="fa fa-archive"></span>
        &nbsp;
        Archive
      <% end %>
      <br>
      <br>
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Only "Archive" an Account after your Organization
            is no longer using the account and it has already been removed
            from the third-party platform.
            Archiving removes accounts from the public registry view and API.
          </p>
        </div>
      </div>
      <br>
    <% end %>

    </div>
    <% end %>

  <% if registry_manager_permissions?(user: current_user) %>
    <div class="well">
      <div class="margin-bottom-2">
        <span class="usa-tag bg-violet">
          for Registry Managers
        </span>
      </div>

    <% if @digital_service_account.submitted? %>
      <%= link_to publish_admin_digital_service_account_path(@digital_service_account), class: "usa-button full-width", method: :post do %>
        <span class="fa fa-pen"></span>
        &nbsp;
        Publish
      <% end %>
      <br>
      <br>
    <% end %>

      <%= link_to reset_admin_digital_service_account_path(@digital_service_account), class: "usa-button usa-button--secondary full-width", method: :post do %>
        <span class="fa fa-backward"></span>
        &nbsp;
        Reset
      <% end %>
    </div>
  <% end %>

  <% if digital_service_account_permissions?(digital_service_account: @digital_service_account, user: current_user) %>
    <%= render 'components/event_log', events: Event.where(object_type: "Digital Service Account", object_id: @digital_service_account.id.to_s ).order("created_at DESC") %>
  <% end %>
  </div>
</div>
